/* ======================================
 * ! Tooltips
 * ====================================== */

#Tooltip {
    border-image: url("img/containers/little-transparent-bg-blacker.svg") 10;
    padding: 6px 8px;
    color: $text-primary;
    font-size: $font-size-base;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    spacing: .3em;
}
