/* ======================================
 * ! OSD
 * ====================================== */

.info-osd {
    border-image: url("img/containers/dark-bg.svg") 7;
    spacing: .4em;
    padding: .7em;
    color: $text-primary;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-xl;
}

.osd-window {
    border-image: url("img/containers/dark-bg.svg") 10;
    spacing: 1em;
    padding: 0.1em;
    color: $text-primary;

    .level {
        background-color: #525252;
        border-radius: 2px;
        height: .8em;
        color: $accent-primary;
    }
}

.media-keys-osd {
    margin-bottom: 1em;
    border-image: url("img/containers/dark-bg.svg") 7;
    color: $text-primary;
    font-weight: bold;
    spacing: 12px;
    padding: 12px 24px; 
    > * {
      spacing: 12px;
    }
    StIcon {
      icon-size: 32px;
    }
    StLabel:ltr {
      margin-right: 6px;
    }
    StLabel:rtl {
      margin-left: 6px;
    }
    .level {
      min-width: 160px;
      -barlevel-height: .8em;
      -barlevel-background-color: #525252;
      -barlevel-active-background-color: white;
      -barlevel-amplify-color: #f8e45c;
      -barlevel-amplify-separator-width: 3px;
    }
    .level:ltr {
        margin-right: 6px;
    }
    .level:rtl {
        margin-left: 6px;
    }
    .level-bar {
      border-radius: 8px;
      background-color: white;
    }
}

/* Appears when switching workspaces */
.workspace-osd {
    border-image: url("img/containers/dark-bg.svg") 7;
    padding: .7em;
    color: $text-primary;
    font-weight: bold;
    font-size: $font-size-xxl;
}

/* Appears when selecting with looking glass*/
#LookingGlassDialog {
    border-image: url("img/containers/dark-bg.svg") 7;
    padding: 1.4em;
    spacing: .4em;
    color: $text-primary;

    StLabel:first-child  {
        font-weight: bold;
        font-size: $font-size-base;
    }

    StLabel:last-child  {
        padding-top: .4em;
        color: $text-secondary;
        font-size: $font-size-base;
    }
}
