#dock {
    border-image: url("thumbnails-panel.svg") 10 10 10 10;
    border-width: 1px;
    border-color: #dbdbdb;
}
 /* Panel */
.dock-app {
    padding: 3px 2px 3px 2px;
    width: 70px;
    height: 70px;        
    border-radius: 5px;
    transition-duration: 100;
}

.dock-app.running {
    padding: 3px 2px 3px 2px;
    border-image: url("doc-app-h.svg") 10 10 10 10;
    border: .5px solid rgba(255,255,255,0.8);
}

.dock-app.selected {
    padding: 3px 2px 3px 2px;
    border: 1px solid #666666;
}

.dock-app.focused {
    padding: 3px 2px 3px 2px;
    border-image: url("doc-app-h.svg") 10 10 10 10;
    border: .5px solid rgba(255,255,255,0.8);
}

.dock-app:hover {
    padding: 3px 2px 3px 2px;
    border-image: url("doc-app-h.svg") 10 10 10 10;
    border: .5px solid rgba(255,255,255,0.8);
    transition-duration: 100;
}

.dock-app:active {
    padding: 3px 2px 3px 2px;
    border-image: url("doc-app-h.svg") 10 10 10 10;
    border: .5px solid rgba(255,255,255,0.8);
}

.dock-menu {
    font-size: 12px
}
