
.Leader { stroke-width: 0.5 !important; stroke: #3F51B5 !important; fill: none !important; }

.Button { stroke-width: 0.25; stroke: #3F51B5; fill: rgba(63, 81, 181, 0.12); }

.Ring { stroke-width: 0.5 !important; stroke: #3F51B5 !important; fill: none !important; }

.Label { stroke-width: 0.1 !important; stroke: none !important; fill: transparent !important; font-size: 0.1 !important; }

.TouchStrip, .TouchRing { stroke-width: 0.1 !important; stroke: #3F51B5 !important; fill: rgba(63, 81, 181, 0.25) !important; }
