@import "1-applet-globals";
@import "calendar";
@import "window-list";
@import "sound";
@import "workspace-switcher";
@import "panel-launcher";
@import "user-applet";
@import "app-menu";
@import "windows-quick-list";
