/* ======================================
 * ! User Applet
 * ====================================== */

.user-box {
    padding: .8em 1.3em;
    spacing: 10px;
}

.user-icon {
    border-image: url("img/containers/dark-bg.svg") 10;
    padding: 2px;
    @include size(32px);
    border: 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.user-label {
    color: $text-primary;
    font-size: $font-size-lg;
    font-weight: bold;
}
