Source: cinnamon-theme-minty
Section: gnome
Priority: optional
Maintainer: Satyajit Sahoo <satyajit.happy@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3

Package: cinnamon-theme-minty
Architecture: all
Depends: ${misc:Depends}, cinnamon (>= 1.6.0)
Recommends: fonts-open-sans
Homepage: http://satya164.deviantart.com
Description: Minty Cinnamon Theme
 Minty is a Cinnamon theme with some flavour of Linux Mint.
