Source: cinnamon-theme-minty-colors
Section: gnome
Priority: optional
Maintainer: Satyajit Sahoo <satyajit.happy@gmail.com>
Build-Depends: debhelper (>= 8), libgtk-3-dev (>= 3.4.2), libglib2.0-dev, valac (>=0.16.1)
Standards-Version: 3.9.3
Homepage: http://satya164.deviantart.com

Package: cinnamon-theme-minty-colors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cinnamon (>= 1.6.0), imagemagick
Recommends: fonts-open-sans
Description: Minty Colors Cinnamon Theme
 Minty Colors is a chameleon theme for Cinnamon.
