/****************
 * Applications *
 ****************/



NautilusWindow .primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from(shade (@theme_bg_dark_color, 1.00)),
                                     to(shade(@theme_bg_dark_color, 1.00)));

	border-width: 0px 0px 1px 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: @transparent @transparent shade(@theme_bg_dark_color, 0.80) shade(@theme_bg_dark_color, 1.10);

    padding: 1px 3px 2px;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;    
}

#nautilus-search-button *,
NautilusWindow .primary-toolbar.toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:hover:active {
	border-width: 5px 4px 5px 4px;
	border-style: solid;
    border-radius: 9px;
	border-color: transparent;

}

#nautilus-search-button *,
NautilusWindow .primary-toolbar.toolbar .button {
    background-image: none;
	color: @theme_fg_dark_color;
    text-shadow: 0px 1px @theme_shadow_dark_color;
    box-shadow: none;
}

NautilusWindow .primary-toolbar.toolbar .button {
	padding: 0px 3px;
}

#nautilus-search-button * {
    padding: 0px 4px;
    border-image: none;
}


NautilusWindow .primary-toolbar.toolbar .button:hover,
#nautilus-search-button .button:prelight {

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@theme_bg_dark_color, 1.00), 0.0)),
			         color-stop (0.50, shade (@theme_bg_dark_color, 0.83) ),
				     to   (alpha (shade (@theme_bg_dark_color, 0.90), 0.0)));

    box-shadow: inset  0px  1px alpha(#000, 0.15),
				inset  1px  0px alpha(#000, 0.20),
				inset -1px  0px alpha(#000, 0.20),
				inset  0px -1px alpha(#000, 0.25);

}

#nautilus-search-button *:prelight {
	color: @theme_text_dark_color;
	text-shadow: 0px 1px @theme_shadow_dark_color;

}
/*
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:hover:active,
#nautilus-search-button .button:active,
#nautilus-search-button .button:active:prelight {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_dark_color, 0.52)),
                                     color-stop (0.45, shade (@theme_bg_dark_color, 0.40)),
                                     color-stop (0.52, shade (@theme_bg_dark_color, 0.33)),
                                     to (shade (@theme_bg_dark_color, 0.34)));

    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.12),
                inset  3px  0px alpha(#000, 0.03),
                inset  2px  0px alpha(#000, 0.08),
                inset -3px  0px alpha(#000, 0.03),
                inset -2px  0px alpha(#000, 0.08),
                inset  0px -2px alpha(#000, 0.03),

				inset  0px  1px alpha(#000, 0.60),
				inset  1px  0px alpha(#000, 0.52),
				inset -1px  0px alpha(#000, 0.52),
				inset  0px -1px alpha(#fff, 0.26);
}
*/
#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
	color: @theme_text_dark_color;
	text-shadow: 0px 1px @theme_shadow_dark_color;
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar,
NautilusWindow .sidebar.view, 
NautilusWindow .sidebar .view,
NautilusWindow .sidebar.view:prelight,
NautilusWindow .sidebar .view:prelight  {
    background-color: 	shade(@theme_bg_dark_color, 1.00);
 	color: 				@theme_fg_dark_color;
    text-shadow: 		0px 1px @theme_shadow_dark_color;
}


NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border: 	1;
    -GtkRange-slider-width:     6;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: shade (@theme_bg_dark_color, 1.00);

	border-width: 0px;
	border-style: none;
}

/* overlay scrollbar */
NautilusWindow .sidebar OsThumb:selected,
NautilusWindow .sidebar OsScrollbar:selected {
    background-color:	shade (@theme_bg_dark_color, 1.08);
}

NautilusWindow .sidebar OsThumb:active,
NautilusWindow .sidebar OsScrollbar:active {
    background-color: shade (@theme_bg_dark_color, 0.94);
}

NautilusWindow .sidebar OsThumb:insensitive,
NautilusWindow .sidebar OsScrollbar:insensitive {
    background-color: shade (@theme_bg_dark_color, 1.06);
}

NautilusWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator {
	/* ubuntu-12 */
    background-color: shade (@theme_bg_dark_color, 1.00);
    border-color: shade (@theme_bg_dark_color, 1.00);
    border-style: solid;
    border-width: 0px;
    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from(shade (@theme_bg_dark_color, 1.00)),
                                    color-stop(0.65, shade (@theme_bg_dark_color, 1.00)),
                                    to(shade (@button_border, 0.40)));

}

NautilusWindow > GtkTable > .pane-separator:hover {
    background-color: shade (@theme_bg_dark_color, 1.00);
}

