/* Default color scheme */

@define-color base_color #f2f2f2;
@define-color bg_color #EAEAEA;
@define-color text_color #282828;
@define-color fg_color #323232;
@define-color selected_bg_color #4D6E92;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #040404;
@define-color tooltip_fg_color #ffffff;

/* Colormap actually used by the theme, to be overridden in other css files */
@define-color theme_base_color @base_color;
@define-color theme_bg_color @bg_color;
@define-color theme_text_color @text_color;
@define-color theme_fg_color @fg_color;
@define-color theme_shadow_color alpha(#fff, 0.22);
@define-color theme_selected_bg_color shade(#4D6E92, 1.00);
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_selected_shadow_color alpha(#000, 0.18);
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

@define-color menu_bg_color shade(@theme_bg_color, 1.00);
@define-color menu_fg_color shade(@theme_fg_color, 1.00);
@define-color menu_shadow_color @theme_shadow_color;

/*************************Meditation-LM17C ***************************/
@define-color theme_bg_lessdark_color #737f8c; /*495766;*/
@define-color theme_bg_middark_color #333f4d; /*1f2832;*/
@define-color theme_bg_dark_color #1f2832; /*1f2832;*/
@define-color theme_fg_dark_color #e4e4e4;
@define-color theme_text_dark_color #F5F5F5;
@define-color theme_shadow_dark_color alpha(#000, 0.20);
@define-color theme_highlight_color alpha(#fff, 0.08);
@define-color theme_button_border_dark shade(@theme_bg_dark_color, 0.75);
@define-color theme_entry_border_dark @theme_button_border_dark;
@define-color theme_path_bg_color shade(@theme_bg_dark_color, 0.90);
@define-color theme_path_active_color shade(@theme_bg_dark_color, 0.78);

@define-color theme_tab_dark_active1 shade(@theme_bg_dark_color, 0.75);
@define-color theme_tab_dark_active2 shade(@theme_tab_dark_active1, 1.45);

@define-color theme_mdi_border_color shade(@theme_bg_dark_color, 0.75);

@define-color menu_bg_dark_color shade(@theme_bg_middark_color, 0.80);
@define-color menu_fg_dark_color shade(@theme_fg_dark_color, 1.00);
@define-color menu_shadow_dark_color alpha(#000, 0.18);
@define-color menu_line_dark_color shade(@theme_bg_dark_color, 0.80);
@define-color menu_line_light_color shade(@theme_bg_dark_color, 1.10);
/**************************************************************************/

@define-color theme_tab_active1 shade(@theme_base_color, 0.80);
@define-color theme_tab_active2 shade(@theme_base_color, 1.00);

@define-color button_raised_gradient_color_a shade(@theme_bg_middark_color, 1.45);
@define-color button_raised_gradient_color_b shade(@theme_bg_middark_color, 1.10);
@define-color button_raised_linked_shadow alpha(@theme_base_color, 0.70);

@define-color link_color shade(#4a90d9, 0.20);
@define-color frame_color #808080;
@define-color inactive_frame_color #bbbbbb;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (181, 171, 156); 
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (106, 18, 18);
@define-color error_bg_color rgb (240, 54, 54);

@define-color os_chrome_bg_color @theme_bg_dark_color;
@define-color os_chrome_fg_color @theme_fg_dark_color;  

@define-color os_chrome_selected_bg_color @theme_selected_bg_color;
@define-color os_chrome_selected_fg_color @theme_selected_fg_color;

@define-color chrome_bg_color @theme_bg_color;
@define-color chrome_fg_color @theme_fg_color;

@define-color entry_text_color @theme_text_color;
@define-color focused_entry_border mix(@theme_selected_bg_color, @theme_bg_color, 0.40);
@define-color focused_entry_outer  alpha(shade(@theme_selected_bg_color, 1.50), 0.40);

@define-color entry_text_dark_color @theme_text_color;
@define-color entry_bg_dark_color shade(@theme_base_color, 0.88);
@define-color focused_dark_entry_border shade(mix(@theme_bg_color, @theme_selected_bg_color, 0.50), 0.45);
@define-color focused_dark_entry_outer alpha(mix(@theme_selected_bg_color, #37d, 0.60), 0.80);


/* @define-color sidebar_background shade(#E1E5E8, 0.95); */
@define-color sidebar_background #d5dade;
@define-color sidebar_icon       shade(#E1E5E8, 0.55);
@define-color sidebar_selected_bg shade(@theme_selected_bg_color,0.90);
@define-color sidebar_fg_color @theme_text_color;

@define-color button_base @theme_base_color;
@define-color button_gradient1 shade(@button_base, 0.98);
@define-color button_gradient2 shade(@button_base, 0.95);
@define-color button_gradient3 shade(@button_base, 0.92);
@define-color button_gradient4 shade(@button_base, 0.89);

@define-color button_bg_active shade(@theme_selected_bg_color, 1.25);
@define-color button_border shade(@theme_bg_color, 0.73);
@define-color button_border_active @button_bg_active;

@define-color insensitive_bg_color shade(@bg_color, 0.93);
@define-color insensitive_fg_color shade(@bg_color, 0.70);
@define-color insensitive_border_color shade(@bg_color, 0.80);

@define-color trough_bg_color_a shade (@theme_bg_color, 0.85);
@define-color trough_bg_color_b shade (@theme_bg_color, 0.97);

@define-color internal_element_color #646464;
@define-color internal_element_prelight @theme_text_color;
@define-color internal_element_insensitive shade (@internal_element_color, 1.4);

@define-color scale_fill shade(@button_bg_active, 1.00);
@define-color scale_border_a @internal_element_color;
@define-color scale_border_b shade (@internal_element_color, 1.25);

@define-color progressbar_fill_a @button_bg_active;
@define-color progressbar_fill_b shade(mix(@button_bg_active, green, 0.10), 1.10);

@define-color highlighted_border #8f8f8f;
@define-color transparent alpha(#000, 0.0);

@define-color notebook_border shade(@theme_bg_color, 0.75);

/* @define-color toolbar_gradient_base shade (mix(#d5dade, @theme_bg_dark_color, 0.75), 0.92); */
@define-color toolbar_gradient_base shade (@theme_bg_dark_color, 0.97);
@define-color toolbar_fg_color shade(@theme_fg_dark_color, 1.00); 
@define-color toolbar_shadow_color @theme_shadow_dark_color;
@define-color toolbar_border_color @theme_button_border_dark;
@define-color toolbar_active_button_color #909081;

@define-color nautilus_cluebar_color shade(@sidebar_background, 1.00);
@define-color treeview_focus_border  @nautilus_cluebar_color;

@define-color calc_display_fg_color black;
 
@define-color expander_row_selected_color #FFF;
@define-color test #f00;

/*******
 * OSD *
 *******/
@define-color osd_highlight #ffffff;
@define-color osd_lowlight #525252;
@define-color osd_base #212526;

@define-color osd_fg #ededed;
@define-color osd_bg alpha(@osd_base, 0.80);

@define-color osd_bg_backdrop alpha(shade(@osd_base, 1.40), 0.90);

@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(@osd_base, 0.80);
@define-color osd_toolbar_bg_b alpha(#101010, 0.80);
@define-color osd_toolbar_bg_c alpha(shade(@osd_base, 1.02), 0.80);

@define-color osd_button_bg_a alpha(@osd_highlight, 0.16);
@define-color osd_button_bg_b alpha(@osd_lowlight, 0.05);
@define-color osd_button_bg_c alpha(@osd_highlight, 0.12);

@define-color osd_button_bg_insensitive alpha(@osd_highlight, 0.25);
@define-color osd_button_bg_insensitive_active alpha(@osd_highlight, 0.16);

@define-color osd_button_bg_hover_a alpha(@osd_highlight, 0.28);
@define-color osd_button_bg_hover_b alpha(@osd_lowlight, 0.14);
@define-color osd_button_bg_hover_c alpha(@osd_highlight, 0.14);

@define-color osd_button_bg_active_a alpha(@osd_lowlight, 0.18);
@define-color osd_button_bg_active_b alpha(@osd_highlight, 0.23);
@define-color osd_button_bg_active_c alpha(@osd_lowlight, 0.17);

@define-color osd_button_bg_backdrop alpha(@osd_highlight, 0.18);
@define-color osd_button_bg_backdrop_hover alpha(@osd_highlight, 0.25);
@define-color osd_button_bg_backdrop_active alpha(@osd_highlight, 0.35);
@define-color osd_button_bg_backdrop_insensitive alpha(@osd_highlight, 0.08);

@define-color osd_button_fg_backdrop shade(@osd_fg, 0.70);
@define-color osd_button_fg_backdrop_active shade(@osd_fg, 0.95);

@define-color osd_button_fg shade(@osd_fg, 0.80);
@define-color osd_button_fg_hover shade(@osd_fg, 0.96);
@define-color osd_button_fg_active shade(@osd_fg, 1.10);
@define-color osd_button_fg_insensitive shade(@osd_fg, 0.70);

@define-color osd_button_border alpha(@osd_highlight, 0.40);
@define-color osd_button_inset shade(@osd_fg, 0.67);
@define-color osd_button_shadow alpha(black, 0.35);

@define-color osd_trough_bg alpha(@osd_button_fg, 0.10);

/* Metacity  */
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight #ffffff;

@define-color wm_bg_a shade (@bg_color, 1.1);
@define-color wm_bg_b @bg_color;

@define-color wm_button_bg_a shade (@bg_color, 1.0);
@define-color wm_button_bg_b shade (@bg_color, 0.85);
@define-color wm_button_bg_c shade (@bg_color, 0.8);
@define-color wm_button_bg_d shade (@bg_color, 0.9);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.1);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.1);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.1);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.1);

@define-color wm_button_bg_active_a shade (@bg_color, 0.7);
@define-color wm_button_bg_active_b shade (@bg_color, 0.9);
@define-color wm_button_bg_active_c shade (@bg_color, 0.9);

@import url("gtk-widgets.css");
@import url("menu.css");
@import url("scrollbar.css");
@import url("sidebar.css");
@import url("gtk-widgets-assets.css");
@import url("unity-greeter.css");
@import url("gnome-panel.css");

/* Select style for TABS 

	1.- tabs dark gray (full)
	@import url("tabs-dark.css");

	2.- tabs themed blue (full)
	@import url("tabs-themed.css");

	3.- Default theme tabs
	@import url("tabs.css");

	4.- tabs with dark gray highlight
	@import url("tabs-mono.css");

	5.- more traditional style tabs
	@import url("tabs-classic.css");

	(Be careful to leave only ONE of the five,
	edit the line below according to the style you want) 
*/
@import url("tabs-themed.css");

/* some gnome-mdi-apps */
@import url("gnome-mdi.css");


/* 
	There are 2 options for Unity panel:

	If you prefer the dark panel "Unity" 
	------------------------------------
	@import url("unity-darkest.css");

	If you prefer the default (perfect fit with maximized windows)
	--------------------------------------------------------------
	@import url("unity.css");

	(edit the line below according to the style you want) 	
-------------------------------------------------------------- */
@import url("unity.css");

/*  
	There are 7 options for nautilus:

	-----------------------------------
	 Nautilus 3.6 (default)
	-----------------------------------
	Nautilus 3.6.x for gnome-shell 3.6.x or unity
		@import url("nautilus36.css"); 
	
	-----------------------------------
	 3 for Nautilus 3.4 GNOME-SHELL
	-----------------------------------
	1.- nautilus sidebar and pathbar dark gray:
		@import url("gnome-nautilus34-gray.css");
	OR
	2.- nautilus sidebar and pathbar light:
		@import url("gnome-nautilus34-light.css"); 
	OR
	3.- nautilus sidebar dark gray and pathbar light:
		@import url("gnome-nautilus34-gray-light.css"); 

	-----------------------------------
	 3 for Nautilus 3.4 UNITY
	-----------------------------------
	1.- nautilus sidebar and pathbar dark gray:
		@import url("unity-nautilus34-gray.css");
	OR
	2.- nautilus sidebar and pathbar light:
		@import url("unity-nautilus34-light.css"); 
	OR
	3.- nautilus sidebar dark gray and pathbar light:
		@import url("unity-nautilus34-gray-light.css"); 


	(edit the line below according to the style of nautilus you want) 
-------------------------------------------------------------------- */
@import url("nautilus36.css");
@import url("nautilus-nemo.css");
