# ==============================================================================
# GNOME PANEL SPECIFIC SETTINGS
# ==============================================================================

style "panel" {
	
	xthickness = 0
	ythickness = 0

	bg[NORMAL]        = @bg_color
	bg[PRELIGHT]      = shade (1.02, @bg_color)
	bg[SELECTED]      = @selected_bg_color
	bg[INSENSITIVE]   = shade (0.95, @bg_color)
	bg[ACTIVE]        = shade (0.9, @bg_color)

	fg[NORMAL]        = @fg_color
	fg[PRELIGHT]      = @fg_color
	fg[SELECTED]      = @selected_fg_color
	fg[INSENSITIVE]   = darker (@bg_color)
	fg[ACTIVE]        = @fg_color

	text[NORMAL]      = @text_color
	text[PRELIGHT]    = @text_color
	text[SELECTED]    = @selected_fg_color
	text[INSENSITIVE] = shade (0.8, @bg_color)
	text[ACTIVE]      = darker (@text_color)
	
	engine "murrine" {
		contrast = 0.5
		glazestyle = 0
		gradient_shades = {1.2, 1.1, 1.1, 1.0}
		scrollbarstyle = 0
		roundness = 0
	}
}

class "PanelApp*"				style "panel"
class "PanelToplevel*"				style "panel"
class "*Xfce*Panel*"				style "panel"

widget "*fast-user-switch*"			style "panel"
widget "PanelToplevel*PanelAppletFrame"		style "panel"
widget "PanelToplevel*PanelMenuBar"		style "panel"
widget "PanelToplevel*PanelWidget*"		style "panel"
widget "*Xfce*Panel*"				style "panel"

widget_class "BonoboPlug*PanelApplet*"		style "panel"
widget_class "*tray*"				style "panel"

# Make sure panel text color doesn't change
widget "*.clock-applet-button.*"		style "panel"
