GtkSwitch.trough {
    background: url("assets/off.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

GtkSwitch.trough:active {
    background: url("assets/on.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}
