/* ===================================================================
   ! Font
   ===================================================================*/

$font-family: Droid Sans, Sans-Serif;

stage {
    font-family: $font-family;
    font-size: 9pt;
}

.cinnamon-link {
    color: $accent-primary;
    font-weight: normal;

    &:hover {
        color: lighten($link, 12%);
        text-decoration: underline;
    }
}

.label-shadow { color: rgba(0, 0, 0, 0); }
