/* ===================================================================
   ! Popup Menus
   ===================================================================*/

.popup-menu {
    min-width: 100px;

    &-boxpointer {
        padding: 0;
        -arrow-background-color: #2d2d2d;
        -arrow-border-width: 1px;
        -arrow-border-color: #484848;
        -arrow-border-radius: 2px;
        -arrow-base: 16px;
        -arrow-rise: 8px;
        -boxpointer-gap: 2px;
    }

    .popup-menu-content {
        border-image: url("background-assets/popup-inside.svg") 9;
        padding: .7em 0;
        color: $text-primary;
    }

    &-icon,  StIcon {
        icon-size: 16px;
        color: $icon-primary;
    }

    &-arrow {
        @include size(10px);
        padding:0;
    }

    &-item {
        padding: .4em 1.3em;
        spacing: .8em;

        &:active {
            border-image: url("background-assets/hover.svg") 9;
            color: $text-active;

            .popup-menu-icon, StIcon {
                color: $icon-active;
            }

            .popup-menu-item-dot {
                background-image: url("widget-assets/check-dot-hover.svg");
                background-size: 10px;
                color: rgba(0, 0, 0, 0);
            }
        }

        &:insensitive {
            font-weight: normal;
            color: $text-disabled;

            .popup-menu-icon, StIcon {
                color: $icon-disabled;
            }
        }
    }

    &-item-dot {
        background-image: url("widget-assets/check-dot.svg");
        background-size: 10px;
        color: rgba(0, 0, 0, 0);
    }
}

.popup-sub-menu {
    border-image: url("background-assets/submenu-bg.svg") 9;
    box-shadow: none;
    background-gradient-direction: none;
    padding: 12px 0;
    color: $text-primary;

    .popup-menu-item {
        padding-left: 2.1em;
    }

    .popup-menu-item:active {
        border-image: url("background-assets/hover.svg") 9;
        color: $text-active;
    }
}

.popup-submenu-menu-item:open {
    background-color: rgba(0, 0, 0, 0);
}


.popup-combo-menu {
    border-image: url("background-assets/popup.svg") 9;
    padding: .8em .2em;
    color: $text-primary;
}

.popup-separator-menu-item {
    background-color: rgba(255, 255, 255, .1);
    height: 1px;
}

.popup-slider-menu-item {
    -slider-height: 2px;
    -slider-background-color: rgba(0, 0, 0, 0);
    -slider-border-color: rgba(0, 0, 0, 0);
    -slider-active-background-color: $accent-primary;
    -slider-active-border-color: rgba(0, 0, 0, 0);
    -slider-border-width: 2px;
    -slider-handle-radius: 4px;
    color: $icon-primary;

    border-image: url("widget-assets/slider.svg") 9 6 8 8;
    border: 0 solid transparent;
    min-width: 15em;
    height: 16px;

    .popup-menu-item:active & {
        -slider-handle-radius: 5px;
        color: $text-active;
    }
}

.popup-inactive-menu-item {
    color: $text-secondary;
}

/* used mainly for the notif-applet */
.popup-menu-item .popup-subtitle-menu-item {
    font-weight: bold;
    color: $text-active;
}
