/* ===================================================================
   ! Tooltips
   ===================================================================*/

#Tooltip {
    border-image: url("background-assets/tooltip.svg") 4;
    padding: 6px 8px;
    color: $text-primary;
    font-size: 9pt;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    spacing: .3em;
}
