/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
background-color: #7fa24d; /* change this value to your own choice for sidebar background color */
color: #EEEEEE;
/* text-shadow: 1px 1px alpha (#000000, 0.7); */
}

NautilusWindow .sidebar .view:selected {
color: #EEEEEE;
}

NautilusWindow .sidebar .view:hover {
background-color: shade(#3F3F3F , 1.4);
}
