
.Leader { stroke-width: 0.5 !important; stroke: #f44336 !important; fill: none !important; }

.Button { stroke-width: 0.25; stroke: #f44336; fill: rgba(244, 67, 54, 0.12); }

.Ring { stroke-width: 0.5 !important; stroke: #f44336 !important; fill: none !important; }

.Label { stroke-width: 0.1 !important; stroke: none !important; fill: transparent !important; font-size: 0.1 !important; }

.TouchStrip, .TouchRing { stroke-width: 0.1 !important; stroke: #f44336 !important; fill: rgba(244, 67, 54, 0.25) !important; }
