/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
/*    background: rgba(0,0,0,0.8);*/
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.6);
	background-gradient-end: rgba(0,0,0,0.8);
    border: 1px solid #161616;
    border-radius: 6px;
    padding: 10px;
    font-size: 9pt;
    color: white;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.0);
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 1px solid rgba(85,85,85,1.0);
}

.switcher-list .item-box:selected {
		background-gradient-direction: vertical;
		background-gradient-start: rgba(255,255,255,0.25);
		background-gradient-end: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 1px 4px 4px rgba(0,0,0,0.7);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    border-image: url("img/switcher-separator.svg") 0 0 0 0 stretch;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("img/corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("img/corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}


