/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-label {
	padding-left: 2px;
}

.menu-favorites-box {
  width: 10%;
  margin: auto;
  padding: 1px;
  border: 1px solid #666;  
  border-radius: 4px;  
  background-gradient-direction: vertical;
  background-gradient-start: rgba(85,85,85,0.8);
  background-gradient-end: rgba(85,85,85,0.2);  
}
.menu-favorites-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}

.menu-favorites-button:hover {
    color: white;
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(255,255,255,0.2);
	 background-gradient-end: rgba(255,255,255,0.08);
	 box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 4px;
}

.menu-places-box {
  width: 70%;
  margin: auto;
  padding: 10px;
  border: 0px solid #666;  
}

.menu-places-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}

.menu-categories-box {
    padding-top: -10px; 
/*  width: 10%;*/
/*  margin: auto;*/
/*  border: 1px solid #666;  */
	 background-gradient-direction: horizontal;
	 background-gradient-start: rgba(0,0,0,0.01);
	 background-gradient-end: rgba(255,255,255,0.2);
  border-radius: 6px;
    padding-left: 30px;
    padding-right: 3px;
    padding-bottom: 10px;    
}

.menu-applications-box {
    padding-top: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;    
}

.menu-application-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;    
}

.menu-application-button:hover,
.menu-application-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: white;
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(255,255,255,0.2);
	 background-gradient-end: rgba(255,255,255,0.08);
	 box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 4px;
}

.menu-application-button-label { 
    padding-left: 5px       
}

.menu-category-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;         
}

.menu-category-button-greyed {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: #9C9C9C;
    font-style: italic;
}

.menu-category-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: white;
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(255,255,255,0.2);
	 background-gradient-end: rgba(255,255,255,0.08);
	 box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 4px;
}

.menu-category-button-label { 
    padding-left: 5px       
}

.menu-category-button-button:hover {
    background-color: #969696;
    border-radius: 8px;
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}

.menu-search-box {
   padding-left: 30px;
   padding-bottom: 5px;
}

#menu-search-entry {
    padding: 4px 12px;
    border-radius: 4px;
    color: rgb(128, 128, 128);
    border: 2px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#menu-search-entry:focus,
#menu-search-entry:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

#menu-search-entry:hover {
    transition-duration: 300;
}

#menu-search-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

.menu-search-entry-icon {
    icon-size: 1em;
    color: #8d8f8a;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {

}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
    spacing: 3px;
    padding-left: 10px;
    padding-top: 0px;   
}

.window-list-item-box-bottom {
     color: rgba(255,255,255,1.0);
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(255,255,255,0.05);
	 background-gradient-end: rgba(255,255,255,0.2);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.5);
     border-radius: 2px 2px 0px 0px;
}

.window-list-item-box-bottom:active,
.window-list-item-box-bottom:checked,
.window-list-item-box-bottom:focus  {     
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(226,226,226,0.5);
	 background-gradient-end: rgba(122,122,122,0.5);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.5);
     border-radius: 2px 2px 0px 0px;
}

.window-list-item-box-bottom:hover  {
     
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,1.0);
     border-radius: 2px 2px 0px 0px;
}

.workspace-button {
    min-width: 2.5em;   
    color: #fff;
    transition-duration: 700;
    border: 1px;
    border-color: #a6a6a6;
    padding: 2px;
}

.workspace-button:outlined {
    padding: 1px;   
    color: #2a2a2a;
    background: #cccccc;
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
    padding-right: 5px;
}

.sound-button {
    width: 22px;
    height: 13px;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 7px;
}
.sound-button:hover {
    border: 1px solid white;
}

.sound-button StIcon {
    icon-size: 1.4em;
}

.sound-track-infos {
    padding-left: 10px;
}

.sound-track-info {
    padding-bottom: 4px;
}

.sound-track-info StIcon {
    icon-size: 1em;
}

.sound-track-info StLabel {
    padding-left: 5px;
}

.sound-track-box {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
}

.sound-volume-menu-item {
    padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
}

.sound-playback-control {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
    padding-right: 10px;
}

.panel-launcher {
/*    margin: 1px;*/
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255,255,255,0.17);
	background-gradient-end: rgba(255,255,255,0.17);
	border-radius: 3px;
    padding-right: 2px;
    padding-left: 2px;
}

.panel-launcher:hover {
    border-radius: 1px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: #ADADAD;
}

.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}

.panel-launcher-add-dialog-entry {
    padding: 5px;
    border-radius: 4px;
    color: rgb(128, 128, 128);
    border: 2px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

.panel-launcher-add-dialog-entry:hover {
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("img/start1.png");
}

#overview-corner:hover {    
    background-image:  url("img/start2.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/

.applet-box {
    margin: 1px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.1);
	background-gradient-end: rgba(255,255,255,0.04);
	border-radius: 3px;
    padding-right: 2px;
    padding-left: 2px;
/*    padding-left: 5px;*/
}

.applet-box:hover {
    border-radius: 2px;
    background-color: #ADADAD;
}

.applet-label {

}


