
/* Dash */

#dash {
    font-size: 9pt;
    padding: 4px 0;
    background-gradient-direction: horizontal; 
    background-gradient-start: rgba(0,0,0,0.35);
    background-gradient-end: rgba(63,63,63,0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}

#dash:empty {
    height: 100px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.85);
}

.dash-placeholder {
    background-image: url("img/dash-placeholder.svg");
    height: 27px;
    width: 48px;
}

#viewSelector {
    spacing: 1.5em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 0.5em;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.04);
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background-gradient-direction: vertical; 
/*    background-gradient-start: #3d3d3d;*/
/*    background-gradient-end: #444;*/
	background-gradient-start: rgba(0,0,0,0.05);
	background-gradient-end: rgba(0,0,0,0.08);
/*    caret-color: rgb(128, 128, 128);*/
/*    caret-size: 1px;*/
    width: 190px;
/*    box-shadow: solid 1px 1px 1px 1px rgba(0,0,0,0.4);*/
}

#searchArea {
	padding: 0px 24px;
}

#searchEntry {
		padding: 5px 6px;
		border-radius: 3px;
		color: rgba(255,255,255,0.7);
		font: 8pt;
		height: 16px;
		width: 250px;
		border-image: url("img/search-entry-dark.svg") 5 5 5 5 stretch;
}

#searchEntry:hover {
		color: #FFF;
		border-image: url("img/search-entry-dark-hover.svg") 5 5 5 5 stretch;
}

#searchEntry:focus {
		color: #333;
  	border-image: url("img/search-entry-focus.svg") 5 5 5 5 stretch;
}

.search-entry-icon {
	icon-size: 1em;
	color: rgba(255,255,255,0.5);
}

#searchEntry:hover .search-entry-icon {
	color: #FFF;
}

#searchEntry:focus .search-entry-icon {
	color: #444;
}

.view-tab-title {
	font: 10pt;
	font-weight: bold;
	padding: 4px 12px 6px;
/*  text-shadow: black 0px 1px 1px;*/
    border-radius: 4px;
/*    color: #ffffff;*/
}

.view-tab-title:selected {
		color: rgb(255,255,255);
    border-image: url("img/light-button.svg") 4 4 4 4 stretch;
}
.view-tab-title:hover {
	color: rgba(255,255,255,1.0);
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    padding: 4px 12px;
    spacing: 4px;
    color: rgba(255,255,255,0.7);
    font-size: 1em;
    border-image: url("img/search-section-border.svg") 2 2 0 2 stretch;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.search-section-results {
    color: #ffffff;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
    height: 32px;
    width: 250px;
    font-weight: bold;
    border-image: url("img/light-button.svg") 4 4 4 4 stretch;
}

.dash-search-button:selected,
.dash-search-button:hover {
		border-image: url("img/light-button-hover.svg") 4 4 4 4 stretch;
}

.dash-search-button-label {
    color: rgba(255,255,255,0.7);
    font-size: 11pt;
}

