/* ===================================================================
 * On screen keyboard
 * ===================================================================*/



#keyboard {
    background: rgba(0,0,0,0.85);
		border-top: rgba(0,0,0,0.95) solid 1px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    border-image: url("img/light-button.svg") 4 4 4 4 stretch;
    font-size: 16pt;
    font-weight: bold;
    color: white;
		box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.25);
}

.keyboard-key:grayed {
		color: #808080;
		border-image: none;
		border: #161616 solid 1px;
    border-radius: 3px;
}

.keyboard-key:checked,
.keyboard-key:hover {
	border-image: url("img/light-button-hover.svg") 4 4 4 4 stretch;
	box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.5);
}

.keyboard-key:active {
    border-image: url("img/light-button-active.svg") 4 4 4 4 stretch;
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 3px;
    -arrow-background-color: rgba(0,0,0,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: #161616;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
