
/* Overview */

#overview {
    spacing: 12px;
    background-color: rgba(0,0,0,0.45);
}

.workspace-controls {
    visible-width: 12px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 0px;
    border-radius: 6px 0px 0px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.85);
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-thumbnail-indicator {
    outline: 1px solid white;
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.85);
}

.window-caption {
    color: white;
    spacing: 25px;
    background: rgba(255,255,255,0.2);
    border-radius: 3px;
    font-size: 9pt;
    padding: 3px 8px;
    -cinnamon-caption-spacing: 8px;
}

.window-close {
    background-image: url("img/close-window.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.icon-grid {
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

