/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
    spacing: 1px;
    padding: 0px;
    
}

.workspace-button {
    width: 2px;
    height: 1px;   
    color: #cccccc;
    transition-duration: 100;
    border: 1px;
    border-color: #a6a6a6;
    padding: 2px;
}

.workspace-button:outlined {
    padding: 1px;    
    background: #cccccc;
    color: #555555;
}

