/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @os_chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    -TerminalScreen-background-darkness: 0.95;
}


TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

/* nautilus */
.nautilus-canvas-item,
.nemo-canvas-item {
    border-radius: 5px;
}

.nautilus-inactive-pane .view,
.nemo-inactive-pane .view {
    background-color: @theme_unfocused_base_color;
}

.nautilus-inactive-pane .view:selected,
.nautilus-inactive-pane .nautilus-canvas-item:selected,
.nemo-inactive-pane .view:selected,
.nemo-inactive-pane .nautilus-canvas-item:selected {
    background-color: @theme_unfocused_selected_bg_color;
    color: @theme_unfocused_selected_fg_color;
}

.nautilus-inactive-pane .expander.view:selected,
.nemo-inactive-pane .expander.view:selected {
    background-color: @theme_unfocused_selected_bg_color;
    color: @internal_element_color;
    border-color: @internal_element_color;
}

/* the color of NautilusView selected to rename text color and selected text background color */
/*
NautilusView .entry {
    background-image: none;
    background-color: shade(@theme_bg_color, 1.1) ;
}*/


NautilusView .entry:focus,
NemoView .entry:focus {
    color: @theme_fg_color;
    background-image: none;
    background-color: @theme_selected_bg_color;
}

NautilusView .entry:focus:selected,
NemoView .entry:focus:selected {
    color: @selected_fg_color;
}

NautilusView GtkTreeView .entry:focus,
NemoView GtkTreeView .entry:focus {
    color: rgba(14,28,45,0.9);
    background-image: none;
}

NautilusView GtkTreeView .entry:focus:selected,
NemoView GtkTreeView .entry:focus:selected {
    color: rgba(227,206,213,0.96);
    background-color: @theme_selected_bg_color;
}

/***/

.nautilus-desktop.nautilus-canvas-item,
.nemo-desktop.nemo-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1 1 black;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nemo-desktop.nemo-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected,
.nemo-desktop.nemo-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected,
.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
    text-shadow: none;
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info,
NemoTrashBar.info,
NemoXContentBar.info,
NemoSearchBar.info,
NemoQueryEditor.info {
    /*background-color: @nautilus_cluebar_color;*/
    	background-color: transparent;
	background-image: url("assets/WindowBg-dark.png");
    color: @theme_base_color;
	border-color: #0e0e0e;
    /*border-color: shade(@nautilus_cluebar_color, 0.85);*/
}

NautilusTrashBar.info:last-child,
NautilusXContentBar.info:last-child,
NautilusQueryEditor.info:last-child,
NemoTrashBar.info:last-child,
NemoXContentBar.info:last-child,
NemoQueryEditor.info:last-child {
	border-top-width: 1px;
    border-style: solid;
	border-top-color: rgba(255,255,255, 0.18);
	}



.nautilus-cluebar-label,
.nemo-cluebar-label {
    font: bold;
color: shade(@theme_bg_color, 1.76);
	text-shadow: alpha(black, 0.36) 0 1, alpha(black, 0.36) 0 -1, alpha(black, 0.36) 1 0, alpha(black, 0.36) -1 0;
}

.nautilus-cluebar-label:backdrop,
.nemo-cluebar-label:backdrop {
    font: bold;
    color: @theme_unfocused_fg_color;
    text-shadow: none;
}

/* This will make the location entry tall as buttons.
   Buttons are too tall btw, then it's ugly */
/*NautilusLocationEntry.entry {
    -GtkEntry-inner-border: 9;
}*/

NautilusLocationEntry.entry,
NemoLocationEntry.entry {
    padding-left: 4px;
    padding-right: 4px;
}

NautilusTrashBar .button *,
NautilusTrashBar .button *:focus,
NautilusTrashBar .button *:active,
NautilusTrashBar .button *:active:focus,
NautilusTrashBar .button *:hover,
NautilusTrashBar .button *:focus:hover,
NautilusTrashBar .button *:active:hover,
NautilusTrashBar .button *:active:focus:hover
NautilusQueryEditor .button,
NautilusQueryEditor .button *,
NautilusQueryEditor .button *:focus,
NautilusQueryEditor .button *:active,
NautilusQueryEditor .button *:active:focus,
NautilusQueryEditor .button *:hover,
NautilusQueryEditor .button *:focus:hover,
NautilusQueryEditor .button *:active:hover,
NautilusQueryEditor .button *:active:focus:hover,
NemoTrashBar .button *,
NemoTrashBar .button *:focus,
NemoTrashBar .button *:active,
NemoTrashBar .button *:active:focus,
NemoTrashBar .button *:hover,
NemoTrashBar .button *:focus:hover,
NemoTrashBar .button *:active:hover,
NemoTrashBar .button *:active:focus:hover
NemoQueryEditor .button,
NemoQueryEditor .button *,
NemoQueryEditor .button *:focus,
NemoQueryEditor .button *:active,
NemoQueryEditor .button *:active:focus,
NemoQueryEditor .button *:hover,
NemoQueryEditor .button *:focus:hover,
NemoQueryEditor .button *:active:hover,
NemoQueryEditor .button *:active:focus:hover {
	color: shade(@theme_bg_color, 1.76);
}

/*This provides indented shadow behind tabs*/
NautilusWindow GtkPaned,
NemoWindow GtkPaned {
    box-shadow: 0 80 inset alpha(black, 0.04), 0 78 inset alpha(black, 0.03), 0 74 inset alpha(black, 0.03), 0 68 inset alpha(black, 0.04), 0 62 inset alpha(black, 0.05), 0 56 inset alpha(black, 0.05), 0 52 inset alpha(black, 0.06);
}

NautilusWindow .primary-toolbar .toolbar,
NautilusWindow .primary-toolbar.toolbar {
    border-radius: 0 2px 2px 0;
    box-shadow: 0 3 inset alpha(black, 0.04), 0 2 inset alpha(black, 0.06), 0 1 inset alpha(black, 0.08), 2 -2 inset alpha(black, 0.04), 1 -1 inset alpha(shade (@sidebar_bg, 0.78),.64);
}

NemoWindow .primary-toolbar .toolbar,
NemoWindow .primary-toolbar.toolbar {
    border-radius: 0 2px 2px 0;
    box-shadow: 0 3 inset alpha(black, 0.04), 0 2 inset alpha(black, 0.06), 0 1 inset alpha(black, 0.08), 0 -2 inset alpha(black, 0.04), 0 -1 inset alpha(shade (@sidebar_bg, 0.78),.64);
}

NautilusWindow .sidebar .frame,
NemoWindow .sidebar .frame {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: none;
    border-top-color: shade (@theme_base_color, 1.06);
    border-bottom-color: shade (@sidebar_bg, 0.82);
    border-radius: 0;
}


NautilusWindow > GtkGrid > .pane-separator,
NemoWindow > GtkGrid > .pane-separator {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-top-color: shade (@theme_base_color, 1.06);
    border-right-color: shade (@theme_base_color, 1.08);
    border-bottom-color: shade(@sidebar_bg, 0.82);
    background-color: shade(@sidebar_bg, 0.96);
    background-image: none;
    color: shade(@theme_bg_color, 0.78);
    box-shadow: none;
}

NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover,
NemoWindow > GtkGrid > .pane-separator,
NemoWindow > GtkGrid > .pane-separator:hover {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-top-color: shade (@theme_base_color, 1.06);
    border-right-color: shade (@theme_base_color, 1.08);
    border-bottom-color: shade(@sidebar_bg, 0.82);
    background-color: shade(@sidebar_bg, 0.96);
    box-shadow: none;
}

NemoWindow > GtkGrid > .pane-separator,
NemoWindow > GtkGrid > .pane-separator:hover {
    border-right-color: shade (@theme_base_color, 0.44);
}

NautilusWindow > GtkGrid > .pane-separator:hover,
NemoWindow > GtkGrid > .pane-separator:hover {
	color: shade (@theme_fg_color, 0.7);
}

NautilusWindow > GtkGrid > .pane-separator:backdrop,
NautilusWindow > GtkGrid > .pane-separator:hover:backdrop,
NemoWindow > GtkGrid > .pane-separator:backdrop,
NemoWindow > GtkGrid > .pane-separator:hover:backdrop {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-top-color: shade (@theme_base_color, 1.06);
    border-right-color: shade (@theme_base_color, 1.08);
    border-bottom-color: shade(@sidebar_bg, 0.82);
    background-image: none;
    background-color: shade(@sidebar_bg, 0.96);
    color: shade (@sidebar_bg, 0.96);
    box-shadow: none;
}

NemoWindow > GtkGrid > .pane-separator:backdrop,
NemoWindow > GtkGrid > .pane-separator:hover:backdrop {
    border-right-color: shade (@theme_base_color, 0.44);
}

NautilusNotebook.notebook,
NemoNotebook.notebook {
	border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
}

NautilusWindow .primary-toolbar GtkToolButton GtkButton.button,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:focus,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:backdrop,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:backdrop:hover,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:focus,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:backdrop,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:backdrop:hover,
NemoWindow .primary-toolbar .button.raised,
NemoWindow .primary-toolbar .raised .button,
NemoWindow .primary-toolbar .button.raised:backdrop,
NemoWindow .primary-toolbar .raised .button:backdrop,
NemoWindow .primary-toolbar .button.raised:hover:backdrop,
NemoWindow .primary-toolbar .raised .button:hover:backdrop {
    border-image: url("borders/p-toolbar-toolbutton.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_color_a),
                                     color-stop (0.4, @button_gradient_color_b),
                                     to (@button_gradient_color_c));

    background-color: transparent;
}

NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:hover,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:hover {
    border-image: url("borders/p-toolbar-hover-toolbutton.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
    background-color: transparent;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (@button_hover_gradient_color_a),
					 color-stop (0.4, @button_hover_gradient_color_b),
				     to (@button_hover_gradient_color_c));
transition: 300ms ease-in-out;				     
}

NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:active,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:active:hover,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:active:focus,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:active,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:active:hover,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:active:focus,
NautilusWindow .primary-toolbar .button.raised:active,
NautilusWindow .primary-toolbar .raised .button:active,
NautilusWindow .primary-toolbar .button.raised:active:hover,
NautilusWindow .primary-toolbar .raised .button:active:hover,
NautilusWindow .primary-toolbar .button.raised:active:focus,
NautilusWindow .primary-toolbar .raised .button:active:focus,
NautilusWindow .primary-toolbar .button.raised:active:backdrop,
NautilusWindow .primary-toolbar .raised .button:active:backdrop,
NautilusWindow .primary-toolbar .button.raised:active:hover:backdrop,
NautilusWindow .primary-toolbar .raised .button:active:hover:backdrop
NemoWindow .primary-toolbar .button.raised:active,
NemoWindow .primary-toolbar .raised .button:active,
NemoWindow .primary-toolbar .button.raised:active:hover,
NemoWindow .primary-toolbar .raised .button:active:hover,
NemoWindow .primary-toolbar .button.raised:active:focus,
NemoWindow .primary-toolbar .raised .button:active:focus,
NemoWindow .primary-toolbar .button.raised:active:backdrop,
NemoWindow .primary-toolbar .raised .button:active:backdrop,
NemoWindow .primary-toolbar .button.raised:active:hover:backdrop,
NemoWindow .primary-toolbar .raised .button:active:hover:backdrop {
    border-image: url("borders/p-toolbar-active-toolbutton.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
    background-image: -gtk-gradient (linear,
    				     left top, left bottom,
					 from (@button_active_gradient_color_d),
				     color-stop (0.2, @button_active_gradient_color_e),
				     color-stop (0.3, @button_active_gradient_color_c),
				     to (@button_active_gradient_color_f));
    background-color: transparent; 
    transition: 300ms ease-in-out;
}

NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:insensitive,
NautilusWindow .primary-toolbar GtkToolButton GtkButton.button:insensitive:backdrop,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:insensitive,
NemoWindow .primary-toolbar GtkToolButton GtkButton.button:insensitive:backdrop {
    border-image: url("borders/p-toolbar-toolbutton-insensitive.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    background-color: @insensitive_bg_color;
}


NautilusWindow .primary-toolbar .button.raised,
NautilusWindow .primary-toolbar .raised .button,
NautilusWindow .primary-toolbar .button.raised:backdrop,
NautilusWindow .primary-toolbar .raised .button:backdrop,
NautilusWindow .primary-toolbar .button.raised:hover:backdrop,
NautilusWindow .primary-toolbar .raised .button:hover:backdrop {
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: none;
    background-image:none;
    border-color: transparent;
}

/* gedit */

GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: @borders;
    background-color: shade(@theme_bg_color, 0.95);
    color: @borders;
}

GeditPanel.title GtkLabel {
    padding: 7px 0 6px 0;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @sidebar_bg;
}



GeditPanel .notebook {
    padding: 0px;
    border-width: 1px 0;
}

/*Inset shadow behind tabs*/
GeditWindow GtkPaned {
    box-shadow: 0 26 inset alpha(black, 0.04), 0 22 inset alpha(black, 0.03), 0 18 inset alpha(black, 0.03), 0 12 inset alpha(black, 0.04), 0 8 inset alpha(black, 0.05), 0 4 inset alpha(black, 0.05), 0 2 inset alpha(black, 0.06);
}

GeditWindow .notebook {
    border-width: 1px;
	border-radius: 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditFloatingSlider .not-found {
    color: @error_fg_color;
    background-image: none;
    background-color: @error_bg_color;
}



/* sidebars for Rhythmbox and FileChooser */
RBDisplayPageTree GtkTreeView
{
    border-width: 0;    
    background-color: @sidebar_bg;
    background-image: -gtk-gradient (linear,
				     left top, right top,
		from (@sidebar_bg),
		to (shade(@sidebar_bg, 0.96)));
}

RBDisplayPageTree .cell,
GtkFileChooserDefault .sidebar.view,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView
{
	color: shade(@theme_base_text_color, 1.1);
    padding: 2px;
    border-width: 0;    
    background-color: @sidebar_bg;
    background-image: -gtk-gradient (linear,
				     left top, right top,
		from (@sidebar_bg),
		to (shade(@sidebar_bg, 0.96)));
}

RBDisplayPageTree .scrollbar.trough
{
    box-shadow: none;
	background-image: none;
    border-width: 0;
    border-radius: 0;
    border-image: none;
    background-color: shade(@sidebar_bg, 0.95);
}

RBDisplayPageTree .scrollbar {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    }

RBDisplayPageTree .scrollbar.slider,
RBDisplayPageTree .scrollbar.slider:hover,
RBDisplayPageTree .scrollbar.slider:backdrop,
RBDisplayPageTree .scrollbar.slider:hover:backdrop {

   border-image: url("assets/slider-sidebar.svg") 7 / 7 stretch;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    }



RBDisplayPageTree .cell:hover,
GtkFileChooserDefault .sidebar.view:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:hover {

  color: @theme_selected_fg_color;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-top-color: shade(@sidebar_bg, 1.32); /*rgba(255,255,255,.12);*/
  border-bottom-color: shade(@sidebar_bg, 0.92);
      background-image: -gtk-gradient (linear,
				     left top, right top,
		from (shade(@sidebar_bg, 1.32)),
		to (shade(@sidebar_bg, 1.2)));
}

RBDisplayPageTree .cell:selected,
GtkFileChooserDefault .sidebar.view:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected {

    color: shade(@theme_base_text_color, 1.1);
  border-style: solid;
  border-width: 1px 0 1px 0;
  background: shade(@theme_bg_color, 0.8);
  border-color: transparent;
}

RBDisplayPageTree .cell:selected:focus,
GtkFileChooserDefault .sidebar.view:selected:focus,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected:focus {

	border-style: solid;
  border-width: 1px 0px 1px 0px;
  background: shade(@theme_bg_color, 0.94);
  border-top-color: rgba(255,255,255,.07);
  border-bottom-color: shade(@theme_bg_color, 0.88);
  color: @theme_selected_fg_color;
}

RBDisplayPageTree .cell:selected:hover:focus,
GtkFileChooserDefault .sidebar.view:selected:hover:focus,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected:hover:focus {
  border-style: solid;
  border-width: 1px 0 1px 0;
  background: shade(@theme_bg_color, 1.06);
  border-top-color: rgba(255,255,255,.10);
  border-bottom-color: shade(@theme_bg_color, 0.9);
  color: white;
  text-shadow: shade (@button_active_text_shadow, 0.98) 0 1;
}

RBDisplayPageTree .cell:hover:backdrop,
GtkFileChooserDefault .sidebar.view:hover:backdrop,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:hover:backdrop {
    background-color: @sidebar_bg;
    background-image: -gtk-gradient (linear,
				     left top, right top,
		from (@sidebar_bg),
		to (shade(@sidebar_bg, 0.96)));
}

RBDisplayPageTree .expander,
GtkFileChooserDefault .sidebar.view.expander,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: shade (@internal_element_color, 1.40);

    color: @internal_element_color;
    background-color: @theme_base_color;
}

RBDisplayPageTree .expander:active,
GtkFileChooserDefault .sidebar.view.expander:active,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander:active {
    border-style: solid;
    border-width: 1px;

    color: @internal_element_color;
    border-color: shade (@internal_element_color, 1.40);

    background-color: @theme_base_color;
}

RBDisplayPageTree .expander:hover,
GtkFileChooserDefault .sidebar.view.expander:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander:hover {
    border-style: solid;
    border-width: 1px;

    color: @internal_element_color;
    border-color: shade (@internal_element_color, 1.40);

    background-color: shade (@theme_bg_color, 1.02);
}

RBDisplayPageTree .expander row,
GtkFileChooserDefault .sidebar.view.expander row,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander row {
    border-radius: 2px;
    border-color: shade (@internal_element_color, 1.40);
    border-style: solid;
    border-width: 1px;
    color: @internal_element_color;
    background-color: @theme_base_color;
}

RBDisplayPageTree .expander row:selected,
GtkFileChooserDefault .sidebar.view.expander row:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander row:selected,
RBDisplayPageTree .expander row:selected:focus,
GtkFileChooserDefault .sidebar.view.expander row:selected:focus,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander row:selected:focus,
RBDisplayPageTree .expander row:selected:focus:hover,
GtkFileChooserDefault .sidebar.view.expander row:selected:focus:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander row:selected:focus:hover
{
    border-style: solid;
    border-width: 1px;

    border-color: @expander_row_selected_color;
    color: @expander_row_selected_color;
    background-color: @theme_selected_bg_color;
}

RBDisplayPageTree .expander row:selected:backdrop,
GtkFileChooserDefault .sidebar.view.expander row:selected:backdrop,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander row:selected:backdrop
{
    background-color: @theme_unfocused_selected_bg_color;
    color: @internal_element_color;
    border-color: @internal_element_color;
}

RBDisplayPageTree .expander:hover:backdrop,
GtkFileChooserDefault .sidebar.view.expander:hover:backdrop,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView.expander:hover:backdrop {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

       background-color: alpha(black, 0.1);
    color: @theme_unfocused_fg_color;
    border-color: @theme_unfocused_fg_color;
}

RBDisplayPageTree.frame {
    border-width: 0 1px 1px 0;
        border-style: solid;
    border-top-color: shade(@theme_base_color, 1.65);
        border-right-color: shade(@theme_base_color, 0.85);
        border-bottom-color: shade(@theme_base_color, 0.7);
        border-left-color: shade(@theme_base_color, 0.85); 
    border-style: solid;
    padding: 0;
}

RBHeader {
	color: shade(@theme_selected_bg_color, 1.76);
	text-shadow: alpha(black, 0.36) 0 1, alpha(black, 0.36) 0 -1, alpha(black, 0.36) 1 0, alpha(black, 0.36) -1 0;
}

/* gnome-documents */
.documents-dropdown,
.documents-dropdown .view {
    background-color: shade (@theme_bg_color, 1.02);
}

.documents-dropdown .frame {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
}

.documents-dropdown .radio,
.documents-dropdown .radio:focused,
.documents-dropdown .radio:selected {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);
}

.documents-dropdown .radio:active,
.documents-dropdown .radio:active:focused,
.documents-dropdown .radio:active:prelight {
    background-image: url("assets/sidebar-radio-checked.svg");
}

.documents-dropdown .radio:prelight {
    background-image: url("assets/sidebar-radio-prelight.svg");
}

.documents-dropdown .radio:active:selected,
.documents-dropdown .radio:active:selected:focused {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.documents-dropdown .radio:selected:prelight,
.documents-dropdown .radio:selected:focused {
    background-image: url("assets/sidebar-radio-selected-prelight.svg");
}

.documents-load-more.button {
    border-image-width: 0 2 2 2;
    border-width: 0 1px 1px 1px;
}

.documents-scrolledwin.frame {
    border-width: 1px 0;
    border-radius: 0;
}

.documents-main-view.view {
    background-color: @theme_base_color;
}

GtkIconView.documents-main-view {
    -GdMainIconView-icon-size: 40;
}

GtkIconView.documents-main-view.check {
    background-image: url("assets/grid-selection-unchecked.svg");
    background-color: transparent;
}

GtkIconView.documents-main-view.check:active {
    background-image: url("assets/grid-selection-checked.svg");
    background-color: transparent;
}

.documents-selection-mode.toolbar {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(@documents_selection_toolbar_a),
                                    to(@documents_selection_toolbar_b));
    color: @theme_text_color;
    border-width: 1px 0 0 0;
    border-color: @documents_selection_toolbar_border;
    border-style: solid;
}

.documents-selection-mode.toolbar .dim-label {
    color: alpha(@theme_text_color, 0.80);
}



.documents-selection-mode.toolbar .button * {
    text-shadow: shade(@documents_selection_toolbar_border, 0.90) 0 1;
    icon-shadow: shade(@documents_selection_toolbar_border, 0.90) 0 1;
}



.documents-icon-bg {
    background-color: @documents_emblem_bg;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
	border-color: shade(@theme_selected_bg_color, 0.85);
    color: @theme_base_color;
}

.documents-collection-icon {
    background-color: @documents_collection_bg;
    border-radius: 8px;
}

.documents-counter {
    background-image: url('assets/dnd-counter.svg');
    background-size: contain;
    background-color: transparent;
    color: @theme_base_color;
    font: bold;
}

.documents-osd {
    background-image: none;
    background-color: transparent;
}

.documents-osd .toolbar {
    padding: 16px;
    border-style: none;
    border-radius: 5px;
    border-width: 0;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(@documents_osd_toolbar_a),
                                    color-stop(0.63, @documents_osd_toolbar_b),
                                    to(@documents_osd_toolbar_c));
    color: @documents_osd_fg;

    -GtkToolbar-button-relief: normal;
}

.documents-osd .toolbar .button {
    padding: 4px;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(@documents_osd_button_a, 0.16)),
                                    color-stop(0.68, alpha(@documents_osd_button_b, 0.05)),
                                    to(alpha(@documents_osd_button_a, 0.12)));
    border-width: 1px 0;
    border-style: solid;
    border-image: none;
    border-color: alpha(@documents_osd_button_a, 0.50);
    border-radius: 0;

    color: @documents_osd_fg;

    text-shadow: none;
    icon-shadow: none;
    box-shadow: -1 0 inset @documents_osd_button_inset;
}

.documents-osd .toolbar .button,
.documents-osd .toolbar .button:prelight,
.documents-osd .toolbar .button:active {
    background-color: transparent;
}

.documents-osd .toolbar .button:nth-child(first) {
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
    box-shadow: -1 0 inset @documents_osd_button_inset;
}

.documents-osd .toolbar .button:nth-child(last) {
    box-shadow: none;
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
}

.documents-osd .toolbar .button:only-child {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

.documents-osd .toolbar .separator {
    color: @documents_osd_button_inset;
}

.documents-osd .toolbar .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(@documents_osd_button_a, 0.28)),
                                    color-stop(0.68, alpha(@documents_osd_button_b, 0.14)),
                                    to(alpha(@documents_osd_button_a, 0.14)));
}

.documents-osd .toolbar .button *:hover {
    color: shade(@documents_osd_fg, 1.20);
}

.documents-osd .toolbar .button:active,
.documents-osd .toolbar .button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(@documents_osd_button_b, 0.18)),
                                    color-stop(0.68, alpha(@documents_osd_button_a, 0.23)),
                                    to(alpha(@documents_osd_button_b, 0.17)));
}

.documents-osd .toolbar .button.favorite,
.documents-osd .toolbar .button.favorite *:hover {
    color: shade(@theme_selected_bg_color, 1.20);
}

.documents-entry-tag {
    background-color: @documents_emblem_bg;
    color: @theme_base_color;

    border-radius: 4px;
    border-width: 0;

    margin: 2px;
    padding: 4px;
}

.documents-entry-tag:hover {
    background-color: shade(@documents_emblem_bg, 1.10);
    color: @theme_base_color;
}

.documents-entry-tag.button,
.documents-entry-tag.button:hover,
.documents-entry-tag.button:active,
.documents-entry-tag.button:active:hover {
    background-color: transparent;
    background-image: none;
    border-image: none;
    border-width: 0;
}

.documents-entry-tag.button:hover {
    color: shade(@documents_emblem_bg, 2.10);
}

.documents-osd .documents-notification {
    border-style: solid;
    border-color: #949486;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    padding: 8px;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from(#aeaea4),
                                     color-stop(0.18, #d1d1cb),
                                     to(#d8d8d3));
    text-shadow: @primary_toolbar_button_text_shadow 0 1;
}

/* epiphany */

/* EphyToolbar.toolbar {
    border-bottom: 1 solid @borders;
}

EphyToolbar.toolbar:backdrop {
    border-bottom: 1 solid @unfocused_borders;
}
*/

EphyToolbar .entry,
EphyToolbar .entry:focus,
EphyToolbar .entry:backdrop {
    border-image-width: 3 0 4 3;
    border-width: 1px 0 2px 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
}

EphyToolbar .entry:focus {
    box-shadow: 1 2 inset alpha(@theme_selected_bg_color, 0.1),
                1 1 inset alpha(@theme_selected_bg_color, 0.1),
                0 -1 inset alpha(@theme_selected_bg_color, 0.2);
}

EphyToolbar .location-entry .button {
    color: @internal_element_color;
    -GtkButton-child-displacement-y: 0;
}

EphyToolbar .location-entry .button:last-child,
EphyToolbar .location-entry .button:active,
EphyToolbar .location-entry .button:active:hover {
    border-image: url("borders/entry-button-border-dark.svg") 3 3 4 3 / 3 3 4 0 stretch;
    border-width: 1px 1px 2px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 4px;
    padding-right: 2px;
}

EphyToolbar .location-entry .button,
EphyToolbar .location-entry .button:hover,
EphyToolbar .location-entry .button:focus {
    icon-shadow: none;
        background: #E3E9CD;
      background-image:-gtk-gradient (linear, left top, left bottom,
		from (rgba(5,9,15,.18)),
		to (rgba(5,9,15,.02)));
    box-shadow: 0 1 inset rgba(5,9,15,0.2), 0 2 inset rgba(5,9,15,0.1), 0 3 inset rgba(5,9,15,0.08), 0 4 inset rgba(5,9,15,0.04);
}

EphyToolbar .location-entry .button:active,
EphyToolbar .location-entry .button:active:hover {
background: shade(#E3E9CD, 0.9);
      background-image:-gtk-gradient (linear, left top, left bottom,
		from (rgba(5,9,15,.18)),
		to (rgba(5,9,15,.02)));
    box-shadow: 0 1 inset rgba(5,9,15,0.2), 0 2 inset rgba(5,9,15,0.1), 0 3 inset rgba(5,9,15,0.08), 0 4 inset rgba(5,9,15,0.04);
}

EphyToolbar .location-entry .button:hover,
EphyToolbar .location-entry .button:focus,
EphyToolbar .location-entry .button:active,
EphyToolbar .location-entry .button *:active {
    color: @theme_text_color;
}

EphyToolbar .location-entry .button:last-child:backdrop,
EphyToolbar .location-entry .button:last-child:hover:backdrop {
    background-color: shade(@entry_backdrop, 0.94);
    box-shadow: none; 
}

EphyToolbar .location-entry .button:last-child:backdrop {
    border-image: url("borders/entry-button-border-dark-backdrop.svg") 3 3 4 3 / 3 3 4 0 stretch;

}

EphyNotebook.notebook {
    border-width: 1px 0 1px 0;
}

EphyNotebook.notebook tab {
    border-width: 0;
}

EphyToolbar.toolbar .button {
    padding-left: 4px;
    padding-right: 4px;
}

#ephy-page-menu-button.active-menu {
    background-image: none;
    background-color: @menu_bg_color;

    border-image: none;
    border-color: @menu_bg_color;
    border-radius: 4px 4px 0 0;
}

/* Gnome Contacts */

/* Line at top in contacts pane, similar to .documents-scrolledwin.frame */
.contacts-content.frame {
 border-width: 1px 0 0 0;
 border-radius: 0;
}

/* Background color in contacts pane, similar to .documents-main-view.view */
.contacts-main-view.view {
 background-color: @theme_base_color;
}

.contacts-suggestion {
 background-color: #434343;
 color: #ffffff;
 border-radius: 4px;
}

/* Border on the right in the left menu toolbar */
.contacts-left-toolbar.toolbar.menubar {
 border-image: linear-gradient(to bottom, #2c2c2c, #080808);
 border-image-width: 0 1px 0 0;
 border-image-slice: 1;
}

/* Sidebar with line at top and the left */
ContactsWindow .sidebar.frame {
 border-width: 1px 1px 0 0;
 border-style: solid;
 border-color: #020202;
 border-image: none;
 border-radius: 0;
 padding: 0;
}

.contacts-avatar-frame.frame {
 border-width: 1px 1px 0 1px;
 border-style: solid;
 border-color: #0e0e0e;
 border-image: none;
 border-radius: 0;
 padding: 0;
}

/* Primary toolbar with no line at top to avoid conflicts with frame border */
ContactsWindow .primary-toolbar.toolbar {
 border-width: 0 0 1px 0;
}

ContactsWindow .sidebar .view,
ContactsWindow .sidebar .view:backdrop {
 background-color: @contacts_sidebar_bg;
 background-image: none;
 color: #8b8b8b;
}

ContactsWindow .sidebar .scrollbar.trough {
    background-color: @contacts_sidebar_bg;
}

ContactsWindow .sidebar .view:hover {
    background-color: alpha(#dbdbdb, 0.12);
	border-image: none;
	background-image: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: shade(@theme_selected_bg_color, 1.24);
    color: #dbdbdb;
}

ContactsWindow .sidebar .view:hover:backdrop {
    background-color: @contacts_sidebar_bg;
	border-image: none;
	background-image: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: @contacts_sidebar_bg;
    color: #8b8b8b;
}

ContactsWindow .sidebar .view:selected,
ContactsWindow .sidebar .view:selected:focus {
    background: shade(@theme_bg_color, 1.0);
	border-image: none;
	background-image: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #dbdbdb;
    color: @theme_selected_fg_color;
}

ContactsWindow .sidebar .view:selected:hover,
ContactsWindow .sidebar .view:selected:focus:hover {
    background: shade(@theme_bg_color, 1.25);
	border-image: none;
	background-image: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #f8f8f8;
    color: @theme_selected_fg_color;
}

ContactsWindow .sidebar .scrollbar {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    }

ContactsWindow .sidebar .scrollbar.button,
ContactsWindow .sidebar .scrollbar.button:active,
ContactsWindow .sidebar .scrollbar.button:active:hover,
ContactsWindow .sidebar .scrollbar.button:insensitive,
ContactsWindow .sidebar .scrollbar.button:hover:backdrop,
ContactsWindow .sidebar .scrollbar.button:active:hover:backdrop {
    border-style: solid;
    border-image: none;
    border-radius: 0;
    border-color: @contacts_sidebar_bg;
    border-width: 1px;
    background-color: @contacts_sidebar_bg;
}

ContactsWindow .sidebar .scrollbar.slider,
ContactsWindow .sidebar .scrollbar.slider:hover,
ContactsWindow .sidebar .scrollbar.slider:backdrop,
ContactsWindow .sidebar .scrollbar.slider:hover:backdrop {

   border-image: url("assets/slider-sidebar.svg") 7 / 7 stretch;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    }



ContactsWindow .sidebar .scrollbar.slider:hover {
    border-image: url("assets/slider-sidebar-hover.svg") 7 / 7 stretch;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    transition: 1000ms linear;
}

ContactsWindow .sidebar .scrollbar.slider:prelight:active {
	border-image: url("assets/slider-v-active.svg") 7 / 7 stretch;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.contacts-button:active {
}

.contacts-entry {
}

.contacts-entry:selected,
.contacts-entry:selected:focus {

}

.contacts-entry.contacts-postal-entry {
 border-radius: 0 0 0 0;
 border-width: 1px 1px 0 1px;
}

.contacts-entry.contacts-postal-entry:nth-child(first) {
 border-radius: 4px 4px 0 0;
}

.contacts-entry.contacts-postal-entry:nth-child(last) {
 border-radius: 0 0 4px 4px;
 border-width: 1px;
}

.button.contacts-square, 
.button.contacts-square:hover,
.button.contacts-square:hover:active,
.button.contacts-square:active,
.button.default.contacts-square,
.button.default .contacts-square,
.button.default.contacts-square:hover,
.button.default .contacts-square:hover,
.button.default.contacts-square:active,
.button.default.contacts-square:hover:active,
.button.default .contacts-square:active,
.button.default .contacts-square:hover:active  {
    background-color: alpha(#dbdbdb, 0.12);
	border-image: none;
	background-image: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: shade(@theme_selected_bg_color, 1.24);
    box-shadow: none;
    padding: 0;
}

.button.contacts-square:backdrop, 
.button.contacts-square:hover:backdrop,
.button.contacts-square:hover:active:backdrop,
.button.contacts-square:active:backdrop,
.button.default.contacts-square:backdrop,
.button.default .contacts-square:backdrop,
.button.default.contacts-square:hover:backdrop,
.button.default .contacts-square:hover:backdrop,
.button.default.contacts-square:active:backdrop,
.button.default.contacts-square:hover:active:backdrop,
.button.default .contacts-square:active:backdrop,
.button.default .contacts-square:hover:active:backdrop {
	background-color: transparent;
	border-color: transparent;
	}


.contacts-combo .button {
 border-image: none;
 border-width: 1px;
 border-style: solid;
 border-color: shade(@success_color, 0.2);
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (shade(@success_color, 0.86)),
                                     color-stop (0.4, shade(@success_color,0.7)),
                                     to (shade(@success_color, 0.6)));

    color: shade(@theme_selected_bg_color, 1.2);
    padding: 0;
}

.contacts-combo .button:hover {
 border-image: none;
 border-width: 1px;
 border-style: solid;
 border-color: shade(@success_color, 0.12);
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (shade(@success_color, 0.76)),
                                     color-stop (0.4, shade(@success_color,0.6)),
                                     to (shade(@success_color, 0.5)));


}

.contacts-notification {
 border-style: solid;
 border-color: @theme_selected_bg_color;
 border-width: 0 1px 1px 1px;
 border-radius: 0 0 5px 5px;
 padding: 8px;
 background-color: transparent;
 background-image: -gtk-gradient (linear,
 left top, left bottom,
 from (rgba (0, 0, 0, 0.45)),
 color-stop (0.15, rgba (0, 0, 0, 0.34)),
 to (rgba (0, 0, 0, 0.06)));
}

/* Gucharmap */
GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
 background-color: @theme_selected_bg_color;
 color: @theme_selected_fg_color;
}
