/* Borders */

/* generic element borders */

/*GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .button,*/
/*.trough,
.trough.highlight,*/
GtkSwitch.trough:active,
GtkSwitch.trough {
    border-image: url("borders/entry-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.entry,
.entry:focus,
.entry:insensitive {
    border-image: url("borders/entry-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.primary-toolbar .entry,
.primary-toolbar .entry:focus {
    border-image: url("borders/entry-border-toolbar.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

GtkComboBox.combobox-entry .entry:focus,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:focus,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:hover:focus,
GtkComboBox.combobox-entry .entry:backdrop,
GtkComboBox.combobox-entry .button:backdrop,
GtkComboBox.combobox-entry .button:hover:backdrop,
GtkComboBox.combobox-entry .button:hover:focus:backdrop,
GtkComboBox.combobox-entry .button:focus:backdrop,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .button:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .button { 
    border-image: url("borders/entry-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.button.default:active,
.button:active,
.button:active:backdrop,
.button:active:hover:backdrop,
.button:active:focus:hover:backdrop,
.button:active:focus:backdrop,
.button.default:active:backdrop,
.button.default:active:hover:backdrop,
.button.default:active:focus:hover:backdrop,
.button.default:active:focus:backdrop {
    border-image: url("borders/button-border-dark2.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}


.button.default:focus:hover:active {
    border-image: url("borders/button-border-dark2.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/*.trough row {
    border-image: url("borders/generic-border-alt.svg") 3 / 3 stretch;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}*/

/* focused element borders */

/*GtkComboBox.combobox-entry .entry:focus,
.button:focus:active,
.button.default:active,
GtkSwitch.trough:active { 
    border-image: url("borders/generic-border-focused.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}*/

/* generic button borders */

.button,
.button:backdrop,
.button:hover:backdrop,
.button:hover:focus:backdrop,
.button.default:hover:backdrop {
    border-image: url("borders/button-border-dark3.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

/*GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive,
GtkScale.slider.vertical:insensitive,*/
.button:insensitive,
.button:insensitive:backdrop {
    border-image: url("borders/button-insensitive-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

.button:hover:active {
    border-image: url("borders/button-border-hover-active-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

.button:hover {
    border-image: url("borders/button-border-hover.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 2px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;

}

/* focused button borders */
/*.button:focus,
.button.default,*/
.button:focus:backdrop,
.button.default:backdrop { 
    border-image: url("borders/button-border-dark3.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

/* focused button borders */
.button:focus { 
    border-image: url("borders/button-border-focused.svg") 6 / 6 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

.button.default { 
    border-image: url("borders/button-default-border-focused.svg") 6 / 6 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

.button:focus:hover { 
    border-image: url("borders/button-border-hover-focus.svg") 6 / 6 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

.button:focus:active,
.button:focus:active:hover { 
    border-image: url("borders/button-border-hover-active-focus.svg") 6 / 6 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}

.button.default:hover { 
    border-image: url("borders/button-default-border-hover-focus.svg") 6 / 6 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/* tooltip elements borders */
.tooltip .entry,
.tooltip .button {
    border-image: url("borders/tooltip-generic-border-dark.svg") 3 / 3 stretch;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

/* tooltip focused elements borders */
.tooltip .entry:focus,
.tooltip .button:focus {
    border-image: url("borders/tooltip-generic-border-focused-dark.svg") 3 / 3 stretch;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

/*GtkScale.slider,
GtkScale.slider.horizontal,
GtkScale.slider.vertical {
    border-image: url("borders/scale-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}*/

/*GtkScale.slider:hover,
GtkScale.slider.horizontal:hover,
GtkScale.slider.vertical:hover {
    border-image: url("borders/scale-border-hover-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;

}*/

/* primary toolbar - generic element borders */

/*.primary-toolbar .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .button,*/
/*.primary-toolbar .button:active,
.primary-toolbar .button.raised:active,
.primary-toolbar .raised .button:active,*/
.primary-toolbar .button.raised:insensitive,
.primary-toolbar .raised .button:insensitive,
/*.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive,
.primary-toolbar GtkSwitch.trough,
.primary-toolbar GtkSwitch.trough:insensitive,*/
.primary-toolbar GtkComboBox .button:insensitive {
    border-image: url("borders/primary-toolbar-generic-border-dark.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}


.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button.default:hover,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar .button:hover:backdrop,
.inline-toolbar.toolbar .button.default:hover:backdrop,
.inline-toolbar.toolbar .button:backdrop:insensitive {
    border-image: url("borders/inline-toolbar-generic-border-dark.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}


.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button.default:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:active:hover,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-image: url("borders/inline-toolbar-generic-border-dark.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button.default { 
    border-image: url("borders/inline-toolbar-generic-border-dark.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/* primary toolbar - focused element borders */
/*.primary-toolbar .entry:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .button:focus,*/
.primary-toolbar .button.raised:focus:active,
.primary-toolbar .raised .button:focus:active,
.primary-toolbar .button.raised.default:active,
.primary-toolbar .raised .button.default:active,

.primary-toolbar GtkComboBox .button:active:focus { 
    border-image: url("borders/primary-toolbar-generic-border-focused.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/* primary toolbar - generic button borders */


.primary-toolbar .button:hover {
    border-image: url("borders/p-toolbar-hover.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover,
.primary-toolbar .button:active,
.primary-toolbar .button:active:backdrop,
.primary-toolbar .button:active:hover:backdrop {
    border-image: url("borders/p-toolbar-hover.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/*.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover,
.primary-toolbar .button:active,
.primary-toolbar .button:active:backdrop,
.primary-toolbar .button:active:hover:backdrop,*/
.primary-toolbar .button.raised:active,
.primary-toolbar .raised .button:active,
.primary-toolbar .button.raised:active:hover,
.primary-toolbar .raised .button:active:hover,
.primary-toolbar GtkSwitch.trough,
.primary-toolbar GtkSwitch.trough:insensitive,
.primary-toolbar GtkSwitch.trough:backdrop,
.primary-toolbar GtkComboBox .button:active {
    border-image: url("borders/p-toolbar-active-dark3.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

.primary-toolbar .button.raised,
.primary-toolbar .raised .button,
.primary-toolbar .button.raised:backdrop,
.primary-toolbar .raised .button:backdrop,
.primary-toolbar GtkComboBox .button,
.primary-toolbar GtkComboBox *:backdrop,
.primary-toolbar GtkComboBox *:backdrop:insensitive {
    border-image: url("borders/primary-toolbar-button-border.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

/* primary toolbar - focused button borders */
.primary-toolbar .button.raised:focus,
.primary-toolbar .button.raised.default,
.primary-toolbar .raised .button:focus,
.primary-toolbar .raised .button.default,
/*.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button.default,*/
.primary-toolbar GtkComboBox .button:focus { 
    border-image: url("borders/primary-toolbar-button-border.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/* primary toolbar - hovered button borders */
.primary-toolbar .button.raised.default:hover,
.primary-toolbar .raised .button:hover,
.primary-toolbar .raised .button.default:hover,
.primary-toolbar GtkComboBox .button:hover { 
    border-image: url("borders/primary-toolbar-button-border-hover.svg") 4 / 4 stretch;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: 300ms ease-in;
}

/* column-headers borders */
column-header.button,
column-header .button,
column-header.button:hover,
column-header .button:hover,
column-header.button:focus,
column-header .button:focus,
column-header.button:focus:hover,
column-header .button:focus:hover,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover,
column-header.button:active:hover:focus,
column-header .button:active:hover:focus,
column-header.button:active:focus,
column-header .button:active:focus {
   border-image: url("borders/column-header-normal.svg") 2 1 2 2 / 2 1 2 2 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button,
.notebook column-header .button,
.notebook column-header.button:hover,
.notebook column-header .button:hover,
.notebook column-header.button:focus,
.notebook column-header .button:focus,
.notebook column-header.button:focus:hover,
.notebook column-header .button:focus:hover,
.notebook column-header.button:active,
.notebook column-header .button:active,
.notebook column-header.button:active:hover,
.notebook column-header .button:active:hover,
.notebook column-header.button:active:hover:focus,
.notebook column-header .button:active:hover:focus,
.notebook column-header.button:active:focus,
.notebook column-header .button:active:focus {
   border-image: url("borders/column-header-dark.svg") 0 1 2 2 / 0 1 2 2 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:backdrop,
column-header .button:backdrop,
column-header.button:hover:backdrop,
column-header .button:hover:backdrop,
column-header.button:focus:backdrop,
column-header .button:focus:backdrop,
column-header.button:focus:hover:backdrop,
column-header .button:focus:hover:backdrop,
column-header.button:active:backdrop,
column-header .button:active:backdrop,
column-header.button:active:hover:backdrop,
column-header .button:active:hover:backdrop,
column-header.button:active:focus:backdrop,
column-header .button:active:focus:backdrop,
column-header.button:active:focus:hover:backdrop,
column-header .button:active:focus:hover:backdrop,
column-header.button:insensitive:backdrop,
column-header .button:insensitive:backdrop {
   border-image: url("borders/column-header-normal.svg") 2 1 2 2 / 2 1 2 2 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:backdrop,
.notebook column-header .button:backdrop,
.notebook column-header.button:hover:backdrop,
.notebook column-header .button:hover:backdrop,
.notebook column-header.button:focus:backdrop,
.notebook column-header .button:focus:backdrop,
.notebook column-header.button:focus:hover:backdrop,
.notebook column-header .button:focus:hover:backdrop,
.notebook column-header.button:active:backdrop,
.notebook column-header .button:active:backdrop,
.notebook column-header.button:active:hover:backdrop,
.notebook column-header .button:active:hover:backdrop,
.notebook column-header.button:active:hover:focus:backdrop,
.notebook column-header .button:active:hover:focus:backdrop,
.notebook column-header.button:active:focus:backdrop,
.notebook column-header .button:active:focus:backdrop,
.notebook column-header.button:insensitive:backdrop,
.notebook column-header .button:insensitive:backdrop {
   border-image: url("borders/column-header-dark.svg") 0 1 2 2 / 0 1 2 2 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:insensitive,
column-header .button:insensitive {
   border-image: url("borders/column-header-normal.svg") 2 1 2 2 / 2 1 2 2 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:insensitive,
.notebook column-header .button:insensitive {
   border-image: url("borders/column-header-dark.svg") 0 1 2 2 / 0 1 2 2 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:last-child:hover,
column-header:last-child .button:hover,
column-header.button:last-child:focus,
column-header:last-child .button:focus,
column-header.button:last-child:focus:hover,
column-header:last-child .button:focus:hover,
column-header.button:last-child:active,
column-header:last-child .button:active,
column-header.button:last-child:active:hover,
column-header:last-child .button:active:hover,
column-header.button:last-child:active:hover:focus,
column-header:last-child .button:active:hover:focus,
column-header.button:last-child:active:focus,
column-header:last-child .button:active:focus {
   border-image: url("borders/column-header-normal.svg") 2 1 2 2 / 2 1 2 2 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:last-child,
.notebook column-header:last-child .button,
.notebook column-header.button:last-child:hover,
.notebook column-header:last-child .button:hover,
.notebook column-header.button:last-child:focus,
.notebook column-header:last-child .button:focus,
.notebook column-header.button:last-child:focus:hover,
.notebook column-header:last-child .button:focus:hover,
.notebook column-header.button:last-child:active,
.notebook column-header:last-child .button:active,
.notebook column-header.button:last-child:active:hover,
.notebook column-header:last-child .button:active:hover,
.notebook column-header.button:last-child:active:hover:focus,
.notebook column-header:last-child .button:active:hover:focus,
.notebook column-header.button:last-child:active:focus,
.notebook column-header:last-child .button:active:focus {
   border-image: url("borders/column-header-dark.svg") 0 1 2 2 / 0 1 2 2 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:last-child:backdrop,
column-header:last-child .button:backdrop,
column-header.button:last-child:hover:backdrop,
column-header:last-child .button:hover:backdrop,
column-header.button:last-child:focus:backdrop,
column-header:last-child .button:focus:backdrop,
column-header.button:last-child:focus:hover:backdrop,
column-header:last-child .button:focus:hover:backdrop,
column-header.button:last-child:active:backdrop,
column-header:last-child .button:active:backdrop,
column-header.button:last-child:active:hover:backdrop,
column-header:last-child .button:active:hover:backdrop,
column-header.button:last-child:active:hover:focus:backdrop,
column-header:last-child .button:active:hover:focus:backdrop,
column-header.button:last-child:active:focus:backdrop,
column-header:last-child .button:active:focus:backdrop {
   border-image: url("borders/column-header-normal.svg") 2 1 2 2 / 2 1 2 2 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:last-child:backdrop,
.notebook column-header:last-child .button:backdrop,
.notebook column-header.button:last-child:hover:backdrop,
.notebook column-header:last-child .button:hover:backdrop,
.notebook column-header.button:last-child:focus:backdrop,
.notebook column-header:last-child .button:focus:backdrop,
.notebook column-header.button:last-child:focus:hover:backdrop,
.notebook column-header:last-child .button:focus:hover:backdrop,
.notebook column-header.button:last-child:active:backdrop,
.notebook column-header:last-child .button:active:backdrop,
.notebook column-header.button:last-child:active:hover:backdrop,
.notebook column-header:last-child .button:active:hover:backdrop,
.notebook column-header.button:last-child:active:hover:focus:backdrop,
.notebook column-header:last-child .button:active:hover:focus:backdrop,
.notebook column-header.button:last-child:active:focus:backdrop,
.notebook column-header:last-child .button:active:focus:backdrop {
   border-image: url("borders/column-header-dark.svg") 0 1 2 2 / 0 1 2 2 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 2px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:first-child,
column-header:first-child .button,
column-header.button:first-child:hover,
column-header:first-child .button:hover,
column-header.button:first-child:focus,
column-header:first-child .button:focus,
column-header.button:first-child:focus:hover,
column-header:first-child .button:focus:hover,
column-header.button:first-child:active,
column-header:first-child .button:active,
column-header.button:first-child:active:hover,
column-header:first-child .button:active:hover,
column-header.button:first-child:active:hover:focus,
column-header:first-child .button:active:hover:focus,
column-header.button:first-child:active:focus,
column-header:first-child .button:active:focus {
   border-image: url("borders/column-header-normal.svg") 2 2 2 1 / 2 2 2 1 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:first-child,
.notebook column-header:first-child .button,
.notebook column-header.button:first-child:hover,
.notebook column-header:first-child .button:hover,
.notebook column-header.button:first-child:focus,
.notebook column-header:first-child .button:focus,
.notebook column-header.button:first-child:focus:hover,
.notebook column-header:first-child .button:focus:hover,
.notebook column-header.button:first-child:active,
.notebook column-header:first-child .button:active,
.notebook column-header.button:first-child:active:hover,
.notebook column-header:first-child .button:active:hover,
.notebook column-header.button:first-child:active:hover:focus,
.notebook column-header:first-child .button:active:hover:focus,
.notebook column-header.button:first-child:active:focus,
.notebook column-header:first-child .button:active:focus {
   border-image: url("borders/column-header-dark.svg") 0 2 2 0 / 0 2 2 0 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 0px;
    border-style: solid;
    border-color: transparent;
}

column-header.button:first-child:backdrop,
column-header:first-child .button:backdrop,
column-header.button:first-child:hover:backdrop,
column-header:first-child .button:hover:backdrop,
column-header.button:first-child:focus:backdrop,
column-header:first-child .button:focus:backdrop,
column-header.button:first-child:focus:hover:backdrop,
column-header:first-child .button:focus:hover:backdrop,
column-header.button:first-child:active:backdrop,
column-header:first-child .button:active:backdrop,
column-header.button:first-child:active:hover:backdrop,
column-header:first-child .button:active:hover:backdrop,
column-header.button:first-child:active:hover:focus:backdrop,
column-header:first-child .button:active:hover:focus:backdrop,
column-header.button:first-child:active:focus:backdrop,
column-header:first-child .button:active:focus:backdrop {
   border-image: url("borders/column-header-normal.svg") 2 2 2 1 / 2 2 2 1 stretch;
    border-radius: 0px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.notebook column-header.button:first-child:backdrop,
.notebook column-header:first-child .button:backdrop,
.notebook column-header.button:first-child:hover:backdrop,
.notebook column-header:first-child .button:hover:backdrop,
.notebook column-header.button:first-child:focus:backdrop,
.notebook column-header:first-child .button:focus:backdrop,
.notebook column-header.button:first-child:focus:hover:backdrop,
.notebook column-header:first-child .button:focus:hover:backdrop,
.notebook column-header.button:first-child:active:backdrop,
.notebook column-header:first-child .button:active:backdrop,
.notebook column-header.button:first-child:active:hover:backdrop,
.notebook column-header:first-child .button:active:hover:backdrop,
.notebook column-header.button:first-child:active:hover:focus:backdrop,
.notebook column-header:first-child .button:active:hover:focus:backdrop,
.notebook column-header.button:first-child:active:focus:backdrop,
.notebook column-header:first-child .button:active:focus:backdrop {
   border-image: url("borders/column-header-dark.svg") 0 2 2 0 / 0 2 2 0 stretch;
    border-radius: 0px;
    border-width: 0px 1px 2px 0px;
    border-style: solid;
    border-color: transparent;
}

/* unfocused window: generic element borders */



.primary-toolbar .button:hover:backdrop {
    border-image: none;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}
