/* Default color scheme */
@define-color theme_base_color #161616; /*#1d1d1d*/
@define-color theme_bg_color #006AA8; /*mix (#262626, @theme_selected_bg_color, 0.2);*/
@define-color theme_selected_bg_color #006AA8;
@define-color theme_text_color @text_color;
@define-color theme_fg_color @fg_color;
@define-color theme_selected_fg_color #ffffff;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

@define-color placeholder_text_color shade(@text_color, 3.5);

@define-color theme_bg_text_color #BAC0CC;
@define-color theme_base_text_color #DBDBDB;

@define-color theme_unfocused_base_color shade (mix (#252525, @theme_selected_bg_color, 0.2), 1.1);
@define-color theme_unfocused_text_color mix(@theme_unfocused_fg_color, @theme_text_color, 0.2); /* Need something darker here to have stuff nicelly readable*/
@define-color theme_unfocused_active_text_color mix(@theme_unfocused_bg_color, @theme_text_color, 0.2);
@define-color theme_unfocused_fg_color mix(shade(@theme_fg_color, 0.73), @theme_selected_bg_color, 0.1);
@define-color theme_unfocused_bg_color shade(mix (@theme_base_color, @selected_bg_color, 0.30), 0.98);
@define-color theme_unfocused_selected_bg_color shade(@theme_unfocused_bg_color, 0.9);
@define-color theme_unfocused_selected_fg_color shade (@theme_fg_color, 0.65);

@define-color unfocused_button_background @theme_unfocused_bg_color;
@define-color unfocused_button_background_a shade(@unfocused_button_background_b, 1.05);
@define-color unfocused_button_background_b shade(@button_gradient_color_b, 1.05);
@define-color unfocused_button_background_c shade(@unfocused_button_background_b, 0.92);

@define-color unfocused_button_active_a shade(@button_active_gradient_color_c, 1.05);
@define-color unfocused_button_active_b shade(@unfocused_button_active_a, 0.76);
@define-color unfocused_button_active_c shade(@unfocused_button_active_a, 0.95);
@define-color unfocused_button_active_d #5e594e;

@define-color unfocused_borders #777777;
@define-color unfocused_insensitive_borders mix(@theme_unfocused_bg_color, @unfocused_borders, 0.5);
@define-color unfocused_insensitive_fg_color shade(@insensitive_fg_color, 0.86);
@define-color unfocused_insensitive_bg_color mix(@theme_unfocused_bg_color, @theme_unfocused_base_color, 0.5);
@define-color unfocused_dark_bg mix(@theme_unfocused_bg_color, @unfocused_borders, 0.3);

@define-color menu_bg_color #191919;
@define-color menu_top_color #2c2c2c;
@define-color menu_fg_color #cbcbcb;

@define-color menu_controls_color shade (@theme_fg_color, 0.9);

@define-color menu_combobox_border #3277bf;
@define-color menu_separator shade(@menu_bg_color, 1.9);

@define-color inactive_frame_color #c7ccc1;

@define-color sidebar_bg #121212;
@define-color contacts_sidebar_bg #060606;
@define-color unfocused_sidebar_bg shade (@sidebar_bg, 1.0);

@define-color os_chrome_bg_color black;
@define-color os_chrome_fg_color #ccc;
@define-color os_chrome_selected_bg_color #333;
@define-color os_chrome_selected_fg_color white;

@define-color chrome_bg_color #1e1a17;
@define-color chrome_fg_color #fff;

@define-color focused_entry_border #579eea;
@define-color focused_entry_inset alpha (#d7e4f1, 0.50);

@define-color borders #aea99d;

@define-color button_gradient_color_a shade(@button_gradient_color_b, 1.1);
@define-color button_gradient_color_b #1c1c1c;
@define-color button_gradient_color_c shade(@button_gradient_color_b, 0.9);

@define-color insensitive_button_gradient_color_a shade(@insensitive_button_gradient_color_b, 1.06);
@define-color insensitive_button_gradient_color_b @insensitive_bg_color;
@define-color insensitive_button_gradient_color_c shade(@insensitive_button_gradient_color_b, 0.94);

@define-color button_active_gradient_color_c @button_gradient_color_c;
@define-color button_active_gradient_color_d shade (@button_active_gradient_color_c, 0.7);
@define-color button_active_gradient_color_e shade (@button_active_gradient_color_c, 0.9);
@define-color button_active_gradient_color_f @button_hover_gradient_color_a;

@define-color button_default_active_gradient_color_c @button_default_gradient_color_c;
@define-color button_default_active_gradient_color_d shade (@button_default_active_gradient_color_c, 0.7);
@define-color button_default_active_gradient_color_e shade (@button_default_active_gradient_color_c, 0.9);
@define-color button_default_active_gradient_color_f shade(@button_default_gradient_color_a, 1.1);

@define-color button_active_gradient_color_a #a2a9a2;
@define-color button_active_gradient_color_b shade (@button_active_gradient_color_a, 0.83);
@define-color button_active_text #fefefe;
@define-color button_active_text_shadow alpha(#121212, 0.34);
@define-color button_active_text_shadow_glow alpha(#555555, 0.3);
@define-color button_text_shadow alpha(black, 0.10);
@define-color link_button_text_shadow alpha(black, 0.21);

@define-color button_hover_gradient_color_a shade (@button_hover_gradient_color_b, 1.1);
@define-color button_hover_gradient_color_b shade (@button_gradient_color_c, 0.9);
@define-color button_hover_gradient_color_c shade (@button_hover_gradient_color_b, 0.9);

@define-color button_inline_gradient_color_a shade(@button_gradient_color_b, 1.2);
@define-color button_inline_gradient_color_b #606675;
@define-color button_inline_gradient_color_c shade(@button_gradient_color_b, 0.72);

@define-color button_inline_hover_gradient_color_a shade (@button_inline_gradient_color_a, 1.02);
@define-color button_inline_hover_gradient_color_b shade (@button_inline_gradient_color_b, 0.98);
@define-color button_inline_hover_gradient_color_c shade (@button_inline_gradient_color_c, 0.6);

@define-color button_default_gradient_color_a shade(@theme_bg_color, 1.1);
@define-color button_default_gradient_color_b @theme_bg_color;
@define-color button_default_gradient_color_c shade(@theme_bg_color,0.9);

@define-color unfocused_button_hover_background @unfocused_theme_base_color;

@define-color button_raised_gradient_color_a @button_gradient_color_a;
@define-color button_raised_gradient_color_b @button_gradient_color_b;
@define-color button_raised_linked_shadow alpha(@theme_base_color, 0.70);

@define-color button_raised_active_gradient_color_a @button_active_gradient_color_a;
@define-color button_raised_active_gradient_color_b alpha(@button_active_gradient_color_b, 0.13);

@define-color insensitive_bg_color #2F2F2F;
@define-color insensitive_fg_color mix(shade(@theme_fg_color, 0.51), @theme_selected_bg_color, 0.08); /*#4D4D4D*/
@define-color insensitive_borders shade (@internal_element_color, 1.37);

@define-color trough_bg_color_a #bcbcb7;
@define-color trough_bg_color_b #e0e0dd;

@define-color scrollbar_trough shade(@theme_base_color, 0.9);
@define-color scrollbar_trough_insensitive shade(@theme_bg_color, 0.9);
@define-color scrollbar_trough_unfocused shade(@theme_unfocused_bg_color, 0.9);
@define-color scrollbar_slider mix(@scrollbar_trough, @theme_fg_color, 0.25);
@define-color scrollbar_slider_prelight mix(@scrollbar_trough, @theme_fg_color, 0.5);
@define-color scrollbar_slider_active @theme_selected_bg_color;
@define-color scrollbar_slider_insensitive alpha(black, 0); /* FIXME should be transparent */
@define-color scrollbar_slider_unfocused @theme_unfocused_bg_color;

@define-color switch_slider_color #eeeeec;
@define-color switch_trough_bg_a shade (@button_active_gradient_color_c, 0.36);
@define-color switch_trough_bg_b shade (@button_active_gradient_color_c, 0.86);
@define-color switch_slider_active_border #2a79cb;
@define-color switch_slider_insensitive_bg @insensitive_bg_color;
@define-color switch_trough_active_color @theme_base_color;
@define-color switch_trough_active_bg_a shade(@theme_bg_color, 0.6);
@define-color switch_trough_active_bg_b shade(@theme_bg_color, 1.12);

@define-color progressbar_background_a #faf6f0;
@define-color progressbar_background_b #debf97;
@define-color progressbar_pattern #2a79cb;
@define-color progressbar_border @progressbar_pattern;
@define-color progressbar_unfocused_background @theme_base_color;
@define-color progressbar_unfocused_border @unfocused_borders;

@define-color entry_text_color #0a0a0a;
@define-color entry_background_a shade(@theme_base_color, 0.94);
@define-color entry_background_b @theme_base_color;
@define-color entry_backdrop #4f4f4f;
@define-color entry_unfocused_text_color mix(@theme_fg_color, @theme_text_color, 0.2);

@define-color entry_inset alpha(black, 0.1);

@define-color internal_element_color #888a85;
@define-color internal_element_prelight @theme_text_color;
@define-color internal_element_insensitive mix(@internal_element_color, @theme_base_color, 0.7);

@define-color scale_fill @insensitive_borders;
@define-color scale_border_a @internal_element_color;
@define-color scale_border_b shade (@internal_element_color, 1.25);
@define-color scale_progress_fill #2c85e2;
@define-color scale_progress_border_a #1864b2;
@define-color scale_progress_border_b #3e90e5;

@define-color highlighted_border #8a8f8a;

@define-color notebook_active_tab_border shade(@theme_selected_bg_color, 0.9);
@define-color notebook_selected_tab_color shade(@theme_base_color, 1.44);

@define-color notebook_tab_active shade(@theme_base_color, 1.1);
@define-color notebook_tab_active_upper shade(@theme_base_color, 1.02);
@define-color notebook_tab_gradient_a shade(@theme_base_color, 0.96);
@define-color notebook_tab_gradient_b shade(@theme_base_color, 0.8);
@define-color notebook_tab_hilight shade(@theme_base_color, 1.4);

@define-color toolbar_gradient_a alpha(#eaedf1, 0.25);
@define-color toolbar_gradient_b alpha(#eaedf1, 0.35);
@define-color toolbar_gradient_c alpha(#eaedf1, 0.4);

@define-color toolbar_active_gradient_a alpha(#006AA8, 0.3);
@define-color toolbar_active_gradient_b alpha(#006AA8, 0.5);
@define-color toolbar_active_gradient_c alpha(#eaedf1, 0.4);


@define-color unfocused_toolbar_gradient alpha(#f1eeea, 0.32);

@define-color toolbar_gradient_d alpha(#11151a, 0.4);
@define-color toolbar_gradient_e alpha(#11151a, 0.46);
@define-color toolbar_gradient_f alpha(#11151a, 0.52);

@define-color toolbar_border_top shade(@borders, 0.9);
@define-color toolbar_border_bottom shade(@borders, 1.1);

@define-color toolbar_active_button_color #909081;
@define-color toolbar_button_prelight alpha(white, 0.4);

@define-color primary_toolbar_button_text_shadow alpha(black, 0.24);
@define-color primary_toolbar_button_hover_text_shadow alpha(black, 0.34);

@define-color primary_toolbar_entry_bg @theme_base_color;
@define-color primary_toolbar_entry_fg @theme_text_color;


@define-color treeview_focus_border #2a79cb;

@define-color expander_row_selected_color #acccee;

@define-color inset_light_color alpha(white, 0.06);
@define-color inset_dark_color alpha(#000000, 0.66);


@define-color nautilus_cluebar_color #729fcf;

@define-color documents_selection_toolbar_a #008C72;
@define-color documents_selection_toolbar_b #006E59;
@define-color documents_selection_toolbar_border #222222;

@define-color documents_selection_button_a #7fc141;
@define-color documents_selection_button_b #47850d;
@define-color documents_selection_button_c #4e9a06;

@define-color documents_emblem_bg @theme_selected_bg_color;
@define-color documents_collection_bg #d3d7cf;

@define-color documents_osd_toolbar_a alpha(#FFF8E5, 0.80);
@define-color documents_osd_toolbar_b alpha(#F2EBD9, 0.80);
@define-color documents_osd_toolbar_c alpha(#F2E7CB, 0.80);

@define-color documents_osd_button_a @theme_base_color;
@define-color documents_osd_button_b #525252;
@define-color documents_osd_button_inset #9f9f9f;

@define-color documents_osd_fg shade(@theme_text_color, 1.42);

/******
 * WM *
 ******/
@define-color wm_base_color #4a4a4a;

@define-color wm_title @theme_fg_color;
@define-color wm_unfocused_title @theme_unfocused_fg_color;
@define-color wm_highlight shade(@wm_base_color, 0.95);
@define-color wm_highlight_alt shade(@wm_base_color, 1.50);
@define-color wm_highlight_alt_lower shade(@wm_base_color, 1.55);
@define-color wm_highlight_arc shade(@wm_base_color, 0.75);
@define-color wm_highlight_arc_end shade(#232323, 0.98);

@define-color wm_highlight_button_border #343434;
@define-color wm_highlight_button_border_top #4b4b4b;
@define-color wm_highlight_button_border_r #1c1c1c;
@define-color wm_highlight_button_border_top_r #323232;
@define-color wm_highlight_button_border_right #030303;
@define-color wm_highlight_button_border_top_right #121212;
@define-color wm_highlight_button_border_arc shade(@wm_base_color, 0.7);
@define-color wm_highlight_button_border_bottom shade(@wm_base_color, 0.8);
@define-color wm_highlight_button_border_bottom_prelight shade(@wm_base_color, 0.5);
@define-color wm_highlight_button_border_bottom_pressed shade(@wm_base_color, 0.9);

@define-color wm_title_highlight_dark alpha(#ffffff, 0.0);
@define-color wm_title_highlight alpha(#000000, 0.34);

@define-color wm_border_top #2c2c2c;
@define-color wm_border_sides #2C2C2C;
@define-color wm_border_sides_right #242424;
@define-color wm_border_bottom #1F1F1F;
@define-color wm_border_unfocused #353535;

@define-color wm_bg_a #212130;
@define-color wm_bg_b @bg_color;

@define-color wm_button_bg_a shade (@button_gradient_color_a, 1.24);
@define-color wm_button_bg_b shade (@button_gradient_color_b, 1.26);
@define-color wm_button_bg_c shade (@button_gradient_color_b, 0.76);
@define-color wm_button_bg_d shade (@button_gradient_color_b, 0.94);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.16);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.16);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.16);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.16);

@define-color wm_button_bg_active_a shade (@bg_color, 0.7);
@define-color wm_button_bg_active_b shade (@bg_color, 0.9);
@define-color wm_button_bg_active_c shade (@bg_color, 0.9);


/***/
@import url("gtk-main-common.css");
@import url("ubuntu-specific.css");
@import url("gtk-widgets-backgrounds.css");
@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-widgets.css");
@import url("gtk-widgets-overrides.css");
@import url("gnome-applications.css");
@import url("apps/unity.css");
@import url("gtk-widgets-scale.css");
@import url("gtk-notebook.css");
