/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
    padding: 0;

    /*border-color: shade(@theme_base_color, 0.85);
    border-style: outset;*/
    border-style: solid;
    border-top-color: shade(@theme_base_color, 2.82);
        border-right-color: shade(@theme_base_color, 2.12);
        border-bottom-color: shade(@theme_base_color, 0.8);
        border-left-color: shade(@theme_base_color, 2.12);   
        
    border-width: 1px;
	border-radius: 0px 3px 3px 3px;
    background-clip: border-box;
    background-color: shade(@theme_base_color, 1.1);
 
    -GtkNotebook-tab-overlap: 8;
    -GtkNotebook-tab-curvature: 6;

    /* FIXME - the gap should be applied only to top or bottom tabs */
    -GtkNotebook-initial-gap: 8;
}

.notebook GtkViewport {
    background-color: @theme_base_color;
}


.notebook tab {

    padding: 3px;
    border-style: solid;
    /* we draw our own custom border here for now */
    border-width: 1px;
border-color: shade(@notebook_tab_gradient_b, 0.8);
    background-image: linear-gradient(to bottom,
                                      shade(@notebook_tab_gradient, 1.16) 2px,
                                      shade(@notebook_tab_gradient_a, 1.1) 2px,
                                      @notebook_tab_gradient_a 7px,
                                      @notebook_tab_gradient_b);

    -adwaita-focus-border-radius: 2;
}

.notebook tab:active {

    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (mix(shade(@theme_base_color, 3.82), @theme_selected_bg_color, 0.4)),
                                             to (shade(@theme_base_color, 2.82)));
	
    background-image: linear-gradient(to bottom,
                                      mix(shade(@theme_base_color, 1.26), @theme_selected_bg_color, 0.4),
                                      
                                      mix(shade(@theme_base_color, 1.2), @theme_selected_bg_color, 0.2) 2px,
                                      shade(@theme_base_color, 1.16)  6px,
                                      shade(@theme_base_color, 1.18) 18px,
                                      shade(@theme_base_color, 1.1));                                
}


.notebook tab:active:backdrop {

    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (mix(shade(@theme_base_color, 2.82), @theme_selected_bg_color, 0.1)),
                                             to (shade(@theme_base_color, 2.82)));
	
    background-image: linear-gradient(to bottom,
                                      mix(shade(@theme_base_color, 1.26), @theme_selected_bg_color, 0.1),
                                      
                                      mix(shade(@theme_base_color, 1.2), @theme_selected_bg_color, 0.05) 2px,
                                      shade(@theme_base_color, 1.16)  6px,
                                      shade(@theme_base_color, 1.18) 18px,
                                      shade(@theme_base_color, 1.1));                                 
}

/*.notebook tab:active {

    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (mix(shade (@notebook_selected_tab_color, 0.9), @theme_selected_bg_color, 0.1)),
                                             to (shade(@theme_base_color, 2.82)));
	
    background-image: linear-gradient(to bottom,
                                      mix(@notebook_selected_tab_color, @theme_selected_bg_color, 0.6),
                                      mix(@notebook_selected_tab_color, @theme_selected_bg_color, 0.95) 2px,
                                      mix(shade(@theme_base_color, 0.4), @theme_selected_bg_color, 0.1)  3px,
                                      mix(shade(@theme_base_color, 0.6), @theme_selected_bg_color, 0.1)  6px,
                                      shade(@theme_base_color, 1.16) 18px,
                                      shade(@theme_base_color, 1.1));                                
}*/



.notebook tab.top {
    padding: 4px 2px 0;
}

.notebook tab.top:active {
    padding: 7px 2px 0;
}

.notebook tab.bottom {
    padding: 0 2px 4px;
}

.notebook tab.bottom:active {
    padding: 0 2px 7px;
}

.notebook tab.left,
.notebook tab.right {
    background-image: none;
    background-color: @theme_bg_color;
    padding: 3px;
}

.notebook tab.left {
    border-width: 1px 0 1px 1px;
}

.notebook tab.right {
    border-width: 1px 1px 1px 0;
}

.notebook tab.left:active,
.notebook tab.right:active {
    background-image: none;
    background-color: @theme_base_color;
}

.notebook tab.left:active {
    padding: 3px 3px 3px 5px;
    border-radius: 3px 0 0 3px;
}

.notebook tab.right:active {
    padding: 3px 5px 3px 3px;
    border-radius: 0 3px 3px 0;
}

/* close button styling */
.notebook tab .button,
.notebook tab .button:active,
.notebook tab .button:hover {
    border-image: none;
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.notebook tab .button GtkImage {
    border-radius: 3px;
    color: mix(@theme_fg_color, @theme_base_color, 0.6); /* FIXME*/
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 0;

    icon-shadow: 0 1 alpha(black, 0.08); /* FIXME*/
}

.notebook tab .button GtkImage:hover {
	background-color: alpha(#7D0126, 0.34);
    color: @theme_fg_color; /* FIXME*/
    border-color: alpha(black, 0.1); /* FIXME*/
    icon-shadow: 0 1 alpha(black, 0.5);
}

.notebook tab .button GtkImage:active,
.notebook tab .button GtkImage:active:hover {
    background-color: #7D0126; /* FIXME*/
    box-shadow: 0 1 inset alpha(black, 0.05); /* FIXME*/
    color:  @theme_base_color; /* FIXME*/
    icon-shadow: 0 1 alpha(black, 0.25); /* FIXME*/
    border-color: alpha(black, 0.27) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13); /* FIXME*/
}

.notebook tab .button GtkImage:backdrop {
    color: mix(@theme_unfocused_fg_color, @theme_unfocused_base_color, 0.7); /* FIXME*/
    icon-shadow: none;
}

.notebook tab .button GtkImage:backdrop:hover {
    color: @theme_unfocused_fg_color;
}


