stage {
  font-family: "Droid Sans", "Open Sans", sans, sans-serif;
}
.cinnamon-link {
  color: #00f;
  text-decoration: underline;
}
.cinnamon-link:hover {
  color: #0000e0;
}
.label-shadow {
  color: rgba(0,0,0,0.5);
}
StScrollView .vfade {
  -st-vfade-offset: 68px;
}
StScrollView StScrollBar {
  min-width: 12px;
  min-height: 16px;
}
StScrollBar {
  padding: 0px;
}
StScrollBar StBin#trough {
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 4px;
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  background-color: #444;
  border-radius: 4px;
}
StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
  background-color: #383838;
}
.separator {
  -gradient-height: 2px;
  -gradient-start: #555;
  -gradient-end: #555;
  -margin-horizontal: 1.5em;
  height: 1em;
}
.slider {
  height: 1em;
  min-width: 15em;
  -slider-height: 0.3em;
  -slider-background-color: #666;
  -slider-border-color: #555;
  -slider-active-background-color: #ccc;
  -slider-active-border-color: #ddd;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
}
#Tooltip {
  background-color: #222;
  color: #fff;
  font-size: 8.5pt;
  font-weight: normal;
  padding: 2px 12px;
  border-radius: 1px;
  box-shadow: 1px 1px 2px #444;
}
.notification-button,
.notification-icon-button,
.modal-dialog-button,
.sound-player-overlay StButton {
  color: #fff;
  border: 1px solid #6b6b6b;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(34,34,34,0.6);
  background-gradient-end: #222;
}
.notification-button:hover,
.notification-icon-button:hover,
.modal-dialog-button:hover,
.sound-player-overlay StButton:hover {
  background-gradient-start: #6b6b6b;
  background-gradient-end: #6b6b6b;
}
.notification-button:active,
.notification-icon-button:active,
.modal-dialog-button:active,
.sound-player-overlay StButton:active,
.modal-dialog-button:pressed {
  border-color: rgba(0,0,0,0);
  box-shadow: 0 0 2px 0 #333 inset;
}
#panel {
  color: #fff;
  background-color: #222;
  font-size: 8.5pt;
  font-weight: bold;
  height: 25px;
  width: 32px;
}
#panel:highlight {
  background-color: #f00;
}
.panel-dummy {
  background-color: rgba(50,50,50,0.4);
}
.panel-dummy:entered {
  background-color: rgba(255,35,35,0.4);
}
.panelLeft,
.panelCenter,
.panelRight {
  spacing: 3px;
}
.panelLeft .vertical,
.panelRight .vertical {
  padding: 0px;
}
.panelLeft:dnd {
  background-color: #a80707;
}
.panelCenter:dnd {
  background-color: #07b407;
}
.panelRight:dnd {
  background-color: #0707c4;
}
.panel-status-button {
  border: 0px solid #8b8b8b;
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: bold;
  color: #ccc;
  height: 22px;
}
.panel-status-button:hover {
  color: #fff;
}
.system-status-icon {
  padding-left: 0px;
  padding-right: 0px;
  spacing: 0px;
  margin: 0px;
  icon-size: 1.15em;
}
.system-status-icon .warning {
  color: #e1da1a;
}
.system-status-icon .error {
  color: #d54444;
}
.panel-corner {
  -panel-corner-radius: 0px;
  -panel-corner-background-color: #000;
  -panel-corner-inner-border-width: 2px;
  -panel-corner-inner-border-color: transparent;
  -panel-corner-outer-border-width: 1px;
  -panel-corner-outer-border-color: #536272;
}
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
  -panel-corner-inner-border-color: rgba(255,255,255,0.8);
}
#appMenu {
  spacing: 4px;
}
.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: #ccc;
  transition-duration: 100;
}
.panel-button #appMenuIcon {
  app-icon-bottom-clip: 1px;
}
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
  app-icon-bottom-clip: 2px;
}
.panel-button:hover {
  color: #fff;
  text-shadow: #000 0px 2px 2px;
}
.panel-menu {
  -boxpointer-gap: 4px;
}
#overview {
  spacing: 12px;
}
.window-caption {
  color: #fff;
  border-radius: 2px;
  spacing: 25px;
  background-color: #383838;
  border: 1px solid #666;
}
.window-caption #selected {
  background-color: #222;
  border: 1px solid #505050;
}
.workspace-controls {
  visible-height: 32px /* Amount visible before hovering */;
}
.workspace-thumbnails-background {
  border: 1px solid rgba(128,128,128,0.4);
  border-right: 0px;
  border-radius: 9px 9px 0px 0px;
  background-color: rgba(0,0,0,0.5);
  padding: 8px;
}
.workspace-thumbnails-background:rtl {
  border-right: 1px;
  border-left: 0px;
  border-radius: 9px 9px 0px 0px;
}
.workspace-thumbnails {
  spacing: 14px;
}
.workspace-add-button {
  background-image: url("add-workspace.png");
  height: 200px;
  width: 35px;
  transition-duration: 100;
}
.workspace-add-button:hover {
  background-image: url("add-workspace-hover.png");
  transition-duration: 50;
}
.workspace-close-button {
  background-image: url("close-window.svg");
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 17px;
}
.workspace-thumbnail-indicator {
  outline: 2px solid #fff;
  border: 1px solid #888;
}
.window-caption {
  background: #222;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 9pt;
  padding: 2px 8px;
  -cinnamon-caption-spacing: 4px;
}
.window-close {
  background-image: url("close-window.svg");
  height: 28px;
  width: 28px;
  -cinnamon-close-overlap: 17px;
}
.window-close:rtl {
  -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.window-close-area {
  background-image: url("trash-icon.png");
  background-size: 100px;
  background-color: #888;
  border: 1px solid #222;
  border-bottom-width: 0px;
  border-radius: 6px 6px 0px 0px;
  height: 120px;
  width: 400px;
}
.overview-icon {
  border-radius: 4px;
  padding: 3px;
  border: 1px rgba(0,0,0,0);
  font-size: 7.5pt;
  color: #fff;
  transition-duration: 100;
  text-align: center;
}
.expo-background {
  background-color: rgba(0,0,0,0.5);
}
.workspace-overview-background-shade {
  background-color: rgba(0,0,0,0.2);
}
.expo-workspace-thumbnail-frame {
  border: 1px, rgba(64,64,64,0.9);
  background-color: rgba(64,64,64,0.9);
}
.expo-workspace-thumbnail-frame #active {
  border: 2px, rgba(32,32,32,0.9);
  background-color: rgba(32,32,32,0.9);
}
#notification {
  font-size: 8.5pt;
  border-radius: 1px;
  border: 1px solid #444;
  background-color: #3d3d3d;
  padding: 8px 8px 8px 8px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #fff;
  font-weight: normal;
  box-shadow: 0.5px 0.5px 4px #080808;
}
#notification .multi-line-notification {
  padding-bottom: 8px;
  color: #fff;
}
.notification-with-image {
  min-height: 159px;
  color: #fff;
}
#notification-scrollview {
  max-height: 10em;
}
#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow {
  height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}
.notification-button {
  border-radius: 3px;
  padding: 4px 8px 5px;
}
.notification-icon-button {
  border-radius: 5px;
  padding: 5px;
}
.notification-icon-button:focus {
  padding: 4px;
}
.notification-icon-button > StIcon {
  icon-size: 36px;
}
#notification StEntry {
  padding: 4px;
  border-radius: 4px;
  color: #a8a8a8;
  selected-color: #000;
  border: 1px solid rgba(245,245,245,0.2);
  background-gradient-direction: vertical;
  background-gradient-start: #c8c8c8;
  background-gradient-end: #fff;
  transition-duration: 300;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
  caret-color: #a8a8a8;
  caret-size: 1px;
}
#notification StEntry:focus {
  border: 1px solid #8b8b8b;
  color: #333;
  background-gradient-direction: vertical;
  background-gradient-start: #c8c8c8;
  background-gradient-end: #fff;
  caret-color: #545454;
  selection-background-color: #808080;
}
#LookingGlassDialog {
  background-color: #222;
  spacing: 4px;
  padding: 6px;
  border: 1px solid #444;
  border-radius: 2px;
  color: #ddd;
}
#altTabPopup {
  padding: 8px;
  spacing: 16px;
}
.switcher-list,
.window-list-preview {
  background: #222;
  border: 1px #444 solid;
  border-radius: 3px;
  padding: 20px;
  font-size: 9pt;
  color: #fff;
  text-shadow: #000 0px 0px 2px;
}
.switcher-list-item-container {
  spacing: 8px;
}
.thumbnail-scroll-gradient-left .item-box,
.thumbnail-scroll-gradient-right .item-box,
.switcher-list .item-box {
  padding: 8px;
  border-radius: 4px;
}
.thumbnail-scroll-gradient-left .item-box:outlined,
.thumbnail-scroll-gradient-right .item-box:outlined,
.switcher-list .item-box:outlined {
  padding: 6px;
  border: 2px solid #555;
}
.thumbnail-scroll-gradient-left .item-box:selected,
.thumbnail-scroll-gradient-right .item-box:selected,
.switcher-list .item-box:selected {
  background: #444;
}
.thumbnail-scroll-gradient-left .thumbnail-box,
.thumbnail-scroll-gradient-right .thumbnail-box,
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.thumbnail-scroll-gradient-left .thumbnail,
.thumbnail-scroll-gradient-right .thumbnail,
.switcher-list .thumbnail {
  width: 256px;
}
.thumbnail-scroll-gradient-left .separator,
.thumbnail-scroll-gradient-right .separator,
.switcher-list .separator {
  width: 1px;
  background: rgba(255,255,255,0.33);
}
.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("corner-ripple.svg");
}
.ripple-box:rtl {
  background-image: url("corner-ripple.svg");
}
.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: #808080;
}
.switcher-arrow:highlighted {
  border-color: rgba(0,0,0,0);
  color: #fff;
}
.switcher-preview-backdrop {
  background-color: rgba(25,25,25,0.65);
}
.modal-dialog {
  font-size: 12pt;
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #444;
  color: #babdb6;
  padding-right: 42px;
  padding-left: 42px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.modal-dialog-button-box {
  spacing: 21px;
}
.modal-dialog-button {
  font-size: 11pt;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px 32px 5px;
}
.modal-dialog-button:disabled {
  color: #3c3c3c;
}
.modal-dialog-button:focus {
  padding: 3px 31px 4px;
}
.info-osd {
  font-size: 18pt;
  border-radius: 4px;
  background-color: #222;
  border: 2px solid #444;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
  color: #ddd;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.run-dialog-label {
  font-size: 9pt;
  color: #fff;
}
.run-dialog-error-label {
  font-size: 9pt;
  color: #fff;
}
.run-dialog-error-box {
  padding-top: 15px;
  spacing: 15px;
}
.run-dialog-completion-box {
  padding-left: 15px;
  font-size: 10px;
}
.run-dialog-entry {
  background: #444;
  font-size: 10.5pt;
  font-weight: bold;
  width: 23em;
  height: 1.35em;
  color: #fff;
  selection-background-color: #fff;
  selected-color: #000;
  border-radius: 2px;
}
.run-dialog {
  border-radius: 3px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.lightbox {
  background-color: rgba(0,0,0,0.4);
}
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}
.mount-password-reask {
  color: #f00;
}
.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
  font-size: 12pt;
  font-weight: bold;
  color: #666;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
  font-size: 10pt;
  color: #fff;
  padding-left: 17px;
  width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.show-processes-dialog-app-list {
  font-size: 10pt;
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}
.show-processes-dialog-app-list-item {
  color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
  color: #fff;
}
.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
  font-size: 10pt;
}
.magnifier-zoom-region {
  border: 2px solid #800000;
}
.magnifier-zoom-region .full-screen {
  border-width: 0px;
}
#overview-corner {
  background-image: url("overview.png");
}
#overview-corner:hover {
  background-image: url("overview-hover.png");
}
.workspace-osd {
  color: #fff;
  text-shadow: #000 5px 5px 5px;
  font-weight: bold;
  font-size: 48pt;
}
.expo-workspaces-name-entry {
  padding: 5px;
  border-radius: 3px;
  color: #ddd;
  border: 1px solid #ddd;
  background-color: #222;
  selected-color: #fff;
  caret-color: #808080;
  caret-size: 1px;
  width: 250px;
  height: 15px;
  box-shadow: 0 0 2px #000 inset;
  text-align: center;
}
.expo-workspaces-name-entry #selected {
  border: none;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  box-shadow: none;
}
.expo-workspaces-name-entry:focus {
  font-weight: bold;
  font-style: italic;
  transition-duration: 300;
}
.popup-menu-boxpointer {
  -arrow-border-radius: 4px;
  -arrow-background-color: #222;
  -arrow-border-width: 1px;
  -arrow-border-color: #444;
  -arrow-base: 20px;
  -arrow-rise: 8px;
}
.popup-menu {
  color: #fff;
  font-size: 9.5pt;
  min-width: 100px;
}
.menu {
  border-radius: 2px;
  background-color: #222;
  color: #fff;
  font-size: 9.5pt;
  min-width: 100px;
}
.popup-menu-arrow {
  icon-size: 1.14em;
}
.popup-submenu-menu-item:open {
  background-color: #222;
}
.popup-sub-menu {
  background-color: #444;
  box-shadow: 0 0 4px #222 inset;
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}
.popup-combo-menu {
  background-color: rgba(0,0,0,0.9);
  padding: 1em 0em;
  color: #fff;
  font-size: 10.5pt;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
}
.popup-menu-content {
  padding: 1em 0em;
}
.popup-menu-item {
  padding: 0.4em 1em;
  spacing: 1em;
}
.popup-menu-item:active {
  background-color: #444;
}
.popup-menu-item:insensitive {
  color: #9f9f9f;
}
.popup-combobox-item {
  spacing: 1em;
}
.popup-separator-menu-item {
  height: 1px;
  width: 1em;
  border: 0px solid rgba(230,230,230,0.1);
  border-bottom-width: 1px;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
}
.popup-separator-menu-item:alternate {
  font-weight: bold;
}
.popup-slider-menu-item {
  height: 1em;
  min-width: 15em;
  -slider-height: 0.3em;
  -slider-background-color: #666;
  -slider-border-color: #666;
  -slider-active-background-color: #ccc;
  -slider-active-border-color: #ccc;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
  spacing: 0.5em;
}
.popup-inactive-menu-item {
  font-weight: normal;
  color: #999;
}
.popup-subtitle-menu-item {
  font-weight: bold;
}
.popup-menu-icon {
  icon-size: 1.1em;
}
.toggle-switch {
  width: 20px;
  height: 20px;
}
.toggle-switch-us,
.toggle-switch-intl {
  background-image: url("toggle-off.svg");
}
.toggle-switch-us:checked,
.toggle-switch-intl:checked {
  background-image: url("toggle-on.svg");
}
.nm-menu-item-icons {
  spacing: 0.5em;
}
.menu-favorites-box {
  padding: 10px;
  border-radius: 3px;
  background: #383838;
}
.menu-favorites-button {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.menu-favorites-button:hover {
  border-radius: 3px;
  background: #282828;
}
.menu-places-box {
  padding: 10px;
  border: 0px solid #666;
}
.menu-places-button {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.menu-categories-box {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.menu-applications-inner-box {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.menu-applications-outer-box {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.menu-application-button {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}
.menu-application-button:highlighted {
  font-weight: bold;
}
.menu-application-button-selected {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  color: #fff;
  background: #444;
  border-radius: 3px;
}
.menu-application-button-selected:highlighted {
  font-weight: bold;
}
.menu-application-button-label:ltr {
  padding-left: 5px;
}
.menu-application-button-label:rtl {
  padding-right: 5px;
}
.menu-category-button {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}
.menu-category-button-greyed {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  color: #9c9c9c;
  font-style: italic;
}
.menu-category-button-selected {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  color: #fff;
  background: #444;
  border-radius: 3px;
}
.menu-category-button-label:ltr {
  padding-left: 5px;
}
.menu-category-button-label:rtl {
  padding-right: 5px;
}
.menu-category-button-button:hover {
  background-color: #969696;
  border-radius: 8px;
}
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  height: 30px;
}
.menu-selected-app-box:rtl {
  padding-top: 10px;
  height: 30px;
}
.menu-selected-app-title {
  font-weight: bold;
}
.menu-selected-app-description {
  max-width: 150px;
}
.menu-search-box:ltr {
  padding-left: 30px;
}
.menu-search-box:rtl {
  padding-right: 30px;
}
#menu-search-entry {
  padding: 5px;
  border-radius: 2px;
  color: #808080;
  background: #eaeaea;
  box-shadow: 0 0 3px #000 inset;
  selected-color: #000;
  caret-color: #808080;
  caret-size: 1px;
  width: 250px;
  height: 15px;
  transition-duration: 300;
}
#menu-search-entry:hover {
  transition-duration: 300;
}
#menu-search-entry:focus {
  color: #404040;
  font-weight: bold;
  transition-duration: 0;
}
.menu-search-entry-icon {
  icon-size: 1.2em;
  color: #8d8f8a;
}
.menu-context-menu {
  background-color: #333;
}
.sound-player {
  padding: 0;
}
.sound-player StButton {
  width: 22px;
  height: 13px;
  padding: 6px;
  color: #aaa;
  border-radius: 2px;
}
.sound-player StButton:small {
  width: 16px;
  height: 8px;
  padding: 1px;
}
.sound-player StButton:small StIcon {
  icon-size: 1em;
}
.sound-player StButton:hover,
.sound-player StButton:active {
  color: #fff;
}
.sound-player StButton StIcon {
  icon-size: 1.5em;
}
.sound-player .slider {
  height: 0.5em;
  -slider-height: 0.5em;
  -slider-background-color: #3c3c3c;
  -slider-border-color: rgba(0,0,0,0);
  -slider-active-background-color: #a5a5a5;
  -slider-active-border-color: rgba(0,0,0,0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}
.sound-player StBoxLayout {
  spacing: 0.5em;
}
.sound-player > StBoxLayout {
  padding: 5px;
}
.sound-player > StBoxLayout:first-child {
  padding: 0.2em 1.2em 1em 1.2em;
  spacing: 0.6em;
  font-weight: bold;
}
.sound-player > StBoxLayout:first-child StButton:small > StIcon {
  icon-size: 1.25em;
}
.sound-player-overlay {
  width: 300px;
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(0,0,0,0.8);
  color: #fff;
}
.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}
.sound-player-generic-coverart {
  background: #222;
}
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}
.workspace-button {
  width: 20px;
  height: 12px;
  color: #d0d0d0;
  padding: 2px;
  transition-duration: 300;
}
.workspace-button:outlined {
  border-radius: 1px;
  background-color: #d0d0d0;
  color: #333;
}
.workspace-graph {
  padding-left: 3px;
  padding-right: 3px;
}
.workspace-graph .workspace {
  background: #404040;
}
.workspace-graph .workspace .windows {
  -active-window-background: #8c8c8c;
  -active-window-border: rgba(0,0,0,0.7);
  -inactive-window-background: #8c8c8c;
  -inactive-window-border: rgba(0,0,0,0.7);
}
.workspace-graph .workspace:active {
  background: #505050;
}
.workspace-graph .workspace:active .windows {
  -active-window-background: #d0d0d0;
  -active-window-border: #000;
  -inactive-window-background: #8c8c8c;
  -inactive-window-border: rgba(0,0,0,0.7);
}
.panel-launchers-box {
  padding-left: 3px;
  spacing: 2px;
}
.panel-launchers .launcher {
  padding-left: 1px;
  padding-right: 1px;
  border-bottom-width: 1px;
  transition-duration: 100;
}
.panel-launchers .launcher:hover {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,0);
  background-gradient-end: rgba(255,255,255,0.2);
  border: 0px solid rgba(255,255,255,0.5);
  border-bottom-width: 1px;
}
.panel-launchers .launcher .icon-box {
  padding-top: 2px;
}
.panel-launchers .vertical {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  spacing: 3px;
}
.panel-launchers .vertical .launcher .icon-box {
  padding-top: 0;
}
.panel-launcher-add-dialog-content-box {
  padding: 6px;
  spacing: 20px;
}
.panel-launcher-add-dialog-content-box-left {
  padding: 6px;
  spacing: 10px;
}
.panel-launcher-add-dialog-content-box-right {
  padding: 6px;
  spacing: 10px;
}
.panel-launcher-add-dialog-entry {
  padding: 5px;
  border-radius: 4px;
  color: #808080;
  border: 2px solid rgba(245,245,245,0.2);
  background-gradient-start: rgba(5,5,6,0.1);
  background-gradient-end: rgba(254,254,254,0.1);
  background-gradient-direction: vertical;
  selected-color: #000;
  caret-color: #808080;
  caret-size: 1px;
  width: 250px;
  transition-duration: 300;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}
.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover,
.panel-launcher-add-dialog-entry border: 2px solid rgb(136,
.panel-launcher-add-dialog-entry 138,
.panel-launcher-add-dialog-entry 133),
.panel-launcher-add-dialog-entry background-gradient-start: rgb(200,
.panel-launcher-add-dialog-entry 200,
.panel-launcher-add-dialog-entry 200),
.panel-launcher-add-dialog-entry background-gradient-end: white,
.panel-launcher-add-dialog-entry background-gradient-direction: vertical {
  transition-duration: 200;
}
.panel-launcher-add-dialog-entry:focus {
  color: #404040;
  font-weight: bold;
  transition-duration: 0;
}
.notification-applet-padding {
  padding: 0.5em 1em;
}
.notification-applet-container {
  max-height: 100px;
}
.check-box CinnamonGenericContainer {
  spacing: 0.2em;
}
.check-box StBin,
.check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("checkbox-off.svg");
}
.check-box:checked StBin,
.check-box:focus:checked StBin {
  background-image: url("checkbox.svg");
}
.check-box StLabel {
  font-weight: normal;
}
.radiobutton CinnamonGenericContainer {
  spacing: 0.2em;
  height: 18px;
  padding-top: 2px;
}
.radiobutton StBin,
.radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("radiobutton-off.svg");
  border-radius: 15px;
}
.radiobutton:checked StBin,
.radiobutton:focus:checked StBin {
  background-image: url("radiobutton.svg");
}
.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none;
}
.flashspot {
  background-color: #fff;
}
.osd-window {
  background: #222;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 20px;
  color: #fff;
  spacing: 1em;
}
.osd-window .level {
  height: 0.7em;
  background-color: rgba(190,190,190,0.2);
}
.tile-preview,
.tile-hud {
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.8);
}
.tile-preview .snap,
.tile-hud .snap {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.6);
}
.tile-hud:top {
  border-top-width: 0px;
  border-radius: 0px 0px 5px 5px;
}
.tile-hud:bottom {
  border-bottom-width: 0px;
  border-radius: 5px 5px 0px 0px;
}
.tile-hud:left {
  border-left-width: 0px;
  border-radius: 0px 5px 5px 0px;
}
.tile-hud:right {
  border-right-width: 0px;
  border-radius: 5px 0px 0px 5px;
}
.tile-hud:top-left {
  border-top-width: 0px;
  border-left-width: 0px;
  border-radius: 0px 0px 5px 0px;
}
.tile-hud:top-right {
  border-top-width: 0px;
  border-right-width: 0px;
  border-radius: 0px 0px 0px 5px;
}
.tile-hud:bottom-left {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 0px 5px 0px 0px;
}
.tile-hud:bottom-right {
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-radius: 5px 0px 0px 0px;
}
.panel-top .window-list-box .window-list-item-box {
  border-radius: 0 0 0 5px;
}
.panel-top .window-list-box .window-list-item-box:active,
.panel-top .window-list-box .window-list-item-box:checked,
.panel-top .window-list-box .window-list-item-box:focus,
.panel-top .window-list-box .window-list-item-box:hover {
  border-radius: 0 0 0 3px;
}
.panel-bottom .window-list-box .window-list-item-box {
  border-radius: 5px 0 0 0;
}
.panel-bottom .window-list-box .window-list-item-box:active,
.panel-bottom .window-list-box .window-list-item-box:checked,
.panel-bottom .window-list-box .window-list-item-box:focus,
.panel-bottom .window-list-box .window-list-item-box:hover {
  border-radius: 3px 0 0 0;
}
.panel-top .window-list-box,
.panel-bottom .window-list-box {
  padding-left: 10px;
  padding-top: 1px;
}
.panel-top .window-list-box .window-list-item-box,
.panel-bottom .window-list-box .window-list-item-box {
  padding-left: 1px;
  background-gradient-direction: horizontal;
  background-gradient-start: #383838;
  background-gradient-end: #222;
  border: 0px solid #484848;
  border-left-width: 1px;
}
.panel-top .window-list-box .window-list-item-box:active,
.panel-bottom .window-list-box .window-list-item-box:active,
.panel-top .window-list-box .window-list-item-box:checked,
.panel-bottom .window-list-box .window-list-item-box:checked,
.panel-top .window-list-box .window-list-item-box:focus,
.panel-bottom .window-list-box .window-list-item-box:focus {
  background-gradient-start: #626262;
  background-gradient-end: #505050;
  border: 0 solid #000;
  padding-left: 2px;
}
.panel-top .window-list-box .window-list-item-box:active:hover,
.panel-bottom .window-list-box .window-list-item-box:active:hover,
.panel-top .window-list-box .window-list-item-box:checked:hover,
.panel-bottom .window-list-box .window-list-item-box:checked:hover,
.panel-top .window-list-box .window-list-item-box:focus:hover,
.panel-bottom .window-list-box .window-list-item-box:focus:hover {
  background-gradient-start: #707070;
  background-gradient-end: #606060;
  border-bottom: none;
}
.panel-top .window-list-box .window-list-item-box:hover,
.panel-bottom .window-list-box .window-list-item-box:hover {
  background-gradient-start: #454545;
  background-gradient-end: #303030;
  color: #e8e8e8;
  border-color: #4b4b4b;
  border-bottom: 0px;
}
.panel-top .window-list-box .window-list-item-box .progress,
.panel-bottom .window-list-box .window-list-item-box .progress {
  border-radius: 0 0 3px 3px;
}
.panel-left .window-list-box,
.panel-right .window-list-box {
  border: 0px solid #303030;
  border-top-width: 1px;
}
.panel-left .window-list-box .window-list-item-box,
.panel-right .window-list-box .window-list-item-box {
  background-color: #222;
}
.panel-left .window-list-box .window-list-item-box:active,
.panel-right .window-list-box .window-list-item-box:active,
.panel-left .window-list-box .window-list-item-box:checked,
.panel-right .window-list-box .window-list-item-box:checked,
.panel-left .window-list-box .window-list-item-box:focus,
.panel-right .window-list-box .window-list-item-box:focus {
  background-color: #505050;
}
.panel-left .window-list-box .window-list-item-box:active:hover,
.panel-right .window-list-box .window-list-item-box:active:hover,
.panel-left .window-list-box .window-list-item-box:checked:hover,
.panel-right .window-list-box .window-list-item-box:checked:hover,
.panel-left .window-list-box .window-list-item-box:focus:hover,
.panel-right .window-list-box .window-list-item-box:focus:hover {
  background-color: #606060;
}
.panel-left .window-list-box .window-list-item-box:hover,
.panel-right .window-list-box .window-list-item-box:hover {
  background-color: #303030;
  color: #e8e8e8;
}
.window-list-box .window-list-item-box {
  transition-duration: 100;
  color: #d0d0d0;
}
.window-list-box .window-list-item-box:active,
.window-list-box .window-list-item-box:checked,
.window-list-box .window-list-item-box:focus {
  box-shadow: 0 0 3px #141414 inset;
}
.window-list-box .window-list-item-box:active .progress,
.window-list-box .window-list-item-box:checked .progress,
.window-list-box .window-list-item-box:focus .progress {
  box-shadow: 0 0 3px #141414 inset;
}
.window-list-box .window-list-item-box .progress {
  background-color: #02738e;
}
.window-list-item-label {
  font-weight: bold;
  width: 15em;
  min-width: 5px;
}
.window-list-item-demands-attention {
  background-gradient-start: #03b8e3;
  background-gradient-end: #039fc4;
  color: #222;
}
.window-list-item-demands-attention:hover {
  background-gradient-start: #0390b2;
  background-gradient-end: #02738e;
}
#keyboard {
  background-color: rgba(0,0,0,0.5);
}
.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}
.keyboard-row {
  spacing: 15px;
}
.keyboard-key {
  min-height: 30px;
  min-width: 30px;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #888;
  color: #fff;
  background: rgba(48,48,48,0.85);
  box-shadow: 1px 1px 3px #555;
}
.keyboard-key:grayed {
  color: #808080;
  border-color: #808080;
}
.keyboard-key:checked,
.keyboard-key:hover {
  background: #282828;
  border: 1px solid #fff;
}
.keyboard-key:active {
  background: #ddd;
  color: #000;
  border: 1px solid #ddd;
}
.keyboard-subkeys {
  color: #fff;
  padding: 5px;
  -arrow-border-radius: 4px;
  -arrow-background-color: rgba(34,34,34,0.7);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(68,68,68,0.7);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}
.calendar {
  padding: 0.4em 1.75em;
  spacing-rows: 0.7em;
  spacing-columns: 0.7em;
}
.calendar-month-label {
  color: #ccc;
  font-size: 1em;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
}
.calendar-change-month-back,
.calendar-change-month-forward {
  width: 18px;
  height: 12px;
  border-radius: 2px;
}
.calendar-change-month-back {
  background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-back:rtl {
  background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-back:hover {
  background-image: url("calendar-arrow-left-hover.svg");
}
.calendar-change-month-forward {
  background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-forward:rtl {
  background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-forward:hover {
  background-image: url("calendar-arrow-right-hover.svg");
}
.datemenu-date-label {
  padding: 0.4em 1.75em;
  font-size: 1.1em;
  text-align: center;
  color: #e0e0e0;
  font-weight: bold;
}
.calendar-day-base {
  font-size: 0.9em;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
}
.calendar-day-heading {
  color: #d0d0d0;
  font-weight: bold;
  padding-top: 0.5em;
/* there is yet no way to vertical-align, sadly */
}
.calendar-week-number {
  color: #d0d0d0;
  font-weight: bold;
}
.calendar-work-day {
  color: #d0d0d0;
  font-weight: bold;
}
.calendar-nonwork-day {
  color: #c0c0c0;
  font-weight: normal;
}
.calendar-today {
  background: #d0d0d0;
  color: #222;
  border-radius: 1.5em;
  font-weight: bold;
}
.calendar-other-month-day {
  color: #666;
  font-weight: normal;
}
.calendar-day-with-events {
  font-weight: bold;
  color: #fff;
}
.applet-separator {
  padding: 5px 4px;
}
.applet-separator-line {
  width: 1px;
  background: #555;
}
.applet-separator-line-vertical {
  border: 0px solid rgba(255,255,255,0.5);
  border-bottom-width: 2px;
}
.applet-box {
  padding-left: 3px;
  padding-right: 3px;
  spacing: 3px;
  color: #d0d0d0;
  transition-duration: 100;
}
.applet-box:hover {
  color: #fff;
  background-color: #555;
  border-radius: 1px;
}
.applet-box:hover > .applet-label {
  color: #fff;
  text-shadow: #fff 0px 0px 5px;
}
.applet-box .vertical {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.applet-box:highlight {
  background-color: #a55;
}
.applet-label {
  font-weight: bold;
  color: #d0d0d0;
}
.applet-icon {
  color: #d0d0d0;
  icon-size: 22px;
}
.desklet {
  color: #fff;
}
.desklet:highlight,
.desklet:highlight-with-borders,
.desklet:highlight-with-borders-and-header {
  background-color: #a55;
}
.desklet-with-borders {
  border: 1px solid #333;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 3px;
}
.desklet-with-borders-and-header {
  border: 2px solid #a5a5a5;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  border-top: 1px;
  border-radius-bottomleft: 12px;
  border-radius-bottomright: 12px;
}
.desklet-header {
  border-radius: 3px;
  font-size: 10.5pt;
  border: 1px solid #333;
  border-bottom: 0px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 6px;
}
.desklet-drag-placeholder {
  border: 1px solid #20aa00;
  background-color: rgba(109,170,0,0.3);
}
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
  padding-bottom: 16px;
}
.about-title {
  font-size: 2em;
  font-weight: bold;
}
.about-uuid {
  font-size: 0.8em;
}
.about-icon {
  padding-right: 20px;
}
.about-scrollBox {
  border: solid 1px #808080;
  border-radius: 2px;
}
.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}
.about-description {
  padding-top: 4px;
}
.about-version {
  padding-left: 7px;
}
