stage {
  color: white; }

#Tooltip, .window-caption {
  padding: 2px 12px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  background-gradient-start: #2c2c2e;
  background-gradient-end: #131111;
  background-gradient-direction: vertical; }

#panel {
  border-image: url('panel-assets/panel.png') 80 0 0 0;
  padding: 1px 0 0 0; }

.applet-box {
  padding: 1px 6px 0 6px; }

.applet-box:hover, .applet-box:checked, .applet-box:active {
  border-image: url('panel-assets/tray-pressed.png') 6; }

.applet-cornerbar {
  padding: 6px;
  background-color: rgba(255,255,255,0.2); }

.applet-cornerbar-box:hover > .applet-cornerbar {
  background-color: rgba(255,255,255,0.4); }

.popup-menu-content {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  background-gradient-start: #2c2c2e;
  background-gradient-end: #131111;
  background-gradient-direction: vertical; }

.popup-menu-item, .appmenu-application-button, .appmenu-category-button,
.menu-application-button, .menu-category-button {
  padding: 7px;
  spacing: 7px; }

.popup-menu-item:hover, .appmenu-application-button-selected, .appmenu-category-button-selected,
.menu-application-button-selected, .menu-category-button-selected {
  padding: 7px;
  spacing: 7px;
  border-image: url('hover.png') 8; }

.popup-sub-menu {
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #3d3d3d; }

.popup-separator-menu-item {
  border: 1px solid #3d3d3d; }

.appmenu-application-button-description {
  font-size: 9pt;
  color: rgba(255,255,255,0.65); }

.appmenu-sidebar {
  padding: 15px 7px 15px 7px; 
  background-color: rgba(255,255,255,0.1); }

.appmenu-sidebar-button {
  padding: 5px;
  spacing: 5px; }

 .appmenu-sidebar-button:hover {
  padding: 5px;
  spacing: 5px;
  border-image: url('hover.png') 8; }

.appmenu-system-button-lock, .appmenu-system-button-logout {
  padding: 8px;
  margin: 1px; 
  border-radius: 5px;
  background-gradient-start: rgb(93,111,137);
  background-gradient-end: rgb(71,85,105);
  background-gradient-direction: vertical; }

.appmenu-system-button-lock:hover, .appmenu-system-button-logout:hover {
  background-gradient-start: rgb(114,136,168);
  background-gradient-end: rgb(93,111,137);
  background-gradient-direction: vertical; }

.appmenu-system-button-shutdown {
  padding: 8px;
  margin: 1px; 
  border-radius: 5px;
  background-gradient-start: rgb(201,60,60);
  background-gradient-end: rgb(181,40,40);
  background-gradient-direction: vertical; }

.appmenu-system-button-shutdown:hover {
  background-gradient-start: rgb(237,71, 71);
  background-gradient-end: rgb(219,50,50);
  background-gradient-direction: vertical; }

.user-icon {
  border-radius: 7px; }

.menu-favorites-box {
  padding: 7px 7px;
  border-radius: 7px;
  background-gradient-start: rgb(100,100,100);
  background-gradient-end: rgb(70,70,70);
  background-gradient-direction: vertical; }

.menu-favorites-button {
  padding: 7px 7px; }

.menu-favorites-button:hover {
  padding: 7px 7px;
  border-image: url('hover.png') 8; }

.calendar-day-base {
  padding: 7px; }

.calendar-day-base:hover {
  padding: 7px; 
  border-image: url('hover.png') 8; }

.calendar-today { 
  border-image: url('hover.png') 8; 
  font-weight: normal; }

.calendar-today:hover {
  font-weight: bold; }

.calendar-change-month-back {
  padding: 10px;
  background-image: url("cinnamon-assets/calendar-arrow-left.svg"); }

.calendar-change-month-forward {
  padding: 10px;
  background-image: url("cinnamon-assets/calendar-arrow-right.svg"); }

StScrollBar StButton {
  border-radius: 3px;
  background-color: rgba(255,255,255,0.45); }

StScrollBar StButton:hover {
  background-color: rgba(255,255,255,0.75); }

StScrollBar StBin#trough {
  border-radius: 3px;
  background-color: rgba(140,140,140,0.25); }

#appmenu-search-entry, #appmenu-search-entry:focus, #appmenu-search-entry:hover,
#menu-search-entry, #menu-search-entry:focus, #menu-search-entry:hover,
.run-dialog-entry, .prompt-dialog-password-entry {
  padding: 8px;
  border-radius: 5px;
  background-gradient-start: rgb(100,100,100);
  background-gradient-end: rgb(70,70,70);
  background-gradient-direction: vertical; }

.run-dialog-entry, .prompt-dialog-password-entry {
  min-width: 250px; }

.run-dialog, .prompt-dialog, #LookingGlassDialog, .modal-dialog, .dialog {
  padding: 1em 2em;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  background-gradient-start: #2c2c2e;
  background-gradient-end: #131111;
  background-gradient-direction: vertical; }

.dialog-button {
  padding: 1em 3em 1em 3em; 
  margin: 2px 2px;
  border-radius: 7px;
  font-weight: bold;
  background-gradient-start: #4c4c4e;
  background-gradient-end: #2c2c2e;
  background-gradient-direction: vertical; }

.dialog-button:focus {
  background-gradient-start: #6c6c6e;
  background-gradient-end: #4c4c4e;
  background-gradient-direction: vertical; }

.dialog-button:hover, .dialog-button:active {
  background-gradient-start: #7c7c7e;
  background-gradient-end: #5c5c5e;
  background-gradient-direction: vertical; }

.dialog-button:destructive-action {
  background-gradient-start: rgb(201,60,60);
  background-gradient-end: rgb(181,40,40);
  background-gradient-direction: vertical; }

.dialog-button:destructive-action:focus {
  background-gradient-start: rgb(237,71, 71);
  background-gradient-end: rgb(219,50,50);
  background-gradient-direction: vertical; }

.dialog-button:destructive-action:hover, .dialog-button:destructive-action:active {
  background-color: rgb(255,100,100); }

.polkit-dialog-user-combo {
  margin-top: 3px;
  font-size: 11pt;
  font-weight: bold; 
  background-color: none; }

.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain; }

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("cinnamon-assets/switch-off.svg"); }

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("cinnamon-assets/switch-on.svg"); }

.grouped-window-list-thumbnail-menu {
  margin: 4px;
  border-radius: 5px;
  background-gradient-start: #2c2c2e;
  background-gradient-end: #131111;
  background-gradient-direction: vertical; }

.grouped-window-list-thumbnail-menu .item-box {
  background-color: transparent; }

.grouped-window-list-thumbnail-menu .item-box:selected {
  border-radius: 5px;
  background-gradient-start: #4c4c4e;
  background-gradient-end: #2c2c2e;
  background-gradient-direction: vertical; }

.window-close {
  background-image: url('cinnamon-assets/close.svg'); }

.switcher-list {
  padding: 7px 7px; 
  border-radius: 5px;
  background-gradient-start: #2c2c2e;
  background-gradient-end: #131111;
  background-gradient-direction: vertical; }

.switcher-list .item-box {
  padding: 10px; }

.switcher-list .item-box:selected {
  padding: 10px;    
  border-radius: 5px;
  background-gradient-start: #4c4c4e;
  background-gradient-end: #2c2c2e;
  background-gradient-direction: vertical; }

/* Stark Menu support */
.starkmenu-favorites-box {
  border-radius: 2px;
  background-gradient-start: rgb(60,60,60);
  background-gradient-end: rgb(40,40,40);
  background-gradient-direction: vertical; }

/* ===================================================================
* Window list (windowList.js)
* ===================================================================*/
.window-list-box {
  spacing: 1px;
  padding: 0;
}

.window-list-item-label {
  font-weight: normal;
  width: 15em;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 5px;
}

.window-list-item-box {
  background: transparent;
  transition-duration: 200;
  color: #FFF;
  max-width: 134px;
}

/* normal */
.window-list-item-box {
  font-weight: normal;
  font-size: 9pt;
  border-image: url("panel-assets/item-normal.png") 4;
}

.window-list-item-box:hover  {
  border-image:url("panel-assets/item-hover.png") 4;
}

/* active window */
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {
  border-image: url("panel-assets/item-active.png") 4;
}

/* active hover */
.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover,
.window-list-item-box:active:hover  {
  border-image: url("panel-assets/item-active-hover.png") 4;
}

/* urgent */
.window-list-item-demands-attention {
  border-image: url("panel-assets/item-attention.png") 4;
}

/* urgent hover */
.window-list-item-demands-attention:hover {
  border-image: url("panel-assets/item-attention-hover.png") 4;
}

/* experimental support for grouped window list */
.grouped-window-list-item-box {
  color: #ffffff;
  font-weight: normal;
  border-image: none;
  transition-duration: 100;
}

.grouped-window-list-item-box:hover {
  border-image: url("panel-assets/tray-hover.png") 4;
}

.grouped-window-list-item-box:active,
.grouped-window-list-item-box:checked {
  border-image: url("panel-assets/item-normal.png") 4;
}

.grouped-window-list-item-box:active:hover,
.grouped-window-list-item-box:checked:hover {
  border-image: url("panel-assets/item-hover.png") 4;
}

.grouped-window-list-item-box:focus {
  border-image: url("panel-assets/item-active.png") 4;
}

.grouped-window-list-item-box:focus:hover {
  border-image: url("panel-assets/item-active-hover.png") 4;
}

.grouped-window-list-item-demands-attention {
  font-weight: normal;
  border-image: url("panel-assets/item-attention.png") 4;
}

.grouped-window-list-item-attention:hover {
  border-image: url("panel-assets/item-attention-hover.png") 4;
}

.window-list-item-box .progress,
.grouped-window-list-item-box .progress {
  background-color: #4b7843;
}
