style "default" {
    # START
    # Display scroll bar arrows in all gtk2 applications.
    # NOTE: I changed the left/right arrows. The originals were too big.
    #       I symply used the up/down small arrows and rotate them.
    GtkRange::slider-width					= 13
    GtkRange::stepper-size					= 13
    GtkRange::trough-under-steppers			= 1
    GtkScrollbar::has-backward-stepper		= 1
    GtkScrollbar::has-forward-stepper		= 1
    GtkScrollbar::slider-width				= 13
    GtkScrollbar::trough-border				= 2
    # END
    # Display scroll bar arrows in all gtk2 applications.
}
