# The dark_toolbar used in gtk2-nautilus or pcmanfm (filemanager.rc) will be extand to these gtk2 applications :

# Evince/EOG
widget_class "*EggEditable*Toolbar*"				style "dark_toolbar"
widget_class "*EggEditable*Toolbar*.*.*.*"			style "dark_toolbar"
widget_class "*EggEditable*Tool*.<GtkComboBox>.<GtkCellView>"	style "dark-combobox-text"
#widget "*fullscreen-toolbar"				style "dark_toolbar"
#widget "*fullscreen-toolbar.*"				style "dark_toolbar"
#widget "*fullscreen-toolbar*.GtkComboBox.GtkCellView"	style "dark-combobox-text"

# EOM (Linux Mint)
widget_class "*Eom*Toolbar*"				style "dark_toolbar"
widget_class "*Eom*Toolbar*.*.*.*"			style "dark_toolbar"
widget_class "*Eom*Tool*.<GtkComboBox>.<GtkCellView>"	style "dark-combobox-text"

# Epiphany
widget_class "*EphyToolbar*"				style "dark_toolbar"
widget_class "*EphyToolbar*.*.*.*"			style "dark_toolbar"
widget_class "*EphyTool*.<GtkComboBox>.<GtkCellView>"	style "dark-combobox-text"
 
# Brasero
widget_class "*rasero*Toolbar*"					style "dark_toolbar" 
widget_class "*rasero*Toolbar*.*"				style "dark_toolbar" 
widget_class "*rasero*Toolbar*.<GtkComboBox>.<GtkCellView>"	style "dark-combobox-text"

#gThumb
widget_class "*Gth*Toolbar*"					style "dark_toolbar" 
widget_class "*Gth*Toolbar*.*"					style "dark_toolbar" 
widget_class "*Gth*Toolbar*.<GtkComboBox>.<GtkCellView>"	style "dark-combobox-text"
widget_class "*Gth*Full*"					style "dark_toolbar"			#Doesn't work
