.icon-grid {
   spacing:30px;
   -shell-grid-horizontal-item-size:136px;
   -shell-grid-vertical-item-size:136px;
}

.icon-grid .overview-icon {
   icon-size:96px;
}

.app-view-controls {
   padding-bottom:30px;
}

.app-view-control {
   padding:15px 35px;
   border-radius:3px;
   background:transparent;
   background-gradient-direction:vertical;
   background-gradient-start:transparent;
   background-gradient-end:transparent;
   box-shadow:none;
   border:0;
   margin:0 5px;
}

.app-view-control:hover {
   background-gradient-direction:vertical;
   background-gradient-start:transparent;
   background-gradient-end:transparent;
}

.app-view-control:checked {
   color:$type;
   background-gradient-direction:vertical;
   background-gradient-start:$blue;
   background-gradient-end:$blue;
   box-shadow:none;
   text-shadow:none;
   icon-shadow:none;
}

.search-provider-icon:active,
.search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
   background-color:rgba(23,25,26,.9);
}

.search-provider-icon:focus,
.search-provider-icon:selected,
.search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
   background-color:rgba(238,238,236,.1);
   transition-duration:200ms;
}

.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
   background-color:rgba(255,255,255,.1);
   box-shadow:none;
}

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
   background-color:rgba(255,255,255,.1);
   transition-duration:0ms;
   border-image:none;
   background-image:none;
}

.app-well-app-running-dot {
   width:10px;
   height:3px;
   background-color:$blue;
   margin:0;
}

.search-provider-icon,
.list-search-result,
.app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
   color:$type;
   border-radius:6px;
   padding:10px;
   border:1px solid transparent;
   transition-duration:100ms;
   text-align:center;
}

.app-well-app.app-folder > .overview-icon {
   background-color:rgba(0,0,0,.25);
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
   color:$type;
   transition-duration:100ms;
}

.app-folder-popup {
   -arrow-border-radius:6px;
   -arrow-background-color:rgba(0,0,0,.5);
   -arrow-base:24px;
   -arrow-rise:11px;
}

.app-folder-popup-bin {
   padding:5px;
}

.app-folder-icon {
   padding:5px;
   spacing-rows:5px;
   spacing-columns:5px;
}

.page-indicator {
   padding:15px 20px;
}

.page-indicator .page-indicator-icon {
   width:18px;
   height:18px;
   background-image:url(resource:///org/gnome/shell/theme/page-indicator-inactive.svg);
}

.page-indicator:hover .page-indicator-icon {
   background-image:url(resource:///org/gnome/shell/theme/page-indicator-hover.svg);
}

.page-indicator:active .page-indicator-icon {
   background-image:url(resource:///org/gnome/shell/theme/page-indicator-active.svg);
}

.page-indicator:checked .page-indicator-icon,.page-indicator:checked:active {
   background-image:url(resource:///org/gnome/shell/theme/page-indicator-checked.svg);
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
   padding:10px 10px 5px 10px;
   spacing:5px;
}
