#calendarArea {
   padding:0.75em 1.0em;
}

/* Calendar Area */

.calendar {
   margin-bottom:1em;
}

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
   margin:0 1.5em;
}

.datemenu-calendar-column {
   spacing:0.5em;
}

.datemenu-displays-section {
   padding-bottom:3em;
}

.datemenu-today-button,
.world-clocks-button,
.message-list-section-title {
   border-radius:2px;
   padding:10px;
}

.message-list-section-list:ltr {
   padding-left:.4em;
}

.message-list-section-list:rtl {
   padding-right:.4em;
}

.datemenu-today-button:hover,
.datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.message-list-section-title:hover,
.message-list-section-title:focus {
   background-color:$greyHover;
}

.datemenu-today-button:active,
.world-clocks-button:active,
.message-list-section-title:active {
   color:$type;
   background-color:$greyHover;
}

.datemenu-today-button .date-label {
   font-size:1.5em;
}

.world-clocks-header,
.message-list-section-title {
   color:$type;
   font-weight:bold;
}

.world-clocks-grid {
   spacing-rows:0.4em;
}

.calendar-month-label {
   color:$type;
   font-weight:bold;
   padding:8px 0;
}

.pager-button {
   color:$type;
   background-color:transparent;
   width:32px;
   border-radius:2px;
}

.pager-button:hover,
.pager-button:focus {
   background-color:$greyHover;
}

.pager-button:active {
   background-color:transparent;
}

.calendar-change-month-back {
   background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-left.svg);
}

.calendar-change-month-back:rtl {
   background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-right.svg);
}

.calendar-change-month-forward {
   background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-right.svg);
}

.calendar-change-month-forward:rtl {
   background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-left.svg);
}

.calendar-day-base {
   font-size:80%;
   text-align:center;
   width:2.4em;
   height:2.4em;
   padding:0.1em;
   margin:2px;
   border-radius:1.4em;
}

.calendar-day-base:hover,
.calendar-day-base:focus {
   background-color:$greyHover;
}

.calendar-day-base:active {
   color:$type;
   background-color:$blue;
   border-color:transparent;
}

.calendar-day-base.calendar-day-heading {
   color:$typeInactive;
   margin-top:1em;
   font-size:70%;
   font-weight:bold;
}

.calendar-day {
   border-width:0;
}

.calendar-day-top {
   border-top-width:1px;
}

.calendar-day-left {
   border-left-width:1px;
}

.calendar-nonwork-day {
   color:$typeInactive;
}

.calendar-today {
   font-weight:bold;
   border:1px solid $blue;
}

.calendar-day-with-events {
   color:$type;
   font-weight:bold;
}

.calendar-other-month-day {
   color:$typeInactiveMore;
   opacity:.5;
}

/* Message list */

.message-list {
   width:420px;
}

.message-list-sections {
   spacing:1.5em;
}

.message-list-section,
.message-list-section-list {
   spacing:0.7em;
}

.message-list-section-title-box {
   spacing:0.4em;
}

.message-list-section-close > StIcon {
   icon-size:16px;
   border-radius:8px;
   color:#fff;
   background-color:rgba(0,0,0,.25);
}

.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
   background-color:rgba(0,0,0,.15);
}

.message {
   background-color:$greyHover;
   border-radius:3px;
   transition-duration:200ms;
}

.message:hover,.message:focus {
   background-color:lighten($greyHover, 2%);
}

.message-icon-bin {
   padding:10px 0px 10px 10px;
}

.message-icon-bin:rtl {
   padding:10px 10px 10px 0px;
}

.message-icon-bin > StIcon {
   icon-size:48px;
}

.message-secondary-bin {
   color:$typeInactive;
}

.message-secondary-bin > StIcon {
   icon-size:16px;
}

.message-title {
   font-weight:bold;
}

.message-content {
   padding:10px;
}
