.candidate-popup-content {
   padding:0.5em;
   spacing:0.3em;
}

.candidate-index {
   padding:0 0.5em 0 0;
   color:$typeInactive;
}

.candidate-box {
   padding:0.3em 0.5em 0.3em 0.5em;
   border-radius:6px;
}

.candidate-box:selected,
.candidate-box:hover {
   background-color:$blue;
   color:$type;
}

.candidate-page-button-box {
   height:2em;
}

.vertical {
   .candidate-page-button-box {
      padding-top:0.5em;
   }
}

.horizontal {
   .candidate-page-button-box {
      padding-left:0.5em;
   }
}

.candidate-page-button {
   padding:5px;
}

.candidate-page-button-previous {
   border-radius:5px 0px 0px 5px;
   border-right-width:0;
}

.candidate-page-button-next {
   border-radius:0px 5px 5px 0px;
}

.candidate-page-button-icon {
   icon-size:1em;
}
