.chat-body {
   spacing:5px;
}

.chat-response {
   margin:5px;
}

.chat-log-message {
   color:$typeInactive;
}

.chat-new-group {
   padding-top:1em;
}

.chat-received {
   padding-left:5px;
}

.chat-received:rtl {
   padding-left:0px;
   padding-right:5px;
}

.chat-sent {
   padding-left:18pt;
   color:$typeInactiveMore;
}

.chat-sent:rtl {
   padding-left:0;
   padding-right:18pt;
}

.chat-meta-message {
   padding-left:5px;
   font-size:9pt;
   font-weight:bold;
   color:$typeInactive;
}

.chat-meta-message:rtl {
   padding-left:0;
   padding-right:5px;
}
