/* Checkboxes */

.check-box StBoxLayout {
   spacing:.8em;
}

.check-box StBin {
   width:24px;
   height:22px;
   background-image:url(resource:///org/gnome/shell/theme/checkbox-off.svg);
}

.check-box:focus StBin {
   background-image:url(resource:///org/gnome/shell/theme/checkbox-off-focused.svg);
}

.check-box:checked StBin {
   background-image:url(resource:///org/gnome/shell/theme/checkbox.svg);
}

.check-box:focus:checked StBin {
   background-image:url(resource:///org/gnome/shell/theme/checkbox-focused.svg);
}

/* Switches */

.toggle-switch {
   width:65px;
   height:22px;
   background-size:contain;
}

.toggle-switch-us {
   background-image:url(resource:///org/gnome/shell/theme/toggle-off-us.svg);
}

.toggle-switch-us:checked {
   background-image:url(resource:///org/gnome/shell/theme/toggle-on-us.svg);
}

.toggle-switch-intl {
   background-image:url(resource:///org/gnome/shell/theme/toggle-off-intl.svg);
}

.toggle-switch-intl:checked {
   background-image:url(resource:///org/gnome/shell/theme/toggle-on-intl.svg);
}

/* Links */

.shell-link {
   color:rgba(25,255,220,.67);
}

.shell-link:hover {
   color:rgba(76,255,228,.67);
}
