StEntry {
   border-radius:2px;
   padding:10px;
   border-width:0;
   color:#333;
   background-color:rgba(255,255,255,.25);
   box-shadow:none;
   selection-background-color:$blue;
   selected-color:#ffffff;
   transition-duration:200ms;

   &:focus {
       background:#fff;
       box-shadow:none;
       border:0;
   }

   &:insensitive {
      color:rgba(133,133,132,.94);
      box-shadow:none;
   }

   StIcon.capslock-warning {
      icon-size:16px;
      warning-color:#f57900;
      padding:0 4px;
   }
}

/* Search Entry Styles */

.search-entry {
   width:480px;
   padding:15px;
   color:rgba(255,255,255,.75);
   border-radius:3px;

   .search-entry-icon {
      icon-size:1em;
      padding:0 4px;
      color:rgba(255,255,255,.75);
   }

   &:focus {
      padding:15px;
      border-width:0;
      color:#333;

      .search-entry-icon {
         color:#333;
      }
   }
}
