.hotplug-transient-box {
   spacing:5px;
   padding:2px 72px 2px 12px;
}

.hotplug-notification-item {
   padding:2px 10px;

   &:focus {
      padding:1px 71px 1px 11px;
   }
}

.hotplug-notification-item-icon {
   icon-size:24px;
   padding:2px 5px;
}

.hotplug-resident-box {
   spacing:8px;
}

.hotplug-resident-mount {
   spacing:8px;
   border-radius:6px;
}

.hotplug-resident-mount:hover {
   background-color:$modalPopoverDarkBg;
}

.hotplug-resident-mount-label {
   color:inherit;
   padding-left:5px;
}

.hotplug-resident-mount-icon {
   icon-size:24px;
   padding-left:5px;
}

.hotplug-resident-eject-icon {
   icon-size:16px;
}

.hotplug-resident-eject-button {
   padding:7px;
   border-radius:6px;
   color:pink;
}
