.legacy-tray {
   background-color:transparent;
   border:1px solid transparent;
   border-bottom-width:0;
   display:none;
   opacity:0;
   width:0px;
   height:0px;
   overflow:hidden;
}

.legacy-tray:ltr {
   border-radius:0 3px 0 0;
   border-left-width:0;
}

.legacy-tray:rtl {
   border-radius:3px 0 0 0;
   border-right-width:0;
}

.legacy-tray-handle,
.legacy-tray-icon {
   padding:5px;
   display:none;
   opacity:0;
}

.legacy-tray-handle StIcon,
.legacy-tray-icon StIcon {
   icon-size:24px;
   display:none;
   opacity:0;
}

.legacy-tray-handle:hover,
.legacy-tray-handle:focus,
.legacy-tray-icon:hover,
.legacy-tray-icon:focus {
   background-color:#282828;
   display:none;
   opacity:0;
}

.legacy-tray-icon-box {
   spacing:15px;
   display:none;
   opacity:0;
}

.legacy-tray-icon-box:ltr {
   padding-left:15px;
}

.legacy-tray-icon-box:rtl {
   padding-right:15px;
}

.legacy-tray-icon-box {
   StButton {
      width:24px;
      height:24px;
   }
}

.magnifier-zoom-region {
   border:2px solid #215d9c;
}

.magnifier-zoom-region.full-screen {
   border-width:0;
}
