#LookingGlassDialog {
   background-color:rgba(0,0,0,.8);
   spacing:10px;
   padding:30px;
   border:0;
   border-radius:6px;

   > #Toolbar {
      border:0;
      background:rgba(255,255,255,.1);
      border-radius:2px;
      padding:10px;
   }

   .labels {
      spacing:5px;
   }

   .notebook-tab {
      -natural-hpadding:15px;
      -minimum-hpadding:5px;
      font-weight:bold;
      color:#c0c0c0;
      transition-duration:100ms;
      padding-left:.3em;
      padding-right:.3em;
   }

   .notebook-tab:hover {
      color:#fff;
      text-shadow:none;
   }

   .notebook-tab:selected {
      border-bottom-width:0;
      color:#fff;
      text-shadow:none;
   }

   StBoxLayout#EvalBox {
      padding:5px;
      spacing:5px;
   }

   StBoxLayout#ResultsArea {
      spacing:5px;
   }
}

.lg-dialog {
   StEntry {
      selection-background-color:#bbb;
      selected-color:#333;
   }

   .shell-link {
      color:#999;
   }

   .shell-link:hover {
      color:#ddd;
   }
}

.lg-completions-text {
   font-size:.9em;
   font-style:italic;
}

.lg-obj-inspector-title {
   spacing:5px;
}

#lookingGlassExtensions {
   padding:0;
}

.lg-extensions-list {
   padding:0;
   spacing:5px;
}

.lg-extension {
   border:0;
   background:rgba(255,255,255,.1);
   border-radius:2px;
   padding:10px;
}

.lg-extension-name {
   font-weight:bold;
}

.lg-extension-meta {
   spacing:5px;
}

#LookingGlassPropertyInspector {
   background-color:$modalPopoverBg;
   border:1px solid $modalPopoverBorder;
   border-radius:6px;
   padding:15px;
}
