/* General Styles */

.headline {
   font-size:110%;
}

.lightbox {
   background-color:#000;
}

.flashspot {
   background-color:#fff;
}

.modal-dialog {
   border-radius:6px;
   color:$type;
   background-color:transparent;
   background-color:$modalPopoverBg;
   border:0;
   box-shadow:0px 0px 5px 0px rgba(0,0,0,.35);
   padding:30px;

   .run-dialog-entry {
      width:20em;
      margin-bottom:15px;
   }

   .run-dialog-error-box {
      padding:0 0 10px;
      spacing:10px;
   }

   .run-dialog-button-box {
      padding-top:15px;
   }
}

.button-dialog-button-box {
   spacing:20px;
   padding-top:50px;
}

/* End Session Dialog */

.end-session-dialog {
   spacing:30px;
}

.end-session-dialog-list {
   padding-top:0;
}

.end-session-dialog-layout {
   padding-left:20px;
}

.end-session-dialog-layout:rtl {
   padding-right:20px;
}

.end-session-dialog-description {
   width:28em;
   padding-bottom:15px;
}

.end-session-dialog-description:rtl {
   text-align:right;
}

.end-session-dialog-warning {
   width:28em;
   color:#f57900;
   padding-top:15px;
}

.end-session-dialog-warning:rtl {
   text-align:right;
}

.end-session-dialog-logout-icon {
   border-radius:5px;
   width:48px;
   height:48px;
   background-size:contain;
}

.end-session-dialog-shutdown-icon {
   color:$type;
   width:48px;
   height:48px;
}

.end-session-dialog-inhibitor-layout {
   spacing:16px;
   max-height:200px;
   padding-right:65px;
   padding-left:65px;
}

.end-session-dialog-session-list,
.end-session-dialog-app-list {
   spacing:0;
}

.end-session-dialog-list-header {
   font-weight:bold;
}

.end-session-dialog-list-header:rtl {
   text-align:right;
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
   spacing:1em;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
   font-weight:bold;
}

.end-session-dialog-app-list-item-description {
   color:#fff;
   font-size:10pt;
}

/* ShellMountOperation Dialogs */

.shell-mount-operation-icon {
   icon-size:48px;
}

.show-processes-dialog,
.mount-question-dialog {
   spacing:15px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
   padding-top:10px;
   padding-left:17px;
   padding-bottom:6px;
}

.mount-question-dialog-subject {
   max-width:500px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
   padding-left:0px;
   padding-right:17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
   padding-left:20px;
   width:28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
   padding-right:20px;
}

.show-processes-dialog-app-list {
   max-height:200px;
   padding-top:30px;
   padding-left:50px;
   padding-right:40px;
}

.show-processes-dialog-app-list:rtl {
   padding-right:50px;
   padding-left:40px;
}

.show-processes-dialog-app-list-item {
   color:$typeInactive;
}

.show-processes-dialog-app-list-item:hover {
   color:#eee;
}

.show-processes-dialog-app-list-item:ltr {
   padding-right:1em;
}

.show-processes-dialog-app-list-item:rtl {
   padding-left:1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
   padding-right:17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
   padding-left:17px;
}

.show-processes-dialog-app-list-item-name {
   font-size:10pt;
}

/* Password or Authentication Dialog */

.prompt-dialog {
   width:500px;
}

.prompt-dialog-main-layout {
   spacing:30px;
   padding:0 0 15px 0;
}

.prompt-dialog-message-layout {
   spacing:15px;
}

.prompt-dialog-description:rtl {
   text-align:right;
}

.prompt-dialog-password-box {
   spacing:20px;
   padding:0;
   margin:0;
}

.hidden {
   color:transparent;
}

.prompt-dialog-error-label,
.prompt-dialog-info-label,
.prompt-dialog-null-label {
   font-size:0pt;
   padding-bottom:0;
   display:none;
}

/* Polkit Dialog */

.polkit-dialog-user-layout {
   padding:0;
   spacing:10px;
}

.polkit-dialog-user-layout:rtl {
   padding:0;
}

.polkit-dialog-user-icon {
   border-radius:0;
   background-size:contain;
   width:50px;
   height:50px;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
   spacing-rows:15px;
   spacing-columns:1em;
}

.keyring-dialog-control-table {
   spacing-rows:15px;
   spacing-columns:1em;
}

.nm-dialog {
   max-height:500px;
   min-height:450px;
   min-width:470px;
}

.nm-dialog-content {
   spacing:20px;
}

.nm-dialog-header-hbox {
   spacing:10px;
}

.nm-dialog-airplane-box {
   spacing:10px;
}

.nm-dialog-airplane-headline {
   font-weight:bold;
   text-align:center;
}

.nm-dialog-airplane-text {
   color:$type;
}

.nm-dialog-header-icon {
   icon-size:32px;
}

.nm-dialog-scroll-view {
   border:1px solid $modalPopoverBorder;
   background:$modalPopoverDarkBg;
   margin-bottom:15px;
   border-radius:3px;
}

.nm-dialog-item {
   font-size:110%;
   border-bottom:1px solid rgba(0,0,0,.88);
   padding:12px;
   spacing:20px;
}

.nm-dialog-item:selected {
   background-color:$blue;
   color:$type;
}

.nm-dialog-icons {
   spacing:.5em;
}

.nm-dialog-icon {
   icon-size:16px;
}

.no-networks-label {
   color:$typeInactive;
}

.no-networks-box {
   spacing:15px;
}

/* Modal Titles */

.run-dialog-label,
.prompt-dialog-headline,
.nm-dialog-header,
.polkit-dialog-user-root-label,
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
   font-size:12pt;
   font-weight:bold;
   color:$type;
   padding:0;
   margin:0;
   spacing:0;
}

.run-dialog-label {
   margin-bottom:15px;
}
