.url-highlighter {
   link-color:$blue;
}

.notification-banner {
   font-size:11pt;
   width:34em;
   margin:10px;
   border-radius:3px;
   color:$type;
   background-color:$modalPopoverBg;
   border:1px solid $modalPopoverBorder;
   box-shadow:0px 0px 5px 0px rgba(0,0,0,.35);

   &:hover, &:active {
      background-color:darken($modalPopoverBg, 2%);
   }

   .notification-icon {
      padding:10px;
   }

   .notification-content {
      padding:10px;
      spacing:10px;
   }

   .secondary-icon {
      icon-size:1.09em;
   }

   .notification-actions {
      background-color:transparent;
      padding:0 10px 10px;
      spacing:1px;
   }
}

.summary-source-counter {
   font-size:10pt;
   font-weight:bold;
   height:1.6em;
   width:1.6em;
   -shell-counter-overlap-x:3px;
   -shell-counter-overlap-y:3px;
   background-color:#215d9c;
   color:$type;
   border:0;
   box-shadow:0 2px 2px rgba(0,0,0,.5);
   border-radius:3em;
}

.secondary-icon {
   icon-size:1.09em;
}
