.osd-window {
   text-align:center;
   font-weight:bold;
   spacing:15px;
   margin:30px;
   min-width:60px;
   min-height:60px;

   .osd-monitor-label {
      font-size:3em;
   }

   .level {
      height:10px;
      border-radius:5px;
      background-color:$modalPopoverDarkBg;
      color:$type;
      box-shadow:none;
   }
}
