/* Scrollbars */

StScrollView.vfade {
   -st-vfade-offset:68px;
}

StScrollView.hfade {
   -st-hfade-offset:68px;
}

StScrollBar {
   padding:0;
}

StScrollView {
   StScrollBar {
      min-width:14px;
      min-height:14px;
   }
}

StScrollBar {
   StBin#trough {
      border-radius:0;
      background-color:transparent;
   }
}

StScrollBar {
   StButton#vhandle,
   StButton#hhandle {
      border-radius:6px;
      background-color:rgba(255,255,255,.5);
      margin:5px;
   }

   StButton#vhandle:hover,
   StButton#hhandle:hover {
      background-color:rgba(255,255,255,.75);
   }

   StButton#vhandle:active,
   StButton#hhandle:active {
      background-color:rgba(255,255,255,.75);
   }
}

/* Sliders */

.slider {
   height:1em;
   -slider-height:0.3em;
   -slider-background-color:$modalPopoverDarkBg;
   -slider-border-color:lighten($modalPopoverBorder, 2%);
   -slider-active-background-color:$type;
   -slider-active-border-color:$type;
   -slider-border-width:1px;
   -slider-handle-radius:6px;
}
