#searchResultsBin {
   max-width:1200px;
}

#searchResultsContent {
   padding-left:0;
   padding-right:0;
   spacing:15px;
}

.search-section {
   spacing:15px;
}

.search-section-content {
   spacing:30px;
}

.list-search-results {
   spacing:5px;
}

.search-section-separator {
   -gradient-height:1px;
   -gradient-start:rgba(255,255,255,.15);
   -gradient-end:rgba(255,255,255,.15);
   -margin-horizontal:0;
   height:1px;
}

.list-search-result-content {
   spacing:15px;
   padding:15px;
}

.list-search-result-title {
   font-size:1.5em;
   color:$type;
}

.list-search-result-description {
   color:$type;
}

.search-provider-icon {
   padding:15px;
}

.search-provider-icon-more {
   width:16px;
   height:16px;
   background-image:url(resource:///org/gnome/shell/theme/more-results.svg);
}

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout {
   padding:0px 90px 10px 90px;
}

.search-statustext,
.no-frequent-applications-label {
   font-size:2em;
   font-weight:bold;
   color:$type;
}
