/* App Switcher */

.switcher-popup {
   padding:10px;
   spacing:15px;
}

.switcher-list-item-container {
   spacing:10px;
}

.switcher-list {
   .item-box {
      padding:10px;
      border-radius:6px;
   }

   .item-box:outlined {
      padding:5px;
      border:0px;
   }

   .item-box:selected {
      background-color:$blue;
      color:$type;
   }

   .thumbnail-box {
      padding:2px;
      spacing:4px;
   }

   .thumbnail {
      width:256px;
   }

   .separator {
      width:1px;
      background:rgba(0,0,0,.88);
   }
}

.switcher-arrow {
   border-color:transparent;
   color:$type;

   &:highlighted {
      color:$type;
   }
}

.input-source-switcher-symbol {
   font-size:34pt;
   width:96px;
   height:96px;
}

/* Workspace Switcher */

.workspace-switcher-group {
   padding:15px;
}

.workspace-switcher {
   background:transparent;
   border:0px;
   border-radius:0px;
   padding:0px;
   spacing:10px;
}

.ws-switcher-active-up,
.ws-switcher-active-down {
   height:50px;
   background-color:$blue;
   color:$type;
   background-size:32px;
   border-radius:6px;
}

.ws-switcher-box {
   height:50px;
   border:0;
   background:transparent;
   border-radius:6px;
}

.osd-window,.resize-popup,
.switcher-list,
.workspace-switcher-container {
   color:$type;
   background-color:$modalPopoverBg;
   border:1px solid $modalPopoverBorder;
   box-shadow:0px 0px 5px 0px rgba(0,0,0,.35);
   border:0;
   border-radius:6px;
   padding:15px;
}

/* Tiled window previews */

.tile-preview {
   background-color:$blue;
   border:0;
}

.tile-preview-left.on-primary {
   border-radius:6px 6px 0 0;
}

.tile-preview-right.on-primary {
   border-radius:0 6px 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
   border-radius:6px 6px 0 0;
}
