.workspace-thumbnails {
   visible-width:32px;
   spacing:10px;
   padding:10px;
   border-radius:6px 0 0 6px;
}

.workspace-thumbnails:rtl {
   border-radius:0 6px 6px 0;
}

.workspace-thumbnail-indicator {
   border:1px solid $blue;
   padding:0;
}

.workspace-thumbnails {
   color:$type;
   background-color:$modalPopoverBg;
   border:1px solid $modalPopoverBg;
   box-shadow:0px 0px 5px 0px rgba(0,0,0,.35);
}
