#panel {
   background-color:#161b1f;
   font-weight:normal;
   height:32px;
   border-bottom: 2px solid #0055cc;

   #panelLeft,
   #panelCenter {
      spacing:5px;
   }

   .panel-corner {
      -panel-corner-radius:6px;
      -panel-corner-background-color:#161b1f;
      -panel-corner-border-width:0px;
      -panel-corner-border-color:transparent;
   }

   .panel-corner:active,
   .panel-corner:overview,
   .panel-corner:focus {
      -panel-corner-border-color:transparent;
   }

   .panel-corner.lock-screen,
   .panel-corner.login-screen,
   .panel-corner.unlock-screen {
      -panel-corner-radius:0;
      -panel-corner-background-color:transparent;
      -panel-corner-border-color:transparent;
   }

   .panel-button {
      -natural-hpadding:12px;
      -minimum-hpadding:5px;
      font-weight:bold;
      color:$type;
      transition-duration:200ms;
      text-shadow:1px 1px 2px rgba(0,0,0,.25);

      &:hover,
      &:active,
      &:overview,
      &:focus,
      &:checked {
         color:rgba(255,255,255,.85);
         background-color:transparent;
      }

      .system-status-icon {
         icon-size:1.09em;
         padding:0 5px;
         icon-shadow:1px 1px 2px rgba(0,0,0,.25);
      }

      .app-menu-icon {
         -st-icon-style:regular;
         margin-left:5px;
         margin-right:5px;
      }
   }

   .panel-status-indicators-box,
   .panel-status-menu-box {
      spacing:2px;
   }

   .screencast-indicator {
      color:#f57900;
   }
}

.popup-menu-arrow {
   width:16px;
   height:16px;
   text-shadow:1px 1px 2px rgba(0,0,0,.25);
}

.popup-menu-icon {
   icon-size:1.09em;
}

/* Top Bar Non-Logged User */

#panel.unlock-screen,
#panel.login-screen,
#panel.lock-screen {
   background-color:transparent;
}

.unlock-screen,
.login-screen,
.lock-screen {
   #panel {
      .panel-button {
         color:$type;

         &:focus, &:hover, &:active {
            color:$type;
         }
      }
   }
}

/* App Menu Trigger */

#appMenu {
   spinner-image:url(resource:///org/gnome/shell/theme/process-working.svg);
   spacing:4px;

   .label-shadow {
      color:transparent;
   }
}

.ripple-box {
   width:52px;
   height:52px;
   background-image:url(resource:///org/gnome/shell/theme/corner-ripple-ltr.png);
   background-size:contain;
}

.ripple-box:rtl {
   background-image:url(resource:///org/gnome/shell/theme/corner-ripple-rtl.png);
}
