/*       
        THEME:
        AUTHOR: The Zorin OS Team
        WEBSITE: http://zorin-os.com
        LICENSE: GPL
        DESCRIPTION: The official Zorin OS GTK+ 3 theme.
*/

/* default color scheme */
@define-color bg_color #000000;
@define-color fg_color #EFEFEF;
@define-color base_color #000000;
@define-color text_color #EFEFEF;
@define-color selected_bg_color #00AAFF;
@define-color selected_fg_color #FFF;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #FFF;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (200, 200, 200);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (255, 135, 0);
@define-color question_fg_color rgb (105, 140, 153);
@define-color question_bg_color rgb (0, 170, 255);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (255, 0, 0);
@define-color link_color #00AAFF;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (@bg_color, 1.06);
@define-color button_insensitive_bg_color shade (@bg_color, 0.95);
@define-color dark_bg_color #3f3f3f;
@define-color dark_fg_color #e0e0e0;
@define-color transparent rgba (0, 0, 0, 0);

/* other colors */
@define-color toolbar_gradient_base #000000;
@define-color toolbar_gradient_final #000000;
@define-color toolbar_border #00AAFF;
@define-color selected_bg_color_alt #00AAFF;
@define-color selected_fg_color_alt #EFEFEF;
@define-color selected_bg_color_alt2 #00AAFF;
@define-color titlebar_color #282828;
@define-color text_color_primary_light #EFEFEF;
@define-color text_color_secondary_light #EFEFEF;
@define-color text_color_primary_dark #EFEFEF;
@define-color text_color_secondary_dark #EFEFEF;
@define-color button_color @transparent;
@define-color button_focus_color #00AAFF;
@define-color button_pressed_color #00AAFF;

@import url("gtk-widgets.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-applications.css");
@import url("apps/nautilus.css");
@import url("popover.css");
@import url("granite-widgets.css");
