/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
font-family: "Droid Sans", FreeSans;
font-size: 9pt;
color: #eee;
}

.cinnamon-link {
color: #eee;
text-decoration: underline;
}

.cinnamon-link:hover {
color: #fff;
text-shadow: #fff 0px 0px 4px 4px;
}

StScrollBar {
padding: 0px;
}

StScrollView.vfade {
-st-vfade-offset: 68px;
}

StScrollView StScrollBar {
min-width: 7px;
min-height: 19px;
}

StScrollBar StBin#trough {
border-image: url('scrollbar-trough.svg') 1 1 1 1 stretch;
}

StScrollBar StButton#vhandle {
max-height: 30px;
height: 30px;
}

StScrollBar StButton#vhandle {
transition-duration: 250;
border-image: url('scrollbar.svg') 2 2 2 2 stretch;
}

#Tooltip {
background-color: rgba(0,0,0,0.9);
border-radius: 8px;
padding: 4px 8px;
font-size: 8pt;
font-weight: bold;
text-align: center;
}

/* Switches (to be used in menus) */
.toggle-switch {
width: 48px;
height: 22px;
}

.toggle-switch-us {
background-image: url("switch-off.svg");
}

.toggle-switch-intl {
background-image: url("switch-off-intl.svg");
}

.toggle-switch-us:checked {
background-image: url("switch-on.svg");
}

.toggle-switch-intl:checked {
background-image: url("switch-on-intl.svg");
}

/* ===================================================================
* PopupMenu (popupMenu.js)
* ===================================================================*/
/*bottom panel*/
.popup-menu-boxpointer {
-boxpointer-gap: 0px;
    -arrow-border-radius: 0px;
    -arrow-background-color: transparent;
    -arrow-border-width: 0px;
    -arrow-border-color: transparent;
    -arrow-base: 64px;
    -arrow-rise: 0px;
background-color: rgba(0,0,0,0.9);
border-radius: 8px 8px 0px 0px;
font-size: 9pt;
}

.popup-menu {
transition-duration: 250;
}

.popup-sub-menu {
}
.popup-submenu-menu-item:open {
color: #fff;
text-shadow: #fff 0px 0px 4px 4px;
}

.popup-sub-menu StScrollBar {
padding: 4px;
}

.popup-sub-menu StScrollBar {
padding: 4px;
}

.popup-combo-menu {
background-color: rgba(0,0,0,0.9);
padding: 0.5em 0em;
border-radius: 8px;
}

.popup-combobox-item {
spacing: 1em;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
* override .popup-menu.font-size, everything else will scale with it.
*/
.popup-menu-content {
padding: 0.5em 0em;
transition-duration: 250;
}

.popup-menu-item {
padding: .4em 1.75em;
spacing: 1em;
transition-duration: 250;
}

.popup-menu-item:active {
color: #fff;
text-shadow: #fff 0px 0px 4px 4px;
transition-duration: 250;
}

.popup-menu-item:insensitive {
color: #9f9f9f;
}

.popup-image-menu-item {
}

.popup-separator-menu-item {
-gradient-height: 1px;
-gradient-start: rgba(255,255,255,0.05);
-gradient-end: rgba(255,255,255,0.3);
-margin-horizontal: 1em;
height: 1px;
}

.popup-alternating-menu-item:alternate {
font-weight: bold;
}

.popup-slider-menu-item {
height: 1em;
min-width: 15em;
-slider-height: 1px;
-slider-background-color: #9f9f9f;
-slider-border-color: transparent;
-slider-active-background-color: #9f9f9f;
-slider-active-border-color: transparent;
-slider-border-width: 0px;
-slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
spacing: .5em;
}

.popup-inactive-menu-item {
font-weight: normal;
color: #9f9f9f;
}

.popup-subtitle-menu-item {
font-weight: bold;
}

.popup-menu-icon {
icon-size: 1em;
}

.nm-menu-item-icons {
spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
/*bottom panel*/
#panel {
font-size: 9pt;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(227,227,227,0.5);
    background-gradient-end: rgba(227,227,227,0.01);
    color: rgba(255,255,255,0.98);
    text-shadow: rgba(0,0,0,0.1) 0px 1px 0px;
    height: 28px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    font-weight: bold;
    transition-duration: 250;
}

#panelLeft, #panelCenter, #panelRight {
spacing: 0px;
}

#panelLeft:ltr {
padding-right: 0px;
}

#panelLeft:rtl {
padding-left: 0px;
}

#panelRight:ltr {
padding-left: 0px;
spacing: 0px;
}

#panelRight:rtl {
padding-right: 0px;
spacing: 0px;
}

.panel-button,
.panel-status-button {
-natural-hpadding: 4px;
-minimum-hpadding: 4px;
transition-duration: 250;
}

.panel-button:hover,
.panel-status-button:hover {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    transition-duration: 250;
}

.panel-menu {
-boxpointer-gap: 0px
}

.system-status-icon {
icon-size: 1em;
}

#panelLeft:dnd {
background-gradient-direction: vertical;
background-gradient-start: rgba(255,0,0,0.05);
background-gradient-end: rgba(255,0,0,0.2);
}

#panelCenter:dnd {
background-gradient-direction: vertical;
background-gradient-start: rgba(0,255,0,0.05);
background-gradient-end: rgba(0,255,0,0.2);
}

#panelRight:dnd {
background-gradient-direction: vertical;
background-gradient-start: rgba(0,0,255,0.05);
background-gradient-end: rgba(0,0,255,0.2);
}

/* ===================================================================
* Overview
* ===================================================================*/

#overview {
spacing: 0px;
background: transparent;
}

.expo-background {
background: transparent;
}

.window-caption {
background: rgba(0,0,0,0.9);
font-weight: bold;
border-radius: 8px;
padding: 6px 8px;
-cinnamon-caption-spacing: 8px;
transition-duration: 250;
}

.window-caption#selected {
color: #fff;
text-shadow: #fff 0px 0px 4px 1px;
transition-duration: 250;
}

.window-close {
background-image: url("close-window.svg");
height: 26px;
width: 26px;
-cinnamon-close-overlap: 16px;
transition-duration: 250;
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
}

.window-close:hover {
background-image: url("close-window-hover.svg");
transition-duration: 250;
}

.window-close:active,
.window-close:pressed {
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.0);
transition-duration: 0;
}

.workspace-close-button {
background-image: url("close-workspace.svg");
height: 30px;
width: 30px;
-cinnamon-close-overlap: 30px;
transition-duration: 250;
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
}

.workspace-close-button:active,
.workspace-close-button:pressed {
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.0);
transition-duration: 0;
}

.workspace-thumbnails {
spacing: 5px;
}

.workspace-add-button {
background-image: url("add-button.svg");
height: 42px;
width: 30px;
transition-duration: 250;
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
}
.workspace-add-button:hover {
background-image: url("add-button-hover.svg");
transition-duration: 250;
}

.workspace-add-button:active,
.workspace-add-button:pressed {
-st-background-image-shadow: 0px 0px 4px 2px rgba(0,0,0,0.0);
transition-duration: 0;
}

.window-close-area {
background-image: url("trash.svg");
background-color: rgba(0,0,0,0.90);
box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
border-radius: 8px 8px 0px 0px;
height: 120px;
width: 222px;
}

/* ===================================================================
 * Looking Glass 
 * ===================================================================*/
/*bottom panel*/
#LookingGlassDialog {
    background-color: rgba(0,0,0,0.90);
    spacing: 4px;
    padding: 4px;
    border-radius: 12px 12px 0px 0px;
    border: 0px solid rgba(0,0,0,0.0);
    color: #eee;
    box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.0);
}

#LookingGlassDialog > #Toolbar {
border: 1px solid #eee;
border-top: 0px;
border-left: 0px;
border-right: 0px;
padding-bottom: 4px;
}

#LookingGlassDialog .labels {
spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
padding: 1px 8px;
color: #eee;
}

#LookingGlassDialog .notebook-tab:hover {
color: #fff;
}

#LookingGlassDialog .notebook-tab:selected {
background-color: #eee;
border-radius: 2px;
color: #000;
}

#LookingGlassDialog .lg-inspector-title {
font-weight: bold;
padding-bottom: 8px;
}

.lg-dialog StEntry {
color: #eee;
}

.lg-completions-text {
}

.lg-obj-inspector-title {
spacing: 4px;
}

.lg-obj-inspector-button {
background-color: #eee;
height: 14px;
padding: 4px 4px;
border-radius: 2px;
color: #000;
border: 1px solid black;
}

.lg-obj-inspector-button:hover {
background-color: #fff;
}

.lg-dialog .cinnamon-link {
color: #eee;
text-decoration: underline;
}

.lg-dialog .cinnamon-link:hover {
color: #fff;
}

#LookingGlassDialog StBoxLayout#EvalBox {
padding: 4px;
spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
spacing: 4px;
}

#lookingGlassExtensions {
padding: 4px;
}

.lg-extension-list {
padding: 4px;
spacing: 6px;
}

.lg-extension {
border: 1px solid #333;
border-top: 0px;
border-left: 0px;
border-right: 0px;
padding: 4px 0px;
}

.lg-extension-name {
font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
background: rgba(0,0,0,0.9);
border-radius: 8px;
padding: 6px;
color: #eee;
}
/* ===================================================================
* Date applet
* ===================================================================*/

.calendar {
padding: .4em 1.75em 0em 1.75em;
spacing-rows: 0px;
spacing-columns: 0px;
}

.calendar-month-label {
color: #eee;
font-size: 8pt;
padding-bottom: 1em;
padding-top: 1em;
text-align: center;
}

.calendar-change-month-back {
width: 16px;
height: 16px;
background-image: url("calendar-arrow-left.svg");
transition-duration: 250;
}

.calendar-change-month-back:hover, .calendar-change-month-forward:rtl:hover {
background-image: url("calendar-arrow-left-hover.svg");
}

.calendar-change-month-back:rtl {
background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward {
width: 20px;
height: 20px;
background-image: url("calendar-arrow-right.svg");
transition-duration: 250;
}

.calendar-change-month-forward:rtl {
background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover, .calendar-change-month-back:rtl:hover {
background-image: url("calendar-arrow-right-hover.svg");
}

.datemenu-date-label {
font-weight: bold;
text-align: center;
padding: .6em 1.75em 1em 1.75em;
color: #eee;
border-image: url("sep.svg") 1 1 1 1 stretch;
}

.calendar-day-base {
font-size: 8pt;
text-align: center;
width: 2.4em;
height: 2.4em;
}

.calendar-day-heading {
color: #eee;
padding-top: 1em;
font-weight: bold;
}

.calendar-week-number {
padding-right: .5em;
padding-top: 1em;
color: #eee;
font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
padding: .5em;
}

.calendar-work-day {
}

.calendar-nonwork-day {
}

.calendar-today {
color: #222;
background-image: url("today.svg");
font-weight: bold;
}

.calendar-other-month-day {
color: #9f9f9f;
}
/* ===================================================================
* Notifications
* ===================================================================*/

#notification {
background-color: rgba(0,0,0,0.90);
border-radius: 8px 0px 0px 8px;
font-size: 10pt;
padding: 8px;
spacing-rows: 10px;
spacing-columns: 10px;
width: 30em;
margin-from-right-edge-of-screen: 0px;
color: #eee;
}

#notification.multi-line-notification {
padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
taken into account during allocation, so its height ends up being limited by the height
of the content in the other rows. To avoid showing a stretched image, we set the minimum
height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
min-height: 159px;
color: #eee;
}

#notification-scrollview {
max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
padding-right: 6px;
}
#notification-body {
spacing: 5px;
}
#notification-actions {
spacing: 10px;
}

/* ===================================================================
* Alt Tab
* ===================================================================*/

#altTabPopup {
padding: 8px;
spacing: 5px;
}

.switcher-list {
background-color: rgba(0,0,0,0.9);
border-radius: 8px;
padding: 20px;
font-size: 9pt;
color: #eee;
font-weight: bold;
}

.switcher-list-item-container {
spacing: 8px;
}

.switcher-list .item-box {
padding: 8px;
transition-duration: 250;
}
.switcher-list .item-box:outlined {
}

.switcher-list .item-box:selected {
color: #fff;
text-shadow: #fff 0px 0px 4px 1px;
}

.switcher-list .thumbnail-box {
padding: 2px;
spacing: 4px;
}

.switcher-list .thumbnail {
width:  256px;
}

.switcher-list .separator {
width: 1px;
background: rgba(255,255,255,0.33);
}

.ripple-box {
width: 104px;
height: 104px;
background-image: url("corner-ripple.svg");
background-size: contain;
}

.switcher-arrow {
border-color: rgba(0,0,0,0);
color: #eee;
}

/* ===================================================================
* Modal dialogs
* ===================================================================*/

.modal-dialog {
font-size: 10pt;
background-color: rgba(0,0,0,0.9);
border-radius: 8px;
color: #eee;
padding: 20px;
}

.modal-dialog-button-box {
spacing: 20px;
padding: 10px 0px 0px 0px;
}

.modal-dialog-button {
min-width: 80px;
padding: 0px 5px 0px 5px;
height: 26px;
color: #222;
font-size: 9pt;
font-weight: bold;
border-image: url('button.svg') 5 5 5 5 stretch;
box-shadow: 0px 1px 1px black;
transition-duration: 250;
}

.modal-dialog-button:hover {
border-image: url('button-hover.svg') 5 5 5 5 stretch;
transition-duration: 250;
}

.modal-dialog-button:focus {
border-image: url('button-hover.svg') 5 5 5 5 stretch;
box-shadow: 0px 0px 1px 1px #eee;
transition-duration: 250;
}

.modal-dialog-button:active, 
.modal-dialog-button:pressed {
border-image: url('button.svg') 5 5 5 5 stretch;
box-shadow: 0px 1px 1px transparent;
transition-duration: 0;
}

.modal-dialog-button:disabled,
.modal-dialog-button:insensitive {
color: #666;
box-shadow: 0px 1px 1px transparent;
}

/* ===================================================================
* Run dialog
* ===================================================================*/

.run-dialog-label {
font-size: 2px;
color: transparent;
}

.run-dialog-error-label {
font-size: 9pt;
color: #eee;
}

.run-dialog-error-box {
padding-top: 5px;
spacing: 5px;
}

.run-dialog-entry {
background-gradient-direction: vertical;
background-gradient-start: #ddd;
background-gradient-end: #fff;
border-radius: 3px;
color: #222;
caret-color: #222;
caret-size: 1px;
selected-color: #eee;
padding: 5px 7px 4px 7px;
min-width: 200px;
}

.run-dialog {
background: rgba(0,0,0,0.9);
border-radius: 8px;
padding: 8px 10px 1px 10px;
}

.lightbox {
background: rgba(0,0,0,0.0);
}
/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog-subject {
    font-size: 10pt;
    font-weight: normal;
    color: #eee;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
}

.end-session-dialog-description {
    padding-top: 10px; 
    font-size: 10pt;
    color: #eee;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 16px;
}

.end-session-dialog-logout-icon {
    border: 10px solid #eee;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    width: 48px;
    height: 48px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
    border: 10px solid #eee;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #eee;
}

.end-session-dialog-app-list-item:hover {
    color: white;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 9pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #eee;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: #cc0000;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 11pt;
    font-weight: bold;
    color: #eee;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #eee;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #eee;
}

.show-processes-dialog-app-list-item:hover {
    color: white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 11pt;
    font-weight: bold;
    color: #eee;
}

.polkit-dialog-description {
    font-size: 9pt;
    font-weight: normal;
    color: #eee;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-password-label:ltr {
    padding-top: 5px;
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
font-size: 9pt;
    color: #eee;
    border-image: url("search.png") 6 6 6 6 stretch;
    selection-background-color: #eee;
    selected-color: #111;
    border-radius: 0px;
    padding: 5px;
    padding-bottom: 3px;
    height: 18px;
    width: 200px;
}

.polkit-dialog-password-entry:focus {
}

.polkit-dialog-error-label {
    font-size: 9pt;
    color: #DB1313;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 9pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 8pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* ===================================================================
* Magnifier
* ===================================================================*/

.magnifier-zoom-region {
border: 2px solid #eee;
}
.magnifier-zoom-region.full-screen {
border-width: 0px;
}

/* ===================================================================
* On screen keyboard
* ===================================================================*/
#keyboard {
background-color: rgba(0,0,0,0.9);
}

.keyboard-layout {
spacing: 10px;
padding: 10px;
}

.keyboard-row {
spacing: 10px;
}

.keyboard-key {
min-height: 30px;
min-width: 30px;
font-size: 14pt;
font-weight: bold;
color: #222;
border-image: url('key.svg') 4 4 4 4 stretch;
box-shadow: 0px 1px 1px black;
transition-duration: 250;
}

.keyboard-key:grayed {
}

.keyboard-key:checked,
.keyboard-key:hover {
border-image: url('key-hover.svg') 4 4 4 4 stretch;
transition-duration: 250;
}

.keyboard-key:active,
.keyboard-key:pressed {
border-image: url('key.svg') 4 4 4 4 stretch;
box-shadow: 0px 1px 1px transparent;
transition-duration: 0;
}

.keyboard-subkeys {
padding: 5px;
-arrow-border-radius: 8px;
-arrow-background-color: rgba(0,0,0,0.9);
-arrow-border-width: 0px;
-arrow-border-color: white;
-arrow-base: 20px;
-arrow-rise: 10px;
-boxpointer-gap: 5px;
}

/* ###################################################################
* Cinnamon Specific Section
* ###################################################################*/

/* ===================================================================
* Menu (menu.js)
* ===================================================================*/

.menu-favorites-box {
padding: 0px;
}
.menu-favorites-button {
padding: 10px;
}

.menu-favorites-button:hover {
border-image: url('menu-fav.svg') 1 1 1 1 stretch;
transition-duration: 250;
}

.menu-help-button {
padding-top: 2px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 2px;
}

.menu-help-button:hover {
}

.menu-places-box {
padding: 10px;
}

.menu-places-button {
padding: 10px;
}

.menu-categories-box {
padding-top: 15px;
padding-left: 15px;
padding-right: 5px;
padding-bottom: 0px;
}

.menu-applications-box {
padding-top: 15px;
padding-left: 10px;
padding-right: 15px;
padding-bottom: 0px;
}

.menu-application-button {
padding: 7px;
}

.menu-application-button:hover,
.menu-application-button-selected {
padding: 7px;
color: #eee;
text-shadow: #fff 0px 0px 4px 4px;
}

.menu-application-button-label:ltr {
padding-left: 5px;
}

.menu-application-button-label:rtl {
padding-right: 5px;
}

.menu-place-cat-button-label:ltr {
padding-top: 4px;
padding-left: 5px;
}
.menu-place-cat-button-label:rtl {
padding-top: 4px;
padding-right: 5px;
}

.menu-category-button {
padding: 7px;
}

.menu-category-button-greyed {
padding: 7px;
color: #9C9C9C;
}

.menu-category-button-selected {
padding: 7px;
color: #eee;
text-shadow: #fff 0px 0px 4px 4px;
}

.menu-category-button-label:ltr {
padding-left: 5px;
}

.menu-category-button-label:rtl {
padding-right: 5px;
}

/* Name and description of the currently hovered item in the menu
* This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
padding-right: 30px;
padding-left: 28px;
text-align: right;
}

.menu-selected-app-title {
font-weight: bold;
}

.menu-selected-app-description {
max-width: 150px;
}

.menu-search-box:ltr {
padding-left: 20px;
}

.menu-search-box:rtl {
padding-right: 20px;
}

#menu-search-entry {
background-gradient-direction: vertical;
background-gradient-start: #ddd;
background-gradient-end: #fff;
border-radius: 3px;
color: #222;
caret-color: #222;
caret-size: 1px;
selected-color: #eee;
padding: 5px 7px 4px 7px;
min-width: 200px;
}

.menu-search-entry-icon {
padding-bottom: 1px;
padding-right: 2px;
icon-size: 1em;
color: #eee;
}

/* Context menu (at the moment only for favorites) */

.menu-context-menu {
}

/* ===================================================================
* Window list (windowList.js)
* ===================================================================*/
.window-list-box {
spacing: 1px;
padding-left: 0px;
padding-top: 0px;
transition-duration: 250;
}

.window-list-item-label {
font-weight: bold;
width: 15em;
min-width: 5px;
}

.window-list-item-box {
color: rgba(255,255,255,0.98);
text-shadow: rgba(0,0,0,0.1) 0px 1px 0px;
padding: 2px;
background-color: rgba(255,255,255,0.2);
box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15);
transition-duration: 250;

}

.window-list-item-box:hover  {     
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    transition-duration: 250;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {     
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    transition-duration: 250;
}

.window-list-item-demands-attention {
color: #eee;
background: rgba(0,0,0,0.9);
}

/* ===================================================================
* Sound Applet (status/volume.js)
* ===================================================================*/
.sound-button-container {
padding-right: 2px;
padding-left: 2px;
}

.sound-button {
color: #222;
padding: 8px;
border-image: url('key.svg') 4 4 4 4 stretch;
transition-duration: 250;
}
.sound-button:hover {
border-image: url('key-hover.svg') 4 4 4 4 stretch;
transition-duration: 250;
}
.sound-button:active,
.sound-button:pressed {
border-image: url('key-active.svg') 4 4 4 4 stretch;
transition-duration: 0;
}
.sound-button StIcon {
icon-size: 1.4em;
}

.sound-track-infos {
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}

.sound-track-info {
padding-top: 2px;
padding-bottom: 2px;
}

.sound-track-info StIcon {
icon-size: 1em;
}

.sound-track-info StLabel {
padding-left: 5px;
padding-right: 5px;
}

.sound-track-box {
padding-left: 18px;
padding-right: 18px;
max-width: 220px;
}

.sound-volume-menu-item {
padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
icon-size: 1em;
padding-left: 8px;
}

.sound-playback-control {
padding-top: 5px;
padding-bottom: 10px;
}

/* ===================================================================
* Workspace Switcher applet (workspaceSwitcher.js)
* ===================================================================*/
#workspaceSwitcher {
spacing: 0px;
padding: 0px;
}
/*bottom panel*/
.workspace-button {
width: 28px;
color: rgba(255,255,255,0.98);
transition-duration: 250;
}

.workspace-button:outlined {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    transition-duration: 250;
}

.workspace-button:hover {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
padding: 0px;
}

.panel-launcher {
padding: 1px;
transition-duration: 250;
}

.panel-launcher:hover {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    transition-duration: 250;
}

/* ===================================================================
* Applets (applet.js)
* ===================================================================*/

.applet-box {
padding-left: 4px;
padding-right: 4px;
transition-duration: 250;
}

.applet-box:hover {
background-gradient-direction: vertical;
background-gradient-end: rgba(255,255,255,0);
background-gradient-start: rgba(255,255,255,0.4);
box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
transition-duration: 250;
}

.applet-label {
}

/* ===================================================================
* Workspace OSD
* ===================================================================*/

.workspace-osd {
font-size: 2em;
background-color: rgba(0,0,0,0.9);
border-radius: 8px;
font-weight: bold;
text-align: center;
min-width: 250px;
height: 46px;
padding: 14px 16px 0px 16px;
}

.expo-workspaces-name-entry {
background: rgba(0,0,0,0.9);
border-radius: 8px;
padding: 6px 8px;
font-weight: bold;
height: 16px;
transition-duration: 200;
}

.expo-workspaces-name-entry:focus {
caret-color: #eee;
caret-size: 1px;
color: #eee;
selected-color: #111;
}

/* ===================================================================
* Notification Applet
* ===================================================================*/

.notification-applet-padding {
padding: .4em 1.75em;
spacing: 1em;
}

.notification-applet-container {
max-height: 100px;
}

.popup-menu #notification {
background: transparent;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
spacing: .4em;
height: 24px;
}

.check-box StBin,
.check-box:focus StBin {
width: 23px;
height: 20px;
background-image: url("checkbox-off.svg");
}

.check-box:checked StBin {
background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
background-image: url("checkbox-focused.svg");
}

.check-box StLabel {
font-size: 10pt;
padding-top: 3px;
}

.radiobutton CinnamonGenericContainer {
spacing: .3em;
height: 26px;
}

.radiobutton StBin,
.radiobutton:focus StBin {
width: 24px;
height: 24px;
background-image: url("radiobutton-off.svg");
}

.radiobutton:checked StBin,
.radiobutton:focus:checked StBin {
background-image: url("radiobutton.svg");
}

.radiobutton StLabel {
padding-top: 4px;
font-size: 10pt;
}
