/* ======================================
 * ! Desklets
 * ====================================== */

.desklet {
    color: $text-primary;

    &-with-borders {
        border-image: url("img/containers/dark-bg.svg") 9;
        color: $text-primary;
        font-weight: bold;
        padding: 7px;
    }

    &-with-borders-and-header {
        border-image: url("img/containers/desklet-body.svg") 9;
        color: $text-primary;
        padding: 7px;
        font-weight: bold;
    }

    &-header {
        border-image: url("img/containers/desklet-header.svg") 9;
        font-size: $font-size-lg;
        font-weight: bold;
        text-shadow: none;
        color: $text-primary;
        padding: 7px;
        padding-top: 8px;
        padding-bottom: 2px;
    }

    &-drag-placeholder {
        border: 0 solid rgba(0, 0, 0, 0);
        border-radius: 0;
        background: none;
    }
}
