####  Firefox  ###
style "firefox-base-entry" {
  GtkWidget::interior_focus	= 0
  GtkWidget::cursor-color = "#0094eb"
  GtkWidget::cursor-aspect-ratio = 0.1
  GtkWidget::secondary-cursor-color = "#dbdbdb"
  	#GtkEntry	:: inner-border			= { 0, 0, 0, 0 }
        #GtkEntry	:: progress-border		= { 2, 2, 2, 2 }
  #xthickness 	= 6
  #ythickness 	= 6

	  base[NORMAL] 		= "#3c3c3c"
	  base[INSENSITIVE]	= "#2f2f2f"
	  text[NORMAL]     	= @fg_color
	  fg[NORMAL]     	= @fg_color
	  bg[PRELIGHT] 		= @bg_color
}


widget	"MozillaGtkWidget*GtkFixed*GtkEntry*"	style:highest	"firefox-base-entry"
