/* ===================================================================
  ! Lightbox + flashspot
   ===================================================================*/

/* The background shade when a dialog appears */
.lightbox { background-color: alpha(#000, .65); }

/* Among other places, appears when adding an applet */
.flashspot { background-color: alpha(#fff, .6); }

/* ===================================================================
   ! Modal dialogs
   ===================================================================*/

.modal-dialog {
    border-image: url("background-assets/popup.svg") 9;
    border-radius: 0;
    padding: 0;
    color: $text-primary;

    > * {
        padding: 24px;
        border-radius: 0;
    }

    > .modal-dialog-button-box {
        border-image: url("background-assets/buttonbox-bg.svg") 8;
        spacing: 0;
        margin: 0;
        padding: 5px 8px 6px 8px;
    }
}
/* ===================================================================
   ! Run dialog
   ===================================================================*/

.run-dialog {

    > * {
        border-image: url("background-assets/popup.svg") 7;
        padding: 12px;
    }

    > .modal-dialog-button-box {
        background-color: rgba(0, 0, 0, 0);
        border-image: none;
        box-shadow: none;
        padding: 0;
        height: 0;
    }

    &-error-box {
        padding: 10px 2px 2px 2px;
        spacing: 5px;
    }

    &-completion-box { font-size: 10px; }

    &-label { font-size: 0; }

    &-entry {/*!*/}
}
/* ===================================================================
   ! About Dialog
   ===================================================================*/

.about-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
}

.about-title {
    font-size: 2em;
    font-weight: bold;
}

.about-uuid {
    font-size: 10px;
    color: $text-secondary;
}

.about-description {
    padding-top: 6px;
    padding-bottom: 8px;
}

.about-version {
    padding-left: 7px;
    font-size: 10px;
    color: $text-secondary;
}

.about-icon {
    padding-right: 20px;
    padding-bottom: 14px;
    color: $icon-primary;
}

.about-scrollBox {
    border-image: url("background-assets/dark-bg.svg") 7;
    padding: 4px;
    padding-right: 0;
    border-radius: 0;

    &-innerBox {
        padding: 1.2em;
        spacing: 1.2em;
    }
}
/* ===================================================================
   ! Looking Glass dialog
   ===================================================================*/

#LookingGlassDialog {
    border-image: url("background-assets/popup.svg") 7;
    padding: 14px;
    color: $text-primary;
}
