style "entry"					= "default"
{
	xthickness				= 3
	ythickness				= 3

	#GtkEntry::focus-padding 		= 1
	GtkEntry::honors-transparent-bg-hint 	= 1
	GtkEntry::state-hint 			= 0
#	GtkWidget::interior-focus		= 1

	GtkEntry::progress-border 		= { 2, 2, 2, 2}
	bg[SELECTED]				= shade( 0.85, @base_color)
	text[NORMAL]				= @text_color
}

style "murrine-entry"				= "default"
{
	xthickness 				= 3
	ythickness 				= 3

	#base[INSENSITIVE]			= @base_color

	engine "murrine"
	{

           engine "pixmap"
  {
    image
    {
      function		= FOCUS
      recolorable	= TRUE
      file		= "Shadows/text-entry-focus.png"
      border		= { 2, 2, 4, 2 }
      stretch		= TRUE
    }
    image
    {
      function		= BOX
      recolorable	= TRUE
      shadow		= IN
      state		= NORMAL
      file		= "Shadows/entry-in.png"
      border		= { 1, 1, 1, 1 }
      stretch		= TRUE
    }	
    image
    {
      function		= BOX
      recolorable	= TRUE
      shadow		= OUT
      state		= NORMAL
      file		= "Shadows/text-entry.png"
      border		= { 4, 4, 4, 5 }
      stretch		= TRUE
    }	
    image
    {
      function		= SHADOW
      detail		= "entry"
      shadow		= IN
      recolorable	= FALSE
      file		= "Shadows/text-entry.png"
      border		= { 4, 4, 4, 5 }
      stretch		= TRUE
    }
  }

	}
}

#widget_class "*<GtkEntry>"			style:highest "pixmap-entry"

style "comboentry"				= "entry"
{
	xthickness				= 3
	ythickness				= 3

	GtkButton::inner-border 		= { 0, 1, 0, 0 }
	text[NORMAL]      			= @text_color
	text[PRELIGHT]    			= @text_color
	text[SELECTED]    			= "#1e160e"
	text[INSENSITIVE]			= @text_insensitive
	text[ACTIVE]      			= "#a9895b"
	base[NORMAL]      			= @base_color
	base[PRELIGHT]   			= @base_color
	base[INSENSITIVE] 			= shade (0.97, @bg_color)
	base[ACTIVE]      			= @base_color
	
}

style "combo"					= "entry"
{
	xthickness				= 3
	ythickness				= 3

	GtkButton::inner-border 		= { 0, 1, 0, 0 }
	text[NORMAL]      			= @text_color
	text[PRELIGHT]    			= @text_color
	text[SELECTED]    			= "#1e160e"
	text[INSENSITIVE]			= @text_insensitive
	text[ACTIVE]      			= "#a9895b"
	base[NORMAL]      			= @base_color
	base[PRELIGHT]   			= @base_color
	base[INSENSITIVE] 			= @base_color
	base[ACTIVE]      			= @base_color
}
