style "treeview" 
{
	base[PRELIGHT] 				= mix (0.5, @bg_color, @selected_bg_color)
	text[NORMAL]      			= @text_color
	text[PRELIGHT]    			= @text_color
	text[SELECTED]    			= "#1e160e"
	text[INSENSITIVE]			= @text_insensitive
	text[ACTIVE]      			= "#a9895b"
	base[SELECTED]				= mix (0.8, @selected_bg_color, @bg_color)
	bg[SELECTED]				= mix (0.8, @selected_bg_color, @bg_color)
	engine "murrine"
	{
		roundness 			= 2
		lightborder_shade 		= 1.1
		gradient_shades 		= {1.1, 1.0, 1.0, 0.9}
	}
}

# This style is based on the default style, so that the colors from the button
# style are overriden again.
style "treeview_header" 
{
	xthickness 				= 0
	ythickness 				= 0

        text[NORMAL]      			= @text_color
	text[PRELIGHT]    			= @text_color
	text[SELECTED]    			= "#1e160e"
	text[INSENSITIVE]			= @text_insensitive
	text[ACTIVE]      			= "#a9895b"

	engine "murrine" 
	{
		glazestyle 			= 1
		contrast 			= 0.7
		lightborderstyle 		= 1
		lightborder_shade 		= 1.4
		textstyle 			= 1
		glow_shade 			= 1.0
	}
}

style "iconview" 
{
	text[NORMAL]      			= @text_color
	text[PRELIGHT]    			= @text_color
	text[SELECTED]    			= "#1e160e"
	text[INSENSITIVE]			= @text_insensitive
	text[ACTIVE]      			= "#a9895b"
	base[SELECTED]				= mix (0.8, @selected_bg_color, @bg_color)

	engine "murrine" 
	{
		roundness 			= 6
		border_shades 			= {1.16, 1.0}
		glow_shade 			= 1.1
		glowstyle 			= 5
	}
}

style "treeview_header_scrolled" = "treeview_header" 
{
}
