style "menubar" 
{
	ythickness				= 0
	engine "murrine" 
	{
		#textstyle 			= 2
#		text_shade 			= 0.33
		gradient_shades 		= {1.0, 1.0, 1.0, 1.0}
		lightborder_shade 		= 21.0
	}
}

style "menu" 
{
	xthickness 				= 1
	ythickness 				= 1

	text[NORMAL]	   			= @fg_color
        text[INSENSITIVE]			= @text_insensitive
	fg[INSENSITIVE]   			= shade (0.54, @bg_color)

	engine "murrine"
	{
		roundness 			= 0
		#glowstyle			= 0
		#glow_shade 			= 5.0
	}
}

style "menu_item" 				= "menu" 
{
	xthickness 				= 3
	ythickness 				= 3

	GtkMenuItem::selected-shadow-type	= GTK_SHADOW_ETCHED_IN
	GtkMenuItem::horizontal-padding		= 5
	GtkMenuItem::toggle-spacing		= 6

        

	bg[SELECTED]				= mix (0.5, @bg_color, "#655730")
	fg[PRELIGHT] 				= @selected_fg_color

	engine "murrine"
	{
		contrast			= 0.6
		gradient_shades 		= {1.4, 1.2, 1.2, 1.0}
		shadow_shades 			= { 0.8, 3.2 }
		roundness 			= 2
		lightborder_shade 		= 1.60
		lightborderstyle 		= 0
		#contrast 			= 1.0
		border_shades 			= {1.0, 0.9}
		#textstyle 			= 1
		glowstyle 			= 3
		glow_shade 			= 1.0
		#text_shade 			= 1.04
	}
}

style "menubar_item" 				= "menu" 
{
	xthickness 				= 2
	ythickness 				= 3

	engine "murrine" 
	{
		gradient_shades 		= {1.1, 1.0, 1.0, 0.88}
		glowstyle 			= 5
		glow_shade 			= 1.0
		border_shades 			= {1.0, 0.9}
		lightborderstyle 		= 3
		lightborder_shade 		= 1.26
	}
}
