style "range" 					= "default"
{
	GtkScale::slider-length			= 22
	GtkRange::trough_border			= 0
	GtkRange::slider_width			= 22
	GtkRange::stepper_size			= 22

	engine "pixmap" 
	{
		image
		{
			function		= FOCUS
		}
		image 
		{
			function		= BOX
			recolorable		= TRUE
			detail			= "trough"
			file			= "Range/trough-horizontal.png"
			border			= { 10, 10, 0, 0}
			stretch			= TRUE
			orientation		= HORIZONTAL
		}
		image 
		{
			function		= BOX
			recolorable		= TRUE
			detail			= "trough"
			file			= "Range/trough-vertical.png"
			border			= { 0, 0, 10, 10}
			stretch			= TRUE
			orientation		= VERTICAL
		}
		# the sliders
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= NORMAL
			file			= "Range/slider-horiz.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
			orientation		= HORIZONTAL
		}
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= PRELIGHT
			file			= "Range/slider-horiz-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
			orientation		= HORIZONTAL
		}
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= INSENSITIVE
			file			= "Range/slider-horiz.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
			orientation		= HORIZONTAL
		}
		# vertical
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= NORMAL
			file			= "Range/slider-vert.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
			orientation		= VERTICAL
		}
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= PRELIGHT
			file			= "Range/slider-vert-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
			orientation		= VERTICAL
		}
		image 
		{
			function		= SLIDER
			recolorable		= TRUE
			state           	= INSENSITIVE
			file			= "Range/slider-vert.png"
			border			= { 0, 0, 0, 0}
 			stretch			= TRUE
			orientation		= VERTICAL
		}
	}
}

style "progressbar" 
{
	xthickness 				= 1
	ythickness 				= 1

	bg[ACTIVE] 				= shade (0.94, @bg_color)
	#bg[NORMAL]				= darker(@bg_color)
	bg[SELECTED]				= mix (0.5, @bg_color, @selected_bg_color)
	fg[PRELIGHT] 				= @selected_fg_color
	#bg[SELECTED] 				= "#cdcdcd"

	engine "murrine" 
	{
		#trough_shades 			= {0.98, 1.02}
		roundness 			= 20
		lightborderstyle 		= 1
		lightborder_shade 		= 1.2
		border_shades 			= {1.1, 0.85}
		gradient_shades 		= {1.1, 1.0, 1.0, 0.9}
#		trough_border_shades 		= {1.7, 1.7}
		trough_shades 			= {0.9, 1.0}
		animation 			= TRUE
	}
}

style "progressbar_menu_item" 			= "progressbar"
{
	bg[ACTIVE] 				= shade(0.98, "#4D4C48")

	engine "murrine" 
	{
		roundness 			= 0
	}
}
