style "wide" 
{
	xthickness 				= 2
	ythickness 				= 2
}

style "wider" 
{
	xthickness 				= 3
	ythickness 				= 3
}

style "statusbar" 
{
	engine "murrine" 
	{
		contrast 			= 1.2
	}
}

style "toolbar" 
{
	ythickness				= 0

	engine "murrine" 
	{
		textstyle 			= 1
		toolbarstyle			= 1
#		text_shade 			= 1.32
		contrast			= 1.13
		lightborder_shade		= 1.0
		gradient_shades     		= {1.0,0.50,0.50,0.50}
	}
}

style "frame_title" 
{
	fg[NORMAL] 				= lighter (@fg_color)
}

