style "tabs"					= "notebook"
{
	engine "pixmap" 
	{
		image
		{
			function		= FOCUS
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/Tabs2/tab-top.png"
			border			= { 5, 5, 5, 6}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/Tabs2/tab-top.png"
			border			= { 5, 5, 5, 6}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/Tabs2/tab-top.png"
			border			= { 3, 3, 3, 3}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/Tabs2/tab-top.png"
			border			= { 3, 3, 3, 3}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/Tabs2/tab-top-active.png"
			border			= { 5, 5, 8, 8}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/Tabs2/tab-bottom-active.png"
			border			= { 3, 3, 3, 6}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/Tabs2/tab-left-active.png"
			border			= { 9, 3, 3, 3}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/Tabs2/tab-right-active.png"
			border			= { 3, 9, 3, 3}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}
