/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
 
stage {
      font-family: ubuntu;
      font-size: 10.5pt;
}

.cinnamon-link {
      color: rgb(236,236,236);
      text-decoration: underline;
}

.cinnamon-link:hover {
      color: #409ce8;
}

.label-shadow {
      color: rgba(0,0,0,0);
}

StScrollBar
{
      padding: 0px;
}

StScrollView.vfade
{
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
      min-width: 8px;
      min-height: 8px;
}

StScrollBar StBin#trough {
      background-color: rgba(0,0,0,0);
}

StScrollBar StButton#vhandle
{
      background-color: rgb(216,216,216);
      border: 1px solid #949494;
      border-radius: 6px;
}

StScrollBar StButton#hhandle
{
      background-color: rgb(216,216,216);
      border: 1px solid #949494;
      border-radius: 6px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
      background-color: rgb(200,200,200);
      border: 1px solid #949494;
}

#Tooltip {
      border-radius: 0px;
      padding: 2px 6px;
      background-gradient-direction: vertical;
      background-gradient-start: rgba(70,70,70,0.6);
      background-gradient-end: rgba(70,70,70,0.1);
      border: 1px solid #000;
      color: rgb(255,250,250);
      font-size: 9pt;
      font-weight: normal;    
      text-align: center;
}	
/* ===================================================================
 * Switches (to be used in menus)
 * ===================================================================*/
 
.toggle-switch {
	width: 48px;
	height: 24px;
}

.toggle-switch-us {
       border-image: url("off.png") 4;
}

.toggle-switch-intl {
       border-image: url("off.png") 4;
}

.toggle-switch-us:checked {
       border-image: url("on.png") 4;
}

.toggle-switch-intl:checked {
       border-image: url("on.png") 4;
}
/* ===================================================================
 * Shared button properties 
 * ===================================================================*/

.hotplug-notification-item, 
.hotplug-resident-eject-button, {
     color: rgb(236,236,236);
     background-gradient-direction: vertical;
     background-gradient-start: rgba(70,70,70,0.6);
     background-gradient-end: rgba(70,70,70,0.1);
     font-size: 8.5pt;
     font-weight: normal;    
     text-align: center;
}

.hotplug-notification-item:focus {
     color: rgb(236,236,236);
     background-gradient-direction: vertical;
     background-gradient-start: rgba(70,70,70,0.6);
     background-gradient-end: rgba(70,70,70,0.1);
     border: 1px solid #409ce8;
  
}

.hotplug-notification-item:active, 
.hotplug-resident-eject-button:active {
     background-gradient-direction: vertical;
     background-gradient-start: rgba(70,70,70,0.1);
     background-gradient-end: rgba(70,70,70,0.6);
     border: 1px solid #409ce8;
}

.hotplug-notification-item:focus:checked,
.hotplug-notification-item:focus:active {
     background-gradient-direction: vertical;
     background-gradient-start: rgba(70,70,70,0.1);
     background-gradient-end: rgba(70,70,70,0.6);
     border: 1px solid #409ce8;
}
/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

.popup-menu-boxpointer {
     -arrow-border-radius: 6px;
     -arrow-background-color: rgba(30,30,30,1.0);
     -arrow-border-width: 1px;
     -arrow-border-color: rgba(0,0,0,0.5);
     -arrow-base: 18px;
     -arrow-rise: 10px;
     -st-shadow: 0px -1px 2px 0px rgba(255,255,255,0.9);
     -boxpointer-gap: 2px;
}

.popup-menu {
      color: rgb(200,200,200);
      min-width: 100px;
}

.popup-menu StEntry {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;

}

.popup-menu StEntry:focus {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid #409ce8;
      border-radius: 3px;
      padding: 5px 10px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}

.popup-submenu-menu-item:open {
      background-color: rgba(70,70,70,0);
      transition-duration: 150;
}

.popup-sub-menu {
      background-color: rgb(50,50,50);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: solid 1px;
      border-color: rgb(10,10,10);
      border-radius: 3px;
      padding: 0.5em 0.1em;
}

.popup-sub-menu .popup-menu-item:ltr {
      padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
      padding-left: 0em;
}

.popup-sub-menu StScrollBar {
      padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
      background-color: rgba(0,0,0,0);
}

.popup-sub-menu StScrollBar StBin#vhandle {
      background-color: rgb(216,216,216);
      border: 1px solid #949494;
      border-radius: 6px;
}

.popup-combo-menu {
       background-color: rgb(50,50,50);
       box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
       border: solid 1px;
       border-color: rgb(10,10,10);
       border-radius: 3px;
       padding: 1em 0.1em;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
 
.popup-menu-content {
	padding-top: 6px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 6px;
}

.popup-menu-item {
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 6px;
	spacing: 1em;
}

.popup-menu-item:active {
	border-image: url("hover-2.png") 6;
	color: #fff;
        text-shadow: #777 0px 1px 1px;

}

.popup-menu-item:insensitive {
	font-weight: bold;
	color: rgb(190,190,190);
}

.popup-combobox-item {
	spacing: 1em;
}

.popup-separator-menu-item {
	background-color: rgb(90,90,90);
        height: 0.5px;
}

.popup-alternating-menu-item:alternate {
	font-weight: bold;
	color: rgb(190,190,190);
}

.popup-slider-menu-item {
      border-image: url("slider.png") 10 10 9 9 stretch; 
      height: 18px;
      min-width: 15em;
      -slider-height: 4px;
      -slider-background-color: rgba(0,0,0,0);
      -slider-border-color: rgba(0,0,0,0);
      -slider-active-background-color: rgb(28,131,196);
      -slider-active-border-color: rgba(0,0,0,0);
      -slider-border-width: 1px;
      -slider-handle-radius: 6px;
}

.popup-device-menu-item {
	spacing: .5em;
}

.popup-inactive-menu-item {
	font-weight: bold;
	color: #797979;
}

.popup-subtitle-menu-item {
	font-weight: bold;
	color: rgb(190,190,190);
}

.popup-menu-icon {
	icon-size: 1em;
}

.nm-menu-item-icons {
	spacing: .5em;
}
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel {
      background-color: rgba(0,0,0,0.6);
      box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.7);
      color: #dedede;
      font-size: 9pt;
      height: 24px;
      padding: 0px;
}

#panelLeft, #panelCenter {
      spacing: 4px;
}

#panelLeft:dnd {
      background-color: rgba(255,0,0,0.1);        
}

#panelCenter:dnd {
      background-color: rgba(0,255,0,0.1);        
}

#panelRight:dnd {
      background-color: rgba(0,0,255,0.1);        
}

#panelLeft:ltr {
      padding-right: 4px;
}

#panelLeft:rtl {
      padding-left: 4px;
}

#panelRight:ltr {
      padding-left: 0px;
      spacing: 0px;
}

#panelRight:rtl {
      padding-right: 0px;
      spacing: 0px;
}

.panel-top {
}

.panel-bottom {
}

.panel-status-button {
      border: 0px solid rgba(0,0,0,0);
      -natural-hpadding: 3px;
      -minimum-hpadding: 3px;
      font-weight: bold;
      color: #dcdcdc;    
      height: 22px;    
}

.panel-status-button:hover {
      color: #dcdcdc;
      border-radius: 0px;
      background-color: rgba(80,80,80,1);    
}

.panel-status-button:active {
      color: #dcdcdc;
      background-color: rgba(45,45,45,1);
}

.system-status-icon {
	padding-left: 0px;
	padding-right: 0px;	
	spacing: 0px;
        margin: 0px;
}

#appMenu {
      spacing: 4px;
}

.panel-button #appMenuIcon {
      app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
      app-icon-bottom-clip: 2px;
}

.panel-button {
      -natural-hpadding: 6px;
      -minimum-hpadding: 2px;
      font-weight: bold;
      color: #dcdcdc;
      transition-duration: 100;
}

.panel-button:hover {
      color: #dcdcdc;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
      color: #dcdcdc;
      background-color: rgba(45,45,45,1);
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
      icon-shadow: rgba(0,0,0,0) 0px 2px 2px;
}

.panel-menu {
}

.popup-menu-item-dot {

}

.system-status-icon {
      icon-size: 1.14em;
}
/* ===================================================================
 * Overview 
 * ===================================================================*/

#overview {
      spacing: 12px;
}

.window-caption {
      border-image: url("bg-1.png") 6;
      font-weight: bold;
      color: rgb(236,236,236);
      spacing: 25px;
}

.window-caption#selected {
  	border-image: url("bg-1.png") 6;
  	font-weight: bold;
  	color: #409ce8;
  	spacing: 25px;
}

.workspace-controls {
      visible-height: 35px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
      border: 1px solid rgba(128, 128, 128, 0.4);
      border-right: 0px;
      border-radius: 0px 0px 0px 0px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
}

.workspace-thumbnails-background:rtl {
      border-right: 1px;
      border-left: 0px;
      border-radius: 0px 0px 0px 0px;
}

.workspace-thumbnails {
      spacing: 26px;
      padding-left: 0.9em;
      padding-right: 1em;
}

.workspace-add-button {
      background-image:url("plus.png");
      height: 200px;
      width: 35px;
      transition-duration: 150;
}

.workspace-add-button:hover {  
      background-image: url("plus-hover.png");
      transition-duration: 150;
}

.workspace-close-button {
      background-image: url("close.svg");
      height: 35px;
      width: 35px;
      -cinnamon-close-overlap: 25px;
      transition-duration: 150;
}

.workspace-close-button:hover { 
	background-image: url("close-hover.svg");
	transition-duration: 150;
}

.workspace-thumbnail-indicator {
      outline: 2px solid white;
      border: 1px solid #888;
}

.window-caption {
      border-image: url("bg-1.png") 6;
      font-size: 9pt;
      font-weight: bold;
      padding: 6px 8px;
      color: rgb(236,236,236);
      -cinnamon-caption-spacing: 10px;
}

.window-close {
      background-image: url("close.svg");
      height: 35px;
      width: 35px;
      -cinnamon-close-overlap: 25px;
      transition-duration: 150;
}

.window-close:hover {
	background-image: url("close-hover.svg");
	transition-duration: 150;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-close-area {
	background-image: url("trash.png");
	height: 150px;
	width: 226px;
}

.icon-grid {
      spacing: 36px;
      -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
      icon-size: 96px;
}

.overview-icon {
      border-radius: 0px;
      padding: 3px;
      border: 1px rgba(0,0,0,0);
      font-size: 7.5pt;
      color: white;
      transition-duration: 100;
      text-align: center;
}

.expo-background {
  	background-color: rgba(0,0,0,0.2);
}

.workspace-overview-background-shade {
  	background-color: rgba(0,0,0,0);
}

.expo-workspace-thumbnail-frame {
  	border: 5px transparent;
  	border-right: 5px transparent;
  	border-top: 5px transparent;
  	border-left: 5px transparent;
  	border-image: url("bg-2.png") 6;
}

.expo-workspace-thumbnail-frame#active {
  	border: 5px transparent;
  	border-right: 5px transparent;
  	border-top: 5px transparent;
  	border-left: 5px transparent;
  	border-image: url("bg-1.png") 6;
} 
/* ===================================================================
* Desklets (desklet.js)
* ===================================================================*/

.desklet {        
	color: rgb(70,70,70);   
}

.desklet-with-borders {
	border-image: url("bg-1.png") 6;
	color: rgb(70,70,70);
	font-weight: bold;
	padding: 8px;
}

.desklet-with-borders-and-header {
	border-image: url("desklet.png") 6;
	color: rgb(70,70,70);
	padding: 8px;
}

.desklet-header { 
	border-image: url("header.png") 8;
	font-size: 9pt;
	font-weight: bold;
	text-shadow: #eee 0px 0px 0px;
	color: rgb(70,70,70);
	padding: 8px;
}

.desklet-drag-placeholder { 
	border: 0px solid #ccc;
	border-radius: 0px;
	background: none;
}

.xkcd-box {
	padding: 6px;
	border: 0px solid #141414;
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
}

.photoframe-box {
	padding: 10px;
	border-image: url("bg-1.png") 6;
}
/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
 
.clock-desklet-label {
	color: rgb(70,70,70);
} 
/* ===================================================================
 * Looking Glass 
 * ===================================================================*/

#LookingGlassDialog
{
      border-image: url("bg-1.png") 6;
      transition-duration: 300;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      color: rgb(236,236,236);
}

#LookingGlassDialog > #Toolbar
{
     background-color: rgb(236,236,236);
     border: 1px solid rgb(192,192,192);
     border-radius: 4px;
     padding: 0.5em;
}

#LookingGlassDialog StScrollBar {
      padding-left: 4px;
      padding-top: 2px;
}

#LookingGlassDialog StScrollBar StButton#vhandle:hover {
      background-color: rgb(216,216,216);
      border: 1px solid #949494;
      border-radius: 6px;
}

#LookingGlassDialog .labels {
  	spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
        color: rgb(0,0,0);
  	border: 1px solid rgba(0,0,0,0);
  	padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  	border-image: url("hover-2.png") 6;
  	color: rgb(236,236,236);
}

#LookingGlassDialog .notebook-tab:selected {
  	border-image: url("hover-2.png") 6;
  	color: rgb(236,236,236);
  	padding: 2px;
}

#LookingGlassDialog .lg-inspector-title {
      font-weight: bold;
      padding-bottom: 8px;
}

.lg-dialog StLabel
{
       color: rgb(236,236,236);
       padding-top: 6px;
}

.lg-dialog StEntry {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 300;
}

.lg-dialog StEntry:focus {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid #409ce8;
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}

.lg-obj-inspector-title
{
  	spacing: 4px;
}

.lg-obj-inspector-button
{
  	border: 1px solid rgba(40,40,40,0.4);
  	border-radius: 4px;
  	color: rgb(255,255,255);
  	padding: 4px;
}

.lg-obj-inspector-button:hover
{
  	border: 1px solid rgba(40,40,40,0.4);
  	border-radius: 4px;
  	color: #409ce8;
}

.lg-dialog .cinnamon-link
{
  	color: #4a90d9;
  	padding-top: 6px;
}

.lg-dialog .cinnamon-link:hover
{
       color: #409ce8;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
       padding: 4px;
       spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
      spacing: 4px;
}

#lookingGlassExtensions {
      padding: 4px;
}

.lg-extension-list {
      padding: 4px;
      spacing: 6px;
}

.lg-extension {
      border: 1px solid rgba(40,40,40,0.4);
      border-radius: 4px;
      padding: 4px;
}

.lg-extension-name {
       font-weight: bold;
}

.lg-extension-meta {
       spacing: 6px;
}

#LookingGlassPropertyInspector{
       background-color: rgb(225,225,225);
       border-radius: 4px;
       border: 1px solid rgba(40,40,40,0.4);
       transition-duration: 300;
       padding-left: 8px;
       padding-right: 8px;
       padding-top: 8px;
       padding-bottom: 8px;
       color: rgb(70,70,70);
}
/* ===================================================================
 * Date applet 
 * ===================================================================*/

.calendar {
      padding: .4em 1.75em .8em 1.75em;
      spacing-rows: 0;
      spacing-columns: 0;
}

.datemenu-date-label {
       padding: .5em 0em 1em 0em;
       font-weight: bold;
       text-align: center;
       color: rgb(190,190,190);
}

.calendar-month-label {
       padding-bottom: 3px;
       padding-top: 3px;
       font-weight: bold;
       color: rgb(190,190,190);
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
       height: 20px;
       width: 20px;
       transition-duration: 200;
       border: 1px rgba(0,0,0,0);
       background-image: url("calendar-arrow-left.png");
}

.calendar-change-month-back:hover {
       transition-duration: 150;
       background-image: url("calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
       height: 20px;
       width: 20px;
       transition-duration: 200;
       border: 1px rgba(0,0,0,0);
       background-image: url("calendar-arrow-right.png");
}

.calendar-change-month-forward:hover {
       transition-duration: 150;
       background-image: url("calendar-arrow-right-hover.svg");
}

.calendar-day-base {
      font-size: 9pt;
      text-align: center;
      width: 2.4em;
      height: 2.4em;
}

.calendar-day-base:active {
      background: #409ce8;
      box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
      color: #fff;
}

.calendar-day-heading {
      font-size: 9pt;
      color: #409ce8;
      padding-top: 2em;
}

.calendar-week-number {
      color: rgba(130,130,130,0.5);
      font-size: 9pt;
}

.calendar-day {
      border: 1px rgba(40,40,40,0.1);
      color: rgba(190,190,190,0.7);
      border-top-width: 1;
      border-left-width: 1;
      padding-left: 1px;
      padding-top: 1px;
      background-color: rgba(200,200,200,0.3);
}

.calendar-day-top {
      border-top-width: 1px;
}

.calendar-day-left {
      border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
      background-color: rgba(128, 128, 128, .1);
}

.calendar-today {
      color: #409ce8;
      font-weight: bold;
}

.calendar-other-month-day {
      color: rgba(150,150,150,0.3);
      box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.1);
      background-color: rgba(50,50,50,0.1);
}
/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {
      font-size: 8.5pt;
      border-image: url("bg-1.png") 6;
      color: rgb(236,236,236);
      padding: 8px 8px 8px 8px;
      spacing-rows: 10px;
      spacing-columns: 10px;
      margin-from-right-edge-of-screen: 20px;    
      width: 34em;
      
}

#notification.multi-line-notification {
      padding-bottom: 8px;
      color: rgb(236,236,236);
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
      min-height: 159px;
      color: rgb(236,236,236);
}

#notification-scrollview {
      max-height: 100em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
      height: 10em;
}

#notification-scrollview:ltr > StScrollBar {
      padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
      padding-right: 6px;
}

#notification-body {
      spacing: 5px;
}

#notification-actions {
      spacing: 10px;
}

.notification-button,
.notification-icon-button  {
        color: rgb(255,255,255); 
        background-gradient-direction: vertical;
        background-gradient-start: rgba(70,70,70,0.6);
        background-gradient-end: rgba(70,70,70,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
        font-size: 11pt;
        padding: 4px 42px 5px;
}

.notification-button:focus,
.notification-icon-button:focus {
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.1);
       background-gradient-end: rgba(70,70,70,0.6);
       color: rgb(255,255,255);
       border: 1px solid #409ce8;
       border-radius: 3px;
       font-size: 11pt;
       padding: 4px 42px 5px;

}

.notification-button:active,
.notification-icon-button:active {
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.1);
       background-gradient-end: rgba(70,70,70,0.6);
       color: rgb(255,255,255);
       border: 1px solid #409ce8;
       border-radius: 3px;
       font-size: 11pt;
       padding: 4px 42px 5px;    

}

.notification-button:focus:checked,
.notification-button:focus:active,
.notification-icon-button:focus:checked,
.notification-icon-button:focus:active {
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.1);
       background-gradient-end: rgba(70,70,70,0.6);
       color: rgb(255,255,255);
       border: 1px solid #409ce8;
       border-radius: 3px;
       font-size: 11pt;
       padding: 4px 42px 5px;

}

#notification .cinnamon-link {
      color: rgb(236,236,236);
      text-decoration: underline;

}

.notification-icon-button > StIcon {
      icon-size: 36px;
}

.hotplug-transient-box {
      spacing: 6px;
      padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
      padding: 2px 10px;
      font-size: 10.5pt;
}

.hotplug-notification-item:focus {
      padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
      icon-size: 24px;
      padding: 2px 5px;
}

.hotplug-resident-box {
      spacing: 8px;
}

.hotplug-resident-mount {
      spacing: 8px;
      border-radius: 0px;
      color: rgb(70,70,70);
}

.hotplug-resident-mount:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
}

.hotplug-resident-mount-label {
      color: inherit;
      padding-left: 6px;
}

.hotplug-resident-mount-icon {
      icon-size: 24px;
      padding-left: 6px;
}

.hotplug-resident-eject-icon {
      icon-size: 16px;
}

.hotplug-resident-eject-button {
      padding: 7px;
      border-radius: 0px;
      color: rgb(70,70,70);
}

#notification StEntry {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 300;
}

#notification StEntry:focus {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}
/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
       padding: 8px;
       spacing: 16px;
}

.switcher-list {
       border-image: url("bg-1.png") 6;
       color: rgb(70,70,70);
       padding: 20px;
       font-size: 9pt;
       font-weight: bold;
}

.switcher-list-item-container {
       spacing: 8px;
}

.thumbnail-scroll-gradient-left {
       background-color: rgba(51, 51, 51, 0.5);
       border-radius: 24px;
       border-radius-topright: 0px;
       border-radius-bottomright: 0px;
       width: 60px;
}

.thumbnail-scroll-gradient-right {
       background-color: rgba(51, 51, 51, 0.5);
       border-radius: 24px;
       border-radius-topleft: 0px;
       border-radius-bottomleft: 0px;
       width: 60px;
}

.switcher-list .item-box {
       padding: 8px;
       border: 1px solid rgba(0,0,0,0);
       border-radius: 0px;
}

.switcher-list .item-box:outlined {
       padding: 6px;
       border: 2px solid rgba(85,85,85,0);
}

.switcher-list .item-box:selected {
       border-image: url("hover-2.png") 6;
       color: #fff;
}

.switcher-list .thumbnail-box {
       padding: 2px;
       spacing: 4px;
}

.switcher-list .thumbnail {	
       width: 256px;
}

.switcher-list .separator {
       width: 1px;
       background: rgba(255,255,255,0.33);
}

.ripple-box {
       width: 104px;
       height: 104px;
       background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
       background-image: url("corner-ripple.png");
}

.switcher-arrow {
       border-color: rgba(0,0,0,0);
       color: #dcdcdc;
}

.switcher-arrow:highlighted {
       border-color: rgba(0,0,0,0);
       color: white;
}

.switcher-preview-backdrop {
       background-color: rgba(25,25,25,0.95);
}
/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
      font-size: 10pt;
      background-gradient-direction: vertical;
      background-gradient-start: rgb(70,70,70);
      background-gradient-end: rgb(70,70,70);
      border: 1px solid #409ce8;
      color: rgb(255,255,255);
      padding-right: 42px;
      padding-left: 42px;
      padding-bottom: 30px;
      padding-top: 30px;
}

.modal-dialog-button-box {
      spacing: 110px;
}

.modal-dialog-button {
      height: 22px;
      font-size: 10pt;
      color: rgb(255,255,255); 
      background-gradient-direction: vertical;
      background-gradient-start: rgb(70,70,70);
      background-gradient-end: rgb(70,70,70);
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 3px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 3px 31px 4px;
}

.modal-dialog-button:focus {
      background-gradient-direction: vertical;
      background-gradient-start: rgb(70,70,70);
      background-gradient-end: rgb(70,70,70);
      border: 1px solid #409ce8;
      margin-left: 10px;
      margin-right: 10px;
      padding: 3px 31px 4px;
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
      background-gradient-direction: vertical;
      background-gradient-start: rgb(70,70,70);
      background-gradient-end: rgb(70,70,70);
      border: 1px solid #409ce8;
}

.modal-dialog-button:focus:checked,
.modal-dialog-button:focus:active {
      background-gradient-direction: vertical;
      background-gradient-start: rgb(70,70,70);
      background-gradient-end: rgb(70,70,70);
      border: 1px solid #409ce8;
}

.modal-dialog-button:disabled {
      color: #a6a6a6;
}
/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
      font-size: 0pt;
      padding-bottom: 0px;
      color: rgba(0,0,0,0);
      font-weight: bold;
}

.run-dialog-error-label {
}

.run-dialog-error-box {
      padding-top: 15px;
      spacing: 5px;
}

.run-dialog-entry {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 300;
}

.run-dialog-entry:focus {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}

.run-dialog-completion-box { 
      padding-left: 15px;
      font-size: 10px;
} 

.run-dialog {
      padding-right: 12px;
      padding-left: 12px;
      padding-bottom: 20px;
      padding-top: 20px;
}

.lightbox {
      background-color: rgba(0, 0, 0, 0.4);
}
/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog {
      spacing: 42px;
}

.end-session-dialog-subject {
      font-size: 12pt;
      font-weight: bold;
      color: #666666;
      padding-top: 10px;
      padding-left: 17px;
      padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
      padding-left: 0px;
      padding-right: 17px;
}

.end-session-dialog-description {
      font-size: 10pt;
      color: white;
      padding-left: 17px;
      width: 28em;
}

.end-session-dialog-description:rtl {
      padding-right: 17px;
}

.end-session-dialog-logout-icon {
      border: 2px solid #8b8b8b;
      border-radius: 0px;
      width: 32px;
      height: 32px;
}

.end-session-dialog-shutdown-icon {
      width: 32px;
      height: 32px;
}

.end-session-dialog-app-list {
      font-size: 10pt;
      max-height: 200px;
      padding-top: 42px;
      padding-left: 49px;
      padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
      padding-right: 49px;
      padding-left: 32px;
}

.end-session-dialog-app-list-item {
      color: #ccc;
}

.end-session-dialog-app-list-item:hover {
      color: white;
}

.end-session-dialog-app-list-item:ltr {
      padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
      padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
      padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
      padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
      font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
      font-size: 8pt;
      color: #444444;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
      icon-size: 48px;
}

.mount-password-reask {
      color: red;
}

.show-processes-dialog,
.mount-question-dialog {
      spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
      font-size: 12pt;
      font-weight: bold;
      color: rgb(255,255,255);
      padding-top: 10px;
      padding-left: 17px;
      padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
      padding-left: 0px;
      padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
      font-size: 10pt;
      color: rgb(70,70,70);
      padding-left: 17px;
      width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
      padding-right: 17px;
}

.show-processes-dialog-app-list {
      font-size: 10pt;
      max-height: 200px;
      padding-top: 24px;
      padding-left: 49px;
      padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
      padding-right: 49px;
      padding-left: 32px;
}

.show-processes-dialog-app-list-item {
      color: rgb(236,236,236);
}

.show-processes-dialog-app-list-item:hover {
      color: rgb(236,236,236);
}

.show-processes-dialog-app-list-item:ltr {
      padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
      padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
      padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
      padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
      font-size: 10pt;
}
/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
    /* this is the width of the entire modal popup */
      width: 250px;
      border-image: url("bg-1.png") 6;
}

.polkit-dialog-main-layout {
      spacing: 24px;
      padding: 10px;
}

.polkit-dialog-message-layout {
      spacing: 16px;
}

.polkit-dialog-headline {
      font-size: 10pt;
      font-weight: bold;
      color: rgb(40,40,40);
}

.polkit-dialog-description {
      font-size: 9pt;
      color: rgb(236,236,236);
      padding-bottom: 40px;
}

.polkit-dialog-user-layout {
      padding-left: 10px;
      spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
      padding-left: 0px;
      padding-right: 10px;
}

.polkit-dialog-user-root-label {
      color: #ff0000;
}

.polkit-dialog-password-label:ltr {
      padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
      padding-left: 0.5em;
}

.polkit-dialog-password-entry {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}

.polkit-dialog-password-entry:focus {
      background-color: rgba(255,255,255,0.72);
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 4px 12px;
      border-radius: 4px;
      width: 250px;
      height: 16px; 
      color: #000;
      selected-color: #fff;
      caret-color: #000;
      caret-size: 1px;
      selection-background-color: #64ade5;
      transition-duration: 150;
}

.polkit-dialog-password-entry .capslock-warning {
      icon-size: 16px;
      warning-color: #999;
      padding: 0 4px;
}

.polkit-dialog-error-label {
      font-size: 10pt;
      color: #ffff00;
      padding-bottom: 8px;
}

.polkit-dialog-info-label {
      font-size: 10pt;
      padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
      font-size: 10pt;
      color: rgba(0,0,0,0);
      padding-bottom: 8px;
}

.network-dialog-secret-table {
      spacing-rows: 15px;
}
/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
      border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
      border-width: 0px;
}
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
      border-image: url("keyboard-bg.png") 4;
}

.keyboard-layout {
      spacing: 10px;
      padding: 10px;
}

.keyboard-row {
      spacing: 15px;
}

.keyboard-key {
      min-height: 30px;
      min-width: 30px;
      background-gradient-direction: vertical;
      background-gradient-start: rgba(70,70,70,0.6);
      background-gradient-end: rgba(70,70,70,0.1);
      border: 1px solid #000;
      color: rgb(190,190,190);
      font-size: 14pt;
      font-weight: bold;
}

.keyboard-key:grayed {
       color: #888;
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.6);
       background-gradient-end: rgba(70,70,70,0.1);
       border: 1px solid #000;
}

.keyboard-key:active {
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.1);
       background-gradient-end: rgba(70,70,70,0.6);
       border: 1px solid #409ce8;
}

.keyboard-subkeys {
       color: rgb(70,70,70);
       padding: 5px;
       -arrow-border-radius: 4px;
       -arrow-background-color: rgb(225,225,225);
       -arrow-border-width: 1px;
       -arrow-border-color: rgba(40,40,40,0.4);
       -arrow-base: 18px;
       -arrow-rise: 10px;
       -st-shadow: 0px -1px 2px 0px rgba(255,255,255,0.9);
       -boxpointer-gap: 2px;
}
/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-favorites-box {  
       margin: auto;
       background-color: rgb(50,50,50);
       box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
       border: solid 1px;
       border-color: rgb(10,10,10);
       border-radius: 3px;
       width: 70%;
       padding-top: 2px;
       padding-left: 4px;
       padding-right: 4px;
       padding-bottom: 2px;
}

.menu-favorites-button {
       padding-top: 10px;
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 10px;
}

.menu-favorites-button:hover {
       color: rgb(255,255,255);
       background-gradient-direction: vertical;
       background-gradient-start: rgba(120,120,120,0.6);
       background-gradient-end: rgba(120,120,120,0.6);
}

.menu-places-box {  
       width: 70%;
       margin: auto;
       padding-top: 7px;
       padding-left: 7px;
       padding-right: 4px;
       padding-bottom: 7px;   
       border: 0px solid #666;  
}

.menu-places-button {
       padding-top: 7px;
       padding-left: 7px;
       padding-right: 4px;
       padding-bottom: 7px;    
}

.menu-categories-box {
       padding-top: 10px;
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 10px;    
}

.menu-applications-box {
       padding-top: 4px;
       padding-left: 4px;
       padding-right: 4px;
       padding-bottom: 4px;
}

.menu-application-button {
       padding-top: 7px;
       padding-left: 7px;
       padding-right: 7px;
       padding-bottom: 7px; 
       max-width: 10px;   
}

.menu-application-button-selected {
       padding-top: 7px;
       padding-left: 7px;
       padding-right: 7px;
       padding-bottom: 7px;
       color: rgb(255,255,255);
       background-gradient-direction: vertical;
       background-gradient-start: rgba(120,120,120,0.6);
       background-gradient-end: rgba(120,120,120,0.6);
}

.menu-application-button-label:ltr { 
       padding-left: 5px;
}

.menu-application-button-label:rtl { 
       padding-right: 5px;
}

.menu-category-button {
       border-bottom: 0px;
       border-left: 0px;
       border-right: 0px; 
       padding-top: 4px;
       padding-left: 6px;
       padding-right: 6px;
       padding-bottom: 4px;
}

.menu-category-button-greyed {
       padding-top: 7px;
       padding-left: 7px;
       padding-right: 7px;
       padding-bottom: 7px; 
       color: rgba(100,100,100,1);
       font-style: italic;
}

.menu-category-button-selected {
       border-bottom: 0px;
       border-left: 0px;
       border-right: 0px; 
       padding-top: 4px;
       padding-left: 6px;
       padding-right: 6px;
       padding-bottom: 4px; 
       color: rgb(255,255,255); 
       background-gradient-direction: vertical;
       background-gradient-start: rgba(120,120,120,0.6);
       background-gradient-end: rgba(120,120,120,0.6);
}

.menu-category-button-label:ltr { 
       padding-left: 5px;       
}

.menu-category-button-label:rtl { 
       padding-right: 5px;       
}

.menu-category-button-button:hover {
       background-color: #3d3d3d;
       border: 1px solid #535353;
       border-radius: 2px;
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
 
.menu-selected-app-box {
       padding-right: 20px;
       padding-left: 18px;
       text-align: right;
}

.menu-selected-app-title {
       font-weight: bold;
       font-size:12;
}

.menu-selected-app-description {
       max-width: 100px;
       font-size: 9pt;
}

.menu-search-box {
       padding-left: 30px;
}

.menu-search-entry-icon {
       icon-size: 1em;
       color: #2b2b2b;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
 
.window-list-box {
        spacing: 3px;
        padding-left: 0px;
}

.window-list-item-label {
        width: 15em;
        min-width: 5px;
}

.window-list-item-box {
	font-weight: bold; 
	color: rgb(236,236,236);
        padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	transition-duration: 150;
}

.window-list-item-box:hover  {     
        border-image: url("hover-1.png") 6;
        transition-duration: 150;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {
	font-weight: bold;
	color: rgb(236,236,236);
        transition-duration: 0;
}

.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover,
.window-list-item-box:active:hover  {     

       transition-duration: 150;
}

.window-list-item-demands-attention {
       border-image: url("attention.png") 6;
       transition-duration: 150;
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
 
.sound-button-container {
       padding-right: 3px;
       padding-left: 3px;
}

.soundbox-buttonBox {
        padding: 5px 5px 5px 5px;
    
}

.soundbox-soundButton-box {
        padding: 3px 3px 3px 3px;
}

.sound-button {
        color: rgb(255,255,255); 
        background-gradient-direction: vertical;
        background-gradient-start: rgba(70,70,70,0.6);
        background-gradient-end: rgba(70,70,70,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
        width: 22px;
        height: 22px;
        padding: 5px;

}

.sound-button:active,
.sound-button:pressed {
       background-gradient-direction: vertical;
       background-gradient-start: rgba(70,70,70,0.1);
       background-gradient-end: rgba(70,70,70,0.6);
       border: 1px solid #409ce8;
}

.sound-button StIcon {
       icon-size: 1.4em;
}

.sound-track-infos {
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 5px;
       padding-bottom: 5px;
}

.sound-track-info {
       padding-top: 2px;
       padding-bottom: 2px;
}

.sound-track-info StIcon {
       icon-size: 1em;
}

.sound-track-info StLabel {
       padding-left: 5px;
       padding-right: 5px;
}

.sound-track-box {  
       padding-left: 15px;
       padding-right: 15px;  
       max-width: 220px;
}

.sound-seek-box {
       padding-left: 20px;
}

.sound-seek-box StLabel {
       padding-top: 4px;
}

.sound-seek-box StIcon {
       icon-size: 1em;
}

.sound-seek-slider {
       width: 140px;
} 

.sound-volume-menu-item {
       padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
       icon-size: 1.14em;
       padding-left: 8px;
       padding-right: 8px;
}

.sound-playback-control {
       padding-top: 5px;
       padding-bottom: 10px;
       padding-left: 10px;
       padding-right: 10px;
}
/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
 
#workspaceSwitcher {
       spacing: 200px;
}

.workspace-button {
       width: 20px;
       height: 6px;   
       color: rgb(70,70,70);
       border: 0px;
       border-color: rgba(200,200,200,1);
       padding: 3px;
       padding-right: 1px;
       font-weight: bold;
       padding-top: 5px;
       transition-duration: 150;
}

.workspace-button:outlined {
       padding: 3px;    
       padding-right: 1px;
       background: transparent;
       color: #409ce8;
       font-weight: bold;
       padding-top: 5px;
       transition-duration: 150;
}

.workspace-button:hover {
       color: rgb(120,120,120);
       border-color: rgba(200,200,200,1);
       padding: 3px;
       padding-right: 1px;
       font-weight: bold;
       padding-top: 5px;
       transition-duration: 150;
}

.workspace-button:outlined:hover {
       padding: 3px;    
       padding-right: 1px;
       background: transparent;
       color: #409ce8;
       font-weight: bold;
       padding-top: 5px;
       transition-duration: 150;
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
        padding-left: 0px;
}

.panel-launcher {
        margin: 1px;
        padding: 2px;
        transition-duration: 150;
}

.panel-launcher:hover {
        border-image: url("hover-1.png") 6;
        transition-duration: 150;
}

.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}

.panel-launcher-add-dialog-entry {
        background-color: rgba(255,255,255,0.72);
        box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 4px 12px;
        border-radius: 4px;
        width: 250px;
        height: 16px; 
        color: #000;
        selected-color: #fff;
        caret-color: #000;
        caret-size: 1px;
        selection-background-color: #64ade5;
        transition-duration: 150;
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
        background-color: rgba(255,255,255,0.72);
        box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 4px 12px;
        border-radius: 4px;
        width: 250px;
        height: 16px; 
        color: #000;
        selected-color: #fff;
        caret-color: #000;
        caret-size: 1px;
        selection-background-color: #64ade5;
        transition-duration: 150;
}
/* ===================================================================
 * Overview corner
 * ===================================================================*/
 
#overview-corner {
	background-image: url("overview.png");
}

#overview-corner:hover {    
        background-image:  url("overview-hover.png");
}
/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
 
.applet-separator {
	border-image: url("separator.png") 4 5 0 2 stretch;
  	padding: 5px 4px;
}

.applet-separator-line {
} 
.applet-box {
         padding-left: 5px;
         padding-right: 5px;
         font-weight: bold;
         color: #ccc;
         transition-duration: 100;
}

.applet-box:hover {
        color: white;
        text-shadow: black 0px 2px 2px;
        icon-shadow: black 0px 2px 2px;
}

.applet-box:active {
        color: white;
        text-shadow: black 0px 2px 2px;
        icon-shadow: black 0px 2px 2px;
}

.applet-label {
        text-align: center;
}

.applet-icon {  
        color: #ccc;
}
/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
	border-image: url("bg-1.png") 6;
	padding: 9px 15px;
	color: rgb(190,190,190);
	font-weight: bold;
	font-size: 26pt;	
}

.expo-workspaces-name-entry {
	padding: 10px 15px;
	border-image: url("bg-1.png") 6;
	color: rgb(190,190,190);
	border-radius: 2px;
	height: 15px;	
	text-align: center;
	font-weight: bold;
	selected-color: #fff;
        caret-color: #2b2b2b;
        caret-size: 1px;
        selection-background-color: #409ce8;
	transition-duration: 150;
}

.expo-workspaces-name-entry#selected {
	color: #3b8acd;
	transition-duration: 150;
}

.expo-workspaces-name-entry#selected:focus {
	color: rgb(70,70,70);
	transition-duration: 150;
}

.expo-workspaces-name-entry:focus {
	border-image: url("bg-2.png") 6;
	color: rgb(44,44,44);
	transition-duration: 150;
}
/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
       padding: .5em 1em;
}

.notification-applet-container {
       max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
       spacing: .2em;
       min-height: 30px;
       padding-top: 2px;
}

.check-box StBin {
       width: 22px;
       height: 22px;
       background-image: url("checkbox-off.png");
}

.check-box:focus StBin {
       background-image: url("checkbox-off-focus.png");
}

.check-box:checked StBin {
       background-image: url("checkbox.png");
}

.check-box:focus:checked StBin {
       background-image: url("checkbox-focus.png");
}

.check-box StLabel {
       font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
       spacing: .2em;
       height: 26px;
       padding-top: 2px;
}

.radiobutton StBin {
       width: 16px;
       height: 16px;
       background-image: url("radio-unselected.png");
}

.radiobutton:focus StBin {
       background-image: url("radio-unselected.png");
}

.radiobutton:checked StBin {
       background-image: url("radio-selected.png");
}

.radiobutton:focus:checked StBin {
       background-image: url("radio-selected.png");
}

.radiobutton StLabel {
       padding-top: 4px;
       font-size: 0.9em;
       box-shadow: none;
}

.flashspot {
       background-color: white;

}
/* ===================================================================
 * User Applet
 * ===================================================================*/
 
 
.user-icon {  
       background-color: transparent;
       border: 0px solid;
       border-radius: 4px;
       padding: 0.4em;
}


.user-label {
       color: rgb(255,255,255);
       font-size: 16px;
       margin: 6px;
}
/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
       font-size: 18pt;
       border-image: url("bg-1.png") 6;
       padding: 8px 8px 8px 8px;
       color: rgb(236,236,236);
       text-align: center;     

}

/* ===================================================================
 * Weather Applet
 * ===================================================================*/
.weather-current-location-link:selected,
.weather-current-location-link:hover {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(255, 255, 255, 0.0);
      background-gradient-end: rgba(255, 255, 255, 0.0);
      color: #64ade5;
      font-size: 15pt;
}

.weather-current-location-link {
      color: #d4d4d4;
      font-size: 15pt;
}


.weather-current-summarybox {
      padding-top: 15px;
}

.weather-current-summary {
      font-size: 30px;
      text-align: center;
}

.weather-current-databox {
      padding-top: 10px;
      padding-left: 20px;
    
}

.weather-current-icon {
      padding: 0 25px;
}

.weather-current-iconbox {
      padding: 1em;
}

.weather-icon {
      padding-right: 5px;
}

.weather-icon-rtl {
      padding-left: 5px;
}

.weather-current-databox-captions {
      text-align: right;
      padding: 0 5px 0 5px;
      color: #919191;
}

.weather-current-astronomy {
      color: #bbb;
}

.weather-forecast-icon {
      padding: 0 20px 0 30px;

}

.weather-forecast-databox {
      padding: 10px 20px 0px 0;

}

.weather-forecast-day {
      color: #919191;
      font-size: 8pt;
      font-weight: bold;

}

.weather-config {
      padding-right: 10px;

}
