
.Leader { stroke-width: 0.5 !important; stroke: #afb42b !important; fill: none !important; }

.Button { stroke-width: 0.25; stroke: #afb42b; fill: rgba(175, 180, 43, 0.12); }

.Ring { stroke-width: 0.5 !important; stroke: #afb42b !important; fill: none !important; }

.Label { stroke-width: 0.1 !important; stroke: none !important; fill: transparent !important; font-size: 0.1 !important; }

.TouchStrip, .TouchRing { stroke-width: 0.1 !important; stroke: #afb42b !important; fill: rgba(175, 180, 43, 0.25) !important; }
