# ==============================================================================
# CHROME/CHROMIUM SPECIFIC SETTINGS, IF YOU REALLY MUST.
# ==============================================================================

style "chrome-gtk-frame" {
    ChromeGtkFrame::frame-color			        	= @bg_color_dark
    ChromeGtkFrame::inactive-frame-color			= @bg_color_dark
    ChromeGtkFrame::frame-gradient-size		    	        = 120
    ChromeGtkFrame::frame-gradient-color		        = @bg_color_dark
    ChromeGtkFrame::inactive-frame-gradient-color	        = @bg_color_dark
    ChromeGtkFrame::incognito-frame-color 			= @bg_color_dark
    ChromeGtkFrame::incognito-inactive-frame-color 	        = @bg_color_dark
    ChromeGtkFrame::incognito-frame-gradient-size 	        = 120
   ChromeGtkFrame::incognito-frame-gradient-color 	        = @bg_color_dark

    ChromeGtkFrame::scrollbar-trough-color	        = shade (0.99, @bg_color_dark)
    ChromeGtkFrame::scrollbar-slider-prelight-color	= shade (0.87, @bg_color_dark)
    ChromeGtkFrame::scrollbar-slider-normal-color	= shade (0.80, @bg_color_dark)
}

class "ChromeGtkFrame"	style "chrome-gtk-frame"






