/**********************
 * Fallback Mode Panel
 **********************/

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet {
    background-image: 			none;
    background-color: 			@os_chrome_bg_color;
    color: 						@os_chrome_fg_color;
	border-width: 0px;
	border-image: 				none;
    border-style:               none;
	text-shadow:				none;
}

.gnome-panel-menu-bar .menu GtkSwitch.trough,
PanelApplet > GtkMenuBar.menubar .menu GtkSwitch.trough {
/*
.gnome-panel-menu-bar .menu GtkSwitch.trough:active:prelight,
PanelApplet > GtkMenuBar.menubar .menu GtkSwitch.trough:active:prelight { */
    color: transparent;
    text-shadow: none;
}

ClockBox,
.gnome-panel-menu-bar {
    /* font: bold; */
}

.gnome-panel-menu-bar .menuitem:prelight {
  /*  background-color: @os_chrome_selected_bg_color;
    color: @os_chrome_selected_fg_color; */
}

.gnome-panel-menu-bar .menuitem *:prelight {
 /*   color: @os_chrome_selected_fg_color;
    text-shadow: @os_chrome_bg_color 0 1; */
}

PanelApplet > GtkMenuBar.menubar .menuitem {
    padding: 0px;
}

PanelApplet .button,
PanelApplet .button:prelight,
PanelApplet .button *:prelight {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);

    border-image: none;
    border-width: 0px;
    border-radius: 0px;
	
	box-shadow: none;

    color: @os_chrome_fg_color;
	text-shadow: none;
}

PanelToplevel {
	/* color border panel */
	background-color:		shade(@os_chrome_bg_color, 0.70);

}

PanelApplet .button:active ,
PanelApplet .button:active:prelight,
PanelApplet .button *:active:prelight {
    border-image: none;
    background-color: @os_chrome_selected_bg_color;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 0.9)),
                                     to   (shade(@theme_selected_bg_color, 1.0)));

	color: @os_chrome_selected_fg_color;
	text-shadow: none;
    border-width: 0px;
    border-radius: 0px;
    border-image: none;

	box-shadow: none;

}

PanelApplet *:prelight {
    /* color: @os_chrome_selected_fg_color; */
}

PanelApplet *:active,
PanelApplet *:prelight:active {
    color: @os_chrome_selected_fg_color;
    text-shadow: 0px 1px @theme_selected_shadow_color;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 3px;
    -NaTrayApplet-icon-size: 16px;
}

WnckPager, WnckTasklist {
    color: @os_chrome_fg_color;
	text-shadow: none;
}

GsmFailWhaleDialog {
    background-color: @os_chrome_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
	text-shadow: none;
}

GsmFailWhaleDialog * {
    background-color: @os_chrome_bg_color;
    background-image: none;
}
