/************************
 * tabs-themed-dark.css *
 * ***********************************************************
 * the same as tabs-themed but better adapted to dark themes *
 *************************************************************/
@define-color theme_tab_bg_color shade(@button_bg_active, 0.90);

.notebook tab {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_tab_bg_color, 1.10)),
                                     color-stop (0.48, shade(@theme_tab_bg_color, 1.06)),
                                     color-stop (0.52, shade(@theme_tab_bg_color, 0.95)),
                                     to (shade(@theme_tab_bg_color, 0.91)));

    border-width: 1px;
    border-style: solid; 
	border-radius: 0px;
	border-color:       shade(@button_border_active, 1.15);

    border-top-color: 	shade(@button_border_active, 1.00);
    border-left-color: 	shade(@button_border_active, 1.30);
    border-right-color: shade(@button_border_active, 1.30);

	border-image: none;

    box-shadow: inset  0px  1px alpha(#eee, 0.1),
                inset  1px  0px alpha(#eee, 0.1),
                inset -1px  0px alpha(#eee, 0.1); 
}

.notebook tab:active {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@button_bg_active, 0.80)),
                                     color-stop (0.47, shade (@button_bg_active, 0.95)),
                                     color-stop (0.53, shade (@button_bg_active, 1.00)),
                                     to (shade (@button_bg_active, 1.20))); 

	border-color:       shade(@button_border_active, 1.10);

    border-top-color: 	shade(@button_border_active, 0.85);
    border-left-color: 	shade(@button_border_active, 1.20);
    border-right-color: shade(@button_border_active, 1.20);

	border-image: none;
    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.03),
                inset  2px  0px alpha(#000, 0.02),
                inset  1px  0px alpha(#000, 0.03),
                inset -2px  0px alpha(#000, 0.02),
                inset -1px  0px alpha(#000, 0.03),
                inset  0px -1px alpha(#000, 0.20);


	
}

.notebook tab:first-child:active,
.notebook tab:first-child {
    border-left-color: 	shade(@button_border_active, 1.00);

}

.notebook tab:last-child:active,
.notebook tab:last-child {
    border-right-color: shade(@button_border_active, 1.00);
}

.notebook tab,
.notebook tab GtkLabel {
	color: shade(@theme_selected_fg_color, 0.95);
	text-shadow: 1px 1px @theme_selected_shadow_color;
}


