stage {
  color: #e8e8e8; }

#menu-search-entry, #appmenu-search-entry, .expo-workspaces-name-entry, .prompt-dialog-password-entry, .run-dialog-entry {
  min-height: 24px;
  border-radius: 6px;
  padding: 6px 9px;
  border: 1px solid #555555;
  caret-color: #e8e8e8;
  selected-color: black;
  selection-background-color: #8a8378;
  caret-size: 1px;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, box-shadow; }

.notification-icon-button, .notification-button, .sound-player StButton {
  border-radius: 6px;
  padding: 6px 24px;
  font-weight: 500;
  min-height: 28px;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, box-shadow; }

.notification-icon-button, .notification-button, .sound-player StButton {
  color: #e8e8e8;
  background-color: rgba(57, 57, 57, 0.91);
  border: 1px solid #555555; }
  .notification-icon-button:focus, .notification-button:focus, .sound-player StButton:focus {
    color: #e8e8e8;
    background-color: rgba(57, 57, 57, 0.91);
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .notification-icon-button:hover, .notification-button:hover, .sound-player StButton:hover {
    color: #e8e8e8;
    background-color: rgba(70, 70, 70, 0.915);
    border: 1px solid #6a6763; }
  .notification-icon-button:active, .notification-button:active, .sound-player StButton:active {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }
  .notification-icon-button:insensitive, .notification-button:insensitive, .sound-player StButton:insensitive {
    color: rgba(232, 232, 232, 0.5);
    background-color: rgba(49, 49, 49, 0.91);
    border: 1px solid rgba(85, 85, 85, 0.5); }

.audio-device-selection-dialog .audio-selection-box .audio-selection-device, .polkit-dialog-user-combo, .sound-player StButton:small {
  color: #e8e8e8;
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid #555555; }
  .audio-device-selection-dialog .audio-selection-box .audio-selection-device:focus, .polkit-dialog-user-combo:focus, .sound-player StButton:focus:small {
    color: #e8e8e8;
    background-color: rgba(30, 30, 30, 0.9);
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .audio-device-selection-dialog .audio-selection-box .audio-selection-device:hover, .polkit-dialog-user-combo:hover, .sound-player StButton:hover:small {
    color: #e8e8e8;
    background-color: rgba(70, 70, 70, 0.915);
    border: 1px solid #6a6763; }
  .audio-device-selection-dialog .audio-selection-box .audio-selection-device:insensitive, .polkit-dialog-user-combo:insensitive, .sound-player StButton:insensitive:small {
    color: rgba(232, 232, 232, 0.5);
    background-color: rgba(30, 30, 30, 0.9);
    border: 1px solid rgba(85, 85, 85, 0.5); }
  .audio-device-selection-dialog .audio-selection-box .audio-selection-device:selected, .polkit-dialog-user-combo:selected, .sound-player StButton:selected:small, .audio-device-selection-dialog .audio-selection-box .audio-selection-device:active, .polkit-dialog-user-combo:active, .sound-player StButton:active:small {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }
  .audio-device-selection-dialog .audio-selection-box .audio-selection-device:checked, .polkit-dialog-user-combo:checked, .sound-player StButton:checked:small {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }

#menu-search-entry, #appmenu-search-entry, .expo-workspaces-name-entry, .prompt-dialog-password-entry, .run-dialog-entry {
  background-color: rgba(57, 57, 57, 0.91);
  color: #e8e8e8; }
  #menu-search-entry:focus, #appmenu-search-entry:focus, .expo-workspaces-name-entry:focus, .prompt-dialog-password-entry:focus, .run-dialog-entry:focus {
    background-color: rgba(57, 57, 57, 0.91);
    color: #e8e8e8;
    border-color: #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  #menu-search-entry:hover, #appmenu-search-entry:hover, .expo-workspaces-name-entry:hover, .prompt-dialog-password-entry:hover, .run-dialog-entry:hover {
    background-color: rgba(70, 70, 70, 0.915);
    color: #e8e8e8;
    border-color: #706c67; }
  #menu-search-entry:insensitive, #appmenu-search-entry:insensitive, .expo-workspaces-name-entry:insensitive, .prompt-dialog-password-entry:insensitive, .run-dialog-entry:insensitive {
    background-color: rgba(49, 49, 49, 0.91);
    color: rgba(232, 232, 232, 0.5); }
  #menu-search-entry StLabel.hint-text, #appmenu-search-entry StLabel.hint-text, .expo-workspaces-name-entry StLabel.hint-text, .prompt-dialog-password-entry StLabel.hint-text, .run-dialog-entry StLabel.hint-text {
    color: rgba(232, 232, 232, 0.3); }
  #menu-search-entry .capslock-warning, #appmenu-search-entry .capslock-warning, .expo-workspaces-name-entry .capslock-warning, .prompt-dialog-password-entry .capslock-warning, .run-dialog-entry .capslock-warning {
    icon-size: 1.091em; }
  #menu-search-entry StIcon.peek-password, #appmenu-search-entry StIcon.peek-password, .expo-workspaces-name-entry StIcon.peek-password, .prompt-dialog-password-entry StIcon.peek-password, .run-dialog-entry StIcon.peek-password {
    icon-size: 16px;
    color: #e8e8e8; }

.dialog .dialog-button, .dialog .dialog-button:destructive-action, .dialog .dialog-button:default {
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 6px;
  color: #e8e8e8;
  background-color: rgba(57, 57, 57, 0.91);
  border: 1px solid #555555; }
  .dialog .dialog-button:focus {
    color: #e8e8e8;
    background-color: rgba(57, 57, 57, 0.91);
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .dialog .dialog-button:hover {
    color: #e8e8e8;
    background-color: rgba(70, 70, 70, 0.915);
    border: 1px solid #6a6763; }
  .dialog .dialog-button:active {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }
  .dialog .dialog-button:checked {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }
  .dialog .dialog-button:insensitive {
    color: rgba(232, 232, 232, 0.5);
    background-color: rgba(49, 49, 49, 0.91);
    border: 1px solid rgba(85, 85, 85, 0.5); }

.dialog .dialog-button:default {
  color: #e8e8e8;
  background-color: #3b6f3b;
  border: 1px solid #555555; }
  .dialog .dialog-button:focus:default {
    color: #e8e8e8;
    background-color: #3b6f3b;
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .dialog .dialog-button:hover:default {
    color: #e8e8e8;
    background-color: #4d904d;
    border: 1px solid #6a6763; }
  .dialog .dialog-button:active:default {
    color: #e8e8e8;
    background-color: #325e32;
    border: 1px solid #555555; }
  .dialog .dialog-button:checked:default {
    color: #e8e8e8;
    background-color: #325e32;
    border: 1px solid #555555; }
  .dialog .dialog-button:insensitive:default {
    border-color: #555555;
    color: rgba(232, 232, 232, 0.5);
    background-color: rgba(49, 49, 49, 0.91);
    border: 1px solid rgba(85, 85, 85, 0.5); }

.dialog .dialog-button:destructive-action {
  color: #e8e8e8;
  background-color: #9a2a2a;
  border: 1px solid #555555; }
  .dialog .dialog-button:focus:destructive-action {
    color: #e8e8e8;
    background-color: #9a2a2a;
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .dialog .dialog-button:hover:destructive-action {
    color: #e8e8e8;
    background-color: #c23535;
    border: 1px solid #6a6763; }
  .dialog .dialog-button:active:destructive-action {
    color: #e8e8e8;
    background-color: #862525;
    border: 1px solid #555555; }
  .dialog .dialog-button:checked:destructive-action {
    color: #e8e8e8;
    background-color: #862525;
    border: 1px solid #555555; }
  .dialog .dialog-button:insensitive:destructive-action {
    border-color: #555555;
    color: rgba(232, 232, 232, 0.5);
    background-color: rgba(49, 49, 49, 0.91);
    border: 1px solid rgba(85, 85, 85, 0.5); }

.popup-combobox-item, .popup-sub-menu .popup-menu-item, .popup-menu-item {
  font-weight: normal;
  spacing: 6px;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, box-shadow;
  padding: 6px 9px;
  margin: 0 4px;
  border-radius: 6px;
  border: 1px solid transparent; }

/* General Typography */
.overview-empty-placeholder {
  font-weight: 300;
  font-size: 2.182em;
  line-height: 1.3; }

.message-dialog-content .message-dialog-title, .dialog .confirm-dialog-title {
  font-weight: 800;
  font-size: 1.364em;
  line-height: 1.4; }

.calendar-events-no-events-label, .calendar-today-date-label {
  font-weight: 700;
  font-size: 1.364em;
  line-height: 1.4; }

.workspace-switch-osd, .media-keys-osd, .message-dialog-content .message-dialog-title.lightweight, .calendar-events-date-label, .calendar-today-day-label {
  font-weight: 700;
  font-size: 1.182em;
  line-height: 1.4; }

.menu-selected-app-title, .popup-device-menu-item, .polkit-dialog-user-combo, .dialog-list .dialog-list-title, .calendar-event-time-future, .calendar-event-time-present:all-day, .calendar-event-time-present, .calendar-event-time-past, .calendar-month-label, .device-box .device-labels .primary-label {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.45; }

.menu-application-button-description, .appmenu-application-button-description, .prompt-dialog-error-label, .prompt-dialog-info-label, .prompt-dialog-null-label, .run-dialog-description, .message-dialog-content .message-dialog-caption, .dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-description, .calendar-event-countdown, .caps-lock-warning-label {
  font-weight: 400;
  font-size: 0.818em;
  line-height: 1.5; }

.popup-slider-menu-item, .slider {
  height: 1em;
  min-width: 14em;
  -slider-height: 0.375em;
  -slider-background-color: rgba(57, 57, 57, 0.91);
  -slider-active-background-color: #e8e8e8;
  -slider-border-color: transparent;
  -slider-active-border-color: transparent;
  -slider-border-width: 0;
  -slider-handle-radius: 0.5em; }

.resize-popup, .workspace-switch-osd, .info-osd, .media-keys-osd, #LookingGlassDialog {
  color: #e8e8e8;
  background-color: rgba(30, 30, 30, 0.82);
  border: 1px solid #555555;
  border-radius: 6px;
  text-align: center;
  padding: 18px; }

#altTabPopup {
  padding: 8px;
  spacing: 16px; }

.switcher-list {
  background-color: rgba(20, 20, 20, 0.95);
  border: 1px solid #555555;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 15px; }
  .switcher-list-item-container {
    spacing: 8px; }
  .switcher-list .item-box {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    transition-duration: 200ms;
    transition-property: background-color, border-color, box-shadow; }
    .switcher-list .item-box:outlined {
      border-color: #b7b0a6; }
    .switcher-list .item-box:selected {
      border-color: #8a8378;
      background-color: rgba(57, 57, 57, 0.91);
      box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.4); }
  .switcher-list .thumbnail-box {
    padding: 0;
    spacing: 4px; }
  .switcher-list .thumbnail {
    width: 256px; }

.switcher-preview-backdrop {
  background-color: rgba(0, 0, 0, 0.6); }

.switcher-arrow {
  background-color: transparent;
  border-color: transparent;
  color: #e8e8e8; }

.thumbnail-scroll-gradient-left {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(20, 20, 20, 0.95);
  background-gradient-end: rgba(20, 20, 20, 0);
  border-radius: 10px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px; }

.thumbnail-scroll-gradient-right {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(20, 20, 20, 0);
  background-gradient-end: rgba(20, 20, 20, 0.95);
  border-radius: 10px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px; }

.applet-box {
  padding: 0 6px;
  spacing: 6px;
  text-align: center;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color; }
  .applet-box.vertical {
    padding: 6px 0; }
  .applet-box:hover {
    background-color: rgba(83, 83, 83, 0.92);
    transition-duration: 150ms; }
  .applet-box:highlight {
    background-color: rgba(154, 42, 42, 0.5); }

.applet-label {
  font-weight: bold; }

.applet-separator {
  padding: 1px 4px; }
  .applet-separator.vertical {
    padding: 4px 1px; }

.applet-separator-line {
  width: 1px;
  background: rgba(232, 232, 232, 0.2); }
  .applet-separator-line-vertical {
    height: 1px;
    background: rgba(232, 232, 232, 0.2); }

.applet-cornerbar {
  width: 8px;
  background-color: rgba(70, 70, 70, 0.915);
  border: 1px solid #555555; }
  .applet-cornerbar.vertical {
    height: 8px; }
  .applet-cornerbar-box {
    background: none; }

.applet-cornerbar-box:hover > .applet-cornerbar {
  background-color: rgba(83, 83, 83, 0.92); }

.notification-applet-padding {
  padding: 4px 0 4px 4px; }

.panel-launchers {
  spacing: 2px; }
  .panel-launchers .launcher {
    padding: 0 2px; }
    .panel-launchers .launcher:hover {
      background-color: rgba(70, 70, 70, 0.915); }
  .panel-launchers.vertical {
    padding: 2px 0; }
    .panel-launchers.vertical .launcher {
      padding: 2px 0; }

.device-box .device-icon {
  icon-size: 1.637em;
  color: #e8e8e8; }

.device-box .device-labels {
  margin-left: 8px;
  spacing: 4px; }
  .device-box .device-labels .primary-label {
    color: #e8e8e8; }
  .device-box .device-labels .status-label {
    color: rgba(189, 189, 189, 0.975); }

.sound-player > StBoxLayout:first-child {
  spacing: 4px;
  padding: 0 6px; }

.sound-player StButton {
  width: 20px;
  height: 20px;
  padding: 6px; }
  .sound-player StButton StIcon {
    icon-size: 1em; }
  .sound-player StButton:small {
    width: 18px;
    height: 18px;
    padding: 4px; }
    .sound-player StButton:small StIcon {
      icon-size: 1em; }

.sound-player-generic-coverart {
  background-color: rgba(0, 0, 0, 0.2); }

.sound-player-overlay {
  width: 290px;
  padding: 12px;
  spacing: 4px;
  background-color: rgba(30, 30, 30, 0.8); }
  .sound-player-overlay StBoxLayout {
    padding-top: 2px; }
  .sound-player-overlay > StBoxLayout {
    spacing: 6px; }
  .sound-player-overlay StBin > StBoxLayout {
    spacing: 6px; }

.sound-player .slider {
  height: 6px;
  -slider-height: 6px;
  -slider-background-color: #1b1b1b;
  -slider-active-background-color: #e8e8e8;
  -slider-border-color: transparent;
  -slider-active-border-color: transparent;
  -slider-border-width: 0;
  -slider-handle-radius: 0; }

.spacer-box {
  border: 1px solid transparent; }
  .spacer-box:highlight {
    background-color: #d45d50; }
  .spacer-box.edit-mode {
    border: 1px symbolic; }

.systray {
  padding: 0; }

.panel-top .workspace-switcher,
.panel-bottom .workspace-switcher {
  padding: 0 4px; }

.workspace-button {
  border: 1px solid #555555;
  width: 2em;
  color: rgba(131, 131, 131, 0.945);
  background-color: rgba(232, 232, 232, 0.05); }
  .workspace-button.vertical {
    height: 2em; }
  .workspace-button:outlined {
    background-color: rgba(57, 57, 57, 0.91);
    color: #e8e8e8; }
    .workspace-button:outlined:hover {
      background-color: rgba(70, 70, 70, 0.915); }
  .workspace-button:hover {
    background-color: rgba(57, 57, 57, 0.91); }
  .workspace-button:shaded {
    background-color: rgba(17, 17, 17, 0.9); }

.workspace-graph {
  padding: 4px;
  spacing: 4px; }
  .workspace-graph .workspace {
    background-color: #282828;
    box-shadow: inset 0 0 1px 1.5px rgba(138, 131, 120, 0.5); }
    .workspace-graph .workspace:active {
      box-shadow: inset 0 0 0.5px 1.5px rgba(183, 176, 166, 0.7); }
      .workspace-graph .workspace:active .windows {
        -active-window-background: rgba(232, 232, 232, 0.4);
        -active-window-border: rgba(232, 232, 232, 0.45);
        -inactive-window-background: rgba(232, 232, 232, 0.15);
        -inactive-window-border: rgba(232, 232, 232, 0.2); }
    .workspace-graph .workspace .windows {
      -active-window-background: rgba(232, 232, 232, 0.4);
      -active-window-border: rgba(232, 232, 232, 0.45);
      -inactive-window-background: rgba(232, 232, 232, 0.15);
      -inactive-window-border: rgba(232, 232, 232, 0.2); }

.system-status-icon {
  icon-size: 1.091em; }

.flashspot {
  background-color: white; }

.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  color: #e8d050; }

.cinnamon-link {
  color: #b7b0a6; }
  .cinnamon-link:hover {
    color: #cec9c2; }

.lightbox {
  background-color: rgba(0, 0, 0, 0.4); }

#LookingGlassDialog {
  spacing: 4px; }

.magnifier-zoom-region {
  border: 2px solid #d45d50; }
  .magnifier-zoom-region.full-screen {
    border-width: 0; }

.pie-timer {
  width: 30px;
  height: 30px;
  -pie-border-width: 1px;
  -pie-border-color: rgba(200, 200, 200, 0.8);
  -pie-background-color: rgba(140, 140, 140, 0.6); }

.ripple-pointer-location {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(183, 176, 166, 0.4);
  box-shadow: 0 0 2px 2px #b7b0a6; }

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("corner-ripple.png"); }
  .ripple-box:rtl {
    background-image: url("corner-ripple.png"); }

StScrollView.vfade {
  -st-vfade-offset: 48px;
  -st-hfade-offset: 0 !important; }

StScrollView.hfade {
  -st-hfade-offset: 48px;
  -st-vfade-offset: 0 !important; }

StScrollView StScrollBar {
  min-height: 6px;
  min-width: 6px; }

StScrollBar StBin#trough {
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 6px; }

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  background-color: rgba(99, 99, 99, 0.93);
  border-radius: 6px;
  transition-duration: 200ms; }
  StScrollBar StButton#vhandle:hover,
  StScrollBar StButton#hhandle:hover {
    background-color: rgba(121, 121, 121, 0.94); }
  StScrollBar StButton#vhandle:active,
  StScrollBar StButton#hhandle:active {
    background-color: rgba(141, 141, 141, 0.95); }

.separator {
  -gradient-height: 1px;
  -gradient-start: #555555;
  -gradient-end: #555555;
  -margin-horizontal: 0;
  height: 1px; }

.tile-preview {
  background-color: rgba(183, 176, 166, 0.25);
  border: 2px solid rgba(183, 176, 166, 0.8); }

#Tooltip {
  border: 1px solid rgba(56, 56, 56, 0.9);
  border-radius: 6px;
  padding: 6px 12px;
  background-color: rgba(30, 30, 30, 0.95);
  color: #e8e8e8;
  font-weight: normal;
  text-align: center;
  margin: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

.user-icon {
  background-size: contain;
  border-radius: 999px;
  color: #e8e8e8;
  border-color: transparent; }
  .user-icon StIcon {
    padding: 0;
    border: none;
    border-radius: 999px; }
  .user-icon.user-avatar {
    border: none;
    border-radius: 999px;
    background-size: cover; }
  .user-icon StIcon.highlighted {
    border: 1px solid #e8e8e8;
    border-radius: 999px; }

.user-label {
  color: #e8e8e8;
  font-size: 1em;
  font-weight: bold;
  margin: 0px; }

.user-widget-label {
  font-weight: bold; }

.user-widget.horizontal {
  spacing: 6px; }

.user-widget.vertical {
  spacing: 6px; }

.user-widget.vertical .user-widget-label {
  font-weight: 700;
  font-size: 1.182em;
  color: #e8e8e8;
  text-align: center; }

.calendar {
  margin-top: 16px;
  spacing-rows: 3px;
  spacing-columns: 3px; }
  .calendar-main-box {
    margin: 4px; }
  .calendar-events-main-box {
    height: 280px;
    margin-right: 12px;
    min-width: 320px;
    border-right-width: 1px;
    border-color: #555555; }
  .calendar-today-home-button, .calendar-today-home-button-enabled {
    margin-left: 6px;
    padding: 6px 9px;
    border-radius: 6px;
    transition-duration: 200ms;
    transition-property: background-color, border-color; }
    .calendar-today-home-button:hover, .calendar-today-home-button-enabled:hover {
      background-color: rgba(83, 83, 83, 0.92);
      border-color: #555555;
      transition-duration: 150ms; }
  .calendar-today-day-label {
    text-align: center; }
  .calendar-change-month-back, .calendar-change-month-forward:rtl {
    width: 18px;
    height: 18px;
    color: #e8e8e8;
    background-image: url("common-assets/misc/calendar-arrow-left.svg");
    transition-duration: 200ms; }
    .calendar-change-month-back:hover, .calendar-change-month-forward:rtl:hover {
      background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
      transition-duration: 150ms; }
  .calendar-change-month-forward, .calendar-change-month-back:rtl {
    width: 18px;
    height: 18px;
    color: #e8e8e8;
    background-image: url("common-assets/misc/calendar-arrow-right.svg");
    transition-duration: 200ms; }
    .calendar-change-month-forward:hover, .calendar-change-month-back:rtl:hover {
      background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
      transition-duration: 150ms; }
  .calendar-day-event-dot-box {
    margin-top: 1.7em;
    max-rows: 1; }
  .calendar-day-event-dot {
    margin: 1px;
    border-radius: 2px;
    width: 4px;
    height: 4px; }
  .calendar-day-base {
    text-align: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 6px;
    color: rgba(131, 131, 131, 0.945);
    border: 1px solid transparent;
    transition-duration: 200ms;
    transition-property: background-color, border-color; }
    .calendar-day-base:hover {
      background-color: rgba(70, 70, 70, 0.915);
      border-color: #555555;
      transition-duration: 150ms; }
  .calendar-day-heading {
    color: #e8e8e8;
    margin-top: 8px;
    height: 1.4em; }
  .calendar-work-day {
    color: #e8e8e8; }
  .calendar-nonwork-day {
    color: #e8e8e8; }
  .calendar-today {
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #8a8378; }
    .calendar-today:hover {
      background-color: rgba(70, 70, 70, 0.915); }
  .calendar-other-month-day {
    color: rgba(131, 131, 131, 0.945); }
  .calendar-not-today:selected {
    background-color: rgba(57, 57, 57, 0.91);
    border-color: #8a8378; }
  .calendar-events-date-label {
    text-align: center; }
  .calendar-events-no-events-button {
    margin: 6px 0;
    padding: 6px;
    border-radius: 6px;
    color: rgba(189, 189, 189, 0.975); }
    .calendar-events-no-events-button:hover {
      color: #e8e8e8; }
  .calendar-events-no-events-icon {
    color: rgba(232, 232, 232, 0.85);
    icon-size: 128px; }
  .calendar-events-no-events-label {
    text-align: center;
    margin-top: 16px; }
  .calendar-events-scrollbox {
    margin-top: 8px; }
  .calendar-events-main-box .separator {
    -margin-horizontal: 1em;
    -gradient-height: 1px;
    -gradient-start: transparent;
    -gradient-end: transparent; }
  .calendar-event-button {
    margin: 3px 0;
    border-radius: 6px;
    border: 1px solid transparent; }
    .calendar-event-button:hover {
      background-color: rgba(68, 68, 68, 0.9);
      border-color: #555555; }
  .calendar-event-color-strip {
    width: 1px; }
  .calendar-event-row-content {
    margin: 7px; }
  .calendar-event-time-past {
    color: rgba(131, 131, 131, 0.945); }
  .calendar-event-time-present {
    color: #e8e8e8; }
  .calendar-event-time-present:all-day {
    color: #b7b0a6; }
  .calendar-event-countdown {
    color: rgba(189, 189, 189, 0.975); }
    .calendar-event-countdown:soon {
      color: #e8d050; }
    .calendar-event-countdown:imminent {
      color: #d45d50; }
    .calendar-event-countdown:current {
      color: #8fb070; }
  .calendar-event-time-future {
    color: #e8e8e8; }
  .calendar-event-summary {
    color: rgba(189, 189, 189, 0.975); }

.desklet:highlight {
  border: 2px solid #b7b0a6;
  border-radius: 6px; }

.desklet-with-borders {
  border: 1px solid #555555;
  border-radius: 6px;
  background-color: rgba(30, 30, 30, 0.7); }

.desklet-with-borders-and-header {
  border: 1px solid #555555;
  border-radius: 0 0 6px 6px;
  border-top-width: 0;
  background-color: rgba(30, 30, 30, 0.7);
  padding: 12px; }

.desklet-header {
  border: 1px solid #555555;
  border-radius: 6px 6px 0 0;
  background-color: rgba(30, 30, 30, 0.7);
  padding: 6px; }

.desklet-drag-placeholder {
  border: 1px solid red; }

.photoframe-box {
  border: 1px solid #555555;
  border-radius: 6px;
  background-color: rgba(30, 30, 30, 0.7);
  padding: 6px; }

.dialog {
  background-color: rgba(30, 30, 30, 0.9);
  color: #e8e8e8;
  border-radius: 12px;
  border: 1px solid #555555;
  padding: 15px; }
  .dialog .dialog-button-box {
    spacing: 9px; }
  .dialog .dialog-content-box {
    margin-top: 8px;
    margin-bottom: 16px;
    spacing: 20px;
    max-width: 28em; }
  .dialog .confirm-dialog-title {
    text-align: center; }

.dialog-list {
  spacing: 18px; }
  .dialog-list .dialog-list-title {
    text-align: center; }
  .dialog-list .dialog-list-scrollview {
    max-height: 200px; }
  .dialog-list .dialog-list-box {
    spacing: 1em; }
    .dialog-list .dialog-list-box .dialog-list-item {
      spacing: 1em; }
      .dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-title {
        font-weight: bold; }
      .dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-description {
        color: #dbdbdb; }

.end-session-dialog {
  min-width: 40em; }
  .end-session-dialog .dialog-content-box {
    spacing: 0; }
  .end-session-dialog .dialog-list {
    spacing: 0; }
    .end-session-dialog .dialog-list .dialog-list-title {
      color: #e8d050;
      background-color: rgba(232, 208, 80, 0.1);
      padding: 9px;
      border-radius: 6px;
      margin: 4px 0; }

.message-dialog-content {
  spacing: 18px; }
  .message-dialog-content .message-dialog-title {
    text-align: center; }
  .message-dialog-content .message-dialog-description {
    text-align: center; }
  .message-dialog-content .message-dialog-caption {
    text-align: center; }

.run-dialog .dialog-content-box {
  margin: 4px; }

.run-dialog-description {
  text-align: center;
  color: #b5b5b5; }
  .run-dialog-description.error {
    color: #d45d50; }

.run-dialog-completion-box {
  padding-top: 6px;
  padding-left: 12px; }

.run-dialog-entry {
  width: 20em;
  height: 1.2em; }

.prompt-dialog {
  width: 26em; }
  .prompt-dialog .dialog-content-box {
    spacing: 16px;
    margin-bottom: 12px; }
  .prompt-dialog-password-entry {
    width: 20em; }
  .prompt-dialog-password-layout {
    spacing: 8px; }
  .prompt-dialog-error-label, .prompt-dialog-info-label, .prompt-dialog-null-label {
    text-align: center; }
  .prompt-dialog-error-label {
    color: #d45d50; }

.polkit-dialog-user-layout {
  text-align: center;
  spacing: 2px; }

.polkit-dialog-user-combo {
  border-radius: 6px;
  padding: 6px 36px;
  margin: 6px 0; }
  .polkit-dialog-user-combo:insensitive {
    color: #e8e8e8; }

.audio-device-selection-dialog {
  min-width: 24em; }
  .audio-device-selection-dialog .audio-selection-box {
    spacing: 12px; }
    .audio-device-selection-dialog .audio-selection-box .audio-selection-device {
      border-radius: 6px; }
      .audio-device-selection-dialog .audio-selection-box .audio-selection-device .audio-selection-device-box {
        padding: 12px;
        spacing: 12px; }
      .audio-device-selection-dialog .audio-selection-box .audio-selection-device .audio-selection-device-icon {
        icon-size: 64px; }

.workspace-thumbnails {
  spacing: 26px; }

.workspace-thumbnails-background {
  padding: 8px; }

.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.2); }

.workspace-add-button {
  background-image: url("common-assets/misc/add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 150ms; }
  .workspace-add-button:hover {
    background-image: url("common-assets/misc/add-workspace-hover.svg");
    transition-duration: 150ms; }

.workspace-close-button {
  background-image: url("common-assets/misc/close.svg");
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 13px; }
  .workspace-close-button:hover {
    background-image: url("common-assets/misc/close-hover.svg"); }
  .workspace-close-button:active {
    background-image: url("common-assets/misc/close-active.svg"); }

.expo-background {
  background-color: rgba(30, 30, 30, 0.8); }

.expo-workspace-thumbnail-frame {
  border: 1px solid rgba(85, 85, 85, 0.4); }
  .expo-workspace-thumbnail-frame#active {
    border-color: rgba(85, 85, 85, 0.7);
    border-width: 2px; }

.expo-workspaces-name-entry {
  height: 1.5em; }

.window-close-area {
  background-image: url("common-assets/misc/trash-icon.svg");
  height: 120px;
  width: 400px; }

.window-close {
  background-image: url("common-assets/misc/close.svg");
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 13px; }
  .window-close:hover {
    background-image: url("common-assets/misc/close-hover.svg"); }
  .window-close:active {
    background-image: url("common-assets/misc/close-active.svg"); }

.window-border {
  border: 4px solid #8a8378;
  border-radius: 6px; }

.window-caption {
  min-height: 20px;
  border-radius: 6px;
  padding: 6px 7.5px;
  spacing: 4px;
  border: 1px solid #555555;
  background-color: rgba(57, 57, 57, 0.91);
  -cinnamon-caption-spacing: 6px; }
  .window-caption:focus {
    background-color: rgba(83, 83, 83, 0.92); }

#overview {
  spacing: 10px; }

.candidate-popup-boxpointer {
  -arrow-border-radius: 10px;
  -arrow-background-color: rgba(30, 30, 30, 0.9);
  -arrow-border-width: 1px;
  -arrow-border-color: #555555;
  -arrow-base: 24px;
  -arrow-rise: 12px;
  -arrow-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em; }

.candidate-index {
  padding: 0 0.5em 0 0;
  color: #cfcfcf; }

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 6px;
  color: #e8e8e8; }
  .candidate-box:selected, .candidate-box:hover {
    background-color: rgba(70, 70, 70, 0.915); }

.candidate-page-button-box {
  height: 2em; }
  .vertical .candidate-page-button-box {
    padding-top: 0.5em; }
  .horizontal .candidate-page-button-box {
    padding-left: 0.5em; }

.candidate-page-button {
  padding: 4px; }

.candidate-page-button-previous {
  border-radius: 6px 0px 0px 6px;
  border-right-width: 0; }

.candidate-page-button-next {
  border-radius: 0px 6px 6px 0px; }

.candidate-page-button-icon {
  icon-size: 1em; }

/* On-screen Keyboard */
#virtual-keyboard {
  background-color: rgba(20, 20, 20, 0.95); }

.vkeyboard-key-container {
  padding: 4px;
  spacing: 4px; }

.vkeyboard-key {
  color: #e8e8e8;
  background-color: rgba(57, 57, 57, 0.91);
  border: 1px solid #555555;
  font-size: 1.364em;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
  background-color: rgba(70, 70, 70, 0.915); }
  .vkeyboard-key:focus {
    color: #e8e8e8;
    background-color: rgba(57, 57, 57, 0.91);
    border: 1px solid #8a8378;
    box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
  .vkeyboard-key:hover, .vkeyboard-key:checked {
    color: #e8e8e8;
    background-color: rgba(70, 70, 70, 0.915);
    border: 1px solid #6a6763; }
  .vkeyboard-key:active {
    color: #e8e8e8;
    background-color: rgba(83, 83, 83, 0.92);
    border: 1px solid #555555; }
  .vkeyboard-key.shift-key-lowercase, .vkeyboard-key.escape-key, .vkeyboard-key.hide-key, .vkeyboard-key.non-alpha-key {
    background-color: rgba(57, 57, 57, 0.91); }
    .vkeyboard-key.shift-key-lowercase:focus, .vkeyboard-key.escape-key:focus, .vkeyboard-key.hide-key:focus, .vkeyboard-key.non-alpha-key:focus {
      color: #e8e8e8;
      background-color: rgba(57, 57, 57, 0.91);
      border: 1px solid #8a8378;
      box-shadow: 0 0 0 1px rgba(138, 131, 120, 0.2); }
    .vkeyboard-key.shift-key-lowercase:hover, .vkeyboard-key.shift-key-lowercase:checked, .vkeyboard-key.escape-key:hover, .vkeyboard-key.escape-key:checked, .vkeyboard-key.hide-key:hover, .vkeyboard-key.hide-key:checked, .vkeyboard-key.non-alpha-key:hover, .vkeyboard-key.non-alpha-key:checked {
      color: #e8e8e8;
      background-color: rgba(70, 70, 70, 0.915);
      border: 1px solid #6a6763; }
    .vkeyboard-key.shift-key-lowercase:active, .vkeyboard-key.escape-key:active, .vkeyboard-key.hide-key:active, .vkeyboard-key.non-alpha-key:active {
      color: #e8e8e8;
      background-color: rgba(83, 83, 83, 0.92);
      border: 1px solid #555555; }
  .vkeyboard-key.shift-key-uppercase {
    background-color: rgba(83, 83, 83, 0.92); }
  .vkeyboard-key.enter-key {
    background-color: #8a8378; }
  .vkeyboard-key.modifier-key {
    background-color: rgba(57, 57, 57, 0.91); }
    .vkeyboard-key.modifier-key:hover, .vkeyboard-key.modifier-key:checked {
      color: #e8e8e8;
      background-color: rgba(70, 70, 70, 0.915);
      border: 1px solid #6a6763; }
    .vkeyboard-key.modifier-key:latched {
      background-color: rgba(83, 83, 83, 0.92); }
  .vkeyboard-key StIcon {
    icon-size: 1.125em; }

.vkeyboard-subkeys {
  color: #e8e8e8;
  -arrow-border-radius: 6px;
  -arrow-background-color: rgba(30, 30, 30, 0.9);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(53, 53, 53, 0.9);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 6px; }

.word-suggestions {
  font-size: 1.227em;
  spacing: 20px;
  min-height: 20pt; }

.menu {
  min-width: 14em;
  color: #e8e8e8;
  padding: 6px; }

.popup-menu-content {
  padding: 6px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 10px;
  border: 1px solid #555555;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); }

.popup-menu-item:hover {
  background-color: rgba(57, 57, 57, 0.91);
  border-color: #555555;
  transition-duration: 150ms; }

.popup-menu-item:focus {
  background-color: rgba(57, 57, 57, 0.91);
  border-color: #8a8378; }

.popup-menu-item:active {
  background-color: rgba(70, 70, 70, 0.915);
  transition-duration: 50ms; }

.popup-menu-item:insensitive {
  color: rgba(131, 131, 131, 0.945);
  background: none; }

.popup-menu-arrow,
.popup-menu-icon {
  icon-size: 1.091em; }

.popup-sub-menu {
  border-radius: 6px;
  margin: 0 4px;
  margin-bottom: 6px; }
  .popup-sub-menu .popup-menu-item {
    border-radius: 0;
    background-color: #282828;
    margin: 0;
    padding: 6px 0 6px 9px; }
    .popup-sub-menu .popup-menu-item:hover, .popup-sub-menu .popup-menu-item:active {
      background-color: #3e3e3e; }
    .popup-sub-menu .popup-menu-item:first-child {
      border-radius: 6px 6px 0 0; }
    .popup-sub-menu .popup-menu-item:last-child {
      border-radius: 0 0 6px 6px; }
    .popup-sub-menu .popup-menu-item:only-child, .popup-sub-menu .popup-menu-item:first-child:last-child {
      border-radius: 6px; }
  .popup-sub-menu StScrollBar {
    padding: 4px; }
    .popup-sub-menu StScrollBar StBin#trough, .popup-sub-menu StScrollBar StBin#vhandle {
      border-width: 0; }

.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: #555555;
  -gradient-end: #555555;
  -margin-horizontal: 0;
  height: 1px; }

.popup-combo-menu {
  padding: 6px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 10px;
  border: 1px solid #555555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

.popup-combobox-item {
  padding: 0 12px; }

.popup-alternating-menu-item:alternate {
  font-weight: normal; }

.popup-device-menu-item {
  spacing: .5em;
  color: #e8e8e8; }
  .popup-device-menu-item:insensitive {
    color: #e8e8e8; }
  .popup-device-menu-item .popup-inactive-menu-item {
    font-weight: normal;
    color: #e8e8e8; }

.popup-subtitle-menu-item {
  font-weight: normal; }

.nm-menu-item-icons {
  spacing: .5em; }

.wireless-active:insensitive {
  color: red; }

#notification {
  width: 30em;
  border-radius: 10px;
  border: 1px solid #555555;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: rgba(30, 30, 30, 0.9);
  padding: 12px;
  margin-from-right-edge-of-screen: 16px;
  spacing-rows: 9px;
  spacing-columns: 9px; }
  #notification.multi-line-notification {
    padding-bottom: 12px;
    color: #e8e8e8; }
  #notification-body {
    spacing: 9px; }
  #notification-actions {
    spacing: 12px; }

.notification {
  /* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */ }
  .notification-with-image {
    min-height: 159px; }
  .notification-button {
    padding: 6px 12px; }
  .notification-icon-button {
    padding: 6px; }

.media-keys-osd {
  margin-bottom: 0.8em;
  border-radius: 12px;
  font-weight: 500;
  spacing: 9px;
  padding: 9px 18px; }
  .media-keys-osd > * {
    spacing: 9px; }
  .media-keys-osd StIcon {
    icon-size: 28px; }
  .media-keys-osd StLabel:ltr {
    margin-right: 6px; }
  .media-keys-osd StLabel:rtl {
    margin-left: 6px; }
  .media-keys-osd .level {
    min-width: 160px;
    -barlevel-height: 5px;
    -barlevel-background-color: #282828;
    -barlevel-active-background-color: #e8e8e8;
    -barlevel-amplify-color: #e8d050;
    -barlevel-amplify-separator-width: 3px; }
    .media-keys-osd .level:ltr {
      margin-right: 6px; }
    .media-keys-osd .level:rtl {
      margin-left: 6px; }
  .media-keys-osd .level-bar {
    border-radius: 6px;
    background-color: #e8e8e8; }

.info-osd {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center; }

.workspace-switch-osd {
  min-width: 120px;
  margin-bottom: 0.8em;
  border-radius: 12px;
  font-weight: 500;
  padding: 9px 24px 0 24px; }
  .workspace-switch-osd-indicator-box {
    spacing: 9px; }
  .workspace-switch-osd-indicator {
    background-color: rgba(232, 232, 232, 0.5);
    padding: 2.5px;
    margin: 12.5px;
    border-radius: 30px; }
    .workspace-switch-osd-indicator:active {
      background-color: #8a8378;
      padding: 5px;
      margin: 10px; }

.resize-popup {
  padding: 9px; }

.panel-top, .panel-bottom, .panel-left, .panel-right {
  font-weight: 600;
  color: #e8e8e8;
  background-color: rgba(20, 20, 20, 0.95); }

.panelLeft {
  spacing: 6px; }
  .panelLeft:dnd {
    background-color: rgba(255, 0, 0, 0.2); }
  .panelLeft:ltr {
    padding-right: 6px; }
  .panelLeft:rtl {
    padding-left: 6px; }
  .panelLeft.vertical {
    padding: 0; }
    .panelLeft.vertical:ltr {
      padding-right: 0px; }
    .panelLeft.vertical:rtl {
      padding-left: 0px; }

.panelRight:dnd {
  background-color: rgba(0, 0, 255, 0.2); }

.panelRight:ltr {
  padding-left: 6px;
  spacing: 0; }

.panelRight:rtl {
  padding-right: 6px;
  spacing: 0; }

.panelRight.vertical {
  padding: 0; }
  .panelRight.vertical:ltr {
    padding-left: 0;
    spacing: 0; }
  .panelRight.vertical:rtl {
    padding-right: 0;
    spacing: 0; }

.panelCenter {
  spacing: 6px; }
  .panelCenter:dnd {
    background-color: rgba(0, 255, 0, 0.2); }
  .panelCenter.vertical {
    padding-left: 0;
    padding-right: 0; }

.panel-top {
  box-shadow: inset 0 -1px #555555; }

.panel-bottom {
  box-shadow: inset 0 1px #555555; }

.panel-left {
  box-shadow: inset -1px 0 #555555; }

.panel-right {
  box-shadow: inset 1px 0 #555555; }

.panel-dummy {
  background-color: rgba(212, 93, 80, 0.5); }
  .panel-dummy:entered {
    background-color: rgba(212, 93, 80, 0.6); }

#panel:highlight {
  background-color: rgba(56, 26, 26, 0.9625); }

.appmenu-category-button-greyed, .appmenu-category-button-selected, .appmenu-category-button, .appmenu-application-button-selected, .appmenu-application-button, .appmenu-sidebar-button {
  padding: 6px;
  spacing: 4px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, box-shadow; }

.appmenu-background .popup-menu-content {
  padding: 0; }

.appmenu-main-box {
  spacing: 12px; }

.appmenu-right-box {
  spacing: 6px;
  padding: 12px 12px; }

.appmenu-categories-applications-box {
  spacing: 18px; }
  .appmenu-categories-applications-box:top {
    padding-top: 6px; }

.appmenu-applications-box {
  padding-right: 6px; }

.appmenu-search-box {
  spacing: 12px; }

.appmenu-sidebar {
  padding: 12px 0px;
  background-color: #282828;
  border-radius: 10px 0 0 10px;
  border-right-width: 1px;
  border-color: #555555; }
  .appmenu-sidebar .appmenu-system-button {
    padding: 8.4px;
    border: 1px solid #555555;
    border-radius: 99px;
    background-color: #282828;
    transition-duration: 200ms;
    transition-property: background-color, border-color, box-shadow; }
    .appmenu-sidebar .appmenu-system-button-lock:hover {
      background-color: #464646; }
    .appmenu-sidebar .appmenu-system-button-logout:hover {
      background-color: #464646; }
    .appmenu-sidebar .appmenu-system-button-shutdown {
      background-color: #a02020;
      color: #fff; }
    .appmenu-sidebar .appmenu-system-button-shutdown:hover {
      background-color: #c22727; }

.appmenu-system-box {
  spacing: 12px; }

.appmenu-sidebar-button {
  padding: 3px 6px 3px 6px;
  margin: 0 12px 0 12px; }
  .appmenu-sidebar-button:hover {
    background-color: rgba(70, 70, 70, 0.915);
    border-color: #555555; }
  .appmenu-sidebar-button:focus {
    background-color: rgba(57, 57, 57, 0.91);
    border-color: #8a8378; }

.appmenu-system-button {
  padding: 8.4px;
  border: 1px solid #555555;
  border-radius: 99px;
  background-color: rgba(30, 30, 30, 0.9); }
  .appmenu-system-button-shutdown {
    background-color: #a02020;
    color: #fff; }
  .appmenu-system-button-lock:hover {
    background-color: #464646; }
  .appmenu-system-button-logout:hover {
    background-color: #464646; }
  .appmenu-system-button-shutdown:hover {
    background-color: #b52424; }

.appmenu-application-button-label {
  padding: 0; }

.appmenu-application-button-description {
  color: rgba(189, 189, 189, 0.975); }

.appmenu-application-button:highlighted {
  font-weight: bold; }

.appmenu-application-button-selected {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }
  .appmenu-application-button-selected:highlighted {
    font-weight: bold; }

.appmenu-category-button-label {
  padding: 0; }

.appmenu-category-button:hover {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }

.appmenu-category-button:focus {
  background-color: rgba(57, 57, 57, 0.91);
  border-color: #8a8378; }

.appmenu-category-button-selected {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }

.appmenu-category-button-greyed {
  color: rgba(131, 131, 131, 0.945);
  font-style: italic; }
  .appmenu-category-button-greyed StIcon {
    opacity: 0.5; }

.appmenu-search-entry-icon {
  icon-size: 1.091em; }

.toggle-switch {
  height: 26px;
  width: 46px;
  background-size: contain;
  background-image: url("dark-assets/switch/switch-off.svg"); }
  .toggle-switch:checked {
    background-image: url("dark-assets/switch/switch-on.svg"); }

.check-box CinnamonGenericContainer {
  spacing: 0.8em; }

.check-box StBin {
  width: 20px;
  height: 20px;
  background-image: url("dark-assets/checkbox/checkbox-unchecked.svg"); }

.check-box:focus StBin {
  background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg"); }

.check-box:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked.svg"); }

.check-box:focus:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg"); }

.check-box-2 StBoxLayout {
  spacing: 0.8em; }

.check-box-2 StBin {
  width: 20px;
  height: 20px;
  background-image: url("dark-assets/checkbox/checkbox-unchecked.svg"); }

.check-box-2:focus StBin {
  background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg"); }

.check-box-2:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked.svg"); }

.check-box-2:focus:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg"); }

.radiobutton CinnamonGenericContainer {
  spacing: 0.8em; }

.radiobutton StBin {
  width: 20px;
  height: 20px;
  background-image: url("dark-assets/checkbox/radio-unchecked.svg"); }

.radiobutton:focus StBin {
  background-image: url("dark-assets/checkbox/radio-unchecked.svg"); }

.radiobutton:checked StBin {
  background-image: url("dark-assets/checkbox/radio-checked.svg"); }

.radiobutton:focus:checked StBin {
  background-image: url("dark-assets/checkbox/radio-checked.svg"); }

.grouped-window-list-item-label {
  width: 15em;
  min-width: 5px; }

.grouped-window-list-item-box {
  padding: 0 6px;
  transition-duration: 200ms;
  transition-property: background-color, border-color; }
  .grouped-window-list-item-box.top {
    border-bottom-width: 4px; }
  .grouped-window-list-item-box.bottom {
    border-top-width: 4px; }
  .grouped-window-list-item-box.right {
    padding-left: 0;
    padding-right: 0;
    border-right-width: 4px; }
    .grouped-window-list-item-box.right StBin {
      padding-right: 0; }
  .grouped-window-list-item-box.left {
    padding-left: 0;
    padding-right: 0;
    border-left-width: 4px; }
    .grouped-window-list-item-box.left StBin {
      padding-left: 0; }
  .grouped-window-list-item-box:hover {
    background-color: rgba(83, 83, 83, 0.92);
    border-color: rgba(138, 131, 120, 0.3);
    transition-duration: 150ms; }
  .grouped-window-list-item-box:focus {
    background-color: rgba(83, 83, 83, 0.92);
    box-shadow: inset 0 0 1px 0.5px rgba(138, 131, 120, 0.6); }
  .grouped-window-list-item-box:active {
    border-color: #8a8378; }
  .grouped-window-list-item-box .progress {
    background-color: rgba(143, 176, 112, 0.8); }

.grouped-window-list-item-demands-attention {
  background-color: #ff6060; }

.grouped-window-list-thumbnail-label {
  padding-left: 4px; }

.grouped-window-list-thumbnail-alert {
  background: rgba(255, 96, 96, 0.3); }

.grouped-window-list-thumbnail-menu {
  border: 1px solid #555555;
  margin: 4px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }
  .grouped-window-list-thumbnail-menu > StBoxLayout {
    padding: 6px; }
  .grouped-window-list-thumbnail-menu .item-box {
    padding: 8px;
    spacing: 6px;
    border-radius: 0;
    transition-duration: 150ms;
    transition-property: background-color, border-color; }
    .grouped-window-list-thumbnail-menu .item-box:first-child {
      border-radius: 6px 0 0 6px; }
    .grouped-window-list-thumbnail-menu .item-box:last-child {
      border-radius: 0 6px 6px 0; }
    .grouped-window-list-thumbnail-menu .item-box:outlined {
      border: 1px solid #b7b0a6; }
      .grouped-window-list-thumbnail-menu .item-box:outlined:first-child {
        border-radius: 6px 0 0 6px; }
      .grouped-window-list-thumbnail-menu .item-box:outlined:last-child {
        border-radius: 0 6px 6px 0; }
    .grouped-window-list-thumbnail-menu .item-box:selected {
      background-color: rgba(57, 57, 57, 0.91);
      border: 1px solid #555555; }
      .grouped-window-list-thumbnail-menu .item-box:selected:only-child, .grouped-window-list-thumbnail-menu .item-box:selected:first-child:last-child {
        border-radius: 6px; }
      .grouped-window-list-thumbnail-menu .item-box:selected:first-child {
        border-radius: 6px 0 0 6px; }
      .grouped-window-list-thumbnail-menu .item-box:selected:last-child {
        border-radius: 0 6px 6px 0; }
  .grouped-window-list-thumbnail-menu .thumbnail {
    width: 256px; }
  .grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background-color: #555555; }

.grouped-window-list-button-label {
  padding-left: 4px; }

.grouped-window-list-number-label {
  font-size: 12px; }

.grouped-window-list-badge {
  border-radius: 99px;
  background-color: #b7b0a6;
  color: white;
  margin: 0; }

.grouped-window-list-notifications-badge {
  border-radius: 99px;
  background-color: #d08a3a;
  color: white; }

.grouped-window-list-notifications-badge-label {
  font-size: 12px; }

.grouped-window-list-scrollbox.vfade {
  -st-vfade-offset: 68px !important;
  -st-hfade-offset: 0 !important; }

.grouped-window-list-scrollbox.hfade {
  -st-hfade-offset: 68px !important;
  -st-vfade-offset: 0 !important; }

.window-list-box {
  spacing: 6px;
  padding-left: 6px;
  padding-top: 1px; }
  .window-list-box.vertical {
    spacing: 4px;
    padding: 6px 0; }
  .window-list-box:highlight {
    background-color: rgba(212, 93, 80, 0.5); }

.window-list-item-box {
  padding: 0 6px;
  color: rgba(232, 232, 232, 0.8); }
  .window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
    padding-left: 2px; }
  .window-list-item-box.top {
    border-bottom-width: 4px; }
  .window-list-item-box.bottom {
    border-top-width: 4px; }
  .window-list-item-box.right {
    padding-left: 0;
    padding-right: 0;
    border-right-width: 4px; }
    .window-list-item-box.right StBin {
      padding-right: 0;
      padding-left: 5px; }
  .window-list-item-box.left {
    padding-left: 0;
    padding-right: 0;
    border-left-width: 4px; }
    .window-list-item-box.left StBin {
      padding-left: 0;
      padding-right: 5px; }
  .window-list-item-box:hover {
    background-color: rgba(83, 83, 83, 0.92); }
  .window-list-item-box:focus {
    border-color: #8a8378;
    background-color: rgba(83, 83, 83, 0.92); }
  .window-list-item-box .progress {
    background-color: rgba(143, 176, 112, 0.8); }

.window-list-item-demands-attention {
  background-color: #ff6060; }

.window-list-preview {
  border: 1px solid #555555;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 6px;
  padding: 12px;
  spacing: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4); }

.menu-category-button-greyed, .menu-category-button-selected, .menu-category-button, .menu-application-button-selected, .menu-application-button, .menu-favorites-button {
  padding: 6px;
  spacing: 4px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, box-shadow; }

.menu-favorites-box {
  padding: 9px;
  background-color: rgba(57, 57, 57, 0.91);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px; }

.menu-favorites-button {
  padding: 9px;
  margin: 0 6px; }
  .menu-favorites-button:hover {
    background-color: rgba(70, 70, 70, 0.915);
    border-color: #555555; }
  .menu-favorites-button:focus {
    background-color: rgba(57, 57, 57, 0.91);
    border-color: #8a8378; }

.menu-categories-box {
  padding: 9px 24px;
  spacing: 12px; }

.menu-applications-box {
  padding: 9px;
  padding-right: 6px; }

.menu-applications-inner-box:ltr {
  padding-left: 24px; }

.menu-applications-inner-box:rtl {
  padding-right: 24px; }

.menu-application-button-label {
  padding: 0; }

.menu-application-button-description {
  color: rgba(189, 189, 189, 0.975); }

.menu-application-button:highlighted {
  font-weight: bold; }

.menu-application-button-selected {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }
  .menu-application-button-selected:highlighted {
    font-weight: bold; }

.menu-category-button-label {
  padding: 0; }

.menu-category-button:hover {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }

.menu-category-button:focus {
  background-color: rgba(57, 57, 57, 0.91);
  border-color: #8a8378; }

.menu-category-button-selected {
  background-color: rgba(70, 70, 70, 0.915);
  border-color: #555555; }

.menu-category-button-greyed {
  color: rgba(131, 131, 131, 0.945);
  font-style: italic; }
  .menu-category-button-greyed StIcon {
    opacity: 0.5; }

.menu-selected-app-box {
  padding-right: 24px;
  padding-left: 24px;
  text-align: right; }

.menu-selected-app-description {
  color: rgba(131, 131, 131, 0.945); }

.menu-search-box {
  padding: 0 0 6px 9px;
  spacing: 12px; }

.menu-search-entry-icon {
  icon-size: 1.091em; }
