/* Apps */
.icon-grid {
    spacing: 32px;
    -shell-grid-item-size: 120px;
}

.contact-grid {
    spacing: 32px;
    -shell-grid-item-size: 200px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 80px;
}

.all-app {
	padding: 16px 25px 16px 16px;
	spacing: 20px;
}

.all-app:rtl {
	padding-right: 16px;
	padding-left: 25px;
}

.app-filter {
font-size: 9pt;
	font-weight: bold;
	height: 2.85em;
	width: 200px;
	padding-left: 8px;
    color: rgba(255,255,255,0.45);
	border: 1px solid rgba(0,0,0,0.0);
    transition-duration: 100;
}

.app-filter:hover {
	color: rgba(229,229,229,1.0);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    background-gradient-direction: vertical;
	border: 1px solid rgba(0,0,0,0.15);
    transition-duration: 150;
	border-radius: 3px;
}

.app-filter:selected {
    color: #ffffff;
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(255,255,255,0.0);
    background-gradient-start: rgba(255,255,255,0.2);
		border-radius: 3px; 
}

.app-filter:selected:rtl {
    background-gradient-end: rgba(255,255,255,0.2);
    background-gradient-start: rgba(255,255,255,0.0);
}

.app-filter:focus {
/*	outline: 1px solid rgba(229,229,229,1.0);*/
}

.dash-item-container > .app-well-app {
	padding: 4px 8px;
}

.remove-favorite-icon {
	color: #a0a0a0;
}

.remove-favorite-icon:hover {
	color: white;
	icon-shadow: black 0px 2px 2px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
font-size: 9pt;
	color: white;
	text-align: center;
}

.contact {
	width: 272px; /* Same width as two normal results + spacing */
	height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
	border-radius: 3px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
}

.contact-content {
	border-radius: 3px;
	padding: 8px;
	width: 232px;
	height: 84px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	border: 2px solid rgba(255,255,255,0.4);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
}

.contact-icon {
	border-radius: 4px;
}

.contact-details {
	padding: 6px 8px 11px 8px;
}

.contact-details-alias {
font-size: 9pt;
	padding-bottom: 11px;
}

.contact-details-status {
font-size: 9pt;
}

.contact-details-status-icon {
	padding-right: 2px;
}

.contact:hover {
	background-color: rgba(255,255,255,0.0);
}

.app-well-app.running > .overview-icon {
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
/*	border: 1px solid rgba(0,0,0,0.15);*/
    border: 1px solid #393939;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.4);
    background-gradient-end: rgba(63,63,63,0.4);
	border-radius: 3px;
	padding: 3px;
}

.app-well-app.running:hover > .overview-icon {
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5);
/*	border: 1px solid rgba(0,0,0,0.15);*/
    border: 1px solid #666666;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(24,24,24,0.2);
	border-radius: 3px;
	padding: 3px;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(220,220,220,0.9);
	background-gradient-end: rgba(121,120,122,0.9);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	padding: 3px;
}

.contact:selected:hover,
.app-well-app:selected:hover > .overview-icon,
.search-result-content:selected:hover > .overview-icon {
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5);
/*	border: 1px solid rgba(0,0,0,0.15);*/
    border: 1px solid #666666;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(24,24,24,0.2);
	border-radius: 3px;
	padding: 3px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
/*	border: 1px solid rgba(0,0,0,0.15);*/
    border: 1px solid #666666;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(24,24,24,0.2);
	border-radius: 3px;
	padding: 3px;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
	border: 1px solid #cccccc;
}

.app-well-menu {
font-size: 9pt;
}

