/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    color: white;
    padding: 4px 16px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.05);
    background-gradient-start: rgba(255,255,255,0.15);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    box-shadow: outset 0px 1px 2px 1px rgba(255,255,255,0.15);
    transition-duration: 200;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    background-gradient-end: rgba(255,255,255,0.1);
    background-gradient-start: rgba(255,255,255,0.25);
    box-shadow: outset 0px 1px 2px 1px rgba(255,255,255,0.2);
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
    background-gradient-end: rgba(255,255,255,0.1);
    background-gradient-start: rgba(255,255,255,0.2);
    box-shadow: outset 0px 1px 4px 2px rgba(255,255,255,0.25);
    border: 1px solid rgba(0,0,0,0.3);
}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    background-gradient-end: rgba(255,255,255,0.2);
    background-gradient-start: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: outset 0px 1px 3px 1px rgba(0,0,0,0.2);
}

