
/* LookingGlass */

#LookingGlassDialog
{
/*  background-color: rgba(0,0,0,0.55);*/
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.5);
	background-gradient-end: rgba(0,0,0,0.8);
  spacing: 4px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #161616;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
    border: 1px solid #333;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 1px 8px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #8AFF00;
}

#LookingGlassDialog .notebook-tab:selected {
    background-color: #B8FF66;
    border-radius: 3px;
    color: #000;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel {
    color: #B8FF66;
}

.lg-dialog StEntry {
    color: #B8FF66;
}

.lg-obj-inspector-title {
    spacing: 4px;
}

.lg-obj-inspector-button {
    background-color: rgba(184,255,102,0.5);
    height: 18px;
    padding: 0 8px;
    border-radius: 3px;
    color: #000;
}

.lg-obj-inspector-button:hover {
    background-color: rgba(184,255,102,1.0);
}

.lg-dialog .shell-link {
    color: #B8FF66;
}

.lg-dialog .shell-link:hover {
    color: #8AFF00;
}

#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #333;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 4px 0px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: 1px solid #333;
    padding: 6px;
    color: #B8FF66;
}


