stage {
    font-family: "Aurulent Sans", ubuntu, cantarell, sans-serif;
}

.shell-link {
    color: #0000ff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollBar
{
  padding: 0px;
}

StScrollView StScrollBar
{
  min-width: 5px;  /*10px*/
  min-height: 8px; /* 10px*/
}


StScrollBar StBin#trough { /*GS Scrollbar color*/
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(230,230,230,0.0);
    background-gradient-direction: vertical;
    border-radius: 5px;
}

StScrollBar StButton#vhandle, StScrollBar StButton#hhandle
{
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(0,0,0,0.3);
    background-gradient-direction: vertical;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-gradient-start: rgba(255,255,255,0.4);
    background-gradient-end: rgba(255,255,255,0.25);
    background-gradient-direction: vertical;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.5);
}

StTooltip StLabel {
    border-radius: 3px;
    padding: 2px 12px;
    background-color: rgba(0,0,0,0.85);
    color: #ffffff;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
}

