
/* PopupMenu */

.popup-menu-boxpointer {
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
/*	color: rgba(0,0,0,1.0);*/
	border: 2px solid rgba(255,255,255,0.4);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.6);
	background-gradient-end: rgba(0,0,0,0.8);
}

.popup-menu {
	color: #fff;
	font-size: 9pt;
	min-width: 85px;
}

.popup-submenu-menu-item:open {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(0,0,0,0.15);
    background-gradient-end: rgba(255,255,255,0.05);
}

.popup-sub-menu { /* Don't use border-radius or box-shadow here. It causes the shell to crash. */
	background-gradient-start: rgba(0,0,0,0.0);
	background-gradient-end: rgba(0,0,0,0.0);
	background-gradient-direction: vertical;

}

.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}

.popup-sub-menu StScrollBar {
	padding: 2px;
}

.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: #4c4c4c;
	border-width: 0px;
}

.popup-combo-menu {
	background-color: rgba(0,0,0,0.9);
	padding: 1em 0em;
	color: #ffffff;
	font-size: 9pt;
	border: 1px solid #5f5f5f;
	border-radius: 4px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0em;
}

.popup-menu-item {
	font-weight: normal;
	font-size: 9pt;
	padding: .4em 1.75em;
	spacing: 1em;
	color: #fff;
}

.popup-menu-item:active {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(0,0,0,0.05);
	color: #fff;
}

.popup-menu-item:insensitive {
	color: #9f9f9f;
}

.popup-image-menu-item {
}

.popup-combobox-item {
	spacing: 1em;
}

.popup-separator-menu-item {
	-gradient-height: 1px;
	-gradient-start: rgba(255,255,255,0.0);
	-gradient-end: rgba(255,255,255,0.12);
	-margin-horizontal: 1.5em;
	height: 1em;
}

.popup-alternating-menu-item:alternate {
	font-weight: bold;
}

.popup-slider-menu-item {
	height: 1em;
	min-width: 15em;
	-slider-height: 2px;
	-slider-background-color: #333333;
	-slider-border-color: #5f5f5f;
	-slider-active-background-color: rgb(121,120,122);
	-slider-active-border-color: rgb(220,220,220);
	-slider-border-width: 1px;
	-slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
	spacing: .5em;
}

.popup-inactive-menu-item {
	font-weight: normal;
	color: #999;
}

.popup-subtitle-menu-item {
	font-weight: bold;
}

.popup-menu-icon {
	icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("img/toggle-off-us.svg");
}
.toggle-switch-us:checked {
    background-image: url("img/toggle-on-us.svg");
}

.toggle-switch-intl {
    background-image: url("img/toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("img/toggle-on-intl.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

