/* HELPERS */

@import "includes/helpers";

/* GLOBAL STAGE */

stage {
   font-family:Free Sans, Sans-Serif;
   font-size:11pt;
   color:$type;
}

/* IMPORTS */

@import "includes/buttons";
@import "includes/entries";
@import "includes/scrollbars";
@import "includes/clickables";
@import "includes/modals";
@import "includes/popovers";
@import "includes/osd";
@import "includes/switchers";
@import "includes/top-bar";
@import "includes/calendar";
@import "includes/overview";
@import "includes/search-results";
@import "includes/dash";
@import "includes/app-vault";
@import "includes/workspace-thumbnails";
@import "includes/notifications";
@import "includes/chat";
@import "includes/hotplug";
@import "includes/legacy-tray";
@import "includes/keyboard";
@import "includes/candidates";
@import "includes/login";
@import "includes/looking-glass";
