/* ===================================================================
   ! Font
   ===================================================================*/

$font-family: Droid Sans, Sans-Serif;

stage {
    font-family: $font-family;
    font-size: 9pt;
}

.cinnamon-link {
    color: $accent;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
        color: lighten($accent, 10%);
    }
}

.label-shadow { color: rgba(0, 0, 0, 0); }
