[Desktop Entry]
Name=Minty Colors Preferences
Comment=A chameleon theme for Cinnamon
Exec=minty-colors-gui
Terminal=false
Type=Application
Icon=preferences-desktop-theme
Categories=GNOME;Settings
