[Desktop Entry]
Name=Minty Colors Process
Comment=A chameleon theme for Cinnamon
Exec=minty-colors
Terminal=false
Type=Application
Icon=preferences-desktop-theme
Categories=GNOME;Settings
