// Accent colors
$accent-primary: #d64937;
$accent-info:    #f0ad4e;
$accent-danger:  #ff2e2e;


// Text colors
$text-active:    alpha(#fff,  1);
$text-primary:   alpha(#fff, .8);
$text-secondary: alpha(#fff, .4);
$text-disabled:  alpha(#fff, .1);

$text-info:   $accent-info;
$text-danger: $accent-danger;


// Link color
$link: $accent-primary;


// FIX Symbolic icons don't support transparency
$icon-active:    #fff;
$icon-primary:   #dcdcdc;
$icon-secondary: #888;
$icon-disabled:  #444;
