/* ===================================================================
   ! Font
   ===================================================================*/

$font-family: Droid Sans, Sans-Serif;

stage {
    font-family: $font-family;
    font-size: 9pt;
}

.cinnamon-link {
    color: $text-link;
    font-weight: normal;
    text-decoration: none;

    &:hover {
        color: $text-link;
        text-decoration: underline;
    }
}

.label-shadow { color: rgba(0, 0, 0, 0); }
