CatfishWindow .pane-separator {
    background-color: mix(shade(@bg_color, 0.9), shade(@selected_bg_color, 1.35), 0.1);
}

.cs-header,
XfceHeading,
.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.05)));
    color: @theme_text_color;
    text-shadow: 0px 1px alpha(@dark_bg_color, 0.15);
    font: normal;
}

.xfce4-panel {
    border-image: none;
    background-color: shade (@dark_bg_color, 1.35);
    background-image: none;
    padding: 0;

    color: @dark_fg_color;
}

.xfce4-panel .button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.05)));
    border-radius: 0;
    border-image: none;
    padding: 0 1px;
    color: @dark_fg_color;

    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.3);
    border-width: 0 1px 0 1px;
    -GtkButton-inner-border: 2;
    text-shadow: 0px 1px alpha(@dark_bg_color, 1.0);
}

.xfce4-panel .button:active {
    border-image: none;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.85)),
                                     to (shade (@dark_bg_color, 1.0))); 
    border-color: shade (@dark_bg_color, 0.9);
    transition: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.7)),
                                     to (shade (@dark_bg_color, 1.25)));
    color: @panel_fg_color;
    border-image: none;
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.4);

    box-shadow: inset 0 -1px alpha(white, 0.0),
                inset 1px 0 alpha(white, 0.15),
                inset -1px 0 alpha(white, 0.15),
                inset 0 1px alpha(white, 0.15);

    transition: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
    -PanelMenuBar-icon-visible: true;

    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.05)));
    text-shadow: none;
}

.section-bg {
    box-shadow: inset 0 3px white,
                inset -2px 0 @osd_border_color,
                inset 0 -2px @osd_border_color,
                inset 0 2px shade(@osd_border_color, 1.15),
                inset 2px 0 @osd_border_color,
                inset -1px 0 shade(@bg_color, 0.93),
                inset 1px 0 shade(@bg_color, 0.93),
                inset 0 1px @bg_color,
                inset 0 -1px shade(@bg_color, 0.85);
}
