
.Leader { stroke-width: 0.5 !important; stroke: #FFC107 !important; fill: none !important; }

.Button { stroke-width: 0.25; stroke: #FFC107; fill: rgba(255, 193, 7, 0.12); }

.Ring { stroke-width: 0.5 !important; stroke: #FFC107 !important; fill: none !important; }

.Label { stroke-width: 0.1 !important; stroke: none !important; fill: transparent !important; font-size: 0.1 !important; }

.TouchStrip, .TouchRing { stroke-width: 0.1 !important; stroke: #FFC107 !important; fill: rgba(255, 193, 7, 0.25) !important; }
