stage{
	font-family:Free Sans, Sans-Serif;
	font-size:11pt;
	color:#fff
}
.button{
	border-radius:4px;
	border:1px solid #0b1e33;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#25af69;
	background-gradient-end:#1c8751;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms
}
.button:hover,
.button:focus,
.button:checked{
	background-gradient-start:#2976c4;
	background-gradient-end:#205e9c
}
.button:active{
	background-gradient-start:#219a5c;
	background-gradient-end:#187244
}
.button:insensitive,
.button:grayed{
	color:gray;
	background-gradient-start:#13385d;
	background-gradient-end:#13385d;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #0e2540
}
.modal-dialog 
.button:first-child{
	border-radius:4px;
	border:1px solid #1c1f1f;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#444a4a;
	background-gradient-end:#2f3434;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms
}
.modal-dialog 
.button:first-child:hover,
.modal-dialog 
.button:first-child:focus,
.modal-dialog 
.button:first-child:checked{
	background-gradient-start:#505757;
	background-gradient-end:#3b4141
}
.modal-dialog 
.button:first-child:active{
	background-gradient-start:#383d3d;
	background-gradient-end:#232727
}
.modal-dialog 
.button:first-child:insensitive,
.modal-dialog 
.button:first-child:grayed{
	color:gray;
	background-gradient-start:#171919;
	background-gradient-end:#171919;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #232727
}
.end-session-dialog 
.button:last-child{
	border-radius:4px;
	border:1px solid #5f0808;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#ea1212;
	background-gradient-end:#be0e0e;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms
}
.end-session-dialog 
.button:last-child:hover,
.end-session-dialog 
.button:last-child:focus,
.end-session-dialog 
.button:last-child:checked{
	background-gradient-start:#ee2727;
	background-gradient-end:#d61010
}
.end-session-dialog 
.button:last-child:active{
	background-gradient-start:#d21010;
	background-gradient-end:#a60c0c
}
.end-session-dialog 
.button:last-child:insensitive,
.end-session-dialog 
.button:last-child:grayed{
	color:gray;
	background-gradient-start:#8f0a0a;
	background-gradient-end:#8f0a0a;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #6d0909
}
.notification-banner 
.notification-button{
	border-radius:4px;
	border:1px solid #0b1e33;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#25af69;
	background-gradient-end:#1c8751;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms;
	padding:8px 5px
}
.notification-banner 
.notification-button:hover,
.notification-banner 
.notification-button:focus,
.notification-banner 
.notification-button:checked{
	background-gradient-start:#2976c4;
	background-gradient-end:#205e9c
}
.notification-banner 
.notification-button:active{
	background-gradient-start:#219a5c;
	background-gradient-end:#187244
}
.notification-banner 
.notification-button:insensitive,
.notification-banner 
.notification-button:grayed{
	color:gray;background-gradient-start:#13385d;
	background-gradient-end:#13385d;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #0e2540
}
.notification-banner 
.notification-button:first-child{
	margin-right:5px
}
.notification-banner 
.notification-button:last-child{
	margin-left:5px
}
.keyboard-key{
	border-radius:4px;
	border:1px solid #1c1f1f;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#444a4a;
	background-gradient-end:#2f3434;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms;
	padding:0;
	min-height:2em;
	min-width:2em;
	font-size:14pt;
	font-weight:bold
}
.keyboard-key:hover,
.keyboard-key:focus,
.keyboard-key:checked{
	background-gradient-start:#505757;
	background-gradient-end:#3b4141
}
.keyboard-key:active{
	background-gradient-start:#383d3d;
	background-gradient-end:#232727
}
.keyboard-key:insensitive,
.keyboard-key:grayed{
	color:gray;
	background-gradient-start:#171919;
	background-gradient-end:#171919;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #232727
}
.keyboard-subkeys{
	color:#fff;
	padding:5px;
	-arrow-border-radius:6px;
	-arrow-background-color:#393f3f;
	-arrow-border-width:1px;
	-arrow-border-color:#1c1f1f;
	-arrow-base:20px;
	-arrow-rise:10px;
	-boxpointer-gap:5px
}
.lg-obj-inspector-button{
	border-radius:4px;
	border:1px solid #0b1e33;
	padding:10px 40px;
	color:#fff;
	background:none;
	background-color:none;
	background-gradient-direction:vertical;
	background-gradient-start:#25af69;
	background-gradient-end:#1c8751;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	text-shadow:1px 1px rgba(0,0,0,0.15);
	icon-shadow:1px 1px rgba(0,0,0,0.15);
	transition-duration:200ms;padding:5px 15px
}
.lg-obj-inspector-button:hover,
.lg-obj-inspector-button:focus,
.lg-obj-inspector-button:checked{
	background-gradient-start:#2976c4;
	background-gradient-end:#205e9c
}
.lg-obj-inspector-button:active{
	background-gradient-start:#219a5c;
	background-gradient-end:#187244
}
.lg-obj-inspector-button:insensitive,
.lg-obj-inspector-button:grayed{
	color:gray;
	background-gradient-start:#13385d;
	background-gradient-end:#13385d;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.05);
	border:1px solid #0e2540
}
StEntry{
	border-radius:2px;
	padding:10px;
	border-width:0;
	color:#333;
	background-color:rgba(255,255,255,0.25);
	box-shadow:none;
	selection-background-color:#219c5d;
	selected-color:#ffffff;
	transition-duration:200ms
}
StEntry:focus{
	background:#fff;
	box-shadow:none;
	border:0
}
StEntry:insensitive{
	color:rgba(133,133,132,0.94);
	box-shadow:none
}
StEntry StIcon.capslock-warning{
	icon-size:16px;
	warning-color:#f57900;
	padding:0 4px
}
.search-entry{
	width:480px;
	padding:15px;
	color:rgba(255,255,255,0.75);
	border-radius:3px
}
.search-entry .search-entry-icon{
	icon-size:1em;
	padding:0 4px;
	color:rgba(255,255,255,0.75)
}
.search-entry:focus{
	padding:15px;
	border-width:0;
	color:#333
}
.search-entry:focus .search-entry-icon{
	color:#333
}
StScrollView.vfade{
	-st-vfade-offset:68px
}
StScrollView.hfade{
	-st-hfade-offset:68px
}
StScrollBar{
	padding:0
}
StScrollView StScrollBar{
	min-width:14px;
	min-height:14px
}
StScrollBar StBin#trough{
	border-radius:0;
	background-color:transparent
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle{
	border-radius:6px;
	background-color:rgba(255,255,255,0.5);
	margin:5px
}
StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover{
	background-color:rgba(255,255,255,0.75)
}
StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active{
	background-color:rgba(255,255,255,0.75)
}
.slider{
	height:1em;
	-slider-height:0.3em;
	-slider-background-color:#181919;
	-slider-border-color:#212223;
	-slider-active-background-color:#219C5d;
	-slider-active-border-color:#212223;
	-slider-border-width:1px;
	-slider-handle-radius:6px
}
.check-box StBoxLayout{
	spacing:.8em
}
.check-box StBin{
	width:24px;
	height:22px;
	background-image:url(resource:///org/gnome/shell/theme/checkbox-off.svg)
}
.check-box:focus StBin{
	background-image:url(resource:///org/gnome/shell/theme/checkbox-off-focused.svg)
}
.check-box:checked StBin{
	background-image:url(resource:///org/gnome/shell/theme/checkbox.svg)
}
.check-box:focus:checked StBin{
	background-image:url(resource:///org/gnome/shell/theme/checkbox-focused.svg)
}
.toggle-switch{
	width:65px;
	height:22px;
	background-size:contain
}
.toggle-switch-us{
	background-image:url(resource:///org/gnome/shell/theme/toggle-off-us.svg)
}
.toggle-switch-us:checked{
	background-image:url(resource:///org/gnome/shell/theme/toggle-on-us.svg)
}
.toggle-switch-intl{
	background-image:url(resource:///org/gnome/shell/theme/toggle-off-intl.svg)
}
.toggle-switch-intl:checked{
	background-image:url(resource:///org/gnome/shell/theme/toggle-on-intl.svg)
}
.shell-link{
	color:rgba(25,255,220,0.67)
}
.shell-link:hover{
	color:rgba(76,255,228,0.67)
}
.headline{
	font-size:110%
}
.lightbox{
	background-color:#000
}
.flashspot{
	background-color:#fff
}
.modal-dialog{
	border-radius:6px;
	color:#fff;
	background-color:transparent;
	background-color:#393f3f;
	border:0;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.35);
	padding:30px
}
.modal-dialog .run-dialog-entry{
	width:20em;
	margin-bottom:15px
}
.modal-dialog .run-dialog-error-box{
	padding:0 0 10px;
	spacing:10px
}
.modal-dialog .run-dialog-button-box{
	padding-top:15px
}
.button-dialog-button-box{
	spacing:20px;
	padding-top:50px
}
.end-session-dialog{
	spacing:30px
}
.end-session-dialog-list{
	padding-top:0
}
.end-session-dialog-layout{
	padding-left:20px
}
.end-session-dialog-layout:rtl{
	padding-right:20px
}
.end-session-dialog-description{
	width:28em;
	padding-bottom:15px
}
.end-session-dialog-description:rtl{
	text-align:right
}
.end-session-dialog-warning{
	width:28em;
	color:#f57900;
	padding-top:15px
}
.end-session-dialog-warning:rtl{
	text-align:right
}
.end-session-dialog-logout-icon{
	border-radius:5px;
	width:48px;
	height:48px;
	background-size:contain
}
.end-session-dialog-shutdown-icon{
	color:#fff;
	width:48px;
	height:48px
}
.end-session-dialog-inhibitor-layout{
	spacing:16px;
	max-height:200px;
	padding-right:65px;
	padding-left:65px
}
.end-session-dialog-session-list,
.end-session-dialog-app-list{
	spacing:0
}
.end-session-dialog-list-header{
	font-weight:bold
}
.end-session-dialog-list-header:rtl{
	text-align:right
}
.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item{
	spacing:1em
}
.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name{
	font-weight:bold
}
.end-session-dialog-app-list-item-description{
	color:#fff;
	font-size:10pt
}
.shell-mount-operation-icon{
	icon-size:48px
}
.show-processes-dialog,
.mount-question-dialog{
	spacing:15px
}
.show-processes-dialog-subject,
.mount-question-dialog-subject{
	padding-top:10px;
	padding-left:17px;
	padding-bottom:6px
}
.mount-question-dialog-subject{
	max-width:500px
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl{
	padding-left:0px;
	padding-right:17px
}
.show-processes-dialog-description,
.mount-question-dialog-description{
	padding-left:20px;
	width:28em
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl{
	padding-right:20px
}
.show-processes-dialog-app-list{
	max-height:200px;
	padding-top:30px;
	padding-left:50px;
	padding-right:40px
}
.show-processes-dialog-app-list:rtl{
	padding-right:50px;
	padding-left:40px
}
.show-processes-dialog-app-list-item{
	color:gray
}
.show-processes-dialog-app-list-item:hover{
	color:#eee
}
.show-processes-dialog-app-list-item:ltr{
	padding-right:1em
}
.show-processes-dialog-app-list-item:rtl{
	padding-left:1em
}
.show-processes-dialog-app-list-item-icon:ltr{
	padding-right:17px
}
.show-processes-dialog-app-list-item-icon:rtl{
	padding-left:17px
}
.show-processes-dialog-app-list-item-name{
	font-size:10pt
}
.prompt-dialog{
	width:500px
}
.prompt-dialog-main-layout{
	spacing:30px;
	padding:0 0 15px 0
}
.prompt-dialog-message-layout{
	spacing:15px
}
.prompt-dialog-description:rtl{
	text-align:right
}
.prompt-dialog-password-box{
	spacing:20px;
	padding:0
	;margin:0
}
.hidden{
	color:transparent
}
.prompt-dialog-error-label,
.prompt-dialog-info-label,
.prompt-dialog-null-label{
	font-size:0pt;
	padding-bottom:0;
	display:none
}
.polkit-dialog-user-layout{
	padding:0;spacing:10px
}
.polkit-dialog-user-layout:rtl{
	padding:0
}
.polkit-dialog-user-icon{
	border-radius:0;
	background-size:contain;
	width:50px;
	height:50px
}
.network-dialog-secret-table{
	spacing-rows:15px;
	spacing-columns:1em
}
.keyring-dialog-control-table{
	spacing-rows:15px;
	spacing-columns:1em
}
.nm-dialog{
	max-height:500px;
	min-height:450px;
	min-width:470px
}
.nm-dialog-content{
	spacing:20px
}
.nm-dialog-header-hbox{
	spacing:10px
}
.nm-dialog-airplane-box{
	spacing:10px
}
.nm-dialog-airplane-headline{
	font-weight:bold;
	text-align:center
}
.nm-dialog-airplane-text{
	color:#fff
}
.nm-dialog-header-icon{
	icon-size:32px
}
.nm-dialog-scroll-view{
	border:1px solid #1c1f1f;
	background:#2c2c2c;
	margin-bottom:15px;
	border-radius:3px
}
.nm-dialog-item{
	font-size:110%;
	border-bottom:1px solid rgba(0,0,0,0.88);
	padding:12px;
	spacing:20px
}
.nm-dialog-item:selected{
	background-color:#219c5d;
	color:#fff
}
.nm-dialog-icons{
	spacing:.5em
}
.nm-dialog-icon{
	icon-size:16px
}
.no-networks-label{
	color:gray
}
.no-networks-box{
	spacing:15px
}
.run-dialog-label,
.prompt-dialog-headline,
.nm-dialog-header,
.polkit-dialog-user-root-label,
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject{
	font-size:12pt;
	font-weight:bold;
	color:#fff;
	padding:0;
	margin:0;
	spacing:0
}
.run-dialog-label{
	margin-bottom:15px
}
.popup-menu{
	min-width:200px;
	padding:0;
	margin:0;
	spacing:0
}
.popup-menu .popup-sub-menu{
	background-color:#2c2c2c;
	border-top:1px solid #232727;
	border-bottom:1px solid #232727;
	padding:10px 0;
	box-shadow:none
}
.popup-menu .popup-menu-content{
	padding:20px 0
}
.popup-menu .popup-menu-item{
	spacing:10px
}
.popup-menu .popup-menu-item:ltr{
	padding:8px 28px 8px 0
}
.popup-menu .popup-menu-item:rtl{
	padding:8px 0 8px 28px
}
.popup-menu .popup-menu-item:checked,
.popup-menu .popup-menu-item:checked:hover{
	background-color:#454c4c;
	box-shadow:none;
	font-weight:bold
}
.popup-menu .popup-menu-item.selected,
.popup-menu .popup-menu-item:active{
	background-color:#219c5d;
	color:#fff
}
.popup-menu .popup-menu-item:insensitive{
	color:gray
}
.popup-menu .popup-inactive-menu-item{
	color:#fff
}
.popup-menu .popup-inactive-menu-item:insensitive{
	color:#595959
}
.popup-menu.panel-menu{
	-boxpointer-gap:4px;
	margin-bottom:1.75em
}
.popup-menu-ornament{
	text-align:right;
	width:1em
}
.popup-menu-boxpointer,
.candidate-popup-boxpointer{
	-arrow-border-radius:6px;
	-arrow-background-color:#393f3f;
	-arrow-border-width:1px;
	-arrow-border-color:#1c1f1f;
	-arrow-base:24px;
	-arrow-rise:11px;
	-arrow-box-shadow:0 1px 5px rgba(0,0,0,0.35)
}
.popup-separator-menu-item{
	height:0;
	margin:0;
	background-color:transparent;
	border-color:rgba(0,0,0,0.15);
	border-bottom-width:1px;
	border-bottom-style:solid
}
.background-menu{
	-boxpointer-gap:5px;
	-arrow-rise:0px
}
.aggregate-menu{
	width:360px;
	padding:0;
	margin:0;
	spacing:0
}
.aggregate-menu .popup-menu-icon{
	padding:0 3px 0 5px
}
.system-switch-user-submenu-icon{
	icon-size:50px;
	border:0
}
.system-menu-action{
	color:#fff;
	border-radius:10px;
	padding:13px;
	border:1px solid #cccccc;
}
.system-menu-action:hover,
.system-menu-action:focus{
	background-color:#219c5d;
	color:#fff;
	border:1px solid #00FF99;
	padding:13px
}
.system-menu-action:active{
	background-color:#219c5d;
	color:#fff;
	border:1px solid #00FF99;
}
.system-menu-action>StIcon{
	icon-size:16px
}
.osd-window{
	text-align:center;
	font-weight:bold;
	spacing:15px;
	margin:30px;
	min-width:60px;
	min-height:60px
}
.osd-window .osd-monitor-label{
	font-size:3em
}
.osd-window .level{
	height:10px;
	border-radius:5px;
	background-color:#2c2c2c;
	color:#fff;
	box-shadow:none
}
.switcher-popup{
	padding:10px;
	spacing:15px
}
.switcher-list-item-container{
	spacing:10px
}
.switcher-list .item-box{
	padding:10px;
	border-radius:6px
}
.switcher-list .item-box:outlined{
	padding:5px;
	border:0px
}
.switcher-list .item-box:selected{
	background-color:#219c5d;
	color:#fff
}
.switcher-list .thumbnail-box{
	padding:2px;
	spacing:4px
}
.switcher-list .thumbnail{
	width:256px
}
.switcher-list .separator{
	width:1px;
	background:rgba(0,0,0,0.88)
}
.switcher-arrow{
	border-color:transparent;
	color:#fff
}
.switcher-arrow:highlighted{
	color:#fff
}
.input-source-switcher-symbol{
	font-size:34pt;
	width:96px;
	height:96px
}
.workspace-switcher-group{
	padding:15px
}
.workspace-switcher{
	background:transparent;
	border:0px;
	border-radius:0px;
	padding:0px;
	spacing:10px
}
.ws-switcher-active-up,
.ws-switcher-active-down{
	height:50px;
	background-color:#219c5d;
	color:#fff;
	background-size:32px;
	border-radius:6px
}
.ws-switcher-box{
	height:50px;
	border:0;
	background:transparent;
	border-radius:6px
}
.osd-window,
.resize-popup,
.switcher-list,
.workspace-switcher-container{
	color:#fff;
	background-color:#393f3f;
	border:1px solid #1c1f1f;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.35);
	border:0;
	border-radius:6px;
	padding:15px
}
.tile-preview{
	background-color:#219c5d;
	border:0
}
.tile-preview-left.on-primary{
	border-radius:6px 6px 0 0
}
.tile-preview-right.on-primary{
	border-radius:0 6px 0 0
}
.tile-preview-left.tile-preview-right.on-primary{
	border-radius:6px 6px 0 0
}
#panel{
	background-gradient-start:#393f3f;
	background-gradient-end:#3f4748;
	background-image:url("traybg.png");
	background-repeat:repeat-x;
	font-weight:normal;
	height:32px;
}
#panel #panelLeft,
#panel #panelCenter{
	spacing:0px;
}
#panel .panel-corner{
	/*border: 2px solid #000000;*/
	-panel-corner-radius:0px;
	-panel-corner-background-color:#000;
}

#panel .panel-corner.lock-screen,
#panel .panel-corner.login-screen,
#panel .panel-corner.unlock-screen{
	-panel-corner-radius:0;
	-panel-corner-background-color:transparent;
}
#panel .panel-button{
	-natural-hpadding:12px;
	-minimum-hpadding:5px;
	font-weight:bold;
	color:#fff;
	transition-duration:200ms;
	/*text-shadow:1px 1px 2px rgba(0,0,0,0.25);*/
}
#panel .panel-button:hover,
#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked{
	color:#fff;
	box-shadow: inset 0 -3px #219c5d;
}

#panel .panel-button .system-status-icon{
	icon-size:1.09em;
	padding:0 5px;
	icon-shadow:1px 1px 2px rgba(0,0,0,0.25);
}
#panel .panel-button .app-menu-icon{
	-st-icon-style:regular;
	margin-left:5px;
	margin-right:5px;
}
#panel .panel-status-indicators-box,
#panel .panel-status-menu-box{
	/*spacing:2px;*/
}
#panel .screencast-indicator{
	color:#f57900;
}
.popup-menu-arrow{
	width:16px;
	height:16px;
	text-shadow:1px 1px 2px rgba(0,0,0,0.25)
}
.popup-menu-icon{
	icon-size:1.09em
}
#panel.unlock-screen,
#panel.login-screen,
#panel.lock-screen{
	background-color:transparent
}
.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button{
	color:#fff
}
.unlock-screen #panel .panel-button:focus,
.unlock-screen #panel .panel-button:hover,
.unlock-screen #panel .panel-button:active,
.login-screen #panel .panel-button:focus,
.login-screen #panel .panel-button:hover,
.login-screen #panel .panel-button:active,
.lock-screen #panel .panel-button:focus,
.lock-screen #panel .panel-button:hover,
.lock-screen #panel .panel-button:active{
	color:#fff
}
#appMenu{
	spinner-image:url(resource:///org/gnome/shell/theme/process-working.svg);
	spacing:4px
}
#appMenu .label-shadow{
	color:transparent
}
.ripple-box{
	width:52px;
	height:52px;
	background-image:url(resource:///org/gnome/shell/theme/corner-ripple-ltr.png);
	background-size:contain
}
.ripple-box:rtl{
	background-image:url(resource:///org/gnome/shell/theme/corner-ripple-rtl.png)
}
#calendarArea{
	padding:0.75em 1.0em
}
.calendar{
	margin-bottom:1em;
}
.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections{
	margin:0 1.5em
}
.datemenu-calendar-column{
	spacing:0.5em
}
.datemenu-displays-section{
	padding-bottom:3em
}
.datemenu-today-button,
.world-clocks-button,
.message-list-section-title{
	border-radius:2px;
	padding:10px
}
.message-list-section-list:ltr{
	padding-left:.4em
}
.message-list-section-list:rtl{
	padding-right:.4em
}
.datemenu-today-button:hover,
.datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.message-list-section-title:hover,
.message-list-section-title:focus{
	background-color:#454c4c
}
.datemenu-today-button:active,
.world-clocks-button:active,
.message-list-section-title:active{
	color:#fff;
	background-color:#454c4c
}
.datemenu-today-button .date-label{
	font-size:1.5em
}
.world-clocks-header,
.message-list-section-title{
	color:#fff;
	font-weight:bold
}
.world-clocks-grid{
	spacing-rows:0.4em
}
.calendar-month-label{
    background-color:#454c4c;
	color:#fff;
	font-weight:bold;
	padding:8px 0;
	width:200px;
	text-align:center;
}
.pager-button{
	color:#fff;
	background-color:transparent;
	width:32px;
	border-radius:2px
}
.pager-button:hover,
.pager-button:focus{
	background-color:#454c4c
}
.pager-button:active{
    background-color:transparent;
}
.calendar-change-month-back{
    background-color:#454c4c;
	background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-left.svg)
}
.calendar-change-month-back:rtl{
    background-color:#454c4c;
	background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-right.svg)
}
.calendar-change-month-forward{
    background-color:#454c4c;
	background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-right.svg)
}
.calendar-change-month-forward:rtl{
    background-color:#454c4c;
	background-image:url(resource:///org/gnome/shell/theme/calendar-arrow-left.svg)
}
.calendar-day-base{
	font-size:80%;
	text-align:center;
	width:2.4em;
	height:2.4em;
	background-color:#454c4c;
	padding:3px;
	margin:1px;
	border-radius:0px;
}
.calendar-day-base:hover,
.calendar-day-base:focus
{
	background-color:#454c4c
}
.calendar-day-base:active{
	color:#fff;
	background-color:#219c5d;
	border-color:transparent
}
.calendar-day-base.calendar-day-heading{
	color:#fff;
	margin-top:6px;
	font-weight:bold;
}
.calendar-day{
	border-width:0;
	background-color:#252c2c;
	font-weight:bold;
}
.calendar-day-top{
	border-top-width:1px
}
.calendar-day-left{
	border-left-width:1px
}
.calendar-nonwork-day{
    background-color:#1c1f1f;
	color:gray
}
.calendar-today{
	border:1px solid #219c5d
}
.calendar-day-with-events{
	color:#219C5d;
}
.calendar-other-month-day{
	color:#595959;
	opacity:.5
}
.message-list{
	width:420px
}
.message-list-sections{
	spacing:1.5em
}
.message-list-section,
.message-list-section-list{
	spacing:0.7em
}
.message-list-section-title-box{
	spacing:0.4em
}
.message-list-section-close>StIcon{
	icon-size:16px;
	border-radius:8px;
	color:#fff;
	background-color:rgba(0,0,0,0.25)
}
.message-list-section-close:hover>StIcon,
.message-list-section-close:focus>StIcon{
	background-color:rgba(0,0,0,0.15)
}
.message{
	background-color:#454c4c;
	border-radius:3px;
	transition-duration:200ms
}
.message:hover,
.message:focus{
	background-color:#4a5151
}
.message-icon-bin{
	padding:10px 0px 10px 10px
}
.message-icon-bin:rtl{
	padding:10px 10px 10px 0px
}
.message-icon-bin>StIcon{
	icon-size:48px
}
.message-secondary-bin{
	color:gray
}
.message-secondary-bin>StIcon{
	icon-size:16px
}
.message-title{
	font-weight:bold
}
.message-content{
	padding:10px
}
#overview{
	spacing:25px
}
.overview-controls{
	padding-bottom:30px
}
.window-picker{
	-horizontal-spacing:30px;
	-vertical-spacing:30px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:50px
}
.window-picker.external-monitor{
	padding:30px
}
.window-clone-border{
	border:0px;
	border-radius:0;
	box-shadow:0 0 1px rgba(0,0,0,0.1)
}
.window-caption{
	spacing:25px;
	color:#fff;
	background-color:#1c1f1f;
	border-radius:2px;
	padding:5px 10px;
	-shell-caption-spacing:12px
}
.window-caption:hover{
	background-color:#219c5d;
	color:#ffffff
}
.window-close{
	background-image:url(assets/close-window.svg);
	background-size:32px;
	height:32px;
	width:32px
}
.window-close{
	-shell-close-overlap:16px
}
.window-close:rtl{
	-st-background-image-shadow:2px 2px 6px rgba(0,0,0,0.5)
}
#searchResultsBin{
	max-width:1200px
}
#searchResultsContent{
	padding-left:0;
	padding-right:0;
	spacing:15px
}
.search-section{
	spacing:15px
}
.search-section-content{
	spacing:30px
}
.list-search-results{
	spacing:5px
}
.search-section-separator{
	-gradient-height:1px;
	-gradient-start:rgba(255,255,255,0.15);
	-gradient-end:rgba(255,255,255,0.15);
	-margin-horizontal:0;
	height:1px
}
.list-search-result-content{
	spacing:15px;
	padding:15px
}
.list-search-result-title{
	font-size:1.5em;
	color:#fff
}
.list-search-result-description{
	color:#fff
}
.search-provider-icon{
	padding:15px
}
.search-provider-icon-more{
	width:16px;
	height:16px;
	background-image:url(resource:///org/gnome/shell/theme/more-results.svg)
}
.search-display>StBoxLayout,
.all-apps,
.frequent-apps>StBoxLayout{
	padding:0px 90px 10px 90px
}
.search-statustext,
.no-frequent-applications-label{
	font-size:2em;
	font-weight:bold;
	color:#fff
}
#dash{
	font-size:9pt;
	color:#fff;
	background-color:#191f1f;
	padding:5px;
	border:1px solid #393f3f;
	border-radius:0px 6px 6px 0px;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.35)
}
#dash .placeholder{
	background-image:url(resource:///org/gnome/shell/theme/dash-placeholder.svg);
	background-size:contain;
	height:25px
}
#dash .empty-dash-drop-target{
	width:25px;
	height:25px
}
#dash:rtl{
	border-radius:6px 0 0 6px
}
.dash-item-container>StWidget{
	padding:0 0 0
}
.dash-label{
	border-radius:2px;
	padding:5px 0px;
	color:#fff;
	background-color:#00af50;
	text-align:center;
	-x-offset:-1px
}
.icon-grid{
	spacing:30px;
	-shell-grid-horizontal-item-size:136px;
	-shell-grid-vertical-item-size:136px
}
.icon-grid .overview-icon{
	icon-size:96px
}
.app-view-controls{
	padding-bottom:30px
}
.app-view-control{
	padding:15px 35px;
	border-radius:3px;
	background:transparent;
	background-gradient-direction:vertical;
	background-gradient-start:transparent;
	background-gradient-end:transparent;
	box-shadow:none;
	border:0;
	margin:0 5px
}
.app-view-control:hover{
	background-gradient-direction:vertical;
	background-gradient-start:transparent;
	background-gradient-end:transparent
}
.app-view-control:checked{
	color:#fff;
	background-gradient-direction:vertical;
	background-gradient-start:#219c5d;
	background-gradient-end:#219c5d;
	box-shadow:none;
	text-shadow:none;
	icon-shadow:none
}
.search-provider-icon:active,
.search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked{
	background-color:rgba(23,25,26,0.9)
}
.search-provider-icon:focus,
.search-provider-icon:selected,
.search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover{
	background-color:rgba(238,238,236,0.1);
	transition-duration:200ms
}
.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon{
	background-color:rgba(0,255,190,0.2);
	box-shadow:none
}
.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon{
	background-color:rgba(0,255,190,0.2);
	transition-duration:0ms;
	border-image:none;
	background-image:none
}
.app-well-app-running-dot{
	width:10px;
	height:3px;
	background-color:#219c5d;
	margin:0
}
.search-provider-icon,
.list-search-result,
.app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon{
	color:#fff;
	border-radius:6px;
	padding:10px;
	border:1px solid transparent;
	transition-duration:100ms;
	text-align:center
}
.app-well-app.app-folder>.overview-icon{
	background-color:rgba(0,0,0,0.25)
}
.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon{
	color:#fff;
	transition-duration:100ms
}
.app-folder-popup{
	-arrow-border-radius:6px;
	-arrow-background-color:rgba(0,0,0,0.5);
	-arrow-base:24px;
	-arrow-rise:11px
}
.app-folder-popup-bin{
	padding:5px
}
.app-folder-icon{
	padding:5px;
	spacing-rows:5px;
	spacing-columns:5px
}
.page-indicator{
	padding:15px 20px
}
.page-indicator .page-indicator-icon{
	width:18px;
	height:18px;
	background-image:url(resource:///org/gnome/shell/theme/page-indicator-inactive.svg)
}
.page-indicator:hover .page-indicator-icon{
	background-image:url(resource:///org/gnome/shell/theme/page-indicator-hover.svg)
}
.page-indicator:active .page-indicator-icon{
	background-image:url(resource:///org/gnome/shell/theme/page-indicator-active.svg)
}
.page-indicator:checked .page-indicator-icon,
.page-indicator:checked:active{
	background-image:url(resource:///org/gnome/shell/theme/page-indicator-checked.svg)
}
.app-well-app>.overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label{
	padding:10px 10px 5px 10px;
	spacing:5px
}
.workspace-thumbnails{
	visible-width:32px;
	spacing:10px;
	padding:10px;
	border-radius:6px 0 0 6px
}
.workspace-thumbnails:rtl{
	border-radius:0 6px 6px 0
}
.workspace-thumbnail-indicator{
	border:1px solid #219c5d;
	padding:0
}
.workspace-thumbnails{
	color:#fff;
	background-color:#393f3f;
	border:1px solid #393f3f;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.35)
}
.url-highlighter{
	link-color:#219c5d
}
.notification-banner{
	font-size:11pt;
	width:34em;
	margin:10px;
	border-radius:3px;
	color:#fff;
	background-color:#393f3f;
	border:1px solid #1c1f1f;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.35)
}
.notification-banner:hover,
.notification-banner:active{
	background-color:#343a3a
}
.notification-banner .notification-icon{
	padding:10px
}
.notification-banner .notification-content{
	padding:10px;
	spacing:10px
}
.notification-banner .secondary-icon{
	icon-size:1.09em
}
.notification-banner .notification-actions{
	background-color:transparent;
	padding:0 10px 10px;
	spacing:1px
}
.summary-source-counter{
	font-size:10pt;
	font-weight:bold;
	height:1.6em;
	width:1.6em;
	-shell-counter-overlap-x:3px;
	-shell-counter-overlap-y:3px;
	background-color:#219c5d;
	color:#fff;
	border:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.5);
	border-radius:3em
}
.secondary-icon{
	icon-size:1.09em
}
.chat-body{
	spacing:5px
}
.chat-response{
	margin:5px
}
.chat-log-message{
	color:gray
}
.chat-new-group{
	padding-top:1em
}
.chat-received{
	padding-left:5px
}
.chat-received:rtl{
	padding-left:0px;
	padding-right:5px
}
.chat-sent{
	padding-left:18pt;
	color:#595959
}
.chat-sent:rtl{
	padding-left:0;
	padding-right:18pt
}
.chat-meta-message{
	padding-left:5px;
	font-size:9pt;
	font-weight:bold;
	color:gray
}
.chat-meta-message:rtl{
	padding-left:0;
	padding-right:5px
}
.hotplug-transient-box{
	spacing:5px;
	padding:2px 72px 2px 12px
}
.hotplug-notification-item{
	padding:2px 10px
}
.hotplug-notification-item:focus{
	padding:1px 71px 1px 11px
}
.hotplug-notification-item-icon{
	icon-size:24px;
	padding:2px 5px
}
.hotplug-resident-box{
	spacing:8px
}
.hotplug-resident-mount{
	spacing:8px;
	border-radius:6px
}
.hotplug-resident-mount:hover{
	background-color:#2c2c2c
}
.hotplug-resident-mount-label{
	color:inherit;
	padding-left:5px
}
.hotplug-resident-mount-icon{
	icon-size:24px;
	padding-left:5px
}
.hotplug-resident-eject-icon{
	icon-size:16px
}
.hotplug-resident-eject-button{
	padding:7px;
	border-radius:6px;
	color:pink
}
.legacy-tray{
	background-color:transparent;
	border:1px solid transparent;
	border-bottom-width:0;
	display:none;
	opacity:0;
	width:0px;
	height:0px;
	overflow:hidden
}
.legacy-tray:ltr{
	border-radius:0 3px 0 0;
	border-left-width:0
}
.legacy-tray:rtl{
	border-radius:3px 0 0 0;
	border-right-width:0
}
.legacy-tray-handle,
.legacy-tray-icon{
	padding:5px;
	display:none;
	opacity:0
}
.legacy-tray-handle StIcon,
.legacy-tray-icon StIcon{
	icon-size:24px;
	display:none;
	opacity:0
}
.legacy-tray-handle:hover,
.legacy-tray-handle:focus,
.legacy-tray-icon:hover,
.legacy-tray-icon:focus{
	background-color:#282828;
	display:none;
	opacity:0
}
.legacy-tray-icon-box{
	spacing:15px;
	display:none;
	opacity:0
}
.legacy-tray-icon-box:ltr{
	padding-left:15px
}
.legacy-tray-icon-box:rtl{
	padding-right:15px
}
.legacy-tray-icon-box StButton{
	width:24px;
	height:24px
}
.magnifier-zoom-region{
	border:2px solid #219c5d
}
.magnifier-zoom-region.full-screen{
	border-width:0
}
#keyboard{
	background-color:#393f3f;
	border-top:#1c1f1f
}
.keyboard-layout{
	spacing:10px;
	padding:10px
}
.keyboard-row{
	spacing:15px
}
.candidate-popup-content{
	padding:0.5em;
	spacing:0.3em
}
.candidate-index{
	padding:0 0.5em 0 0;
	color:gray
}
.candidate-box{
	padding:0.3em 0.5em 0.3em 0.5em;
	border-radius:6px
}
.candidate-box:selected,
.candidate-box:hover{
	background-color:#219c5d;
	color:#fff
}
.candidate-page-button-box{
	height:2em
}
.vertical .candidate-page-button-box{
	padding-top:0.5em
}
.horizontal .candidate-page-button-box{
	padding-left:0.5em
}.candidate-page-button{
	padding:5px
}
.candidate-page-button-previous{
	border-radius:5px 0px 0px 5px;
	border-right-width:0
}
.candidate-page-button-next{
	border-radius:0px 5px 5px 0px
}
.candidate-page-button-icon{
	icon-size:1em
}
.framed-user-icon{
	background-size:contain;
	border:2px solid #eee;
	color:#eee;
	border-radius:6px
}
.framed-user-icon:hover{
	border-color:#fff;
	color:#fff
}
.login-dialog-banner-view{
	padding-top:24px;
	max-width:23em
}
.login-dialog{
	border:none;
	background-color:transparent
}
.login-dialog .modal-dialog-button-box{
	spacing:3px
}
.login-dialog .modal-dialog-button{
	padding:3px 18px
}
.login-dialog .modal-dialog-button:default{
	color:#eee;
	background-color:#219c5d;
	border-color:rgba(0,0,0,0.7);
	box-shadow:inset 0 1px #45524f;
	text-shadow:0 1px #000;
	icon-shadow:0 1px #000
}
.login-dialog .modal-dialog-button:default:hover,
.login-dialog .modal-dialog-button:default:focus{
	color:#fff;
	border-color:rgba(0,0,0,0.7);
	background-color:#219c5d;
	box-shadow:inset 0 1px #5d6d69;
	text-shadow:0 1px #000;
	icon-shadow:0 1px #000
}
.login-dialog .modal-dialog-button:default:active{
	color:#fff;
	border-color:rgba(0,0,0,0.7);
	background-color:#219c5d;
	box-shadow:none;
	text-shadow:none;
	icon-shadow:none
}
.login-dialog .modal-dialog-button:default:insensitive{
	color:rgba(133,133,132,0.94);
	border-color:rgba(0,0,0,0.7);
	background-color:rgba(61,66,68,0.688);
	box-shadow:none;
	text-shadow:none;
	icon-shadow:none
}
.login-dialog-logo-bin{
	padding:24px 0px
}
.login-dialog-banner{
	color:#d6d6d1
}
.login-dialog-button-box{
	spacing:5px
}
.login-dialog-message-warning{
	color:#f57900
}
.login-dialog-message-hint{
	padding-top:0;
	padding-bottom:20px
}
.login-dialog-user-selection-box{
	padding:100px 0px
}
.login-dialog-user-selection-box .login-dialog-not-listed-label{
	padding-left:2px
}
.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label{
	color:#eee
}
.login-dialog-not-listed-label{
	font-size:90%;
	font-weight:bold;
	color:#a6a69b;
	padding-top:1em
}
.login-dialog-user-list-view{
	-st-vfade-offset:1em
}
.login-dialog-user-list{
	spacing:12px;
	padding:.2em;
	width:23em
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus{
	background-color:#219c5d;
	color:#ffffff
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in{
	border-right:2px solid #219c5d
}
.login-dialog-user-list-item{
	border-radius:5px;
	padding:.2em;
	color:#a6a69b
}
.login-dialog-user-list-item:ltr{
	padding-right:1em
}
.login-dialog-user-list-item:rtl{
	padding-left:1em
}
.login-dialog-user-list-item:hover{
	background-color:#219c5d;
	color:#ffffff
}
.login-dialog-user-list-item .login-dialog-timed-login-indicator{
	height:2px;margin:2px 0 0 0;background-color:#eee
}
.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator{
	background-color:#ffffff
}
.login-dialog-username,.user-widget-label{
	color:#eee;
	font-size:120%;
	font-weight:bold;
	text-align:left;
	padding-left:15px
}
.user-widget-label:ltr{
	padding-left:18px
}
.user-widget-label:rtl{
	padding-right:18px
}
.login-dialog-prompt-layout{
	padding-top:24px;
	padding-bottom:12px;
	spacing:8px;
	width:23em
}
.login-dialog-prompt-label{
	color:#bebeb6;
	font-size:110%;
	padding-top:1em
}
.login-dialog-session-list-button StIcon{
	icon-size:1.25em
}
.login-dialog-session-list-button{
	color:#a6a69b
}
.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus{
	color:#eee
}
.login-dialog-session-list-button:active{
	color:#747467
}
.screen-shield-arrows{
	padding-bottom:3em
}
.screen-shield-arrows Gjs_Arrow{
	color:#fff;
	width:80px;
	height:48px;
	-arrow-thickness:12px;
	-arrow-shadow:0 1px 1px rgba(0,0,0,0.4)
}
.screen-shield-clock{
	color:#fff;
	text-shadow:0px 1px 2px rgba(0,0,0,0.6);
	font-weight:bold;
	text-align:center;
	padding-bottom:1.5em
}
.screen-shield-clock-time{
	font-size:72pt;
	text-shadow:0px 2px 2px rgba(0,0,0,0.4)
}
.screen-shield-clock-date{
	font-size:28pt
}
.screen-shield-notifications-container{
	spacing:6px;
	width:30em;
	background-color:transparent;
	max-height:500px
}
.screen-shield-notifications-container .summary-notification-stack-scrollview{
	padding-top:0;
	padding-bottom:0
}
.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source{
	padding:12px 6px;
	border:1px solid rgba(238,238,236,0.2);
	background-color:rgba(46,52,54,0.5);
	color:#eee;
	border-radius:6px
}
.screen-shield-notifications-container .notification{
	margin-right:15px
}
.screen-shield-notification-label{
	font-weight:bold;
	padding:0px 0px 0px 12px
}
.screen-shield-notification-count-text{
	padding:0px 0px 0px 12px
}
#panel.lock-screen{
	background-color:rgba(46,52,54,0.5)
}
.screen-shield-background{
	background:#000;
	box-shadow:0px 2px 4px rgba(0,0,0,0.4)
}
#lockDialogGroup{
	background:#2e3436;
	background-repeat:repeat
}
#screenShieldNotifications StButton#vhandle,
#screenShieldNotifications StButton#hhandle{
	background-color:rgba(0,0,0,0.18)
}
#screenShieldNotifications StButton#vhandle:hover,
#screenShieldNotifications StButton#vhandle:focus,
#screenShieldNotifications StButton#hhandle:hover,
#screenShieldNotifications StButton#hhandle:focus{
	background-color:rgba(0,0,0,0.38)
}
#screenShieldNotifications StButton#vhandle:active,
#screenShieldNotifications StButton#hhandle:active{
	background-color:#219c5d
}
#LookingGlassDialog{
	background-color:rgba(0,0,0,0.8);
	spacing:10px;
	padding:30px;
	border:0;
	border-radius:6px
}
#LookingGlassDialog>#Toolbar{
	border:0;
	background:rgba(255,255,255,0.1);
	border-radius:2px;
	padding:10px
}
#LookingGlassDialog .labels{
	spacing:5px
}
#LookingGlassDialog .notebook-tab{
	-natural-hpadding:15px;
	-minimum-hpadding:5px;
	font-weight:bold;
	color:#c0c0c0;
	transition-duration:100ms;
	padding-left:.3em;
	padding-right:.3em
}
#LookingGlassDialog .notebook-tab:hover{
	color:#fff;
	text-shadow:none
}
#LookingGlassDialog .notebook-tab:selected{
	border-bottom-width:0;
	color:#fff;
	text-shadow:none
}
#LookingGlassDialog StBoxLayout#EvalBox{
	padding:5px;
	spacing:5px
}
#LookingGlassDialog StBoxLayout#ResultsArea{
	spacing:5px
}
.lg-dialog StEntry{
	selection-background-color:#bbb;
	selected-color:#333
}
.lg-dialog .shell-link{
	color:#999
}
.lg-dialog .shell-link:hover{
	color:#ddd
}
.lg-completions-text{
	font-size:.9em;
	font-style:italic
}
.lg-obj-inspector-title{
	spacing:5px
}
#lookingGlassExtensions{
	padding:0
}
.lg-extensions-list{
	padding:0;
	spacing:5px
}
.lg-extension{
	border:0;
	background:rgba(255,255,255,0.1);
	border-radius:2px;
	padding:10px
}
.lg-extension-name{
	font-weight:bold
}
.lg-extension-meta{
	spacing:5px
}
#LookingGlassPropertyInspector{
	background-color:#393f3f;
	border:1px solid #1c1f1f;
	border-radius:6px;
	padding:15px
}
