/* ===================================================================
   ! Desktop Capture applet
   ===================================================================*/

/* Panel icon */
StBoxLayout.applet-box.desktop-capture StBin {
    min-width: 22px;
}

/* Display of preview image in notifications */
.screenshot-thumbnail {
    border-image: url("background-assets/dark-bg.svg") 7;
    border: 0;
    padding: 4px;

    &-hover {
        border-image: url("background-assets/hover.svg") 7;
    }
}

/* Window capture mode */
.capture-outline-background {
    background-color: alpha($accent-primary, .8);
}

.capture-outline-frame {
    border: 0;
    border-radius: 0;

    &.desktop {
        border: none;
    }
}

.overlay-icon-box {}

/* App icon (window capture mode) */
.overlay-icon {
    padding: 5px;
    border: 0;
    @include size(32px);
    box-shadow: 0 0 transparent;
    icon-shadow: white 0 0 0;
}

.overlay-label-title {
    padding-top: 5px;
    color: $text-primary;
    text-shadow: 0 0 0 transparent;
    font-weight: bold;
    text-align: center;
}

.overlay-label-size {
    color: $text-primary;
    text-shadow: 0 0 0 transparent;
    text-align: center;
    vertical-align: top;
    font-family: $font-family;
    font-size: 10pt;
    font-weight: bold;
    clear: both;
}

.capture-countdown-timer {
    border-image: url("background-assets/popup.svg") 7;
    width: 50px;
    padding: 14px 12px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: $text-primary;
}

/* Dashed border in area selection */
.border-h, .border-v {
    border-image: none;
    background-color: #000;
}

.handle {
    border: 1px solid #000;
    background-color: alpha(#fff, .7);
}

.area-selection {
    background-color: rgba(74, 144, 217, 0.5);
    border: 1px solid rgba(74, 144, 217, 1);
}

/* Desktop overlay */
.shadow-container {}

.cover {
    background-color: alpha(#000, .65);
}

/* Instructions dialog */
.instructions-container {
    border-image: url("background-assets/popup.svg") 7;
}

.instructions-label-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: $text-primary;
    text-shadow: 0 0 transparent;
}

.instructions-label-text {
    color: $text-primary;
    text-align: center;
    font-size: 22px;
    text-shadow: 0 0 transparent;
}

.menuitem-detail {
    color: $text-secondary;

    .popup-menu-item:active & {
        color: $text-secondary;
    }
}
