/* ===================================================================
   ! Weather applet
   ===================================================================*/

/* Use to override the '.popup-menu-content' selector. */
.weather-menu {
    .popup-menu-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.weather-icon,
.weather-icon-rtl {}


/* Current */
.current {
    padding: 2px 10px;
}

.weather-current-location-link {
    font-size: 14pt;

    &:selected,
    &:hover {
        background-gradient-direction: vertical;
        background-gradient-start: rgba(255, 255, 255, 0.0);
        background-gradient-end: rgba(255, 255, 255, 0.0);
        color: $accent-primary;
        text-decoration: underline;
    }
}

.weather-current-summarybox {
    padding: 0;
    spacing: .1em;
}

.weather-current-summary {
    font-size: 35px;
    color: $text-primary;
}

.weather-current-iconbox {
    padding: .2em 1em 1em 1em;
}

.weather-current-icon {
    padding: 15px 30px 15px 10px;
    color: $icon-primary;
}

.weather-current-databox {
    padding-top: 15px;
    padding-bottom: .4em;
    padding-left: 30px;
    font-size: 9pt;
    spacing: .2em;

    > * {
        spacing: .2em;
    }

    &-captions {
        color: $text-secondary;
        text-align: right;
    }

    &-values {
        color: $text-primary;
    }
}

.weather-current-astronomy {
    color: $text-secondary;
    font-size: 9pt;
}


/* Forecast */
.forecast {/* ! */}

.weather-forecast-icon {
    padding: 10px 10px 0 30px;
    color: $icon-primary;
}

.weather-forecast-databox {
    padding: 14px 30px 0 0;
    spacing: .2em;

    > *:last-child {
        color: $text-primary;
        font-size: 9pt;
        font-weight: bold;
    }
}

.weather-forecast-day {
    color: $text-primary;
    font-size: 10pt;
    font-weight: bold;
}
