/* ===================================================================
   ! Xcenter
   ===================================================================*/

/* Use to override the '.popup-menu-content' selector */
.xCenter-menu {
    .popup-menu-content {
        padding: 0;
        max-height: 500px;
    }

    .popup-menu-item {
        padding: .4em 1.3em;

        &:hover {
            border-image: url("background-assets/hover.svg") 7;
        }
    }
}

.xCenter-mainBox {}

.xCenter-mainBox StIcon {
    color: $icon-primary;
    padding-bottom: 1px;
}

.xCenter-title {
    border: 0 rgba(0, 0, 0, 0);
    border-bottom-width: 4px;
    font-size: 9pt;
    font-weight: bold;
}

.xCenter-pane {
    border-image: url("misc-assets/separator-vertical.svg") 11;
    padding: 7px 0;
    padding-right: 1px;

    &:last-child {
        border-image: none;
        padding-right: 0;
    }
}

.xCenter-menuItemLabel {
    max-width: 12em;
}
