#panel, #search-entry {
    color: white;
    border-image: url('assets/panel.png') 8; }

#panelLeft .applet-box:first-child:hover {
    padding-left: 6px;
    padding-right: 6px;
    border-image: url('assets/tray-pressed.png') 8; }

#panelRight .applet-box:hover, .calendar-day-base:hover, .appmenu-system-button:hover {
    padding: 6px;
    border-image: url('assets/tray-pressed.png') 8; }

.calendar-today {
    border-image: url('assets/tab.png') 8; }

.calendar-change-month-back {
  width: 18px;
  height: 12px;
  background-image: url("assets/calendar-arrow-left.svg");
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0); }

.calendar-change-month-back:rtl {
  background-image: url("assets/calendar-arrow-right.svg"); }

.calendar-change-month-forward {
  width: 18px;
  height: 12px;
  background-image: url("assets/calendar-arrow-right.svg");
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0); }

.calendar-change-month-forward:rtl {
  background-image: url("assets/calendar-arrow-left.svg"); }

.appmenu-background, .menu, .popup-menu {
    color: white;
    padding: 8px 8px;
    border-image: url('assets/border.png') 8; }

.popup-menu-item {
    padding: .4em;
    spacing: .2em; }

.appmenu-category-button-selected, .appmenu-application-button-selected, .popup-menu-item:hover {
    padding: .4em;
    spacing: .2em;
    color: white;
    border-image: url('assets/tab.png') 8; }

.appmenu-sidebar-button {
    padding: 4px;
    spacing: 4px; }

.appmenu-sidebar-button:hover {
    padding: 4px;
    spacing: 4px;
    border-image: url('assets/tab.png') 8; }

.menu-category-button-selected, .menu-application-button-selected {
    padding: 6px;
    color: white;
    border-image: url('assets/tab.png') 8; }

.menu-favorites-button:hover {
    padding: 8px;
    border-image: url('assets/tab.png') 8; }

#Tooltip {
   padding: 2px 12px;
   color: white;
   border-image: url('assets/tab.png') 2;
   font-weight: bold; }

.grouped-window-list-item-box {
  padding: 4px;
  spacing: 4px; }

.grouped-window-list-item-box:hover {
  border-image: url("assets/tray-hover.png") 4; }

.grouped-window-list-item-box:active,
.grouped-window-list-item-box:checked,
.grouped-window-list-thumbnail-menu {
  color: white;
  font-weight: bold;
  border-image: url("assets/tab.png") 4; }

.grouped-window-list-item-box:active:hover,
.grouped-window-list-item-box:checked:hover, {
  border-image: url("assets/item-hover.png") 4; }

.grouped-window-list-item-box:focus, {
  border-image: url("assets/item-active.png") 4; }

.grouped-window-list-item-box:focus:hover,
.grouped-window-list-thumbnail-menu .item-box:selected {
  color: #303036;
  border-image: url("assets/item-active-hover.png") 4; }

.grouped-window-list-item-demands-attention {
  font-weight: normal;
  border-image: url("assets/item-attention.png") 4; }

.grouped-window-list-item-attention:hover {
  border-image: url("assets/item-attention-hover.png") 4; }

.applet-cornerbar {
    padding: 7px;
    border-image: url("assets/tab.png") 4; }

.applet-cornerbar-box:hover > .applet-cornerbar {
    border-image: url("assets/item-hover.png") 4; }

.toggle-switch {
  width: 52px;
  height: 18px; }

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("assets/switch-off.svg"); }

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("assets/switch-on.svg"); }

.window-list-box {
  spacing: 1px;
  padding: 0;
}

.window-list-item-label {
  font-weight: normal;
  width: 15em;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 5px;
}

.window-list-item-box {
  background: transparent;
  transition-duration: 200;
  color: #FFF;
  max-width: 134px;
}

/* normal */
.window-list-item-box {
  font-weight: normal;
  font-size: 9pt;
  border-image: url("panel-assets/item-normal.png") 4;
}

.window-list-item-box:hover  {
  border-image:url("panel-assets/item-hover.png") 4;
}

/* active window */
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {
  border-image: url("panel-assets/item-active.png") 4;
}

/* active hover */
.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover,
.window-list-item-box:active:hover  {
  border-image: url("panel-assets/item-active-hover.png") 4;
}

/* urgent */
.window-list-item-demands-attention {
  border-image: url("panel-assets/item-attention.png") 4;
}

/* urgent hover */
.window-list-item-demands-attention:hover {
  border-image: url("panel-assets/item-attention-hover.png") 4;
}

.window-close {
  background-image: url("assets/close.svg");
}

.window-close:hover, .window-close:active {
  background-image: url("assets/close-hover.svg");
}

#menu-search-entry, #menu-search-entry:hover, #menu-search-entry:focus,
#appmenu-search-entry, #appmenu-search-entry:hover, #appmenu-search-entry:focus,
StScrollBar StBin#trough {
    padding: .5em;
    border: none;
    border-image: url('assets/tab.png') 4; }

StScrollBar StBin#vhandle {
  border-image: url('assets/tab.png') 4; }

StScrollBar StBin#vhandle:hover {
  border-image: url('assets/item-hover.png') 4; }

StScrollView StScrollBar {
  min-width: 12px;
  min-height: 12px; }

.appmenu-sidebar {
    border-image: url('assets/tab.png') 8;
    padding: 20px 5px 13px 5px; }

.appmenu-sidebar-user-box StBin {
    size: 120% 120%;
    border: 1px solid transparent;
    border-radius: 10px;
    border-image: url('assets/box.png') 4; }

.appmenu-sidebar-user-box .highlighted {
    border: none; }

.appmenu-system-button {
    padding: 6px;
    icon-size: 16px; }
