
/* selected WnckPager */
PanelApplet.wnck-applet .wnck-pager:selected {
    background-color: #007733;
}

/* hover of WnckPager */
PanelApplet.wnck-applet .wnck-pager:hover {
    background-color: #009955;
}

.caja-side-pane text,
.caja-side-pane treeview,
.caja-side-pane:backdrop text,
.caja-side-pane:backdrop treeview {
  color: #ffffff;
  background-color: #3e4243; 
}
