/* ======================================
 * ! Xcenter
 * ====================================== */

/* Use to override the '.popup-menu-content' selector */
.xCenter-menu {
    .popup-menu-content {
        border-image: url("img/containers/dark-bg.svg") 7;
        padding: 2px;
        max-height: 500px;
    }

    .popup-menu-item {
        padding: .4em 1.3em;

        &:hover {
            border-image: url("img/containers/hover.svg") 7;
        }
    }
}

.xCenter-mainBox {}

.xCenter-mainBox StIcon {
    color: $text-primary;
    padding-bottom: 1px;
}

.xCenter-title {
    border: 0 rgba(0, 0, 0, 0);
    border-bottom-width: 4px;
    font-size: $font-size-base;
    font-weight: bold;
}

.xCenter-pane {
    padding: .4em .1em;
}

.xCenter-menuItemLabel {
    max-width: 12em;
}
