/* ===================================================================
   ! Menu applet
   ===================================================================*/

/* Favourites */
.menu-favorites-box {
    border-image: url("background-assets/dark-bg.svg") 7;
    padding: 0.5em;
}

.menu-favorites-button {
    padding: 10px 12px;

    &:hover {
        border-image: url("background-assets/hover.svg") 9;
        color: $text-active;
    }
}


/* Places */
.menu-places-box {
    margin: auto;
    padding: 8px;
    border: 0 solid $text-primary;
}

.menu-places-button {
    padding: 10px;
}


/* Categories */
.menu-categories-box {
    padding: 10px 30px;
    font-weight: bold;
}

.menu-category-button {
    padding: .6em;
    color: $text-secondary;

    &-greyed {
        padding: 7px;
        color: $text-disabled;
        font-weight: bold;
    }

    &-selected {
        padding: 7px;
        border-image: url("background-assets/hover.svg") 7;
        color: $text-active;
    }

    &-label:ltr { padding-left: 5px; }

    &-label:rtl { padding-right: 5px; }

    &-button:hover {}
}


/* Applications */
.menu-applications-inner-box,
.menu-applications-outer-box {
    padding: 10px;
    padding-bottom: 0;
}

.menu-application-button {
    padding: 7px;
    max-width: 10px;

    &-selected {
        padding: 7px;
        border-image: url("background-assets/hover.svg") 7;
        color: $text-active;
    }

    &:highlighted {
        border-image: url("misc-assets/highlighted.svg") 6;
    }

    &-selected:highlighted {
        border-image: url("background-assets/hover.svg") 7;
        color: $text-primary;
    }

    &-label:ltr { padding-left: 5px; }

    &-label:rtl { padding-right: 5px; }
}


/* Application hover description */
.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 30px;
    text-align: right;
    height: 1.2em;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}


/* Menu search box */
.menu-search-box {
    padding-left: 30px;
}


/* Right-click menu */
.menu-applications-inner-box StScrollView {
    border-image: url("background-assets/dark-bg.svg") 7;
    padding: .5em .1em;
}
