// Accent colors
$accent-primary: #f0544c;
$accent-success: #4caf50;
$accent-info:    #03a9f4;
$accent-warning: #eea84c;
$accent-danger:  #f44336;


// Text color
$text-active:  #fff;
$text-primary: #eee;
$text-secondary: rgba($text-primary, .65);
$text-disabled:  rgba($text-primary, .3);

$text-primary-invert:   rgba(#000, .75);
$text-secondary-invert: rgba(#000, .45);
$text-disabled-invert:  rgba(#000, .2);

$text-link:    $accent-primary;
$text-success: $accent-success;
$text-info:    $accent-info;
$text-warning: $accent-warning;
$text-danger:  $accent-danger;
