// Shorthand for size properties
@mixin size($width, $height:$width, $important:false) {
    $important: if($important, !important, null);

    width: $width $important;
    height: $height $important;
}
