ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
	background-color: @dark_bg_color;
	-EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
	background-color: #000;
	color: #fff;
	-TerminalScreen-background-darkness: 0.9;
}

TerminalScreen .scrollbar.trough {
	background-color: #282828;
}
