/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
	font-family: dejavu sans, sans, sans-serif;
}
.cinnamon-link {
	color: #0000ff;
	text-decoration: underline;
}
.cinnamon-link:hover {
	color: #0000e0;
}
.label-shadow {
	color: rgba(0,0,0,0.5);
}
StScrollBar {
	padding: 0px;
}
StScrollView.vfade {
	-st-vfade-offset: 68px;
}
StScrollView StScrollBar {
	min-width: 8px;
	min-height: 16px;
}
StScrollBar StBin#trough {
	border-image: url("trough-v.png") 0 3 0 3 stretch stretch;
}
StScrollBar StButton#vhandle {
	background-gradient-direction: horizontal;
	background-gradient-start: #565656;
	background-gradient-end: #383838;
	border-radius: 8px;
}
StScrollBar StButton#vhandle:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #104978;
    transition-duration: 150;
}
StScrollBar StButton#hhandle {
	background-gradient-direction: vertical;
	background-gradient-start: #565656;
	background-gradient-end: #383838;
	border-radius: 8px;
}
StScrollBar StButton#hhandle:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #104978;
    transition-duration: 150;
}
#Tooltip {
	border: 1px solid #444;
	border-radius: 2px;
	padding: 5px 10px;
	background-color: #080808;
	color: #6EBEFE;
	font-size: 10pt;
	font-weight: normal;
	text-align: center;
}
/* ===================================================================
 * Shared button properties 
 * ===================================================================*/
.notification-button, .notification-icon-button,
.modal-dialog-button {
	color: #6EBEFE;
	border: 1px solid #8b8b8b;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255, 255, 255, 0.2);
	background-gradient-end: rgba(255, 255, 255, 0);
}
.notification-button:hover,
.notification-icon-button:hover, .modal-dialog-button:hover {
	background-gradient-start: rgba(255, 255, 255, 0.3);
	background-gradient-end: rgba(255, 255, 255, 0.1);
}
.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus {
	border: 2px solid #8b8b8b;
}
.notification-button:active, .notification-icon-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
	background-gradient-start: rgba(255, 255, 255, 0);
	background-gradient-end: rgba(255, 255, 255, 0.2);
}
/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/
.popup-menu-boxpointer {
	-arrow-border-radius: 5px;
	-arrow-background-color: rgba(0,0,0,0.9);
	-arrow-border-width: 1px;
	-arrow-border-color: #2f2f2f;
	-arrow-base: 0px;
	-arrow-rise: 0px;
	-boxpointer-gap: 2px;
}
.popup-menu {
	color: #6EBEFE;
	font-size: 9.5pt;
	min-width: 100px;
}
.popup-submenu-menu-item:open {
	background-gradient-start: #303030;
	background-gradient-end: #2a2a2a;
	background-gradient-direction: vertical;
	border-color: #2f2f2f;
	border-width: 1px;
}
.popup-sub-menu {
	background-gradient-start: #222;
	background-gradient-end: #333;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
.popup-sub-menu StScrollBar {
	padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: #4c4c4c;
	border-width: 0px;
}
.popup-combo-menu {
	background-color: rgba(0,0,0,0.9);
	padding: 1em 0em;
	color: #6EBEFE;
	font-size: 10.5pt;
	border: 1px solid #2f2f2f;
	border-radius: 9px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0em;
}
.popup-menu-item {
	padding: 0.25em 0.5em;
	spacing: 0.4em;
	border-width: 1px;
	border-color: rgba(0,0,0,0);
}
.popup-menu-item:active {
	background-gradient-start: #16609E;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;

	border-color: #0FABEE;
	border-width: 1px;
/*
	transition-duration: 150;
*/
}
.popup-menu-item:hover StIcon {
	icon-shadow: 0px 0px 3px #6EBEFE;
}
.popup-menu-item:insensitive {
	color: #292929;
}
.popup-image-menu-item {
}
.popup-combobox-item {
	spacing: 1em;
}
.popup-separator-menu-item {
	-margin-horizontal: 0.1em;
	height: 1px;
	border-image: url("line-h.png") 1 0 0 0 stretch stretch;
}
.popup-alternating-menu-item:alternate {
	font-weight: bold;
}
.popup-slider-menu-item {
	height: 1em;
	min-width: 15em;
	-slider-height: 0.3em;
	-slider-background-color: #666;
	-slider-border-color: #555;
	-slider-active-background-color: #aaa;
	-slider-active-border-color: #999;
	-slider-border-width: 1px;
	-slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
	spacing: .5em;
}
.popup-inactive-menu-item {
	font-weight: normal;
	color: #999;
}
.popup-subtitle-menu-item {
	font-weight: bold;
}
.popup-menu-icon {
	icon-size: 1.14em;
}
/* Switches (to be used in menus) */
.toggle-switch {
	width: 65px;
	height: 22px;
}
.toggle-switch-us {
	background-image: url("toggle_off_us.svg");
}
.toggle-switch-us:checked {
	background-image: url("toggle_on_us.svg");
}
.toggle-switch-intl {
	background-image: url("toggle_off_intl.svg");
}
.toggle-switch-intl:checked {
	background-image: url("toggle_on_intl.svg");
}
.nm-menu-item-icons {
	spacing: .5em;
}
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
	color: #6EBEFE;
	font-size: 9pt;
	font-weight: normal;
	height: 25px;
	box-shadow: 0px 1px rgba(255,255,255,0.2);
	border-top: 1px;
	border-color: #333333;
	background-gradient-direction: vertical;
	background-gradient-start: #111;
	background-gradient-end: #000;
}
#panelLeft {
	spacing: 4px;
}
#panelCenter {
	spacing: 4px;
}
#panelLeft:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,0,0,0.05);
	background-gradient-end: rgba(255,0,0,0.2);
}
#panelCenter:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,255,0,0.05);
	background-gradient-end: rgba(0,255,0,0.2);
}
#panelRight:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,255,0.05);
	background-gradient-end: rgba(0,0,255,0.2);
}
#panelLeft:ltr {
	padding-right: 4px;
}
#panelLeft:rtl {
	padding-left: 4px;
}
#panelRight:ltr { 
	padding-left: 0px;
	spacing: 0px;
}
#panelRight:rtl {
	padding-right: 0px;
	spacing: 0px;
}
.panel-top {
}
.panel-bottom {
}
.panel-status-button {
	color: #6EBEFE;
	border-width: 1px;
}
.panel-status-button:hover {
	background-gradient-start: #16609E;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	border-color: #0FABEE;
	border-radius: 2px;
	border-width: 1px;
    -natural-hpadding: 3px;
    -minimum-hpadding: 3px;
    height: 22px;
}
.system-status-icon {
	padding-left: 0px;
	padding-right: 0px;
	spacing: 0px;
	margin: 0px;
}
/*
.panel-corner {
	-panel-corner-radius: 0px;
	-panel-corner-background-color: black;
	-panel-corner-inner-border-width: 2px;
	-panel-corner-inner-border-color: #0f0;
	-panel-corner-outer-border-width: 1px;
	-panel-corner-outer-border-color: #536272;
}
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
	-panel-corner-inner-border-color: rgba(255,255,255,0.8);
}
*/
#appMenu {
	spacing: 4px;
}
.panel-button #appMenuIcon {
	app-icon-bottom-clip: 1px;
}
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
	app-icon-bottom-clip: 2px;
}
.panel-button {
	-natural-hpadding: 6px;
	-minimum-hpadding: 2px;
	font-weight: bold;
	color: #6EBEFE;
	transition-duration: 150;
}
.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
	color: #93CFFE;
	background-gradient-start: #21456E;
	background-gradient-end: #113863;
	background-gradient-direction: vertical;
	text-shadow: black 0px 2px 2px;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
}
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
	icon-shadow: black 0px 2px 2px;
}
.panel-menu {
	-boxpointer-gap: 4px
}
.popup-menu-item-dot {
}
.system-status-icon {
	icon-size: 1.14em;
}
/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
	spacing: 12px;
}
.window-caption {
	background-gradient-start: #000;
	background-gradient-end: #09101F;
	background-gradient-direction: vertical;
	color: #6EBEFE;
	border: 1px solid #2f2f2f;
	border-radius: 2px;
	spacing: 25px;
	font-size: 9pt;
	padding: 2px 8px;
	-cinnamon-caption-spacing: 4px;
}
.window-caption#selected {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	border-color: #0FABEE;
}
.workspace-controls {
	visible-height: 32px; /* Amount visible before hovering */
}
.workspace-thumbnails-background {
	border: 1px solid rgba(128, 128, 128, 0.4);
	border-right: 0px;
	border-radius: 9px 9px 0px 0px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 8px;
}
.workspace-thumbnails-background:rtl {
	border-right: 1px;
	border-left: 0px;
	border-radius: 9px 9px 0px 0px;
}
.workspace-thumbnails {
	spacing: 24px;
}
.workspace-add-button {
	background-image: url("add-workspace.png");
	height: 200px;
	width: 35px;
	transition-duration: 150;
}
.workspace-add-button:hover {
	background-image: url("add-workspace-hover.png");
	transition-duration: 150;
}
.workspace-close-button {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}
.workspace-thumbnail-indicator {
	outline: 2px solid white;
	border: 1px solid #6EBEFE;
}
.window-close {
	background-image: url("close-window.svg");
	height: 34px;
	width: 34px;
	-cinnamon-close-overlap: 20px;
}
.window-close:rtl {
	-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.window-close-area {
	background-image: url("trash-icon.png");
	background-color: rgba(60, 60, 60, 0.8);
	border: 4px solid rgba(128,128,128,0.8);
	border-bottom-width: 0px;
	border-radius: 20px 20px 0px 0px;
	height: 120px;
	width: 400px;
}
.icon-grid {
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}
.icon-grid .overview-icon {
    icon-size: 96px;
}
.overview-icon {
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
	font-size: 7.5pt;
	color: white;
	transition-duration: 150;
	text-align: center;
}
.expo-background {
}
.workspace-overview-background-shade {
	background-color: rgba(0,0,0,0.4);
}
.expo-workspace-thumbnail-frame {
	border: 1px, #2f2f2f;
	background-color: rgba(64,64,64,0.9);
}
.expo-workspace-thumbnail-frame#active {
	border: 1px, #bbb;
	background-color: rgba(32,32,32,0.9);
}
/* ===================================================================
 * ViewSelector 
 * ===================================================================*/
#viewSelector {
    spacing: 1em;
    font-size: 12pt;
}
#viewSelectorTabBar {
    padding: 1em;
}
.view-tab-title {
    color: #6EBEFE;
    font-weight: bold;
    padding: 0px 0.75em;
    height: 1.5em;
}
.view-tab-title:hover {
	background-gradient-direction: vertical;
    background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	border-color: #0FABEE;
}
.view-tab-title:selected {
    background-color: #606366;
    border-radius: 0.25em;
}
/* ===================================================================
 * Looking Glass 
 * ===================================================================*/
#LookingGlassDialog {
	background-color: rgba(0,0,0,0.9);
	spacing: 4px;
	padding: 4px;
	border: 1px solid #2f2f2f;
	border-radius: 5px;
	color: #6EBEFE;
}
#LookingGlassDialog > #Toolbar {
	border: 1px solid #2f2f2f;
	border-radius: 2px;
}
#LookingGlassDialog .labels {
	spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
	padding: 2px 8px;
	border-width: 1px;
	transition-duration: 150;
}
#LookingGlassDialog .notebook-tab:selected,
#LookingGlassDialog .notebook-tab:hover,
.lg-obj-inspector-button:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 2px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 2px #6EBEFE;
	border-color: #0FABEE;
	border-radius: 2px;
	border-width: 1px;
}
#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}
.lg-dialog StLabel {
	color: #6EBEFE;
	spacing: 4px;
}
.lg-dialog StEntry {
	color: #6EBEFE;
	selection-background-color: #0D377C;
	selected-color: #fff;
}
.lg-obj-inspector-title {
	spacing: 4px;
}
.lg-obj-inspector-button {
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(22,51,104,0.5);
	background-gradient-direction: vertical;
	border: 1px solid #2f2f2f;
	box-shadow: inset 0px 0px 2px 1px rgba(110,190,254,0.8);
	padding: 4px 8px;
	border-radius: 2px;
	transition-duration: 150;
}
.lg-dialog .cinnamon-link {
	color: #ccc;
}
.lg-dialog .cinnamon-link:hover {
	color: #0FABEE;
}
#LookingGlassDialog StBoxLayout#EvalBox {
	padding: 4px;
	spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
	spacing: 4px;
}
#lookingGlassExtensions {
	padding: 4px;
}
.lg-extension-list {
	padding: 4px;
}
.lg-extension {
	border: 1px solid #2f2f2f;
	border-radius: 5px;
	padding: 4px;
}
.lg-extension-name {
	font-weight: bold;
}
.lg-extension-meta {
	spacing: 6px;
}
#LookingGlassPropertyInspector {
	background: rgba(0,0,0,0.9);
	border: 1px solid #2f2f2f;
	border-radius: 5px;
	padding: 6px;
	color: #6EBEFE;
}
/* ===================================================================
 * Date applet 
 * ===================================================================*/
.calendar {
	padding: .4em 1.75em;
	spacing-rows: 0px;
	spacing-columns: 0px;
}
.calendar-month-label {
	color: #6EBEFE;
	font-size: 7.5pt;
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: bold;
}
.calendar-change-month-back {
	border-image: url("arrow_left.png") 3 3 3 3 stretch stretch;
	width: 20px;
	height: 26px;
}
.calendar-change-month-back:rtl {
	border-image: url("arrow_right.png") 3 3 3 3 stretch stretch;
}
.calendar-change-month-back:hover {
	border-image: url("arrow_left_hover.png") 3 3 3 3 stretch stretch;
}
.calendar-change-month-back:active {
	border-image: url("arrow_left_pressed.png") 3 3 3 3 stretch stretch;
}
.calendar-change-month-forward {
	border-image: url("arrow_right.png") 3 3 3 3 stretch stretch;
	width: 20px;
	height: 26px;
}
.calendar-change-month-forward:rtl {
	border-image: url("arrow_left.png") 3 3 3 3 stretch stretch;
}
.calendar-change-month-forward:hover {
	border-image: url("arrow_right_hover.png") 3 3 3 3 stretch stretch;
}
.calendar-change-month-forward:active {
	border-image: url("arrow_right_pressed.png") 3 3 3 3 stretch stretch;
}
.datemenu-date-label {
	padding: .4em 1.75em;
	font-size: 10.5pt;
	color: #6EBEFE;
	font-weight: bold;
}
.calendar-day-base {
	color: #6EBEFE;
	font-size: 7.5pt;
	text-align: center;
	width: 2.4em;
	height: 2.4em;
	border-width: 1px;
}
.calendar-day-base:hover {
	background-color: #777777;
	color: #fff;
}
.calendar-day-base:active {
	color: #6EBEFE;
}
.calendar-day-heading {
	color: #6EBEFE;
	padding-top: 1em;
}
.calendar-week-number {
	color: #6EBEFE;
	font-weight: bold;
}
/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
	color: #6EBEFE;
	border: 1px solid #444;
	border-top-width: 0;
	border-left-width: 0;
}
.calendar-day-top:ltr {
	border-top-width: 1px;
}
.calendar-day-left:ltr {
	border-left-width: 1px;
}
.calendar-work-day {
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(22,51,104,0.5);
	background-gradient-direction: vertical;
}
.calendar-today {
	color: #6EBEFE;
	font-weight: bold;
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 2px 1px rgba(110,190,254,0.8);
}
.calendar-other-month-day {
	color: #888;
    background-gradient-start: #222;
	background-gradient-end: #222;
	background-gradient-direction: vertical;
}
.calendar-day-with-events {
	font-weight: bold;
	color: #cccccc;
}
/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification {
	font-size: 8.5pt;
	border-radius: 5px;
	border: 1px solid #2f2f2f;
	background-color: rgba(0,0,0,0.9);
	padding: 8px 8px 8px 8px;
	spacing-rows: 10px;
	spacing-columns: 10px;
	margin-from-right-edge-of-screen: 20px;
	width: 34em;
	color: #6EBEFE;
}
#notification.multi-line-notification {
	padding-bottom: 8px;
	color: #6EBEFE;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
	color: #6EBEFE;
}
#notification-scrollview {
	max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
	height: 1em;
}
#notification-scrollview:ltr > StScrollBar,
#notification-scrollview:rtl > StScrollBar {
	padding-left: 6px;
}
#notification-body {
	spacing: 5px;
}
#notification-actions {
	spacing: 10px;
}
.notification-button {
	border-radius: 5px;
	padding: 4px 8px 5px;
}
.notification-button:focus {
	padding: 3px 8px 4px;
}
.notification-icon-button {
	border-radius: 5px;
	padding: 5px;
}
.notification-icon-button:focus {
	padding: 4px;
}
.notification-icon-button > StIcon {
	icon-size: 36px;
}
.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}
.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}
.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}
.hotplug-resident-box {
    spacing: 8px;
}
.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;
    color: #ccc;
}
.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.1);
    background-gradient-end: rgba(255, 255, 255, 0);
    color: #fff;
}
.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}
.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}
.hotplug-resident-eject-icon {
    icon-size: 16px;
}
.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}
#notification StEntry {
	padding: 4px;
	border-radius: 3px;
	color: #427299;
	selected-color: #aaa;
	border: 1px solid rgba(245,245,245,0.2);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(245,245,245,0.15);
	background-gradient-end: rgba(245,245,245,0.12);
	transition-duration: 150;
	caret-color: #427299;
	caret-size: 1px;
}
#notification StEntry:focus {
	color: #6EBEFE;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.2);
	background-gradient-end: rgba(0,0,0,0);
	caret-color: #6EBEFE;
	selection-background-color: #0D377C;
	selected-color: #fff;
}
/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
	padding: 8px;
	spacing: 8px;
}
.switcher-list {
	background: rgba(0,0,0,0.9);
	border: 1px solid #2f2f2f;
	border-radius: 5px;
	padding: 20px;
	font-size: 9pt;
	color: #6EBEFE;
}
.switcher-list-item-container {
	spacing: 8px;
}
.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(51, 51, 51, 1.0);
	background-gradient-end: rgba(51, 51, 51, 0);
	border-radius: 24px;
	border-radius-topright: 0px;
	border-radius-bottomright: 0px;
	width: 60px;
}
.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(51, 51, 51, 0);
	background-gradient-end: rgba(51, 51, 51, 1.0);
	border-radius: 24px;
	border-radius-topleft: 0px;
	border-radius-bottomleft: 0px;
	width: 60px;
}
.switcher-list .item-box {
	background: none;
	border-color: transparent;
	padding: 8px;
	border-width: 2px;
}
.switcher-list .item-box:outlined,
.switcher-list .item-box:selected {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	color: #6EBEFE;
	box-shadow: inset 0px 0px 4px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	border-color: #0FABEE;
	border-radius: 5px;
}
.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 2px;
}
.switcher-list .thumbnail {
	width: 256px;
}
.switcher-list .separator {
	width: 1px;
	background: rgba(255,255,255,0.33);
}
.ripple-box {
	width: 104px;
	height: 104px;
	background-image: url("corner_ripple.png");
}
.ripple-box:rtl {
	background-image: url("corner_ripple.png");
}
.switcher-arrow {
	border-color: #0FABEE;
	color: #6EBEFE;
}
.switcher-arrow:highlighted {
	border-color: rgba(0,0,0,0);
	color: white;
}
.switcher-preview-backdrop {
   background-color: rgba(25,25,25,0.95);
}
/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
	font-size: 12pt;
	border-radius: 24px;
	background-color: rgba(0,0,0,0.9);
	border: 1px solid #2f2f2f;
	color: #6EBEFE;
	padding-right: 42px;
	padding-left: 42px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.modal-dialog-button-box {
	spacing: 21px;
}
.modal-dialog-button {
	border-radius: 18px;
	font-size: 11pt;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px 32px 5px;
}
.modal-dialog-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(90,90,90,1);
    background-gradient-end: rgba(70,70,70,1);
    border: 1px solid rgba(120,120,120,1);
}
.modal-dialog-button:active,
.modal-dialog-button:checked {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(60,60,60,1);
    background-gradient-end: rgba(40,40,40,1);
    box-shadow: inset 0px 1px 0px 0px rgba(35,35,35,1);
}
.modal-dialog-button:disabled {
	color: rgb(60, 60, 60);
}
.modal-dialog-button:focus {
	padding: 3px 31px 4px;
}
/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
	font-size: 11pt;
	font-weight: bold;
	color: #6EBEFE;
	padding-bottom: 5px;
}
.run-dialog-error-label {
	font-size: 11pt;
	color: red;
}
.run-dialog-error-box {
	padding-top: 11px;
	spacing: 5px;
}
.run-dialog-completion-box {
	color: #eee;
	padding-left: 0px;
	padding-top: 5px;
    font-size: 11px;
}
.run-dialog-entry {
	font-size: 11pt;
	width: 23em;
	color: white;
	selection-background-color: #154478;
	selected-color: white;
	border-color: #2f2f2f;
	border-width: 1px;
	border-radius: 2px;
}
.run-dialog {
	border-radius: 8px;
	padding-right: 21px;
	padding-left: 21px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgba(0,0,0,0.9);
	border-color: #2f2f2f;
	border-width: 1px;
}
.lightbox {
	background-color: rgba(110, 190, 254, 0.06);
}
/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
	icon-size: 48px;
}
.mount-password-reask {
	color: red;
}
.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
	font-size: 12pt;
	font-weight: bold;
	color: #666666;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
	font-size: 10pt;
	color: white;
	padding-left: 17px;
	width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}
.show-processes-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}
.show-processes-dialog-app-list-item {
	color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
	color: white;
}
.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
	font-size: 10pt;
}
/* ===================================================================
 * Magnifier
 * ===================================================================*/
.magnifier-zoom-region {
	border: 2px solid rgba(128, 0, 0, 255);
}
.magnifier-zoom-region.full-screen {
	border-width: 0px;
}
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
#keyboard {
	background: rgba(0,0,0,0.9);
}
.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}
.keyboard-row {
	spacing: 15px;
}
.keyboard-key {
	min-height: 30px;
	min-width: 30px;
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(22,51,104,0.5);
	background-gradient-direction: vertical;
	font-size: 14pt;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #2f2f2f;
	color: #6EBEFE;
}
.keyboard-key:grayed {
	background-color: #222;
	color: #808080;
	border-color: #808080;
}
.keyboard-key:checked,
.keyboard-key:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	border: 1px solid white;
	box-shadow: inset 0px 0px 1px 1px rgba(15,171,238,0.3);
}
.keyboard-key:active {
	background: #808080;
}
.keyboard-subkeys {
	color: white;
	padding: 5px;
	-arrow-border-radius: 10px;
	-arrow-background-color: #090909;
	-arrow-border-width: 2px;
	-arrow-border-color: white;
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 5px;
}
/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/
/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/
/* Main menu title */
.menu-favorites-box {
	margin: auto;
	padding: 10px;
	border: 1px solid #2f2f2f;
	border-radius: 5px;
/*
	transition-duration: 150;
*/
}
.menu-favorites-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-width: 1px;
}
.menu-favorites-button:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
	border-color: #0FABEE;
	border-radius: 2px;
	border-width: 1px;
/*
	transition-duration: 150;
*/
}
.menu-places-box {
	margin: auto;
	padding: 10px;
	border: 0px solid #666;
}
.menu-places-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-applications-inner-box,
.menu-applications-outer-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.menu-application-button,
.menu-category-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	border-width: 1px;
}
.menu-application-button:highlighted,
.menu-application-button-selected:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-category-button-selected,
.menu-application-button-selected {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 2px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
	border-color: #0FABEE;
	border-radius: 2px;
	border-width: 1px;
}
.menu-application-button-label:ltr,
.menu-application-button-label:rtl { 
	padding-left: 5px;
}
.menu-categories-box {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}
.menu-category-button-greyed {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: #9C9C9C;
	border-width: 1px;
}
.menu-category-button-label:ltr{
	padding-left: 5px;
}
.menu-category-button-label:rtl {
	padding-right: 5px;
}
.menu-category-button-button:hover {
	background-color: #969696;
	border-radius: 8px;
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
	text-align: right;
}
.menu-selected-app-box:rtl {
	padding-top: 10px;
	height: 30px;
}
.menu-selected-app-title {
	font-weight: bold;
}
.menu-selected-app-description {
	max-width: 150px;
}
.menu-search-box:ltr {
	padding-left: 30px;
}
.menu-search-box:rtl {
	padding-right: 30px;
}
#menu-search-entry {
	font-weight: bold;
	padding: 5px;
	border-radius: 2px;
	color: #6EBEFE;
	border: 1px solid #2f2f2f;
	selected-color: #fff;
	selection-background-color: #0D377C;
	caret-color: #6EBEFE;
	caret-size: 1px;
	width: 250px;
	height: 15px;
}
#menu-search-entry:focus,
#menu-search-entry:hover {
}
.menu-search-entry-icon {
	icon-size: 1em;
	color: #6EBEFE;
}
/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
	spacing: 1px;
	padding-left: 1px;
	padding-top: 1px;
}
.window-list-item-label {
	font-weight: bold;
	width: 15em;
	min-width: 5px;
}
.window-list-item-box {
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(22,51,104,0.5);
	background-gradient-direction: vertical;
	color: #6EBEFE;
	border-radius: 2px;
	border-color: #444;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	transition-duration: 150;
}
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus,
.window-list-item-box:hover	{ 
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 0px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 1px #6EBEFE;
	icon-shadow: 0px 0px 1px #6EBEFE;
	border-color: #0FABEE;
}
.window-list-item-box:hover {
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
}
.window-list-item-demands-attention {
	border-color: #EE0F0F;
	box-shadow: inset 0px 0px 1px 0px rgba(254,110,110,0.8);
	color: #FE6E6E;
	text-shadow: 0px 0px 1px #FE6E6E;
	icon-shadow: 0px 0px 1px #FE6E6E;
	background-gradient-start: #BD1A1A;
	background-gradient-end: #700303;
}
.window-list-item-demands-attention:hover {
	box-shadow: inset 0px 0px 3px 0px rgba(254,110,110,0.8);
	text-shadow: 0px 0px 3px #FE6E6E;
	icon-shadow: 0px 0px 3px #FE6E6E;
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}
.sound-button {
	width: 22px;
	height: 13px;
	border: 1px solid #444;
	border-radius: 2px;
	padding: 5px;
	transition-duration: 150;
}
.sound-button:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 2px #6EBEFE;
	border-color: #0FABEE;
}
.sound-button StIcon {
	icon-size: 1.4em;
}
.sound-button:hover StIcon {
	icon-shadow: 0px -1px 3px #6EBEFE;
}
.sound-track-infos {	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sound-track-info {
	padding-top: 2px;
	padding-bottom: 2px;
}
.sound-track-info StIcon {
	icon-size: 1em;
}
.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}
.sound-track-box {	
	padding-left: 15px;
	padding-right: 15px;	
	max-width: 220px;
}
.sound-seek-box {
   padding-left: 20px;
}
.sound-seek-box StLabel {
   padding-top: 2px;
}
.sound-seek-box StIcon {
   icon-size: 1em;
}
.sound-seek-slider {
   width: 140px;   
}
.sound-volume-menu-item {
	padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
	padding-right: 8px;
}
.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
	spacing: 0px;
	padding: 3px;
}
.workspace-button {
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(22,51,104,0.5);
	background-gradient-direction: vertical;
	width: 20px;
	height: 10px;
	color: #6EBEFE;
	border: 1px;
	border-color: #444;
	padding: 2px;
	transition-duration: 150;
}
.workspace-button:outlined,
.workspace-button:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	border-color: #0FABEE;
	box-shadow: inset 0px 0px 3px 0px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 1px #6EBEFE;
	icon-shadow: 0px 0px 1px #6EBEFE;
}
.workspace-button:hover {
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#panel-launchers-box {
	padding-left: 7px;
}
.panel-launcher {
	margin: 1px;
	padding: 0px;
	border-width: 1px;
	transition-duration: 150;
}
.panel-launcher:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 2px #6EBEFE;
	icon-shadow: 0px 0px 2px #6EBEFE;
	border-color: #0FABEE;
	border-radius: 2px;
}
.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}
.panel-launcher-add-dialog-entry {
	padding: 5px;
	border-radius: 4px;
	color: rgb(128, 128, 128);
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(5,5,6,0.1);
	background-gradient-end: rgba(254,254,254,0.1);
	background-gradient-direction: vertical;
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	width: 250px;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}
.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
	border: 2px solid rgb(136,138,133);
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
	background-gradient-direction: vertical;
}
.panel-launcher-add-dialog-entry:hover {
	transition-duration: 300;
}
.panel-launcher-add-dialog-entry:focus {
	color: rgb(64, 64, 64);
	font-weight: bold;
	transition-duration: 0;
}
/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
}
#overview-corner:hover {
	background-image:	url("overview-hover.png");
}
/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
	padding: 4px 4px;
}
.applet-separator-line {
	width: 1px;
	border-image: url("line-v.png") 0 1 0 0 stretch stretch;
}
.applet-box {
	padding-left: 3px;
	padding-right: 3px;
	color: #6EBEFE;
	text-shadow: black 0px 0px 2px;
	border-width: 1px;
	border-radius: 2px;
	transition-duration: 150;
}
.applet-box:hover {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 2px #6EBEFE;
	icon-shadow: 0px 0px 2px #6EBEFE;
	border-color: #0FABEE;
}
.applet-label {	
	font-weight: bold;
	color: #6EBEFE;		
}
.applet-label:hover,
.applet-box:hover > .applet-label {
	text-shadow: #6EBEFE 0px 0px 5px;
}
.applet-icon {
	color: #6EBEFE;
	icon-size: 22px;
}
.applet-icon:hover,
.applet-box:hover > .applet-icon,
.applet-box:hover StIcon {
	color: #6EBEFE;
	icon-shadow: #6EBEFE 0px 0px 3px;
}
/* ===================================================================
 * Desklets (desklet.js) 
 * ===================================================================*/
.desklet {        
    color: #6EBEFE;    
}
.desklet-with-borders {
    border: 1px solid #2f2f2f;
    background-color: rgba(0,0,0,0.9);
    color: #6EBEFE;
    border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
    border-radius-topleft: 5px;
    border-radius-topright: 5px;
}
.desklet-with-borders-and-header {
    border: 1px solid #2f2f2f;
    background-color: rgba(0,0,0,0.9);
    color: #6EBEFE;
    border-top: 1px;
    border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
}
.desklet-header { 
    border-radius-topleft: 5px;
    border-radius-topright: 5px;
    font-size: 10.5pt;
    border: 1px solid #2f2f2f;
    border-bottom: 0px;
    background-color: rgba(0,0,0,0.9);
    color: #6EBEFE;
    padding: 6px;
}
.desklet-drag-placeholder {
	border: 2px solid white;
	border-radius: 3px;
/*
    border: 1px solid #0FABEE;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
    border-radius: 5px;
    background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
*/
}
/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
}
/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
.workspace-osd {
	color: #6EBEFE;
/*
	text-shadow: #6EBEFE 0px 0px 5px;
*/
	font-weight: bold;
	font-size: 42pt;
	border: 1px solid #2f2f2f;
	border-radius: 8px;
	padding: 18px;
	background-color: rgba(8,8,8,0.9)
}
.expo-workspaces-name-entry {
	padding: 5px;
	border-radius: 2px;
	color: #6EBEFE;
	border: 1px solid #2f2f2f;
	background-gradient-start: #000000;
	background-gradient-end: #09101F;
	background-gradient-direction: vertical;
	selected-color: white;
	caret-color: #6EBEFE;
	caret-size: 1px;
	width: 250px;
	height: 15px;	
	text-align: center;
	transition-duration: 150;
}
.expo-workspaces-name-entry#selected {
	background-gradient-start: #1A73BD;
	background-gradient-end: #032C70;
	background-gradient-direction: vertical;
	box-shadow: inset 0px 0px 3px 1px rgba(110,190,254,0.8);
	text-shadow: 0px 0px 3px #6EBEFE;
	icon-shadow: 0px 0px 3px #6EBEFE;
	border-color: #0FABEE;
}
.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
	font-style: italic;
	background-gradient-start: rgba(0,0,0,1);
	background-gradient-end: rgba(0,0,0,1);
}
/* ===================================================================
 * Notification Applet
 * ===================================================================*/
.notification-applet-padding {
	padding: .5em 1em;
}
.notification-applet-container {
	max-height: 100px;
}
/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}
.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.svg");
}
.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}
.check-box:checked StBin {
    background-image: url("checkbox.svg");
}
.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}
.check-box StLabel {
   font-weight: normal;
}
.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}
.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radiobutton-off.svg");
    border-radius: 15px;
}
.radiobutton:focus StBin {
    background-image: url("radiobutton-off.svg");
}
.radiobutton:checked StBin {
    background-image: url("radiobutton.svg");
}
.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.svg");
}
.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}
.flashspot {
   background-color: #6EBEFE;
}

/* Snap/tile OSD popup */

.snap-osd {
    font-size: 18pt;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid #2f2f2f;
    color: #6EBEFE;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
