/**********
 * button *
 **********/

.button,
.toolbar .button.raised,
.toolbar .raised .button,
.toolbar GtkComboBox .button,
.primary-toolbar .button:hover,
.spinbutton.vertical .button {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_bg_a,
                            @button_bg_b);
}

.primary-toolbar .button,
.primary-toolbar .button:insensitive {
    background-color: transparent;
    background-image: none;
}

.button:hover,
.toolbar .button.raised:hover,
.toolbar .raised .button:hover,
.toolbar GtkComboBox .button:hover,
.spinbutton.vertical .button:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_hover_bg_a,
                            @button_hover_bg_b);
}

.button:active,
.toolbar .button.raised:active,
.toolbar .raised .button:active,
.toolbar GtkComboBox .button:active,
.primary-toolbar .button:active,
.spinbutton.vertical .button:active {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_active_bg_a,
                            @button_active_bg_b 30%,
                            @button_active_bg_c);
}

.button:active:hover,
.toolbar .button.raised:active:hover,
.toolbar .raised .button:active:hover,
.toolbar GtkComboBox .button:active:hover,
.primary-toolbar .button:active:hover,
.spinbutton.vertical .button:active:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_active_hover_bg_a,
                            @button_active_hover_bg_b 30%,
                            @button_active_hover_bg_c);
}

.button:insensitive,
.toolbar .button.raised:insensitive,
.toolbar .raised .button:insensitive,
.toolbar GtkComboBox .button:insensitive,
.spinbutton.vertical .button:insensitive {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_insensitive_bg_a,
                            @button_insensitive_bg_b);
}

.button:insensitive:active,
.toolbar .button.raised:insensitive:active,
.toolbar .raised .button:insensitive:active,
.toolbar GtkComboBox .button:insensitive:active,
.primary-toolbar .button:insensitive:active,
.spinbutton.vertical .button:insensitive:active {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_insensitive_active_bg_a,
                            @button_insensitive_active_bg_b);
}

/*****************
 * column-header *
 *****************/

column-header .button,
column-header.button {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @column_header_bg_a,
                            @column_header_bg_b 50%,
                            @column_header_bg_c);
}

/*********
 * entry *
 *********/

.entry {
    background-color: @theme_base_color;
    background-image: linear-gradient(to bottom,
                            @entry_bg_a,
                            @entry_bg_b);
}

.entry:insensitive {
    background-color: @theme_bg_color;
    background-image: none;
}

/**********
 * switch *
 **********/

GtkSwitch.trough {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_active_bg_a,
                            @button_active_bg_b 30%,
                            @button_active_bg_c);
}

GtkSwitch.trough:active {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            shade(@theme_selected_bg_color, 0.85),
                            shade(@theme_selected_bg_color, 1.05));
}

GtkSwitch.trough:insensitive {
    background-color: @theme_bg_color;
    background-image: none;
}

GtkSwitch.slider {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                    @button_bg_a,
                                    @button_bg_b);
}

GtkSwitch.slider:insensitive {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @button_insensitive_bg_a,
                            @button_insensitive_bg_b);
}

/***********
 * toolbar *
 ***********/

.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @toolbar_bg_a,
                            @toolbar_bg_b);
}

.inline-toolbar .toolbar,
.inline-toolbar.toolbar {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @inline_toolbar_bg_a,
                            @inline_toolbar_bg_b);
}
