/* ===================================================================
   ! Calendar
   ===================================================================*/

.calendar {
    padding: .6em 1.3em;
    padding-top: .7em;
    spacing-rows: 2px;
    spacing-columns: 2px;
}

.datemenu-date-label {
    border-image: url("background-assets/dark-bg+padding.svg") 6;
    padding: .6em 0 .6em 0;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    color: $text-primary;
}

.calendar-month-label {
    padding-top: 2px;
    font-size: 8pt;
    font-weight: bold;
    color: $text-secondary;
}

.calendar-change-month {
    &-back,
    &-forward:rtl {
        background-image: url("widget-assets/calendar-arrow-left.svg");
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    &-forward,
    &-back:rtl {
        background-image: url("widget-assets/calendar-arrow-right.svg");
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    &-back:hover {
        background-image: url("widget-assets/calendar-arrow-left-hover.svg");
    }

    &-forward:hover {
        background-image: url("widget-assets/calendar-arrow-right-hover.svg");
    }
}

.calendar-day {
}

.calendar-day-base {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    width: 2.3em;
    height: 2.7em;
}

.calendar-day-heading {
    font-size: 9pt;
    color: $text-primary;
    padding-top: 9px;
    padding-bottom: 6px;
    height: 1.5em;
}

.calendar-day-top {
}

.calendar-day-left {
}

.calendar-work-day {
    border-image: url("misc-assets/calendar-work-day.svg") 6;
    border: none;
    color: $text-primary;
}

.calendar-nonwork-day {
    border-image: url("misc-assets/calendar-nonwork-day.svg") 6;
    border: none;
    color: $text-secondary;
}

.calendar-today {
    border-image: url("misc-assets/calendar-today.svg") 6;
    color: $text-active;
    font-weight: bold;
}

.calendar-other-month-day {
    border-image: url("misc-assets/calendar-other-month-day.svg") 6;
    color: $text-disabled;
    font-weight: normal;
}

.calendar-week-number {
    color: $text-secondary;
    font-size: 8pt;
    font-weight: normal;
    height: 1.6em;
    width: 1.2em;
    padding-top: 8px;
    padding-right: 6px;
}
