/* ===================================================================
   ! User Applet
   ===================================================================*/

.user-box {
    padding: .8em 1.3em;
    spacing: 10px;
}

.user-icon {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;
}

.user-label {
    color: $text-primary;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
}
