/* ====================================================================
 * Applications
 * ==================================================================== */
/*************
 * Evolution *
 *************/
GtkHTML:active,
GtkHTML:active:backdrop {
    color: @unfocused_selected_fg_color;
    background-color: @unfocused_selected_bg_color;
}

/*********
 * Sushi *
 *********/
SushiFontWidget {
    padding: 6px 12px;
}

/******************
 * GNOME Terminal *
 ******************/
VteTerminal {
    background-color: @base_color;
    color: @fg_color;
}
TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

/**********************************************************
 * Nautilus (what's nautilus... you use cinnamon, right?) *
 **********************************************************/

/*********
 * Gedit *
 *********/
GeditWindow .gedit-headerbar-paned,
GeditWindow .gedit-headerbar-paned:hover {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: lighter(@bg_color);
    box-shadow: -1px -1px #121212 inset;
}
GeditWindow .gedit-side-panel-paned.pane-separator,
GeditWindow .gedit-side-panel-paned.pane-separator:hover {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-right-color: lighter(@bg_color);
    border-left-color: #0f0;
    border-top-color: #00f;
    box-shadow: -1px 0px #121212 inset;
	background-color: transparent;
	background-image: url("assets/handle/handle-horizontal.png");
	background-position: 100% center;
	background-size: 8px 23px;
	background-repeat: no-repeat;
}

GeditWindow .gedit-side-panel-paned.pane-separator:backdrop {
	background-image:url("assets/handle/handle-horizontal-unfocused.png");
}
.gedit-document-panel {
    background-color: @base_color;
}
.gedit-document-panel-document-row .button,
.gedit-document-panel-document-row .button:hover,
.gedit-document-panel-document-row .button:hover:active,
.gedit-document-panel-document-row .button:backdrop,
.gedit-document-panel-document-row .button:backdrop:hover {
	color: @selected_fg_color;
	border: 0px solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 3px;
	background-clip: border-box;
	background-image: none;
}
.gedit-document-panel-document-row:selected:backdrop {
	color: @unfocused_selected_fg_color;
	background-color: @unfocused_selected_bg_color;
}
.gedit-document-panel-document-row .button:backdrop,
.gedit-document-panel-document-row .button:backdrop:hover {
	color: @unfocused_selected_fg_color;
}
.gedit-document-panel-document-row .button:hover {
	background-color: alpha(white,0.2);
}
.gedit-document-panel-document-row .button:active,
.gedit-document-panel-document-row .button:active:hover {
	background-color: alpha(white,0.1);
}
GeditMenuStackSwitcher:hover {
	transition: none;
}
GeditMenuStackSwitcher:active,
GeditMenuStackSwitcher:active:hover {
	transition: all 150ms ease-in;
}
GeditViewFrame .gedit-search-slider {
    background-color: alpha(@bg_color,0.9);
    background-clip: padding-box;
    padding: 6px;
    border: 1px solid alpha(@base_color,0.9);
    border-radius: 0 0 3px 3px;
}
.gedit-search-slider .not-found {
	-GtkWidget-cursor-color: @insensitive_fg_color;
    color: @insensitive_fg_color;
}
.gedit-search-slider .not-found:selected {
    background-color: #666;
    color: @theme_selected_fg_color;
}
.gedit-search-entry-occurrences-tag {
    color: @text_color;
    margin: 2px;
    padding: 2px;
}
GeditStatusbar .button,
GeditStatusbar .button:hover,
GeditStatusbar .button:active,
GeditStatusbar .button:active:hover,
GeditStatusbar .button:backdrop,
GeditStatusbar .button:backdrop:hover,
GeditStatusbar .button:backdrop:active,
GeditStatusbar .button:backdrop:active:hover {
	border-radius: 0px;
	padding: 3px;
}
GeditStatusbar .button:hover {
	transition: none;
}
GeditStatusbar .button:active,
GeditStatusbar .button:active:hover,
GeditStatusbar .button:backdrop:active,
GeditStatusbar .button:backdrop:active:hover {
	transition: all 150ms ease-in;
	border: 1px solid alpha(black,0.4);
	background-color: alpha(black,0.4);
	background-image: none;
	box-shadow: none;
}

/*******************************
 * Gedit External Tools Plugin *
 *******************************/
@define-color borders lighter(@bg_color); /* so this is pretty retarded, hopefully this is changed soon... */
.gedit-tool-manager-paned,
.gedit-tool-manager-paned:hover {
	box-shadow: -1px 0px #121212 inset;
	background-color: transparent;
	background-image: url("assets/handle/handle-horizontal.png");
	background-position: 100% center;
	background-size: 8px 23px;
	background-repeat: no-repeat;
}
.gedit-tool-manager-paned:backdrop {
	background-image:url("assets/handle/handle-horizontal-unfocused.png");
}

/*******************
 * GNOME Documents *
 *******************/
.documents-dropdown,
.documents-dropdown .view {
    background-color: shade (@bg_color, 1.02);
}
.documents-dropdown.frame {
    padding: 6px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
}
.documents-dropdown .view.radio,
.documents-dropdown .view.radio:focused,
.documents-dropdown .view.radio:selected {
}
.documents-dropdown .view.radio:active,
.documents-dropdown .view.radio:active:focused,
.documents-dropdown .view.radio:active:prelight {
}
.documents-dropdown .view.radio:prelight {
}
.documents-dropdown .view.radio:active:selected,
.documents-dropdown .view.radio:active:selected:focused {
}
.documents-dropdown .view.radio:selected:prelight,
.documents-dropdown .view.radio:selected:focused {
}
.documents-load-more.button,
.documents-load-more.button:hover,
.documents-load-more.button:active,
.documents-load-more.button:hover:active,
.documents-load-more.button:backdrop:hover,
.documents-load-more.button:backdrop:active,
.documents-load-more.button:backdrop:hover:active,
.documents-load-more.button:insensitive,
.documents-load-more.button:insensitive:hover,
.documents-load-more.button:insensitive:active,
.documents-load-more.button:insensitive:hover:active,
.documents-load-more.button:insensitive:backdrop:hover,
.documents-load-more.button:insensitive:backdrop:active,
.documents-load-more.button:insensitive:backdrop:hover:active {
	border-radius: 0px;
}
.documents-scrolledwin.frame {
    border-width: 1px 0 0;
    border-radius: 0;
}
.documents-icon-bg {
    border-radius: 4px;
    color: @base_color;
}
.documents-collection-icon {
    border-radius: 8px;
}
.documents-counter {
    background-size: contain;
    background-color: transparent;
    color: @base_color;
    font: bold;
}
.documents-favorite.button:active,
.documents-favorite.button:active:hover {
    color: shade(@selected_bg_color, 1.20);
}
.documents-entry-tag {
    background-color: @entry_tag_bg;
    color: @entry_tag_fg;
    border-radius: 4px;
    border-width: 0;
    margin: 2px;
    padding: 4px;
}
.documents-entry-tag:hover {
}
.documents-entry-tag.button,
.documents-entry-tag.button:hover,
.documents-entry-tag.button:active,
.documents-entry-tag.button:active:hover {
    background-color: transparent;
    background-image: none;
    border-image: none;
    border-width: 0;
}
.documents-entry-tag.button:hover {
}

/**********
 * Baobab *
 **********/
BaobabLocationRow:hover {
	background-image: none;
	color: white;
}
.cell.baobab-level-cell,
.cell.baobab-level-cell:hover,
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
    border-radius: 3px;
}
.cell.baobab-level-cell,
.cell.baobab-level-cell:hover {
	border: 1px solid alpha(white,0.08);
	background-color: alpha(white,0.02);
}
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
	border: 1px solid alpha(white,0.24);
	background-color: transparent;
}
.cell.baobab-level-cell.fill-block,
.cell.baobab-level-cell.fill-block:selected,
.cell.baobab-level-cell.fill-block:selected:hover {
	border: 1px solid transparent;
	box-shadow: none;
    background-image: linear-gradient(to bottom,
                                      @progressbar_a,
                                      @progressbar_b 65%,
                                      shade(@progressbar_b, 0.9)
                                      );
}
.cell.baobab-level-cell.fill-block:backdrop,
.cell.baobab-level-cell.fill-block:backdrop:selected,
.cell.baobab-level-cell.fill-block:backdrop:selected:hover {
	border: 1px solid transparent;
	box-shadow: none;
	background-image: linear-gradient(to bottom,
                                      @unfocused_progressbar_a,
                                      @unfocused_progressbar_b 65%,
                                      shade(@unfocused_progressbar_b, 0.9)
                                      );
}
.cell.baobab-level-cell.fill-block.level-high,
.cell.baobab-level-cell.fill-block.level-high:hover {
	background-image: linear-gradient(to bottom,
									@levelbar_fill_warning_a,
									@levelbar_fill_warning_b 65%,
									shade(@levelbar_fill_warning_b, 0.9)
									);
}
.cell.baobab-level-cell.fill-block.level-low,
.cell.baobab-level-cell.fill-block.level-low:hover {
	background-image: linear-gradient(to bottom,
									@levelbar_fill_success_a,
									@levelbar_fill_success_b 65%,
									shade(@levelbar_fill_success_b, 0.9)
									);
}
.cell.baobab-level-cell.fill-block.level-high:backdrop,
.cell.baobab-level-cell.fill-block.level-high:backdrop:hover {
	background-image: linear-gradient(to bottom,
									@unfocused_levelbar_fill_warning_a,
									@unfocused_levelbar_fill_warning_b 65%,
									shade(@unfocused_levelbar_fill_warning_b, 0.9)
									);
}
.cell.baobab-level-cell.fill-block.level-low:backdrop,
.cell.baobab-level-cell.fill-block.level-low:backdrop:hover {
	background-image: linear-gradient(to bottom,
									@unfocused_levelbar_fill_success_a,
									@unfocused_levelbar_fill_success_b 65%,
									shade(@unfocused_levelbar_fill_success_b, 0.9)
									);
}
.cell.baobab-cell-error {
    color: @error_color;
}
.cell.baobab-cell-warning {
    color: @warning_color;
}
.cell.baobab-cell-warning:selected,
.cell.baobab-cell-error:selected {
    color: @selected_fg_color;
}
.cell.baobab-cell-warning:selected:backdrop,
.cell.baobab-cell-error:selected:backdrop {
	color: @unfocused_selected_fg_color;
}
.cell.baobab-cell-warning:backdrop,
.cell.baobab-cell-error:backdrop {
    color: @unfocused_text_color;
}
BaobabWindow.background GtkStack > GtkGrid > GtkScrolledWindow.frame {
    border-radius: 0;
    border-width: 0 1px 0 0;
}
BaobabRingschart {
    background-color: @bg_color;
    padding: 13px;
}
BaobabRingschart.subfolder-tip {
    border-radius: 2px;
    border-style: none;
    padding: 3px;
    background-color: alpha(@base_color, 1.04);
    color: @text_color;
}
BaobabTreemap {
	border-color:black;
	color: black;
}

/************
 * Epiphany *
 ************/

/******************
 * GNOME Contacts *
 ******************/

/****************
 * GNOME Photos *
 ****************/

/*************
 * Gucharmap *
 *************/

/**********
 * Evince *
 **********/

/********************
 * GNOME Calculator *
 ********************/

/*******************
 * GNOME Bluetooth *
 *******************/

/* ====================================================================
 * Extra (Fun) Widgets
 * ==================================================================== */
/**********************
 * Fallback Mode Panel
 **********************/
PanelWidget,
PanelApplet,
PanelApplet > GtkMenuBar.menubar,
.gnome-panel-menu-bar,
PanelAppletFrame,
PanelMenuBar.menubar,
PanelToplevel {
    background-color: @os_chrome_bg_color;
    color: @text_color;
}
ClockBox,
.gnome-panel-menu-bar.menubar,
PanelApplet > GtkMenuBar.menubar {
    font: bold;
}
.gnome-panel-menu-bar.menubar .menu,
PanelApplet > GtkMenuBar.menubar .menu {
    font: regular;
}
PanelApplet > GtkMenuBar.menubar.menuitem:hover,
.gnome-panel-menu-bar.menuitem:hover {
    background-color: @os_chrome_selected_bg_color;
    color: @os_chrome_selected_fg_color;
    border-color: @os_chrome_selected_bg_color;
}
PanelApplet GtkToggleButton {
	border: solid;
    background-color: @os_chrome_bg_color;
    background-image: none;
    border-color: @os_chrome_bg_color;
    border-width: 2px;
    color: @os_chrome_fg_color;
}
PanelApplet GtkToggleButton:hover:active,
PanelApplet GtkToggleButton:active {
	border: solid;
    background-color: @os_chrome_selected_bg_color;
    background-image: none;
    border-color: @os_chrome_selected_bg_color;
    border-width: 2px;
    color: @os_chrome_selected_fg_color;
}
PanelApplet GtkToggleButton:hover {
	border: solid;
    background-color: @os_chrome_bg_color;
    background-image: none;
    border-color: @os_chrome_bg_color;
    border-width: 2px;
    color: @os_chrome_selected_fg_color;
}
PanelApplet .button:active:hover,
PanelApplet .button:active {
    border-image: none;
    background-image: none;
    background-color: @os_chrome_selected_bg_color;
    border-width: 0;
    border-radius: 0;
}
PanelApplet:hover {
    color: @os_chrome_selected_fg_color;
}
PanelApplet:active,
PanelApplet:hover:active {
    color: @os_chrome_selected_fg_color;
    text-shadow: 0 1px @os_chrome_bg_color;
}
NaTrayApplet {
    -NaTrayApplet-icon-padding: 12px;
    -NaTrayApplet-icon-size: 16px;
}
WnckPager, WnckTasklist {
    background-color: @os_chrome_selected_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
}

/*****************
 * Fail Whale... *
 *****************/
GsmFailWhaleDialog {
    background-color: @os_chrome_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
}
GsmFailWhaleDialog * {
    background-color: @os_chrome_bg_color;
    background-image: none;
}

/****************
 * Floating Bar *
 ****************/
.floating-bar {
    background-image: linear-gradient(to bottom, 
                                      @bg_color 20%, 
                                      shade(@bg_color, 0.9)
                                      );
    color: @text_color;
    border-radius: 3px;
    background-clip: padding-box;
    border: 0px solid transparent;
}
.floating-bar.top {
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.floating-bar.right {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.floating-bar.bottom {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.floating-bar.left {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.floating-bar:backdrop {
	color: @unfocused_text_color;
}
.floating-bar .button,
.floating-bar .button:hover,
.floating-bar .button:active,
.floating-bar .button:active:hover,
.floating-bar .button:backdrop,
.floating-bar .button:backdrop:hover {
	transition: none;
    background-color: transparent;
    background-image: none;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    border-image: none;
    box-shadow: none;
    padding: 6px;
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}
.floating-bar .button:hover,
.floating-bar .button:backdrop:hover {
	background-color: alpha(white,0.04);
}
.floating-bar .button:active,
.floating-bar .button:active:hover {
	background-image: linear-gradient(to bottom,
									alpha(black,0.5),
									alpha(black,0.3)
									);
}

/*******
 * Egg *
 *******/
EggListBox {
    background-color: @base_color;
}
EggListBox:hover {
    background-color: shade(@base_color,2.5);
}
EggListBox:selected {
    background-color: @selected_bg_color;
}

/****************
 * Content view *
 ****************/
.content-view.subtitle {
    font: 9;
    padding: 0px 12px 0px 12px;
}
.content-view.view,
.content-view.view:backdrop,
.content-view.view:insensitive {
    background-color: @base_color;
}
.content-view.view:selected {
    background-color: @selected_bg_color;
    background-image: none;
}
.content-view.view:selected:backdrop {
    background-color: @unfocused_selected_bg_color;
    background-image: none;
}
/* FIXME: EggListBox should set the .cell style class on
 * the background it renders for the children, like
 * GtkIconView and GtkTreeView do */
.content-view.cell {
    background-color: transparent;
    background-image: none;
}
EggListBox.content-view:hover,
.content-view.cell:hover {
    background-color: @bg_color;
}
EggListBox.content-view:selected,
EggListBox.content-view:active,
.content-view.cell:selected,
.content-view.cell:active {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    background-image: none;
}
EggListBox.content-view:selected:backdrop,
.content-view.cell:selected:backdrop {
    background-color: @unfocused_selected_bg_color;
    color: @unfocused_selected_fg_color;
    background-image: none;
}
GdMainIconView.content-view {
    -GdMainIconView-icon-size: 40;
}
GtkIconView.content-view.cell.check,
GtkIconView.content-view.cell.check:backdrop {
    background-color: transparent;
}
GtkIconView.content-view.cell.check:active {
    background-color: transparent;
}
/* Make spinner visible on both dark and bright backgrounds w/o making
 * it look ugly/weird.
 */
GdMainIconView.content-view.cell:active {
    color: gray;
}
.content-view.view.check,
.content-view.view.check:active {
    background-color: transparent;
}
.content-view.view .separator:backdrop {
}
GtkIconView.content-view.check:hover,
GtkIconView.content-view.check:insensitive,
GtkIconView.content-view.check:backdrop,
GtkIconView.content-view.check:selected {
    background-color: transparent;
}

/*********************
 * App Notifications *
 *********************/
.app-notification {
    border-style: solid;
    border-color: @app_notification_border;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    padding: 8px;

    background-image: linear-gradient(to bottom,
                                      @app_notification_a,
                                      @app_notification_b 18%,
                                      @app_notification_c);

    color: @text_color;
    text-shadow: 0 1px @primary_toolbar_button_text_shadow;
}
