/***********
 * Buttons *
 ***********/
.button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton > .button,
.spinbutton.vertical .button,
GtkSwitch.slider {
	background-clip: padding-box;
	/* draw these weird white things to avoid box-shadow "peeling" ...and its faster */
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@button_bg_a, 
										@button_bg_b
										);

}
.button:hover,
.button.default:hover,
.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar GtkToolButton > .button:hover,
.inline-toolbar.toolbar .button:only-child:hover,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:hover,
.linked.button:hover,
.linked .button:hover,
.linked.button:focus:hover,
.linked .button:focus:hover,
GtkInfoBar .button:hover,
.info .button:hover,
.warning .button:hover,
.question .button:hover,
.error .button:hover,
.notebook .button:hover,
.notebook .button.default:hover,
.notebook .linked.button:hover,
.notebook .linked .button:hover,
.notebook .spinbutton .button:hover,
.notebook .spinbutton .button:hover:focus {
	background-image: linear-gradient(to bottom,
										alpha(white, 0.1),
										alpha(white, 0.0) 25%,
										alpha(white, 0.0)
										),
						linear-gradient(to bottom,
										@hover_button_bg_a,
										@hover_button_bg_b
										);
}
.button:active,
.button.default:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar .button:only-child:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									@active_button_bg_a,
									@active_button_bg_b 40%,
									@active_button_bg_c
									);
}
.button:active:hover,
.button.default:active:hover,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar GtkToolButton > .button:active:hover,
.inline-toolbar.toolbar .button:only-child:active:hover,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active:hover {
	background-image: linear-gradient(to bottom,
									  alpha(black,0.3),
									  transparent 25%,
									  transparent
									  ),
					linear-gradient(to bottom,
									  @hover_active_button_bg_a,
									  @hover_active_button_bg_b 40%,
									  @hover_active_button_bg_c
									  );
}
.button:insensitive,
.button:insensitive:hover,
.button.default:insensitive,
.button.default:insensitive:hover,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:insensitive:hover,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive:hover,
GtkSwitch.slider:insensitive {
    background-image: linear-gradient(to bottom, alpha(white,0.03) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.01) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.02) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.02) 1px, transparent 1px),
				        -gtk-gradient (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black,0.02))),
                        linear-gradient(to bottom, 
                                    @insensative_button_bg_a, 
                                    @insensative_button_bg_b
                                    );
}
.button:backdrop:hover,
.linked.button:backdrop:focus:hover,
.linked .button:backdrop:focus:hover,
.inline-toolbar.toolbar .button:backdrop:hover,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				    linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
				    -gtk-gradient  (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))),
					-gtk-gradient  (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									),
					linear-gradient(to bottom, 
									@button_bg_a, 
									@button_bg_b
									);
}
.button:backdrop:active:hover,
.inline-toolbar.toolbar .button:backdrop:active:hover,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:active:hover {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 25%,
									transparent
									),
					-gtk-gradient(radial,
									center 1.3, 1.2,
									center 1.3, -0.2,
									from(transparent),
									to(alpha(@hover_button_bg_b,0.8))
									),
					linear-gradient(to bottom,
									@active_button_bg_a,
									@active_button_bg_b 40%,
									@active_button_bg_c
									);
}
.button.default,
.notebook .button.default,
.linked.button.default,
.linked .button.default,
.notebook .linked.button.default,
.notebook .linked .button.default {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@default_button_bg_a,
										@default_button_bg_b
										);
}
/***************************
 * Primary Toolbar Buttons *
 ***************************/
.primary-toolbar .toolbar .button,
.primary-toolbar.toolbar .button {
	background: none;
}
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover{
	background-image: linear-gradient(to bottom,
										alpha(white, 0.1),
										transparent 25%,
										transparent
										),
					linear-gradient(to bottom,
									@hover_button_bg_a,
									@hover_button_bg_b
									);
}
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.primary-toolbar .toolbar .button:backdrop:active,
.primary-toolbar.toolbar .button:backdrop:active  {
	background-color: @active_primary_toolbar_button_bg;
	background-image: -gtk-gradient (radial,
									center 0.5, 0,
									center 0.3, 1.1,
									from(alpha(white,0.06)),
									to(transparent)
									),
					linear-gradient(to bottom,
									alpha(black,0.16),
									transparent 3px,
									transparent
									);
}
.primary-toolbar .toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover {
	background-image: linear-gradient(to bottom,
									@alt_hover_active_button_bg_a,
									@alt_hover_active_button_bg_b
									),
					-gtk-gradient (radial,
									center 0.5, 0,
									center 0.3, 1.1,
									from(alpha(white,0.06)),
									to(transparent)
									),
					linear-gradient(to bottom,
									alpha(black,0.16),
									transparent 3px,
									transparent
									);
}
.primary-toolbar .toolbar .button:backdrop:hover,
.primary-toolbar.toolbar .button:backdrop:hover {
	background: none;
}
.primary-toolbar .toolbar .button:backdrop:active:hover,
.primary-toolbar.toolbar .button:backdrop:active:hover {
	background-color: @active_primary_toolbar_button_bg;
	background-image: -gtk-gradient(radial,
									center 0.5, 0,
									center 0.3, 1.1,
									from(alpha(white,0.06)),
									to(transparent)
									),
					linear-gradient(to bottom,
									alpha(black,0.16),
									transparent 3px,
									transparent
									),
					-gtk-gradient  (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									);
}
/**********************************
 * Primary Toolbar Raised Buttons *
 **********************************/
.primary-toolbar .raised.button,
.primary-toolbar .raised .button {
	background-clip: padding-box;
	background-image: -gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black, 0.04))),
                        linear-gradient(to bottom, 
                                      @button_raised_bg_a, 
                                      @button_raised_bg_b
                                      );
}
.primary-toolbar .raised.button:backdrop:hover,
.primary-toolbar .raised .button:backdrop:hover {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))),
					-gtk-gradient (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									),
					linear-gradient(to bottom, 
									@button_raised_bg_a, 
									@button_raised_bg_b
									);
}

/**************************
 * Inline Toolbar Buttons *
 **************************/
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child > .button {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 2px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 2px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 2px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 2px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@button_bg_a, 
										@button_bg_b
										);
}
.inline-toolbar.toolbar .button:only-child:insensitive,
.inline-toolbar.toolbar .button:only-child:insensitive:hover,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive:hover {
    background-image: linear-gradient(to bottom, alpha(white,0.03) 2px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.01) 2px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.02) 2px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.02) 2px, transparent 1px),
				        -gtk-gradient (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black,0.02))),
                        linear-gradient(to bottom, 
                                    @insensative_button_bg_a, 
                                    @insensative_button_bg_b
                                    );
}
.inline-toolbar.toolbar .button:only-child:backdrop:hover,
.inline-toolbar.toolbar GtkToolButton > .button:only-child:backdrop:hover {
	background-image: -gtk-gradient  (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									),
					linear-gradient(to bottom, alpha(white,0.05) 2px,	transparent 1px),
					linear-gradient(to top, alpha(white,0.03) 2px, transparent 1px),
					linear-gradient(to right, alpha(white,0.04) 2px, transparent 1px),
				    linear-gradient(to left, alpha(white,0.04) 2px, transparent 1px),
				    -gtk-gradient  (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))),
					linear-gradient(to bottom, 
									@button_bg_a, 
									@button_bg_b
									);
}

/****************************
 * Suggested Action Buttons *
 ****************************/
.suggested-action.button,
.suggested-action.button:backdrop:hover,
.suggested-action.button.default,
.suggested-action.button.default:backdrop:hover,
.linked.suggested-action.button,
.linked.suggested-action.button:backdrop:hover,
.linked.suggested-action.button:focus,
.linked.suggested-action.button:focus:hover,
.linked .suggested-action.button,
.linked .suggested-action.button:backdrop:hover,
.linked .suggested-action.button:focus,
.linked .suggested-action.button:focus:hover {
	background-image: linear-gradient(to bottom,
										@suggested_action_button_bg_a,
										@suggested_action_button_bg_b 40%,
										@suggested_action_button_bg_c
										);
}
.suggested-action.button:active,
.suggested-action.button:active:hover,
.suggested-action.button.default:active,
.suggested-action.button.default:active:hover {
	background-image: linear-gradient(to bottom,
										@active_suggested_action_button_bg_a,
										@active_suggested_action_button_bg_b 40%,
										@active_suggested_action_button_bg_c
										);
}
.linked.suggested-action.button:active,
.linked.suggested-action.button:active:hover,
.linked .suggested-action.button:active,
.linked .suggested-action.button:active:hover {
	background-image: linear-gradient(to bottom,
									shade(@suggested_action_button_bg_b,0.8),
									@suggested_action_button_bg_b
									);
}
.suggested-action.button:backdrop,
.suggested-action.button.default:backdrop,
.linked.suggested-action.button:backdrop,
.linked .suggested-action.button:backdrop {
	background-image: linear-gradient(to bottom,
										@unfocused_suggested_action_button_bg_a,
										@unfocused_suggested_action_button_bg_b 40%,
										@unfocused_suggested_action_button_bg_c
										);
}
.suggested-action.button:insensitive,
.suggested-action.button:insensitive:hover,
.suggested-action.button.default:insensitive,
.suggested-action.button.default:insensitive:hover,
.linked.suggested-action.button:insensitive,
.linked.suggested-action.button:insensitive:hover,
.linked .suggested-action.button:insensitive,
.linked .suggested-action.button:insensitive:hover {
	background-image: linear-gradient(to bottom,
										@insensitive_suggested_action_button_bg_a,
										@insensitive_suggested_action_button_bg_b 40%,
										@insensitive_suggested_action_button_bg_c
										);
}
.suggested-action.button:backdrop:insensitive,
.suggested-action.button:backdrop:insensitive:hover,
.suggested-action.button.default:backdrop:insensitive,
.suggested-action.button.default:backdrop:insensitive:hover,
.linked.suggested-action.button:backdrop:insensitive,
.linked.suggested-action.button:backdrop:insensitive:hover,
.linked .suggested-action.button:backdrop:insensitive,
.linked .suggested-action.button:backdrop:insensitive:hover {
	background-image: linear-gradient(to bottom,
										@unfocused_insensitive_suggested_action_button_bg_a,
										@unfocused_insensitive_suggested_action_button_bg_b 40%,
										@unfocused_insensitive_suggested_action_button_bg_c
										);
}

/*******************
 * InfoBar Buttons *
 *******************/
GtkInfoBar .button,
.info .button,
.warning .button,
.question .button,
.error .button,
GtkInfoBar .button.default:backdrop,
.info .button.default:backdrop,
.warning .button.default:backdrop,
.question .button.default:backdrop,
.error .button.default:backdrop {
/*
GtkInfoBar .button.default:backdrop,
.info .button.default:backdrop,
.warning .button.default:backdrop,
.question .button.default:backdrop,
.error .button.default:backdrop {
*/
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@info_button_bg_a,
										@info_button_bg_b
										);
}
GtkInfoBar .button:hover,
.info .button:hover,
.warning .button:hover,
.question .button:hover,
.error .button:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@hover_info_button_bg_a,
										@hover_info_button_bg_b
										);
}
GtkInfoBar .button:active:hover,
.info .button:active:hover,
.warning .button:active:hover,
.question .button:active:hover,
.error .button:active:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_hover_info_button_bg_a,
										@active_hover_info_button_bg_b 40%,
										@active_hover_info_button_bg_c
										);
}
GtkInfoBar .button.default:active:hover,
.info .button.default:active:hover,
.warning .button.default:active:hover,
.question .button.default:active:hover,
.error .button.default:active:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_default_info_button_bg_a,
										@active_default_info_button_bg_b 40%,
										@active_default_info_button_bg_c
										);
}
GtkInfoBar .button:active,
.info .button:active,
.warning .button:active,
.question .button:active,
.error .button:active {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_info_button_bg_a,
										@active_info_button_bg_b 40%,
										@active_info_button_bg_c
										);
}
GtkInfoBar .button:backdrop:hover,
.info .button:backdrop:hover,
.warning .button:backdrop:hover,
.question .button:backdrop:hover,
.error .button:backdrop:hover,
GtkInfoBar .button.default:backdrop:hover,
.info .button.default:backdrop:hover,
.warning .button.default:backdrop:hover,
.question .button.default:backdrop:hover,
.error .button.default:backdrop:hover {
/*
GtkInfoBar .button.default:backdrop:hover,
.info .button.default:backdrop:hover,
.warning .button.default:backdrop:hover,
.question .button.default:backdrop:hover,
.error .button.default:backdrop:hover {
*/
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										shade(@info_button_bg_a,1.15),
										shade(@info_button_bg_b,1.05)
										);
}
GtkInfoBar .button.default,
.info .button.default,
.warning .button.default,
.question .button.default,
.error .button.default,
GtkInfoBar .button.default:hover,
.info .button.default:hover,
.warning .button.default:hover,
.question .button.default:hover,
.error .button.default:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.08) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.06) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.07) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.07) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@default_info_button_bg_a,
										@default_info_button_bg_b
										);
}
/*
GtkInfoBar .button.close,
.info .button.close,
.warning .button.close,
.question .button.close,
.error .button.close,
*/
GtkInfoBar .button.close:hover,
.info .button.close:hover,
.warning .button.close:hover,
.question .button.close:hover,
.error .button.close:hover {
	background-color: transparent;
	background-image: linear-gradient(to bottom, alpha(white,0.08) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.06) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.07) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.07) 1px, transparent 1px);
}
GtkInfoBar .button.close:active,
.info .button.close:active,
.warning .button.close:active,
.question .button.close:active,
.error .button.close:active {
	background-image: linear-gradient(to bottom,
									alpha(black,0.4),
									alpha(black,0.2)
									);
}

/********************
 * Titlebar Buttons *
 ********************/
.titlebar .titlebutton,
.titlebar .titlebutton:backdrop {
	background: none;
}
.titlebar .titlebutton:hover,
.titlebar .titlebutton:backdrop:hover {
	background-color: alpha(black,0.15);
	background-image: linear-gradient(to bottom,
									alpha(black,0.1),
									transparent 20%,
									transparent
									);
}
.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
	background-color: transparent;
	background-image: linear-gradient(to bottom,
                                      shade(@bg_color,0.5),
                                      shade(@bg_color,0.9)
                                      );
}

/******************
 * Linked Buttons *
 ******************/
.linked.button,
.linked .button {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))),
					linear-gradient(to bottom, 
									@button_bg_a, 
									@button_bg_b
									);
}
/*
.linked .button:focus,
.linked.button:focus,
.notebook .linked .button:focus,
.notebook .linked.button:focus {
*/

.linked.button:active,
.linked .button:active,
.linked.button:active:hover,
.linked .button:active:hover {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									@active_linked_button_bg_a,
									@active_linked_button_bg_b 40%,
									@active_linked_button_bg_c
									);
}
.linked.button:backdrop:active,
.linked .button:backdrop:active,
.linked.button:backdrop:active:hover,
.linked .button:backdrop:active:hover {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									@unfocused_active_linked_button_bg_a,
									@unfocused_active_linked_button_bg_b 40%,
									@unfocused_active_linked_button_bg_c
									);
}
.linked.button:insensitive,
.linked .button:insensitive,
.linked.button:insensitive:hover,
.linked .button:insensitive:hover {
	background-image: -gtk-gradient (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black,0.02))),
                        linear-gradient(to bottom, 
                                    @insensative_button_bg_a, 
                                    @insensative_button_bg_b
                                    );
}

/****************
 * Text Entries *
 ****************/
.entry,
.entry:backdrop,
GtkComboBox.combobox-entry .button, 
GtkComboBox.combobox-entry .button:backdrop,
GtkComboBox.combobox-entry .button:backdrop:hover,
.notebook GtkComboBox.combobox-entry .button, 
.notebook GtkComboBox.combobox-entry .button:backdrop,
.notebook GtkComboBox.combobox-entry .button:backdrop:hover,
.linked.vertical .entry:first-child,
.linked.vertical .entry:first-child:backdrop,
.linked.vertical .entry:first-child:backdrop:hover {
	background-clip: padding-box;
    background-color: @entry_bg;
    background-image: linear-gradient(to bottom,
										alpha(black,0.2),
										transparent 20%,
										transparent
										);
}
.entry:insensitive,
.entry:insensitive:backdrop,
GtkComboBox.combobox-entry .button:insensitive, 
GtkComboBox.combobox-entry .button:insensitive:backdrop,
GtkComboBox.combobox-entry .button:insensitive:backdrop:hover,
.notebook GtkComboBox.combobox-entry .button:insensitive, 
.notebook GtkComboBox.combobox-entry .button:insensitive:backdrop,
.notebook GtkComboBox.combobox-entry .button:insensitive:backdrop:hover,
.linked.vertical .entry:insensitive:first-child,
.linked.vertical .entry:insensitive:first-child:backdrop,
.linked.vertical .entry:insensitive:first-child:backdrop:hover {
    background-color: alpha(@base_color, 0.85);
}
.entry:focus{
    background-color: @focus_entry_bg;
}
.linked.vertical .entry,
.linked.vertical .entry:backdrop,
.linked.vertical .entry:backdrop:hover,
.linked.vertical .entry:last-child,
.linked.vertical .entry:last-child:backdrop,
.linked.vertical .entry:last-child:backdrop:hover {
	background-image: none;
	background-color: @entry_bg;
}

/*****************
 * GtkSpinButton *
 *****************/
.spinbutton .button,
.spinbutton .button:backdrop,
.spinbutton .button:backdrop:hover,
.spinbutton .button:insensitive,
.spinbutton .button:insensitive:backdrop,
.spinbutton .button:insensitive:backdrop:hover,
.notebook .spinbutton .button,
.notebook .spinbutton .button:backdrop,
.notebook .spinbutton .button:backdrop:hover,
.notebook .spinbutton .button:insensitive,
.notebook .spinbutton .button:insensitive:backdrop,
.notebook .spinbutton .button:insensitive:backdrop:hover {
	background: none;
}
.spinbutton .button:focused,
.spinbutton .button:focused:backdrop {
	background-color: @focus_spinbutton_bg;
	background-image: linear-gradient(to bottom,
										alpha(black,0.2),
										transparent 20%,
										transparent
										);
}
.spinbutton.vertical .button,
.spinbutton.vertical .button:focused,
.spinbutton.vertical .button:backdrop {
	background-image: -gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black, 0.04))),
                        linear-gradient(to bottom, 
										@button_bg_a, 
										@button_bg_b
										);
}
.spinbutton.vertical .button:hover {
	background-image: linear-gradient(to bottom,
									alpha(white, 0.1),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									@hover_button_bg_a,
									@hover_button_bg_b
									);
}
.spinbutton.vertical .button:backdrop:hover {
	background-image: -gtk-gradient (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))),
					-gtk-gradient (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									),
					linear-gradient(to bottom, 
									@button_bg_a, 
									@button_bg_b
									);
}
.spinbutton.vertical .button:insensitive {
	background-image: -gtk-gradient (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black,0.02))),
					linear-gradient(to bottom, 
                                    @insensative_button_bg_a, 
                                    @insensative_button_bg_b
                                    );
}
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active:hover,
.spinbutton .button:hover,
GtkTreeView .spinbutton .button:hover,
GtkTreeView .spinbutton .button:hover:first-child,
GtkTreeView .spinbutton .button:hover:last-child,
.notebook GtkComboBox.combobox-entry .button:hover,
.notebook GtkComboBox.combobox-entry .button:active:hover,
.notebook .spinbutton .button:hover {
	background-image: linear-gradient(to bottom,
									@hover_button_bg_a,
									@hover_button_bg_b
									);
}
GtkComboBox.combobox-entry .button:backdrop:hover,
GtkComboBox.combobox-entry .button:backdrop:active:hover,
.spinbutton .button:backdrop:hover,
.notebook GtkComboBox.combobox-entry .button:backdrop:hover,
.notebook GtkComboBox.combobox-entry .button:backdrop:active:hover,
.notebook .spinbutton .button:backdrop:hover {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 20%,
									transparent
									),
					-gtk-gradient (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									);
}
GtkComboBox.combobox-entry .button:active,
.spinbutton .button:active,
.spinbutton.vertical .button:active,
.spinbutton.vertical .button:active:first-child,
.spinbutton.vertical .button:active:last-child,
GtkTreeView .spinbutton .button:active,
GtkTreeView .spinbutton .button:active:first-child,
GtkTreeView .spinbutton .button:active:last-child,
.notebook GtkComboBox.combobox-entry .button:active,
.notebook .spinbutton .button:active,
.notebook .spinbutton.vertical .button:active,
.notebook .spinbutton.vertical .button:active:first-child,
.notebook .spinbutton.vertical .button:active:last-child,
.notebook GtkComboBox.combobox-entry .button:focus:active,
.notebook .spinbutton .button:focus:active,
.notebook .spinbutton.vertical .button:focus:active,
.notebook .spinbutton.vertical .button:focus:active:first-child,
.notebook .spinbutton.vertical .button:focus:active:last-child {
	background-image: linear-gradient(to bottom,
										transparent,
										transparent 75%,
										alpha(white, 0.1)
										),
						linear-gradient(to bottom,
										@alt_hover_active_button_bg_a,
										@alt_hover_active_button_bg_b
										);
}

/*********************************************************************
 * Trough Tools (Progressbar, Scalebar, Levelbar, Switch, Scrollbar) *
 *********************************************************************/
.trough,
.scale.trough,
.level-bar.fill-block.empty-fill-block,
.level-bar.fill-block.empty-fill-block:backdrop,
.level-bar.indicator-continuous.fill-block.empty-fill-block,
.level-bar.indicator-continuous.fill-block.empty-fill-block:backdrop,
.level-bar.indicator-discrete.fill-block.empty-fill-block,
.level-bar.indicator-discrete.fill-block.empty-fill-block:backdrop,
.level-bar.indicator-discrete.fill-block.empty-fill-block.level-high,
.level-bar.indicator-discrete.fill-block.empty-fill-block.level-high:backdrop,
.level-bar.indicator-discrete.fill-block.empty-fill-block.level-low,
.level-bar.indicator-discrete.fill-block.empty-fill-block.level-low:backdrop {
	background-color: @generic_trough;
	background-image: none;
}
.trough row,
.trough row:hover {
	background-color: transparent;
	background-image: none;
}
.trough row:selected,
.trough row:selected:focused {
	background-color: alpha(black,0.5);
}
.trough:insensitive,
.trough:backdrop:insensitive,
.scale.trough:insensitive,
.scale.trough:backdrop:insensitive {
	background-color: @insensitive_generic_trough;
}
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus,
.scale.highlight.left,
.scale.highlight.right,
.level-bar.fill-block,
.scrollbar.slider:prelight,
.scrollbar.slider:prelight:active
/*
,
GtkSwitch.slider:active,
GtkSwitch.slider:hover
*/
 {
	background-image: linear-gradient(to bottom,
                                      @progressbar_a,
                                      @progressbar_b 65%,
                                      shade(@progressbar_b, 0.9)
                                      );
}
.progressbar.vertical,
.scale.highlight.bottom,
.scale.highlight.top,
.scrollbar.slider.vertical:prelight,
.scrollbar.slider.vertical:prelight:active {
	background-image: linear-gradient(to right,
                                      @progressbar_a,
                                      @progressbar_b 65%,
                                      shade(@progressbar_b, 0.9)
                                      );
}
.progressbar:backdrop,
.progressbar row:backdrop,
.progressbar row:backdrop:hover,
.progressbar row:backdrop:selected,
.progressbar row:backdrop:selected:focus,
.scale.highlight.left:backdrop,
.scale.highlight.right:backdrop,
.level-bar.fill-block:backdrop,
.scrollbar.slider:prelight:backdrop
/*
,
GtkSwitch.slider:backdrop:active,
GtkSwitch.slider:backdrop:hover
*/
{
	background-image: linear-gradient(to bottom,
                                      @unfocused_progressbar_a,
                                      @unfocused_progressbar_b 65%,
                                      shade(@unfocused_progressbar_b, 0.9)
                                      );
}
.progressbar.vertical:backdrop,
.scale.highlight.bottom:backdrop,
.scale.highlight.top:backdrop,
.scrollbar.slider.vertical:prelight:backdrop {
	background-image: linear-gradient(to right,
                                      @unfocused_progressbar_a,
                                      @unfocused_progressbar_b 65%,
                                      shade(@unfocused_progressbar_b, 0.9)
                                      );
}

/**************************************
 * GtkLevelBar (Specific Backgrounds) *
 **************************************/
.level-bar.trough {
    background: none;
}
.level-bar.fill-block.level-high,
.level-bar.indicator-continuous.fill-block.level-high,
.level-bar.indicator-discrete.fill-block.level-high {
	background-image: linear-gradient(to bottom,
									@levelbar_fill_success_a,
									@levelbar_fill_success_b 65%,
									shade(@levelbar_fill_success_b, 0.9)
									);
}
.level-bar.fill-block.level-low,
.level-bar.indicator-continuous.fill-block.level-low,
.level-bar.indicator-discrete.fill-block.level-low {
	background-image: linear-gradient(to bottom,
									@levelbar_fill_warning_a,
									@levelbar_fill_warning_b 65%,
									shade(@levelbar_fill_warning_b, 0.9)
									);
}
.level-bar.fill-block.level-high:backdrop,
.level-bar.indicator-continuous.fill-block.level-high:backdrop,
.level-bar.indicator-discrete.fill-block.level-high:backdrop {
	background-image: linear-gradient(to bottom,
									@unfocused_levelbar_fill_success_a,
									@unfocused_levelbar_fill_success_b 65%,
									shade(@unfocused_levelbar_fill_success_b, 0.9)
									);
}
.level-bar.fill-block.level-low:backdrop,
.level-bar.indicator-continuous.fill-block.level-low:backdrop,
.level-bar.indicator-discrete.fill-block.level-low:backdrop {
	background-image: linear-gradient(to bottom,
									@unfocused_levelbar_fill_warning_a,
									@unfocused_levelbar_fill_warning_b 65%,
									shade(@unfocused_levelbar_fill_warning_b, 0.9)
									);
}

/***********************************
 * GtkScale (Specific Backgrounds) *
 ***********************************/
.scale.highlight.left:insensitive,
.scale.highlight.right:insensitive
/*
,
GtkSwitch.slider:insensitive
*/
{
	background-image: linear-gradient(to bottom,
                                      @insensitive_scale_highlight_a,
                                      @insensitive_scale_highlight_b 65%,
                                      shade(@insensitive_scale_highlight_b,0.9)
                                      );
}
.scale.highlight.left:backdrop:insensitive,
.scale.highlight.right:backdrop:insensitive
/*
,
GtkSwitch.slider:insensitive:backdrop
*/
{
	background-image: linear-gradient(to bottom,
                                      @unfocused_insensitive_scale_highlight_a,
                                      @unfocused_insensitive_scale_highlight_b 65%,
                                      shade(@unfocused_insensitive_scale_highlight_b,0.9)
                                      );
}
.scale.highlight.fine-tune.left,
.scale.highlight.fine-tune.right,
.scrollbar.slider.fine-tune:active {
	background-image: linear-gradient(to bottom,
                                      #BF7AFF,
                                      #7C0BE6 65%,
                                      shade(#7C0BE6,0.9)
                                      );
}
.scale.highlight.bottom:insensitive,
.scale.highlight.top:insensitive {
	background-image: linear-gradient(to right,
                                      @insensitive_scale_highlight_a,
                                      @insensitive_scale_highlight_b 65%,
                                      shade(@insensitive_scale_highlight_b,0.9)
                                      );
}
.scale.highlight.bottom:backdrop:insensitive,
.scale.highlight.top:backdrop:insensitive {
	background-image: linear-gradient(to right,
                                      @unfocused_insensitive_scale_highlight_a,
                                      @unfocused_insensitive_scale_highlight_b 65%,
                                      shade(@unfocused_insensitive_scale_highlight_b,0.9)
                                      );
}
.scale.highlight.fine-tune.bottom,
.scale.highlight.fine-tune.top,
.scrollbar.slider.vertical.fine-tune:active {
	background-image: linear-gradient(to right,
                                      #BF7AFF,
                                      #7C0BE6 65%,
                                      shade(#7C0BE6,0.9)
                                      );
}

/*************************************
 * Scrollbars (Specific backgrounds) *
 *************************************/
.scrollbar.trough, 
.scrollbar.trough.vertical {
	background: none;
}
.scrollbar.slider
/*
,
GtkSwitch.slider
*/
{
	background-image: linear-gradient(to bottom,
                                      @scrollbar_bg_a,
                                      @scrollbar_bg_b 65%,
                                      shade(@scrollbar_bg_b, 0.9)
                                      );
}
.scrollbar.slider:backdrop
/*
,
GtkSwitch.slider:backdrop
*/
{
	background-image: linear-gradient(to bottom,
                                      @unfocused_scrollbar_bg_a,
                                      @unfocused_scrollbar_bg_b 65%,
                                      shade(@unfocused_scrollbar_bg_b, 0.9)
                                      );
}
.scrollbar.slider.vertical {
	background-image: linear-gradient(to right,
                                      @scrollbar_bg_a,
                                      @scrollbar_bg_b 65%,
                                      shade(@scrollbar_bg_b, 0.9)
                                      );
}
.scrollbar.slider.vertical:backdrop {
	background-image: linear-gradient(to right,
                                      @unfocused_scrollbar_bg_a,
                                      @unfocused_scrollbar_bg_b 65%,
                                      shade(@unfocused_scrollbar_bg_b, 0.9)
                                      );
}

/************************************
 * GtkSwitch (Specific backgrounds) *
 ************************************/
GtkSwitch.slider:active {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_switch_slider_a, 
										@active_switch_slider_b
										);
}
GtkSwitch.slider:backdrop:active {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@unfocused_active_switch_slider_a, 
										@unfocused_active_switch_slider_b
										);
}
GtkSwitch.trough{
    background-color: @generic_trough;
}
GtkSwitch.trough:insensitive{
    background-color: @insensitive_generic_trough;
}

/************
 * Notebook *
 ************/
.notebook {
	background-color: @notebook_bg;
	background-image: none;
}
.notebook tab {
	background-color: transparent;
	background-image: linear-gradient(to right,
									#0d0d0d,
									#0d0d0d
									);
	background-clip: border-box;
}
.notebook tab:active {
	background-image: linear-gradient(to right,
									@notebook_bg,
									@notebook_bg
									);
}

/*****************************
 * Notebook Tab Close Button *
 *****************************/
.notebook tab .button:hover,
.notebook tab .button:hover:backdrop {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 20%,
									transparent
									);
	background-color: alpha(white,0.08)
}
.notebook tab .button:active:hover,
.notebook tab .button:active:hover:backdrop {
	background-color: alpha(white,0.04)
}
/********************
 * Notebook Buttons *
 ********************/
.notebook .button,
.notebook GtkComboBox .button,
.notebook GtkSwitch.slider {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
					-gtk-gradient  (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );     
}
.notebook .button:active,
.notebook GtkComboBox .button:active {
	background-image: linear-gradient(to bottom,
									alpha(black,0.2),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									@active_notebook_button_bg_a,
									@active_notebook_button_bg_b 40%,
									@active_notebook_button_bg_c
									);   
}
.notebook .button:insensitive,
.notebook .button:insensitive:hover,
.notebook GtkComboBox .button:insensitive,
.notebook GtkComboBox .button:insensitive:hover,
.notebook GtkSwitch.slider:insensitive {
	background-image: linear-gradient(to bottom, alpha(white,0.025) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.015) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.02) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.02) 1px, transparent 1px),
					-gtk-gradient  (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black, 0.02))
									),
					linear-gradient(to bottom, 
									@insensitive_notebook_button_bg_a, 
                                    @insensitive_notebook_button_bg_b
                                    );     
}
.notebook .button:backdrop:hover,
.notebook GtkComboBox .button:backdrop:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
					-gtk-gradient  (radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					-gtk-gradient  (radial,
									center 1.3, 1.2,
									center 1.3, -0.2,
									from(transparent),
									to(alpha(@hover_button_bg_b,0.8))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );     
}

/***************************
 * Notebook Linked Buttons *
 ***************************/
.notebook .linked.button,
.notebook .linked .button {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );  
}
.notebook .linked.button:backdrop:hover,
.notebook .linked .button:backdrop:hover {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					-gtk-gradient  (radial,
									center 1.3, 1.2,
									center 1.3, -0.2,
									from(transparent),
									to(alpha(@hover_button_bg_b,0.8))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );   
}
.notebook .linked.button:insensitive,
.notebook .linked .button:insensitive,
.notebook .linked.button:insensitive:hover,
.notebook .linked .button:insensitive:hover {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black, 0.02))
									),
					linear-gradient(to bottom, 
									@insensitive_notebook_button_bg_a, 
                                    @insensitive_notebook_button_bg_b
                                    );   
}

/**************************
 * Notebook GtkSpinButton *
 **************************/
.notebook .spinbutton .button:focused,
.notebook .spinbutton .button:focused:backdrop {
	background-color: shade(@focus_spinbutton_bg,0.7);
	background-image: linear-gradient(to bottom,
										alpha(black,0.2),
										transparent 20%,
										transparent
										);
}
.notebook .spinbutton.vertical .button,
.notebook .spinbutton.vertical .button:focused,
.notebook .spinbutton.vertical .button:backdrop {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );   
}
.notebook .spinbutton.vertical .button:backdrop:hover {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.1)),
									to(alpha(black, 0.04))
									),
					-gtk-gradient  (radial,
									center 1.3, 1.2,
									center 1.3, -0.2,
									from(transparent),
									to(alpha(@hover_button_bg_b,0.8))
									),
					linear-gradient(to bottom, 
									@notebook_button_bg_a, 
                                    @notebook_button_bg_b
                                    );   
}
.notebook .spinbutton.vertical .button:insensitive {
	background-image: -gtk-gradient(radial, 
									center -0.5, 0,
									center -0.1, 1.0,
									from(alpha(white,0.05)),
									to(alpha(black, 0.02))
									),
					linear-gradient(to bottom, 
									@insensitive_notebook_button_bg_a, 
                                    @insensitive_notebook_button_bg_b
                                    );   
}
