.radio,
.check {
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
    border-style: solid;
	padding: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
GtkCheckButton {
	-GtkCheckButton-indicator-size: 16px;
}
GtkCheckButton GtkLabel,
GtkRadioButton GtkLabel,
GtkCheckButton GtkLabel:hover,
GtkRadioButton GtkLabel:hover,
GtkCheckButton GtkImage,
GtkRadioButton GtkImage,
GtkCheckButton GtkImage:hover,
GtkRadioButton GtkImage:hover {
	color: @text_color;
}
GtkCheckButton GtkLabel:backdrop,
GtkRadioButton GtkLabel:backdrop,
GtkCheckButton GtkImage:backdrop,
GtkRadioButton GtkImage:backdrop {
	color: @unfocused_text_color;
}
GtkCheckButton GtkLabel:insensitive,
GtkRadioButton GtkLabel:insensitive,
GtkCheckButton GtkImage:insensitive,
GtkRadioButton GtkImage:insensitive {
	color: @insensitive_fg_color;
}
GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus,
GtkModelButton.button.check,
GtkModelButton.button.radio,
GtkModelButton.button.check:active,
GtkModelButton.button.radio:active {
    background-color: transparent;
    color:transparent;
    box-shadow: none;
}
/**************
 * CheckBoxes *
 **************/
GtkModelButton.button.check,
GtkModelButton.button.check:backdrop,
.view.cell.check,
.check {
	background-image: url("assets/check-radio/check-unchecked.svg");
	background-color: transparent;
}
.check.cell {
    background-image: url("assets/check-radio/check-unchecked-alt.svg");
	background-color: transparent;
}
.view.cell.check:selected,
.view.cell.check:selected:focus {
	background-image: url("assets/check-radio/check-selected.svg");
}
.check.cell:selected,
.check.cell:selected:focus,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets/check-radio/check-unchecked-alt.svg");
	background-color: transparent;
}
GtkModelButton.button.check:hover,
GtkModelButton.button.check:backdrop:hover,
.view.cell.check:hover,
.check:hover {
    background-image: url("assets/check-radio/check-unchecked-hover.svg");
}
.check row:hover,
.check row:nth-child(even):hover,
.check row:nth-child(odd):hover {
    background-image: url("assets/check-radio/check-unchecked-alt-hover.svg");
    background-color: transparent;
}
.view.cell.check:selected:hover,
.view.cell.check:selected:focus:hover {
	background-image: url("assets/check-radio/check-selected-hover.svg");
}
.check.cell:selected:hover,
.check.cell:selected:hover:focus,
.check row:selected:hover,
.check row:selected:hover:focus {
    background-image: url("assets/check-radio/check-unchecked-alt-hover.svg");
    background-color: transparent;
}
GtkModelButton.button.check:insensitive,
GtkModelButton.button.check:backdrop:insensitive,
.view.cell.check:insensitive,
.check:insensitive {
    background-image: url("assets/check-radio/check-unchecked-insensitive.svg");
}
GtkModelButton.button.check:selected:insensitive,
GtkModelButton.button.check:selected:backdrop:insensitive,
.view.cell.check:selected:insensitive,
.check:selected:insensitive,
GtkModelButton.button.check:selected:hover:insensitive,
GtkModelButton.button.check:selected:hover:backdrop:insensitive,
.view.cell.check:selected:hover:insensitive,
.check:selected:hover:insensitive {
    background-image: url("assets/check-radio/check-selected-insensitive.svg");
}
GtkModelButton.button.check:selected:active:insensitive,
GtkModelButton.button.check:selected:active:backdrop:insensitive,
.view.cell.check:selected:active:insensitive,
.check:selected:active:insensitive,
GtkModelButton.button.check:selected:active:hover:insensitive,
GtkModelButton.button.check:selected:active:hover:backdrop:insensitive,
.view.cell.check:selected:active:hover:insensitive,
.check:selected:active:hover:insensitive {
    background-image: url("assets/check-radio/check-active-selected-insensitive.svg");
}
.check row:insensitive,
.check row:nth-child(even):insensitive,
.check row:nth-child(odd):insensitive,
.check row:insensitive:hover,
.check row:selected:insensitive,
.check row:selected:focus:insensitive,
.check row:selected:insensitive:hover,
.check row:selected:focus:insensitive:hover {
    background-image: url("assets/check-radio/check-unchecked-insensitive-alt.svg");
    background-color: transparent;
}
GtkModelButton.button.check:active,
GtkModelButton.button.check:backdrop:active,
.view.cell.check:active,
.check:active {
    background-image: url("assets/check-radio/check-active.svg");
}
.cell.check:active  {
    background-image: url("assets/check-radio/check-active-alt.svg");
	background-color: transparent;
}
.view.cell.check:selected:active,
.view.cell.check:selected:focus:active {
	background-image: url("assets/check-radio/check-active-selected.svg");
}
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/check-radio/check-active-alt.svg");
	background-color: transparent;
}
GtkModelButton.button.check:active:hover,
GtkModelButton.button.check:backdrop:active:hover,
.view.cell.check:active:hover,
.check:active:hover {
    background-image: url("assets/check-radio/check-active-hover.svg");
}
.cell.check:active:hover {
    background-image: url("assets/check-radio/check-active-hover-alt.svg");
    background-color: transparent;
}
.view.cell.check:selected:active:hover,
.view.cell.check:selected:focus:active:hover {
	background-image: url("assets/check-radio/check-active-selected-hover.svg");
}
.check row:selected:active:hover,
.check row:selected:focus:active:hover {
    background-image: url("assets/check-radio/check-active-hover-alt.svg");
    background-color: transparent;
}
.view.cell.check:active:insensitive,
.view.cell.check:active:insensitive:hover,
.check:active:insensitive,
.check:active:insensitive:hover {
    background-image: url("assets/check-radio/check-active-insensitive.svg");
    background-size: auto;
}
.check row:active:insensitive,
.check row:active:insensitive:hover,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive,
.check row:selected:active:insensitive:hover,
.check row:selected:focus:active:insensitive:hover {
    background-image: url("assets/check-radio/check-active-insensitive-alt.svg");
    background-color: transparent;
    background-size: auto;
}
.view.cell.check:inconsistent,
.check:inconsistent {
    background-image: url("assets/check-radio/check-mixed-inset.svg");
}
.cell.check:inconsistent {
    background-image: url("assets/check-radio/check-mixed-alt-inset.svg");
	background-color: transparent;
}
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    background-image: url("assets/check-radio/check-mixed-alt-inset.svg");
}
.view.cell.check:inconsistent:hover,
.check:inconsistent:hover {
    background-image: url("assets/check-radio/check-mixed.svg");
}
.cell.check:inconsistent:hover {
    background-image: url("assets/check-radio/check-mixed-alt.svg");
	background-color: transparent;
}
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
    background-image: url("assets/check-radio/check-mixed-alt.svg");
    background-color: transparent;
}
.view.cell.check:inconsistent:insensitive,
.view.cell.check:inconsistent:insensitive:hover,
.check:inconsistent:insensitive,
.check:inconsistent:insensitive:hover {
    background-image: url("assets/check-radio/check-mixed-insensitive.svg");
}
.check row:inconsistent:insensitive,
.check row:inconsistent:insensitive:hover,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive:hover,
.check row:selected:focus:inconsistent:insensitive:hover {
	background-image: url("assets/check-radio/check-mixed-insensitive-alt-inset.svg");
	background-color: transparent;
}
/****************
 * Radiobuttons *
 ****************/
GtkModelButton.button.radio,
GtkModelButton.button.radio:backdrop,
.view.cell.radio,
.radio {
    background-image: url("assets/check-radio/radio-un.svg");
}
.cell.radio {
    background-image: url("assets/check-radio/radio-un-alt.svg");
	background-color: transparent;
}
.radio.cell:selected,
.radio.cell:selected:focus,
.radio row:selected,
.radio row:selected:focus {
    background-image: url("assets/check-radio/radio-un-alt.svg");
	background-color: transparent;
}
GtkModelButton.button.radio:hover,
GtkModelButton.button.radio:backdrop:hover,
.view.cell.radio:hover,
.radio:hover {
    background-image: url("assets/check-radio/radio-un-hover.svg");
}
.radio row:hover,
.radio row:nth-child(even):hover,
.radio row:nth-child(odd):hover  {
    background-image: url("assets/check-radio/radio-un-alt-hover.svg");
	background-color: transparent;
}
.radio.cell:selected:hover,
.radio.cell:selected:hover:focus,
.radio row:selected:hover,
.radio row:selected:hover:focus {
    background-image: url("assets/check-radio/radio-un-alt-hover.svg");
	background-color: transparent;
}
GtkModelButton.button.radio:insensitive,
GtkModelButton.button.radio:backdrop:insensitive,
.view.cell.radio:insensitive,
.radio:insensitive {
    background-image: url("assets/check-radio/radio-insensitive.svg");
}
.radio row:insensitive,
.radio row:nth-child(even):insensitive,
.radio row:nth-child(odd):insensitive,
.radio row:insensitive:hover,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive,
.radio row:selected:insensitive:hover,
.radio row:selected:focus:insensitive:hover{
    background-image: url("assets/check-radio/radio-insensitive-alt.svg");
    background-color: transparent;
}
GtkModelButton.button.radio:active,
GtkModelButton.button.radio:backdrop:active,
.view.cell.radio:active,
.radio:active {
    background-image: url("assets/check-radio/radio-active.svg");
}
.cell.radio:active {
    background-image: url("assets/check-radio/radio-active-alt.svg");
	background-color: transparent;
}
.radio row:selected:active,
.radio row:selected:focus:active {
    background-image: url("assets/check-radio/radio-active-alt.svg");
	background-color: transparent;
}
GtkModelButton.button.radio:active:hover,
GtkModelButton.button.radio:backdrop:active:hover,
.view.cell.radio:active:hover,
.radio:active:hover {
   background-image: url("assets/check-radio/radio-active-hover.svg");
}
.cell.radio:active:hover {
	background-image: url("assets/check-radio/radio-active-hover-alt.svg");
	background-color: transparent;
}
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
    background-image:  url("assets/check-radio/radio-active-hover-alt.svg");
    background-color: transparent;
}
.view.cell.radio:active:insensitive,
.view.cell.radio:active:insensitive:hover,
.radio:active:insensitive,
.radio:active:insensitive:hover {
    background-image: url("assets/check-radio/radio-insensitive-active.svg");
    background-size: auto;
}
.radio row:active:insensitive,
.radio row:active:insensitive:hover,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive,
.radio row:selected:active:insensitive:hover,
.radio row:selected:focus:active:insensitive:hover {
    background-image: url("assets/check-radio/radio-insensitive-active-alt.svg");
    background-size: auto;
    background-color: transparent;
}
.view.cell.radio:inconsistent,
.radio:inconsistent {
    background-image: url("assets/check-radio/radio-mixed.svg");
}
.cell.radio:inconsistent {
	background-image: url("assets/check-radio/radio-mixed-alt.svg");
	background-color: transparent;
}
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    background-image: url("assets/check-radio/radio-mixed-alt.svg");
	background-color: transparent;
}
.view.cell.radio:inconsistent:hover,
.radio:inconsistent:hover {
    background-image: url("assets/check-radio/radio-mixed-hover.svg");
}
.cell.radio:inconsistent:hover {
    background-image: url("assets/check-radio/radio-mixed-hover-alt.svg");
	background-color: transparent;
}
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
    background-image: url("assets/check-radio/radio-mixed-hover-alt.svg");
	background-color: transparent;
}
.view.cell.radio:inconsistent:insensitive,
.view.cell.radio:inconsistent:insensitive:hover,
.radio:inconsistent:insensitive,
.radio:inconsistent:insensitive:hover {
    background-image: url("assets/check-radio/radio-mixed-insensitive.svg");
}
.radio row:inconsistent:insensitive,
.radio row:inconsistent:insensitive:hover,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive:hover,
.radio row:selected:focus:inconsistent:insensitive:hover{
    background-image: url("assets/check-radio/radio-mixed-insensitive-alt.svg");
    background-color: transparent;
}

/******************
 * Menus and such *
 ******************/
.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive,
.menuitem.check:active,
.menuitem.radio:active,
.menuitem.check:active:hover,
.menuitem.radio:active:hover,
.menubar .menuitem.check,
.menubar .menuitem.radio,
.menubar .menuitem.check:hover,
.menubar .menuitem.radio:hover,
.menubar .menuitem.check:insensitive,
.menubar .menuitem.radio:insensitive,
.menubar .menuitem.check:active,
.menubar .menuitem.radio:active,
.menubar .menuitem.check:active:hover,
.menubar .menuitem.radio:active:hover
 {
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: none;
    border: 0px solid transparent;
}
.menuitem.check:active,
.menubar .menuitem.check:active {
    background-image: url("assets/check-radio/menuitem-checkbox-checked.png");
}
.menuitem.check:active:hover,
.menubar .menuitem.check:active:hover {
    background-image: url("assets/check-radio/menuitem-checkbox-checked-hover.png");
}
.menuitem.check:active:insensitive,
.menubar .menuitem.check:active:insensitive {
    background-image: url("assets/check-radio/menuitem-checkbox-checked-insensitive.png");
}
.menuitem.check:inconsistent,
.menuitem.radio:inconsistent,
.menubar .menuitem.check:inconsistent,
.menubar .menuitem.radio:inconsistent {
    background-image: url("assets/check-radio/menuitem-checkbox-mixed.png");
}
.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive,
.menubar .menuitem.check:inconsistent:insensitive,
.menubar .menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/check-radio/menuitem-checkbox-mixed-insensitive.png");
}
.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover,
.menubar .menuitem.check:inconsistent:hover,
.menubar .menuitem.radio:inconsistent:hover {
    background-image: url("assets/check-radio/menuitem-checkbox-mixed-hover.png");
}
.menuitem.radio:active,
.menubar .menuitem.radio:active {
    background-image: url("assets/check-radio/menuitem-radio-checked.png");
}
.menuitem.radio:active:hover,
.menubar .menuitem.radio:active:hover {
    background-image: url("assets/check-radio/menuitem-radio-checked-hover.png");
}
.menuitem.radio:active:insensitive,
.menubar .menuitem.radio:active:insensitive {
    background-image: url("assets/check-radio/menuitem-radio-checked-insensitive.png");
}
.menuitem.radio:active,
.menubar .menuitem.radio:active {
    background-image: url("assets/check-radio/menuitem-radio-checked.png");
}
.menuitem.radio:active:hover,
.menubar .menuitem.radio:active:hover {
    background-image: url("assets/check-radio/menuitem-radio-checked-hover.png");
}
.menuitem.radio:active:insensitive,
.menubar .menuitem.radio:active:insensitive {
    background-image: url("assets/check-radio/menuitem-radio-checked-insensitive.png");
}

/**************
 * Separators *
 **************/
.separator,
.menu .menuitem.separator {
    border-image: linear-gradient(to right,
								@separator_a,
								@separator_b,
								@separator_a
								) 1 0 0 0 / 1px 0 0 0 stretch;
    border-width:0px;
    padding: 0px;
}
.separator:backdrop,
.menu .menuitem.separator:backdrop {
	border-image: linear-gradient(to right,
								@unfocused_separator_a,
								@unfocused_separator_b,
								@unfocused_separator_a
								) 1 0 0 0 / 1px 0 0 0 stretch;
}
GtkSeparatorToolItem.separator,
.primary-toolbar .separator,
.separator.vertical {
	border-image: linear-gradient(to bottom,
								@separator_a,
								@separator_b,
								@separator_a
								) 0 1 0 0 / 0 1px 0 0 stretch;
    padding: 2px 3px;
}
GtkSeparatorToolItem.separator:backdrop,
.primary-toolbar .separator:backdrop,
.separator.vertical:backdrop {
	border-image: linear-gradient(to bottom,
								@unfocused_separator_a,
								@unfocused_separator_b,
								@unfocused_separator_a
								) 0 1 0 0 / 0 1px 0 0 stretch;
}
.button .separator,
.button .separator:backdrop {
	border-image: linear-gradient(to right,
								alpha(black,0.395)
								) 1 0 0 0 / 1px 0 0 0 stretch;
}
.button .separator.vertical,
.button .separator.vertical:backdrop {
	border-image: linear-gradient(to bottom,
								alpha(black,0.37),
								alpha(black,0.42)
								) 0 1 0 0 / 0 1px 0 0 stretch;
}
GtkComboBox .button .separator,
GtkComboBox .button .separator.vertical,
GtkComboBox .button .separator.vertical:hover,
GtkComboBox .button .separator.vertical:backdrop,
GtkComboBox .button .separator.vertical:hover:backdrop  {
    border-image: none;
    border: 0px solid transparent;
	padding: 0px;
}

/*************
 * GtkSwitch *
 *************/
/*
GtkSwitch.trough,
GtkSwitch.trough:backdrop {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
    background-image: url("assets/switch/switch.svg");
    background-size: 64px 22px;
    background-position: center top;
    background-repeat: no-repeat;
    text-shadow: none;
}
GtkSwitch.trough:active,
GtkSwitch.trough:active:backdrop {
    background-image: url("assets/switch/active-switch.svg");
}
*/

/********************
 * GtkScale Sliders *
 ********************/
.scale.slider,
.scale.slider.horizontal {
	background-image: url("assets/scale-slider/scale-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.scale.slider:hover,
.scale.slider.horizontal:hover{
	background-image: url("assets/scale-slider/scale-slider-hover.svg");
}
.scale.slider:active,
.scale.slider.horizontal:active,
.scale.slider:active:hover,
.scale.slider.horizontal:active:hover {
	background-image: url("assets/scale-slider/scale-slider-active.svg");
}
.scale.slider.fine-tune:active,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active:hover {
	background-image: url("assets/scale-slider/scale-slider-active-fine-tune.svg");
}
.scale.slider:backdrop:hover,
.scale.slider.horizontal:backdrop:hover {
	background-image: url("assets/scale-slider/scale-slider-unfocused-hover.svg");
}
.scale.slider:insensitive,
.scale.slider:insensitive:hover,
.scale.slider.horizontal:insensitive,
.scale.slider.horizontal:insensitive:hover,
.scale.slider:insensitive:backdrop,
.scale.slider:insensitive:backdrop:hover,
.scale.slider.horizontal:insensitive:backdrop,
.scale.slider.horizontal:insensitive:backdrop:hover {
	background-image: url("assets/scale-slider/scale-slider-insensitive.svg");
}
.scale.scale-has-marks-above.slider.horizontal {
    background-image: url("assets/scale-slider/scale-up.svg");
}
.scale.scale-has-marks-above.slider.horizontal:hover {
    background-image: url("assets/scale-slider/scale-up-hover.svg");
}
.scale.scale-has-marks-above.slider.horizontal:active {
    background-image: url("assets/scale-slider/scale-up-active.svg");
}
.scale.scale-has-marks-above.slider.horizontal:backdrop:hover {
    background-image: url("assets/scale-slider/scale-up-unfocused-hover.svg");
}
.scale.scale-has-marks-above.slider.horizontal.fine-tune:active,
.scale.scale-has-marks-above.slider.horizontal.fine-tune:active:hover {
	background-image: url("assets/scale-slider/scale-up-active-fine-tune.svg");
}
.scale.scale-has-marks-above.slider.horizontal:insensitive,
.scale.scale-has-marks-above.slider.horizontal:insensitive:hover {
    background-image: url("assets/scale-slider/scale-up-insensitive.svg");
}
.scale.scale-has-marks-above.slider.vertical {
    background-image: url("assets/scale-slider/scale-left.svg");
}
.scale.scale-has-marks-above.slider.vertical:hover {
    background-image: url("assets/scale-slider/scale-left-hover.svg");
}
.scale.scale-has-marks-above.slider.vertical:active {
    background-image: url("assets/scale-slider/scale-left-active.svg");
}
.scale.scale-has-marks-above.slider.vertical:backdrop:hover {
    background-image: url("assets/scale-slider/scale-left-unfocused-hover.svg");
}
.scale.scale-has-marks-above.slider.vertical.fine-tune:active,
.scale.scale-has-marks-above.slider.vertical.fine-tune:active:hover {
	background-image: url("assets/scale-slider/scale-left-active-fine-tune.svg");
}
.scale.scale-has-marks-above.slider.vertical:insensitive,
.scale.scale-has-marks-above.slider.vertical:insensitive:hover {
    background-image: url("assets/scale-slider/scale-left-insensitive.svg");
}
.scale.scale-has-marks-below.slider.horizontal {
    background-image: url("assets/scale-slider/scale-down.svg");
}
.scale.scale-has-marks-below.slider.horizontal:hover {
    background-image: url("assets/scale-slider/scale-down-hover.svg");
}
.scale.scale-has-marks-below.slider.horizontal:active {
    background-image: url("assets/scale-slider/scale-down-active.svg");
}
.scale.scale-has-marks-below.slider.horizontal:backdrop:hover {
    background-image: url("assets/scale-slider/scale-down-unfocused-hover.svg");
}
.scale.scale-has-marks-below.slider.horizontal.fine-tune:active,
.scale.scale-has-marks-below.slider.horizontal.fine-tune:active:hover {
	background-image: url("assets/scale-slider/scale-down-active-fine-tune.svg");
}
.scale.scale-has-marks-below.slider.horizontal:insensitive,
.scale.scale-has-marks-below.slider.horizontal:insensitive:hover {
    background-image: url("assets/scale-slider/scale-down-insensitive.svg");
}
.scale.scale-has-marks-below.slider.vertical {
    background-image: url("assets/scale-slider/scale-right.svg");
}
.scale.scale-has-marks-below.slider.vertical:hover {
    background-image: url("assets/scale-slider/scale-right-hover.svg");
}
.scale.scale-has-marks-below.slider.vertical:active {
    background-image: url("assets/scale-slider/scale-right-active.svg");
}
.scale.scale-has-marks-below.slider.vertical:backdrop:hover {
    background-image: url("assets/scale-slider/scale-right-unfocused-hover.svg");
}
.scale.scale-has-marks-below.slider.vertical.fine-tune:active,
.scale.scale-has-marks-below.slider.vertical.fine-tune:active:hover {
	background-image: url("assets/scale-slider/scale-right-active-fine-tune.svg");
}
.scale.scale-has-marks-below.slider.vertical:insensitive,
.scale.scale-has-marks-below.slider.vertical:insensitive:hover {
    background-image: url("assets/scale-slider/scale-right-insensitive.svg");
}

/********************
 * Adjustible Panes *
 ********************/
.pane-separator.vertical,
.pane-separator.vertical:hover,
.pane-separator.vertical:selected {
	background-color: transparent;
	background-image: url("assets/handle/handle-vertical.png");
	background-position: center;
	background-size: 23px 8px;
	background-repeat: no-repeat;
}
.pane-separator.vertical:backdrop {
	background-image: url("assets/handle/handle-vertical-unfocused.png");
}
.pane-separator.horizontal,
.pane-separator.horizontal:hover,
.pane-separator.horizontal:selected {
	background-color:transparent;
	background-image:url("assets/handle/handle-horizontal.png");
	background-position: center;
	background-size: 8px 23px ;
	background-repeat: no-repeat;
}
.pane-separator.horizontal:backdrop {
	background-image:url("assets/handle/handle-horizontal-unfocused.png");
}
