/*******************************************
 * Desktop (Adjust these to fit wallpaper) *
 *******************************************/
.nemo-desktop.nemo-canvas-item {
    color: @text_color;
}
.nemo-desktop.nemo-canvas-item:active {
    color: @text_color;
}
.nemo-desktop.nemo-canvas-item:selected {
	color: @theme_selected_fg_color;
}
NemoDesktopWindow NemoDesktopIconView,
NemoDesktopWindow NemoDesktopIconView .view,
NemoDesktopWindow NemoDesktopIconView:backdrop,
NemoDesktopWindow NemoDesktopIconView .view:backdrop {
	background-color: transparent;
}
NemoDesktopWindow.background,
NemoDesktopWindow.background:backdrop {
	background-image: none;
	background-color: @bg_color;
}

.nemo-canvas-item,
.nautilus-canvas-item {
    border-radius: 3px;
}

/***************
 * Nemo Search *
 ***************/
NemoSearchBar,
NemoQueryEditor {
    background-color: @info_bg_color;
}
NemoSearchBar {
    box-shadow: 0px -1px shade(@info_bg_color,0.7) inset;
}
NemoQueryEditor {
    box-shadow: 0px 1px shade(@info_bg_color,1.15) inset;
}
NemoSearchBar,
NemoQueryEditor,
NemoSearchBar .entry:focus,
NemoQueryEditor .entry:focus,
NemoSearchBar .button,
NemoQueryEditor .button,
NemoSearchBar .cell,
NemoQueryEditor .cell {
	-GtkWidget-cursor-color: @info_fg_color;
	color: @info_fg_color;
}
NemoSearchBar:backdrop,
NemoQueryEditor:backdrop,
NemoSearchBar .entry,
NemoQueryEditor .entry,
NemoSearchBar .entry:backdrop,
NemoQueryEditor .entry:backdrop,
NemoSearchBar .button:backdrop,
NemoQueryEditor .button:backdrop,
NemoSearchBar .button:backdrop:hover,
NemoQueryEditor .button:backdrop:hover,
NemoSearchBar .cell:backdrop,
NemoQueryEditor .cell:backdrop,
NemoSearchBar .cell:backdrop:hover,
NemoQueryEditor .cell:backdrop:hover {
	color: @unfocused_info_fg_color;
}
NemoSearchBar .button:hover,
NemoQueryEditor .button:hover,
NemoSearchBar .cell:hover,
NemoQueryEditor .cell:hover {
	text-shadow: 0px 0px 3px @info_fg_color;
}
NemoSearchBar .menuitem *,
NemoQueryEditor .menuitem * {
	color: @text_color;
}
NemoSearchBar .button,
NemoQueryEditor .button {
	border-color: @info_button_border;
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@info_button_bg_a,
										@info_button_bg_b
										);
}
NemoSearchBar .button:hover,
NemoQueryEditor .button:hover {
	border-color: lighter(@info_bg_color);
	box-shadow: 0px 0px 1px 1px @info_fg_color inset;
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@hover_info_button_bg_a,
										@hover_info_button_bg_b
										);
}
NemoSearchBar .button:backdrop:hover,
NemoQueryEditor .button:backdrop:hover {
	border-color: @info_button_border;
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										shade(@info_button_bg_a,1.15),
										shade(@info_button_bg_b,1.05)
										);
}
NemoSearchBar .button:active,
NemoQueryEditor .button:active,
NemoSearchBar .button:active:hover,
NemoQueryEditor .button:active:hover {
	border-color: transparent;
	box-shadow: 0px 1px shade(@info_bg_color,0.6) inset,
	
				1px 0px shade(@info_bg_color,0.7) inset,
				-1px 0px shade(@info_bg_color,0.7) inset,
				
				0 -2px alpha(black,0.3) inset,
				0px -1px mix(@info_bg_color,#bbb,0.3) inset;
}
NemoSearchBar .button:active:hover,
NemoQueryEditor .button:active:hover {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_hover_info_button_bg_a,
										@active_hover_info_button_bg_b 40%,
										@active_hover_info_button_bg_c
										);
}
NemoSearchBar .button:active,
NemoQueryEditor .button:active {
	background-image: linear-gradient(to bottom, alpha(white,0.05) 1px,	transparent 1px),
					  linear-gradient(to top, alpha(white,0.03) 1px, transparent 1px),
					  linear-gradient(to right, alpha(white,0.04) 1px, transparent 1px),
				      linear-gradient(to left, alpha(white,0.04) 1px, transparent 1px),
						-gtk-gradient (radial, 
										center -0.5, 0,
										center -0.1, 1.0,
										from(alpha(white,0.1)),
										to(alpha(black,0.04))),
                        linear-gradient(to bottom, 
										@active_info_button_bg_a,
										@active_info_button_bg_b 40%,
										@active_info_button_bg_c
										);
}
NemoSearchBar .entry,
NemoQueryEditor .entry,
NemoSearchBar .entry:backdrop,
NemoQueryEditor .entry:backdrop {
	color: @unfocused_info_fg_color;
}
NemoSearchBar .entry,
NemoSearchBar .entry:backdrop,
NemoSearchBar .entry:focus,
NemoSearchBar .entry:focus:backdrop,
NemoQueryEditor .entry,
NemoQueryEditor .entry:backdrop,
NemoQueryEditor .entry:focus,
NemoQueryEditor .entry:focus:backdrop {
	box-shadow: 0px 1px shade(@info_bg_color,0.5) inset,
	
				1px 0px shade(@info_bg_color,0.6) inset,
				-1px 0px shade(@info_bg_color,0.6) inset,

				0px -1px mix(@info_bg_color,#bbb,0.3) inset;
}
/* (add/remove) kinda crude, but nemo dev didn't give us a label or class for these */
NemoQueryEditor .button:last-child:hover {
	transition: none;
}
NemoQueryEditor .button:last-child:hover:active {
	transition: all 150ms ease-in-out;
}

/*****************
 * Nemo Notebook *
 *****************/
NemoWindowSlot {
	background-color: @base_color; /* prevent annoying flicker upon opening new tab */
}

/************************
 * Nemo Primary Toolbar *
 ************************/
/* hopefully this is only temporary...they seem to be slowly adding support for real icons */
NemoWindow .toolbar.primary-toolbar .button,
NemoWindow .toolbar.primary-toolbar .button:hover,
NemoWindow .toolbar.primary-toolbar .button:active,
NemoWindow .toolbar.primary-toolbar .button:active:hover,
NemoWindow .toolbar.primary-toolbar .button:backdrop,
NemoWindow .toolbar.primary-toolbar .button:backdrop:hover,
NemoWindow .toolbar.primary-toolbar .button:backdrop:active,
NemoWindow .toolbar.primary-toolbar .button:backdrop:active:hover,
NemoWindow .toolbar.primary-toolbar .button:insensitive,
NemoWindow .toolbar.primary-toolbar .button:insensitive:hover,
NemoWindow .toolbar.primary-toolbar .button:insensitive:active,
NemoWindow .toolbar.primary-toolbar .button:insensitive:active:hover,
NemoWindow .toolbar.primary-toolbar .button:insensitive:backdrop,
NemoWindow .toolbar.primary-toolbar .button:insensitive:backdrop:hover,
NemoWindow .toolbar.primary-toolbar .button:insensitive:backdrop:active,
NemoWindow .toolbar.primary-toolbar .button:insensitive:backdrop:active:hover {
	color: #cfcfcf;
}

/********************
 * Sidebar Treeview *
 ********************/
NemoPlacesTreeView {
    -NemoPlacesTreeView-disk-full-bg-color: shade(@bg_color,1.25);
    -NemoPlacesTreeView-disk-full-fg-color: shade(@selected_bg_color,1.0);
    -NemoPlacesTreeView-disk-full-bar-width: 2px;
    -NemoPlacesTreeView-disk-full-bar-radius: 1px;
    -NemoPlacesTreeView-disk-full-bottom-padding: 1px;
    -NemoPlacesTreeView-disk-full-max-length: 70px;
}
NemoPlacesTreeView:selected {
	-NemoPlacesTreeView-disk-full-bg-color: shade(@bg_color,4.25);
    -NemoPlacesTreeView-disk-full-fg-color: @selected_fg_color;
}
NemoPlacesTreeView:backdrop {
    -NemoPlacesTreeView-disk-full-fg-color: shade(@selected_bg_color,0.8);
}
NemoPlacesTreeView:selected:backdrop {
    -NemoPlacesTreeView-disk-full-fg-color: @unfocused_selected_fg_color;
}

/***************
 * NemoPathBar *
 ***************/
NemoPathbarButton,
NemoPathbarButton:backdrop {
	padding: 0px 0px 0px 3px;
	border: 0px solid transparent;
    border-image: none;
    border-radius: 0px;
    background-color: transparent;
}
NemoPathbarButton,
NemoPathbarButton:active,

NemoPathbarButton:backdrop:hover,
NemoPathbarButton:backdrop:active,
NemoPathbarButton:backdrop:active:hover {
	text-shadow: none;
	icon-shadow: none;
}
NemoPathbarButton:hover,
NemoPathbarButton:active:hover {
	text-shadow: 0px 0px 3px @text_color;
	icon-shadow: 0px 0px 1px @text_color;
}
NemoPathbarButton {
	color: @insensitive_fg_color;
}
NemoPathbarButton:active,
NemoPathbarButton:hover,
NemoPathbarButton:hover:active {
	color: @text_color;
}
NemoPathbarButton:backdrop:active,
NemoPathbarButton:backdrop:hover,
NemoPathbarButton:backdrop:hover:active {
	color: @unfocused_text_color;
}
NemoPathbarButton:backdrop {
	color: @unfocused_insensitive_fg_color;
}
NemoPathbarButton,
NemoPathbarButton:backdrop {
	background-image: linear-gradient(to right,
                                    alpha(black, 0.10),
                                    transparent
                                    ),
					linear-gradient(to left,
                                    alpha(white, 0.024),
                                    alpha(white, 0.0) 30px,
                                    alpha(white, 0.0)
                                    ),
                    linear-gradient(to bottom,
									alpha(white,0.07),
									transparent 25%,
									transparent
									),
					linear-gradient(to bottom,
									shade(@button_raised_bg_a,1.98),
									shade(@button_raised_bg_b,1.82)
                                    );
	background-color: transparent;
	border-style: solid;
    border-radius: 0px;
    border-width: 0; /* not quite sure why this works... */
    border-color: alpha(black, 0.33);
	box-shadow: 0 1px alpha(white, 0.05) inset,
				0 2px alpha(white, 0.008) inset,
				
				0 -1px alpha(black, 0.23) inset,
				0 -2px alpha(black, 0.04) inset,
				
				-1px 0 alpha(black, 0.24) inset,
				-2px 0 alpha(black, 0.02) inset,
				
				1px 0 alpha(white, 0.04) inset,
				2px 0 alpha(white, 0.02) inset;
	transition: background 150ms ease-in-out,
				padding 150ms ease-in-out,
				border 150ms ease-in-out,
				box-shadow 150ms ease-in-out,
				text-shadow 150ms ease-in-out,
				icon-shadow 150ms ease-in-out,
				color 50ms ease-in-out;
/*
	transition: 150ms ease-in;
*/
}
NemoPathbarButton:hover {
    background-image: linear-gradient(to right,
                                    alpha(black, 0.20),
                                    transparent
                                    ),
                    linear-gradient(to left,
                                    alpha(white, 0.05),
                                    transparent 30px,
                                    transparent
                                    ),
                    linear-gradient(to bottom,
									alpha(white, 0.07),
									transparent 25%,
									transparent										
									),
					linear-gradient(to bottom,
									@hover_button_bg_a,
									@hover_button_bg_b
                                    );
	box-shadow: 0 1px alpha(white, 0.11) inset,
				0 2px alpha(white, 0.02) inset,
				
				0 -1px alpha(black, 0.32) inset,
				0 -2px alpha(black, 0.08) inset,
				
				-1px 0 alpha(black, 0.24) inset,
				-2px 0 alpha(black, 0.02) inset,
				
				1px 0 alpha(white, 0.06) inset,
				2px 0 alpha(white, 0.02) inset;
	transition: all 150ms ease-in;
}
NemoPathbarButton:active,
NemoPathbarButton:backdrop:active {
/*
	background-color: alpha(white,0.03);
*/
	background-image: linear-gradient(to right,
									alpha(black, 0.18),
                                    transparent
                                    ),
					linear-gradient(to left,
                                    alpha(white, 0.02),
                                    transparent 30px,
                                    transparent
                                    ),
                    linear-gradient(to bottom,
                                    transparent,
                                    transparent 40%,
                                    alpha(white,0.055)
                                    ),
					linear-gradient(to bottom,
/*
									shade(@active_button_bg_a,1.3),
									shade(@active_button_bg_b,1.3) 40%,
									shade(@active_button_bg_c,1.3)
*/
									shade(@alt_hover_active_button_bg_a,1.0),
									shade(@alt_hover_active_button_bg_b,1.0)
									);
    box-shadow: 0 1px alpha(white, 0.09) inset,
				0 2px alpha(white, 0.02) inset,
				
				0 -1px alpha(black, 0.30) inset,
				0 -2px alpha(black, 0.04) inset,
				
				-1px 0 alpha(black, 0.24) inset,
				-2px 0 alpha(black, 0.02) inset,
				
				1px 0 alpha(white, 0.04) inset,
				2px 0 alpha(white, 0.02) inset;
}
NemoPathbarButton:active:hover,
NemoPathbarButton:backdrop:active:hover {
    background-image: linear-gradient(to right,
									alpha(black, 0.26),
                                    transparent
                                    ),
					linear-gradient(to left,
                                    alpha(white, 0.034),
                                    alpha(white, 0.0) 30px,
                                    alpha(white, 0.0)
                                    ),
                    linear-gradient(to bottom,
                                    transparent,
                                    transparent 40%,
                                    alpha(white,0.055)
                                    ),
					linear-gradient(to bottom,
									shade(@alt_hover_active_button_bg_a,1.25),
									shade(@alt_hover_active_button_bg_b,1.25)
									);
	box-shadow: 0 1px alpha(white, 0.11) inset,
				0 2px alpha(white, 0.02) inset,
				
				0 -1px alpha(black, 0.33) inset,
				0 -2px alpha(black, 0.04) inset,
				
				-1px 0 alpha(black, 0.24) inset,
				-2px 0 alpha(black, 0.02) inset,
				
				1px 0 alpha(white, 0.06) inset,
				2px 0 alpha(white, 0.02) inset;
}
NemoPathbarButton:backdrop:hover {
	background-image: linear-gradient(to right,
									alpha(black, 0.10),
                                    transparent
                                    ),
					linear-gradient(to left,
                                    alpha(white, 0.024),
                                    alpha(white, 0.0) 30px,
                                    alpha(white, 0.0)
                                    ),
/*
                    linear-gradient(to bottom,
									alpha(white, 0.07),
									transparent 25%,
									transparent
									),
*/
					-gtk-gradient (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									),
					linear-gradient(to bottom,
									shade(@button_raised_bg_a,2.20),
									shade(@button_raised_bg_b,1.82)
                                    );
	box-shadow: 0 1px alpha(white, 0.05) inset,
				0 2px alpha(white, 0.02) inset,
				
				0 -1px alpha(black, 0.23) inset,
				0 -2px alpha(black, 0.04) inset,
				
				-1px 0 alpha(black, 0.24) inset,
				-2px 0 alpha(black, 0.02) inset,
				
				1px 0 alpha(white, 0.04) inset,
				2px 0 alpha(white, 0.02) inset;
/*
	transition: all 150ms ease-in;
*/
}
/*
NemoPathbarButton:backdrop:active:hover {
    background-image: linear-gradient(to right,
                                    alpha(black, 0.26),
                                    transparent
                                    ),
					linear-gradient(to left,
                                    alpha(white, 0.034),
                                    transparent 30px,
                                    transparent
                                    ),
                    linear-gradient(to bottom,
                                    transparent,
                                    transparent 40%,
                                    alpha(white,0.055)
                                    ),
					-gtk-gradient (radial,
									center 1.2, 1.2,
									center 1.2, -0.2,
									from(transparent),
									to(@hover_button_bg_b)
									);
}
*/
