/// Just two things that appear in the user applet

.user-icon {
    width: 32px;
    height: 32px;
    background-color: colors.$user-menu-icon-background-color;
    border: none;
    border-radius: 5px;
}

.user-label {
    color: colors.$user-menu-label-text-color;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
