@define-color light-aubergine #2c2c2c/*#DED7DB*/;
@define-color super-light-aubergine #006AA8/*#F4F1F3*/;


#featured-star {
    border-color: #7D0126;  /* yellow */
    color: #F0532A;         /* orange */
}

.grid-lines {
    border-color: shade (@light-aubergine, 1.025);
}

#screenshot-preview {
    border-color: #bbbbbb;
    color: #ababab;
    border-width: 2px;
    border-radius: 3px;
}

.backforward-left-button {
    border-radius: 3px 0 0 3px;  
}

.backforward-right-button {
    border-radius: 0 3px 3px 0;
}

.subtle,
#subtle-label {
    -GtkWidget-link-color: shade (@super-light-aubergine, 1.4);
    -GtkWidget-visited-link-color: shade (@super-light-aubergine, 0.9);
    color: #7c7c7c; /* non-link text color */
    text-shadow: 0 1 2 rgba(0,0,0,0.52);
}

.cellrenderer-button {
    border-radius: 3px;
}

.cellrenderer-avgrating-label {
    color: #7b7b7b; /* dark gray */
}

.cellrenderer-avgrating-label:selected {
    color: #dbdbdb;
}

.more-link {
    -GtkButton-inner-border: 0;
    -GtkButton-default-border: 0;
    -GtkButton-default-outside-border: 0;
    color: #ababab;
    background-color: shade (@super-light-aubergine, 0.925);
    border-color: shade (@super-light-aubergine, 0.875);
    text-shadow: 0 1 2 rgba(0,0,0,0.45);
}

.frame-header-title {
    text-shadow: 0 1 2 rgba(0,0,0,0.5);
}

.item-view-separator {
    border-color: shade (@light-aubergine, 0.9);
    border-width: 1px;
}

.light-aubergine-bg {
    background-color: @light-aubergine;
}

.super-light-aubergine-bg {
    background-color: @super-light-aubergine;
    border-color: shade (@super-light-aubergine, 0.975)
}

GtkViewport {
    background-color: transparent;
    border-width: 0;
    padding: 0;
}

GtkTreeView {
    border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-top-color: shade(@theme_base_color, 1.3); /*row separators*/
    border-bottom-color:shade(@theme_base_color, 0.74); /*row separators*/
    background-color: shade(@theme_base_color, 1.1);
}

GtkTreeView:hover {
  color: shade(@theme_base_text_color, 1.06);
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-bottom-color: rgba(0,0,0, 0.22);
  border-top-color: rgb(20,20,20);
  background-image: -gtk-gradient (linear,
				     left top, left bottom,
		from (rgba(0,0,0, 0.24)),
		to (rgba(0,0,0, 0.22)));
}

GtkTreeView:selected {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  background: shade(@theme_bg_color, 1.0);
  border-top-color: shade(@theme_bg_color, 0.96);
  border-bottom-color: shade(@theme_base_color, 0.92);
  color: @theme_selected_fg_color;
  text-shadow: 0 -1 shade (@button_active_text_shadow, 0.84);
}

#toolbar-popup {
    padding: 0;
}
