// Base
@import "base/tools";
@import "base/colors";
@import "base/font";

// Main modules
@import "main-modules/tooltips";
@import "main-modules/widget-modules/1-widgets-INDEX";
@import "main-modules/popup-menus";
@import "main-modules/panel";
@import "main-modules/expo-&-scale";
@import "main-modules/desklet-modules/1-desklets-INDEX";
@import "main-modules/notifications";
@import "main-modules/alt-tab";
@import "main-modules/modal-dialogs";
@import "main-modules/on-screen-keyboard";
@import "main-modules/applet-modules/1-applets-INDEX";
@import "main-modules/hot-corners";
@import "main-modules/OSD";
@import "main-modules/magnifier";
@import "main-modules/tile-previews";

// Third party APPLET modules
@import "third-party-applet-modules/weather";
@import "third-party-applet-modules/system-tray-collapsible";
@import "third-party-applet-modules/configurable-menu";
@import "third-party-applet-modules/slingshot";
@import "third-party-applet-modules/xcenter";
@import "third-party-applet-modules/stopwatch";
@import "third-party-applet-modules/desktop-capture";
@import "third-party-applet-modules/color-picker";
@import "third-party-applet-modules/window-app-grouping";

// Third party DESKLET modules
@import "third-party-desklet-modules/sticky-notes";
@import "third-party-desklet-modules/reddit-reader";
@import "third-party-desklet-modules/calculator";

// Third party EXTENSION modules
@import "third-party-extension-modules/g-tile";
