/* ===================================================================
   ! Notifications
   ===================================================================*/

/*
    The highlighter gets it's opacity from the
    color property
    Tweak default $link color to fix
*/
.url-highlighter {
    link-color: saturate(lighten($link, 12%), 55%);
}

#notification {
    border-image: url("background-assets/popup.svg") 7;
    padding: 1.3em;
    spacing-rows: .5em;
    spacing-columns: 10px;
    width: 34em;
    margin-from-right-edge-of-screen: 6px;
    font-weight: bold;
    font-size: 10pt;
    color: $text-primary;

    CinnamonGenericContainer * {
        font-weight: normal;
        font-size: 9pt;
        color: $text-info;

        &:first-child {
            font-weight: bold;
            font-size: 10pt;
            padding: .2em 0;
            color: $text-primary;
        }

        &:last-child {
            padding: .3em 0;
            color: $text-primary;
        }
    }

    &-body {
        font-weight: normal;
        font-size: 9pt;
        padding: .5em 0;
    }

    &-actions {
        spacing: .2em;
    }

    // min-height hack to prevent image stretching
    &.notification-with-image {
        min-height: 159px;

        .popup-menu-content & {
            min-height: 172px;
        }

        #notification-body {
            padding: 0;
        }
    }
}

.notification-button,
.notification-icon-button {
    @include btn-primary;
}

.notification-button { @include btn-width(wide); }

.notification-icon-button { @include btn-width(small); }

/* ===================================================================
   ! Notification applet
   ===================================================================*/

.notification-applet-padding {
    padding: .6em .8em;

    &:first-child {
        padding-top: 1.3em;
    }

    &:last-child {
        padding-bottom: .8em;
    }
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content {
    #notification {
        border-image: url("background-assets/dark-bg-marked-orange.svg") 7;
        padding: .8em .8em .6em 1em;

        &.multi-line-notification {
            border-image: url("background-assets/dark-bg-marked-blue.svg") 7;
        }

        &.notification-with-image {
            border-image: url("background-assets/dark-bg-marked-green.svg") 7;
            padding-bottom: .8em;
        }
    }
}
