/* ===================================================================
   ! Panel
   ===================================================================*/

@each $v in panel-top, panel-bottom {
    .#{$v} {
        font-size: 9pt;
    }
}

#panel {}

.panel-dummy {
    background-color: rgba($accent-primary, .8);

    &:entered { background-color: $accent-primary; }
}

/* This styles the systray items */
.panel-status-button {
    -natural-hpadding: 4px;
    -minimum-hpadding: 4px;
    padding: 0 2px;
    font-weight: bold;
    color: $text-primary;
    height: 25px;
}

.panel-top .panel-status-button:hover {
    border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .panel-status-button:hover {
    border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.system-status-icon {
    icon-size: 16px;
    padding-left: 0;
    padding-right: 0;
    spacing: 0;
    margin: 0;
}

/* Items in the bottom panel are shifted down by 1px.
   This fixes it. */
.panel-bottom {
    .system-status-icon,
    #appMenuIcon {
        padding-top: 1px;
    }
}

#iconLabelButton {
    color: $text-primary;
    padding: 0;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: $text-primary;

    & #appMenuIcon,
    &:active > #appMenuIcon,
    &:checked > #appMenuIcon,
    &:focus > #appMenuIcon { app-icon-bottom-clip: 0; }

    &:active > .system-status-icon,
    &:checked > .system-status-icon,
    &:focus > .system-status-icon { icon-shadow: rgba(0, 0, 0, 0) 0; }
}

#appMenu,
#appMenuIcon,
.panel-menu {}
