/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.95);
    background-gradient-start: rgba(255,255,255,1);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.9);
    color: rgba(0,0,0,0.9);
    font-size: 8.5pt;
    font-weight: bold;
    padding: 2px 15px 5px;
    text-align: center;
    text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.8);
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {

}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.5);
    text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
    color: rgba(0,0,0,0.8);
}
