/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
  selection-background-color: #88ff66;
  selected-color: black;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .cinnamon-link
{
  color: #88ff66;
}

.lg-dialog .cinnamon-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}
