/* Media Player controls */
.sound-button-container {
    padding-right: 5px;
}

.sound-button {
    width: 22px;
    height: 13px;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 7px;
}

.sound-button:hover {
    border: 1px solid white;
}

.sound-button StIcon {
    color: white; 
    icon-size: 1.4em;
}

.sound-track-infos {
    padding-left: 10px;
}

.sound-track-info {
    padding-bottom: 4px;
}

.sound-track-info StIcon {
    color: white; 
    icon-size: 1em;
}

.sound-track-info StLabel {
    color: white;     
    padding-left: 5px;
}

.sound-track-box {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.sound-volume-menu-item {color: white; 
    padding: .4em 1.75em;    border-radius: 4px;
}

.sound-volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
}

.sound-playback-control {
    padding-top: 5px;
    padding-bottom: 10px;
}

