/* Menu */

.menu-label {
  padding-left: 2px;
}

.menu-favorites-box {
  width: 70%;
  margin: auto;
  padding: 0px;
  border: 1px solid #666; 
  border-radius: 4px; 
}
.menu-favorites-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    border: 1px rgba(255,255,255,0);   
}

.menu-favorites-button:hover {
    color: white;
	 border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
}

.menu-favorites-button:first-child {
    border-radius: 4px 4px 0 0;
    outline-radius: 4px 4px 0 0 ; 
}

.menu-favorites-button:last-child {
    border-radius: 0 0 4px 4px;
    outline-radius: 0 0 4px 4px; 
}

.menu-favorites-button:only-child {
    border-radius: 4px;
    outline-radius: 4px; 
}

.menu-places-box {
  width: 70%;
  margin: auto;
  padding: 10px;
  border: 0px solid #666;  
}
.menu-places-button {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}

.menu-categories-box {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}
.menu-applications-box {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}

.menu-application-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;    
    border: 1px  rgba(255,255,255,0);  
}

.menu-application-button:hover,
.menu-application-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: white;
    border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
    border-radius: 4px;
}

.menu-application-button-label { 
    padding-left: 5px       
}

.menu-category-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    font-weight: normal;  
    border: 1px  rgba(255,255,255,0);  
}

.menu-category-button-greyed {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: #9C9C9C;
    font-style: italic;
}

.menu-category-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: white;
    border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
    border-radius: 4px;
}

.menu-category-button-label { 
    padding-left: 5px;       
}

.menu-category-button-button:hover {
    background-color: #969696;
    border-radius: 8px;
}

.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
}

.menu-selected-app-title {
    color: white;
    font-weight: bold;
    font-size: small;
}

.menu-selected-app-description {
    color: white;
    max-width: 150px;
}

.menu-search-box {
   padding-left: 30px;
   font-size: 10pt;
   border-radius: 4px;
   font-weight: bold; 
   color: rgba(0,0,0,0.8);
   box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

#menu-searchArea {
    padding: 0px 24px;
}

#menu-search-entry {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.2);
    caret-color: rgba(255,255,255,0.8);
    caret-size: 1px;
    color: rgba(0,0,0,0.8);
    font: 8pt;
    width: 250px;
    height: 16px;
    padding: 3px 3px;

}

#menu-search-entry:hover {
        border: 1px solid rgba(0,0,0,0.3);
}

#menu-search-entry:focus {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: outset 0px 1px 6px 0px rgba(255,255,255,0.8);
}

.menu-search-entry-icon {
    icon-size: 1.2em;
}

.menu-context-menu { 
   padding-top: 4px;   padding-bottom: 4px;
   color: white;
   border: 2px solid rgba(255,255,255,0);  
   background-gradient-direction: vertical;
   background-gradient-start: rgba(255,255,255,0.2);
   background-gradient-end: rgba(255,255,255,0.08);
   border-radius: 4px;
}
