/* Modal Dialogs */
.modal-dialog {
    padding: 10px 20px 10px 20px;
    background-color: rgba(0,0,0,0.85);
    box-shadow: inset 0px 3px 3px 0px rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-shadow: rgba(0,0,0,0.8) 0px 1px 0px;
    padding: 10px 20px 10px 20px;
}

.modal-dialog-button-box {
    spacing: 50px;
}

.modal-dialog-button {

    background-gradient-direction: vertical;
    background-gradient-start: #FCFCFC;
    background-gradient-end: #DFDFDF;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.9);
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.9);
    text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
    font-size: 8pt;
    padding: 5px 15px ;
}

.modal-dialog-button:disabled {
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #67C9EC;
    background-gradient-end: #3582D8;
    color: rgba(255,255,255,0.9);
    text-shadow: rgba(0,0,0,0.9) 0px 1px 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);    
}