
/* Overview */

#overview {
    spacing: 20px;
    background-color: rgba(0,0,0,0.2);
}

.workspace-controls {
    visible-width: 15px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border-right:none;
    spacing: 4px;
    padding: 12px 12px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.workspace-thumbnails {
        border-radius: 4px;
        spacing: 3px;
}

.workspace-add-button {
    background-color: #3D95E7;
    box-shadow: inset 1px 0px 0px rgba(255,255,255,0.5);
    color: rgba(255,255,255,1);
    border: 1px;
    border-radius: 6px;    
    border-color: rgba(255,255,255,0);
    height: 200px;
    width: 35px;
}

.workspace-add-button:hover {  
}

.workspace-add-button:pressed,
.workspace-add-button:active {
    background-color: #1e7acf;
    box-shadow: inset 1px 0px 0px rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.7);
    border: 1px;
    border-radius: 6px;    
    border-color: rgba(255,255,255,0);
}

.workspace-close-button {
    background-image: url("img/close-window.svg");  
    height: 34px;  
    width: 34px; 
    -cinnamon-close-overlap: 20px;
}

.workspace-thumbnail-indicator {
    outline: 1px solid rgba(255,255,255,0.89);
        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.7);
        border-radius: 4px;
}

.window-caption {
    -cinnamon-caption-spacing: 10px;
    background-color: rgba(0,0,0,0.85);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: inset 0px 2px 3px 0px rgba(255,255,255,0.15);
    color: #fff;
    font-size: 8.5pt;
    font-weight: bold;
    padding: 4px 15px;
    text-align: center;
    text-shadow: rgba(0,0,0,0.8) 0px 1px 0px;
}

.window-close {
    background-image: url("img/close-window.svg");
    height: 24px;
    width: 24px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
    -cinnamon-close-overlap: 12px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

#viewSelector {
    spacing: 1em;
}

#viewSelectorTabBar {
    padding: 1em;
}

.view-tab-title {
    color: #fff;
    font: 8pt;
    height: 23px;
    font-weight: bold; 
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;

}
.view-tab-title:hover {
    color: rgba(255,255,255,0.8);        
}

.view-tab-title:selected {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    border-radius: 3px;
    text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;
    transition-duration: 200;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("img/corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("img/corner-ripple-rtl.png");
}

/* Overview corner */
#overview-corner {/*
    background-image: url("overview.png");*/
}

#overview-corner:hover {    /*
    background-image:  url("overview-hover.png");*/
}
