
/* Panel */

#panel {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 2.2em;
    box-shadow:  0px 0px 1px 3px rgba(0,0,0,0.4);
    font-size: 9pt;
    font-weight: bold;
}

#panelLeft, #panelCenter {
    spacing: 4px;
    font-weight: bold;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#workspaceSwitcher {
    spacing: 0px;
    padding: 3px;    
}

.workspace-button {
    width: 20px;
    height: 10px;   
    color: #cccccc;    
    transition-duration: 100;
    border: 1px;
    border-color: rgba(255,255,255,0);
    border-radius: 4px;
    padding: 2px;
}

.workspace-button:outlined {
    padding: 2px;    
    background-color: #95c1ea;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.55); 
    color: rgba(255,255,255,1);
    text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;
    border: 1px;
    border-radius: 4px;    
    border-color: rgba(255,255,255,0);
}

.workspace-button:hover {
    width: 20px;
    height: 10px;   
    color: #ffffff;background-color: #95c1ea;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.55); 
    transition-duration: 100;
}

.panel-corner {
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
}


#appMenu {
    spacing: 4px;
    color: rgba(255,255,255,0.98);
}

.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    width: 0px;
    height: 0px;
}

.app-menu-icon {
    /*  width: 16px;
    height: 16px;*/
}
/*
.panel-button {
    -natural-hpadding: 8px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    border-radius: 2px; 
    border: 1px;
    border-color: rgba(255,255,255,0);
    transition-duration: 100;
}

.panel-button:hover {
    color: #fff;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 3px;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
    color: rgba(255,255,255,1);
    text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;
    border: 1px;
    border-radius: 4px;    
    border-color: rgba(255,255,255,0);
}

.panel-button:active:hover,
.panel-button:checked:hover,
.panel-button:focus:hover {
    background-color: #58a9f4;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.55); 
}

.panel-status-button {

    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    color: #ccc;    
    height: 16px;    
    border: 1px;
    border-color: rgba(255,255,255,0);
}

.panel-status-button:hover {
    color: white; 
    icon-shadow: rgba(255,255,255,0.44) 0px -1px 0px;   
    border-radius: 4px;
    border: 1px;
    border-color: rgba(255,255,255,0);
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
    color: white;
    border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
    border-radius: 4px;
    border: 1px;
    border-color: rgba(255,255,255,0);
}

.panel-status-button:active:hover,
.panel-status-button:checked:hover,
.panel-status-button:focus:hover {
    background-color: #58a9f4;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.55);
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: rgba{0,0,0,0.8} 0px -1px 0px;
}
*/
.panel-menu {
    -boxpointer-gap: 4px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    width: 32pt;
    height: 32pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid #bbbbbb;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.5em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
    color: black;
}

.status-chooser-combo.popup-combo-menu {
    background-color: rgba(255,255,255,0.98);
    padding: .4em 0em;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    color: #000;
    font-size: 10.5pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 16px;
}

#panel-launchers-box {
    padding-left: 7px;
}

.panel-launcher {
    margin: 1px;
    padding: 1px;    border: 1px solid rgba(255,255,255,0);
}

.panel-launcher:hover {
    border: 1px solid rgba(255,255,255,0);
    border-radius: 4px;background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
}
