/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 5px;
    -arrow-background-color: rgba(0,0,0,0.8);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(255,255,255,0.4);
    -arrow-base: 15px;
    -arrow-rise: 7px;
    -st-shadow: 0px -1px 2px 0px rgba(255,255,255,0.9);   /* 
    padding: 2px 7px 0px 7px;*/
 }

.popup-menu {
    min-width: 120px;/*
    padding: 5px; */
}
/*
.popup-submenu-menu-item {
    border-radius: 4px;
}*/

.popup-submenu-menu-item:open {
    background-color: #4c4c4c;
}
/*
.popup-submenu-menu-item:open { border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
}

.popup-submenu-menu-item:open:active { border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
}*/

.popup-sub-menu {
    background-color: rgba(0,0,0,0.15);
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow:  inset 0px 1px 0px 0px rgba(0,0,0,0.12);
    border-radius: 0px 0px 4px 4px;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(255,255,255,0.9);
    padding: 1em 0em;
    color: #000;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 0.4em
    padding-left: 0.0em;
    padding-right: 0.0em;
}

.popup-menu-item {
    color: #fff;
    font-size: 8.7pt;
    font-weight: bold;
    padding: 0.5em 1.5em;
}


.popup-menu-item:active {
    color: #fff;
    border: 1px  rgba(0,0,0,0.5);
    background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
    text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
    padding: 0.4em 1.4em; /*This padding is set like that because I'm using a border of 1px, so I needed to decrease it a 0.1em to keep the elements from moving*/
}

.popup-menu-item:first-child {
    border-radius: 5px 5px 0 0;
    outline-radius: 5px 5px 0 0 ; 
}

.popup-menu-item:last-child {
    border-radius: 0 0 5px 5px;
    outline-radius: 0 0 5px 5px; 
}

.popup-menu-item:only-child {
    border-radius: 5px;
    outline-radius: 5px; 
}

.popup-menu-item:insensitive {
    color: #9f9f9f;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,1);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0.1em; 
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1.2em;
    min-width: 15em;
    -slider-height: 5px;
    -slider-background-color: #000;
    -slider-border-color: rgba(0,0,0,0.4);
    -slider-active-background-color: #3D95E7;
    -slider-active-border-color: rgba(0,0,0,0);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.6em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.20em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 55px;
    height: 20px;
}

.toggle-switch-us {
    background-image: url("img/off.png");
}
.toggle-switch-us:checked {
    background-image: url("img/on.png");
}

.toggle-switch-intl {
    background-image: url("img/off.png");
}
.toggle-switch-intl:checked {
    background-image: url("img/on.png");
}

.nm-menu-item-icons {
    spacing: .2em;
}
