/* windowlist buttons */

.window-list-box {
    spacing: 3px;
    padding-left: 0px;/*
    padding-top: 1px;
    padding-bottom: 1px;  */
}

.window-list-item-box {
    color: #fff;    
    border-radius: 2px;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {     
    color: #fff;
   background-color: #3D95E7;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
}

.window-list-item-box:active:hover,
.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover {
    color: #fff;
    background-color: #58a9f4;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.54); 
}

.window-list-item-box:hover  {     
    color: #fff;/*
        text-shadow: rgba(255,255,255,0.6) 0px 1px 3px;*/
    background-color: #58a9f4;
    box-shadow: inset 0px -1px 0px rgba(255,255,255,0.54); 
}

.window-list-item-label {
    font-weight: bold;
    width: 15em;
    min-width: 5px;
}

/* windowlist buttons tooltip */
.wpanel-tooltip {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.72);
    background-gradient-end: rgba(0,0,0,0.42);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25);
    border: 1px solid rgba(0,0,0,0.65);
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

