/* Copyright 2011, Red Hat, Inc.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* Login Dialog */

.login-dialog-title {
    font-size: 14pt;
    font-weight: bold;
    color: #383838;
    text-shadow: white 0px 1px 1px;    
    padding-bottom: 2em;
}

.login-dialog {
    border-radius: 8px;
    min-height: 150px;
    max-height: 700px;
    min-width: 350px;
}

.login-dialog-prompt-fingerprint-message {
    font-size: 10.5pt;
}

.login-dialog-user-list-view {
    -st-vfade-offset: 1em;
}

.login-dialog-user-list {
    spacing: 12px;
}

.login-dialog-user-list-item {
    color: #383838;
    text-shadow: white 0px 1px 1px;    
}

.login-dialog-user-list-item:ltr {
    padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
    padding-left: 1em;
}

.login-dialog-user-list-item .login-dialog-user-list-item-name {
    font-size: 20pt;
    padding-left: 1em;
    color: #383838;
    text-shadow: white 0px 1px 1px;    
}

.login-dialog-user-list-item:hover .login-dialog-user-list-item-name {
    color: #4a90d9;
    text-shadow: white 0px 1px 1px;
}

.login-dialog-user-list-item:focus .login-dialog-user-list-item-name {
    color: #4a90d9;
    text-shadow: white 0px 1px 1px;
}

.login-dialog-user-list-item-vertical-layout {
    spacing: 2px;
}

.login-dialog-user-list-item .login-dialog-user-list-item-focus-bin {
    background-color: rgba(0,0,0,0.0);
    height: 2px;
}

.login-dialog-user-list-item:focus .login-dialog-user-list-item-focus-bin {
    color: #4a90d9;
    text-shadow: white 0px 1px 1px;
}

.login-dialog-user-list-item-icon {
    border: 0px solid #8b8b8b;
    border-radius: 8px;
    width: 64px;
    height: 64px;
}

.login-dialog-not-listed-button {
    padding-top: 2em;
}
.login-dialog-not-listed-label {
    font-size: 14pt;
    font-weight: bold;
    color: #383838;
    text-shadow: white 0px 1px 1px;    
}

.login-dialog-prompt-layout {
    padding-bottom: 32px;
}
.login-dialog-prompt-label {
    color: #383838;
    text-shadow: white 0px 1px 1px;    
    font-size: 20pt;
}

.login-dialog-prompt-entry {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #383838;
    background-color: #DEDEDE;
    box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,0.25);    
    caret-color: #383838;
    caret-size: 1px;
    width: 15em;
}

.login-dialog-session-list {
    color: #383838;
    font-size: 10.5pt;
}

.login-dialog-session-list:focus {
    color: #383838;
    font-size: 10.5pt;
}

.login-dialog-session-list-button {
    padding: 4px;
}

.login-dialog-session-list-button:focus {
    color: #FFF;
}

.login-dialog-session-list-button:active {
    color: #FFF;
}

.login-dialog-session-list-button:hover {
    font-weight: bold;
}

.login-dialog-session-list-scroll-view {
    background-gradient-start: rgba(38,38,38,1);
    background-gradient-end: rgba(38,38,38,1);
    background-gradient-direction: vertical;
    color: #FFF;
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.9);
    border-radius: 4px;
    border: 1px solid rgba(80,80,80,1.0);
    padding: .5em;
}

.login-dialog-session-list-item:focus {
/*    background-color: #4a90d9; */
    background-gradient-direction: vertical;
    background-gradient-start: #6eabec;
    background-gradient-end: #3880ca;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);    
}

.login-dialog-session-list-triangle {
    padding-right: .5em;
}

.login-dialog-session-list-item-box {
    spacing: .25em;
}

.login-dialog-session-list-item-dot {
    width: .75em;
    height: .75em;
}
