// sound@cinnamon.org

@require "colors.styl"

.sound-player
	padding: 0

	StButton
		width: 22px
		height: 13px
		padding: 6px
		color: #aaa
		border-radius: 2px


		&:small
			width: 16px
			height: 8px
			padding: 1px

			StIcon
				icon-size: 1em

		&:hover, &:active
			color: #fff


		StIcon
			icon-size: 1.5em

	.slider
		height: 0.5em
		-slider-height: 0.5em
		-slider-background-color: #3c3c3c
		-slider-border-color: rgba(0,0,0,0)
		-slider-active-background-color: #a5a5a5
		-slider-active-border-color: rgba(0,0,0,0)
		-slider-border-width: 0px
		-slider-handle-radius: 0px

	StBoxLayout
		spacing: 0.5em

	& > StBoxLayout
		padding: 5px

		&:first-child
			padding: 0.2em 1.2em 1em 1.2em
			spacing: 0.6em
			font-weight: bold

			StButton:small > StIcon
				icon-size: 1.25em


.sound-player-overlay
	width: 300px
	height: 70px
	padding: 15px
	spacing: 0.5em
	background: rgba(0,0,0,0.8)
	color: #FFF

	StBoxLayout
		padding-top: 2px


.sound-player-generic-coverart
	background: $dark
