@import "2-applet-GLOBALS";
@import "calendar";
@import "window-list";
@import "sound";
@import "workspace-switcher";
@import "panel-launcher";
@import "user-applet";
@import "menu";
@import "windows-quick-list";
