/* ===================================================================
   ! Window Quicky List applet
   ===================================================================*/

.window-sticky {
    color: $text-info;
    font-weight: bold;

    .popup-menu-item:active & {
        color: $text-active;
    }
}
