/* ===================================================================
   ! Slingshot
   ===================================================================*/

/* Use to override the '.popup-menu-content' selector */
.slingshot {
    padding: 0;
}

/* Separator */
.slingshot .separator {
    background-color: rgba(255, 255, 255, 0);
}

/* Entry */
.slingshot .entry {
    background-gradient-direction: none;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    border-radius: 0;

    height: 25px;

    &:focus {
        background-gradient-direction: none;
        background-gradient-start: transparent;
        background-gradient-end: transparent;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        box-shadow: none;
        border-radius: 0;
        color: $text-primary;

        height: 25px;
    }
}

/* Paginator */
.slingshot .button {
    border-image: url("button-assets//button.svg") 7;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 8pt;
    padding: 8px 0;

    &:hover {
        border-image: url("button-assets//button-hover.svg") 7;
        background-gradient-direction: none;
        background-color: rgba(0, 0, 0, 0);
    }

    &:active {
        border-image: url("button-assets//button-pressed.svg") 7;
        background-gradient-direction: none;
        background-color: rgba(0, 0, 0, 0);
    }

    &:checked {
        border-image: url("button-assets//button-focused.svg") 7;
        background-gradient-direction: none;
        background-color: rgba(0, 0, 0, 0);
        color: $text-active;
    }

    &:hover:checked,
    &:hover:active {
        background-gradient-direction: none;
        background-color: rgba(0, 0, 0, 0);
    }
}

/* Applications */
.slingshot .button.app {
    border-image: none;
    border-width: 0;
    font-size: 9pt;
    padding: 0;

    &:hover {
        border-image: url("background-assets/hover.svg") 7;
        background-color: rgba(0, 0, 0, 0);
        color: $text-active;
    }

    &:focus {
        border-image: url("background-assets/hover.svg") 7;
        background-color: rgba(0, 0, 0, 0);
        color: $text-active;
    }
}

/* Categories */
.slingshot .sidebar {
    padding-left: 8px;
    padding-right: 0;

    .button {
        border-image: none;
        padding: 5px;
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-color: rgba(0, 0, 0, 0);
        font-size: 9pt;
        padding-top: 8px;
        padding-bottom: 8px;
        color: $text-secondary;
        font-weight: bold;

        &:hover {
            border-image: url("background-assets/hover.svg") 7;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            color: $text-active;
        }

        &:active,
        &:hover:active {
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
            color: $text-active;
        }

        &:checked {
            border-image: url("misc-assets/highlighted-mirrored.svg") 7;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            color: $text-active;
        }

        &:hover:checked {
            border-image: url("background-assets/hover.svg") 7;
            color: $text-active;
        }
    }
}

/* Linked buttons */

/* Middle button */
.slingshot .linked .button {
    border-image: url("button-assets//linked-button-middle.svg") 9;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: $icon-primary;

    &:hover {
        border-image: url("button-assets//linked-button-middle-hover.svg") 9;
    }

    &:active {
        border-image: url("button-assets//linked-button-middle-pressed.svg") 9;
    }

    &:checked {
        border-image: url("button-assets//linked-button-middle-pressed.svg") 9;
        color: $icon-active;
    }
}

/* Leftmost button */
.slingshot .linked .button:first-child {
    border-image: url("button-assets//linked-button-left.svg") 9;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 0;
    padding: 6px;
    color: $icon-primary;

    &:hover {
        border-image: url("button-assets//linked-button-left-hover.svg") 9;
    }

    &:active {
        border-image: url("button-assets//linked-button-left-pressed.svg") 9;
    }

    &:checked {
        border-image: url("button-assets//linked-button-left-checked.svg") 9;
        color: $icon-active;
    }
}

/* Rightmost button */
.slingshot .linked .button:last-child {
    border-image: url("button-assets//linked-button-right.svg") 9;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0);
    border-right-width: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 6px;
    color: $icon-primary;

    &:hover {
        border-image: url("button-assets//linked-button-right-hover.svg") 9;
    }

    &:active,
    &:active:hover {
        border-image: url("button-assets//linked-button-right-pressed.svg") 9;
        border-right-width: 0;
    }

    &:checked {
        border-image: url("button-assets//linked-button-right-checked.svg") 9;
        color: $icon-active;
    }
}

/* Linked single button */
.slingshot .linked .button:only-child {
    border-image: url("button-assets//button.svg") 9;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
    color: $icon-primary;

    &:hover {
        border-image: url("button-assets//button-hover.svg") 9;
    }

    &:active {
        border-image: url("button-assets//button-pressed.svg") 9;
    }

    &:checked {
        border-image: url("button-assets//button-pressed.svg") 9;
        color: $icon-active;
    }
}
