# Google Chrome/Chromium theming
style "chrome-gtk-frame"
{
    ChromeGtkFrame::frame-color = "#393F3F"
    ChromeGtkFrame::inactive-frame-color = "#393F3F"

    ChromeGtkFrame::frame-gradient-size = 16
    ChromeGtkFrame::frame-gradient-color = "#323232"

    ChromeGtkFrame::incognito-frame-color = "#282828"
    ChromeGtkFrame::incognito-inactive-frame-color = "#282828"

    ChromeGtkFrame::incognito-frame-gradient-size = 16
    ChromeGtkFrame::incognito-frame-gradient-color = "#323232"

    ChromeGtkFrame::scrollbar-trough-color = @bg_color
    ChromeGtkFrame::scrollbar-slider-normal-color = shade (0.7, @bg_color)
    ChromeGtkFrame::scrollbar-slider-prelight-color = @selected_bg_color

}
class "ChromeGtkFrame" style "chrome-gtk-frame"
