# Menubar [Dark]
style "murrine-menubar" {

    bg[NORMAL]          = "#393f3f"
    bg[INSENSITIVE]     = "#181818"
    base[NORMAL]        = "#393f3f"
    base[INSENSITIVE]   = "#181818"
    fg[NORMAL]          = "#ffffff"
    fg[INSENSITIVE]     = "#484848"
    fg[SELECTED]        = "#FFFFFF"
    text[NORMAL]        = "#ffffff"
    text[INSENSITIVE]   = "#484848"

  engine "murrine" {
    roundness	 = 3
  }
}

widget_class "*<GtkMenuBar>*"                  style "murrine-menubar"
