/* ===================================================================
   ! Desklets
   ===================================================================*/

.desklet {
    color: $text-primary;

    &-with-borders {
        border-image: url("background-assets/popup.svg") 9;
        color: $text-primary;
        font-weight: bold;
        padding: 5px;
    }

    &-with-borders-and-header {
        border-image: url("background-assets/desklet-body.svg") 9;
        color: $text-primary;
        font-weight: bold;
        padding: 5px;
    }

    &-header {
        border-image: url("background-assets/desklet-header.svg") 11;
        font-size: 10pt;
        font-weight: bold;
        text-shadow: none;
        color: $text-primary;
        padding: 8px 5px;
    }

    &-drag-placeholder {
        border: 0 solid rgba(0, 0, 0, 0);
        border-radius: 0;
        background: none;
    }
}
