/* ===================================================================
   ! Calculator
   ===================================================================*/

.calc-mainBox {
    padding: 0;
}

.calc-displayArea {
    padding: 0;
}

.calc-displayWindow {
    border-image: url("widget-assets/entry-focused.svg") 7;;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2.4em;

    &-rpn {
        border-image: url("widget-assets/entry-focused.svg") 7;
        padding: 8px;
        padding-top: 4px;
    }
}

.calc-displayText-primary {
    font-size: 32pt;
    color: $text-primary;
    text-align: right;
}

.calc-displayText-secondary {
    font-size: 10pt;
    color: $text-info;
    text-align: right;
    padding-bottom: 8px;
}

.calc-displayText-operation {
    color: $text-info;
}

.calc-displayText-status {
    font-size: 10pt;
    color: $text-secondary;
}

.calc-displayText-rpn {
    color: $text-primary;
    font-size: 10pt;
}

.calc-stackArea {
    height: 85px;
    padding-top: .8em;
    padding-bottom: 0;
}

.calc-navigation-box {
    padding: 0 0 0 8px;
    width: 16px;
    border: none;
}

.calc-navigation-icon {
    color: $icon-primary;
    icon-size: 16px;
}

.calc-navigation-button {
    border: none;

    &:hover .calc-navigation-icon {
        color: $accent-primary;
    }
}

.calc-button {
    @include btn-primary;
    @include size(3.4em, 2.8em);

    &-padding {
        padding: .2em;
    }
}
