@require "clock.styl"

// desklet.js
// common to all desklets

.desklet
	color: #fff	

	&:highlight, &:highlight-with-borders, &:highlight-with-borders-and-header
		background-color: #aa5555


.desklet-with-borders
	border: 1px solid $medium
	background-color: rgba(0, 0, 0, 0.7)
	color: #fff
	border-radius: 3px


.desklet-with-borders-and-header
	border: 2px solid #a5a5a5
	background-color: rgba(0, 0, 0, 0.7)
	color: #fff
	border-top: 1px
	border-radius-bottomleft: 12px
	border-radius-bottomright: 12px


.desklet-header
	border-radius: 3px
	font-size: 10.5pt
	border: 1px solid $medium
	border-bottom: 0px
	background-color: rgba(0, 0, 0, 0.7)
	color: #fff
	padding: 6px


.desklet-drag-placeholder
	border: 1px solid #20aa00
	background-color: rgba(109,170, 0, 0.3)

