.nautilus-desktop.nautilus-canvas-item {
    color: #ffffff;
    text-shadow: 1px 1px alpha (#252525, 0.75);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
text-shadow: none;
}

.nemo-desktop.nemo-canvas-item {
    color: #ffffff;
    text-shadow: 1px 1px alpha (#252525, 0.75);
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
text-shadow: none;
}
