style "button" = "murrine-button"
{
  
	xthickness = 4
	ythickness = 5

  engine "pixmap"
  {
    image
    {
      function			= BOX
      detail				= "buttondefault"
      recolorable		= TRUE
      file				= "images/buttons/button-default.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE      
    }   
    image
    {
      function			= BOX
      state				= PRELIGHT
      recolorable		= TRUE
      file				= "images/buttons/button-prelight.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }
    image
    {
      function			= BOX
      state				= ACTIVE
      file				= "images/buttons/button-pressed.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }	
    image 
   {
     function			= BOX
     state				= INSENSITIVE
     file					= "images/buttons/button-insensitive.png"
     border			= { 5, 5, 5, 5 }
     stretch			= TRUE
    }
    image 
    {
      function			= BOX
      file				= "images/buttons/button-normal.png"		
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
     }	
  }
}

style "tool-button" = "murrine-button"
{
  
	xthickness = 4
	ythickness = 5

  engine "pixmap"
  {
    image
    {
      function			= BOX
      state				= PRELIGHT
      recolorable		= TRUE
      file				= "images/buttons/tool-button-hover.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }
    image
    {
      function			= BOX
      state				= ACTIVE
      file				= "images/buttons/tool-button-active.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }	
	image
{
	  function			= BOX
	  shadow			= IN
	  state				= PRELIGHT
	  overlay_file		= "images/buttons/tool-button-active-hover.png"
	  overlay_border	= { 5 ,5 , 5 ,5}
	  overlay_stretch	= TRUE
	}    
    image 
   {
     function			= BOX
     state				= INSENSITIVE
     file					= "images/buttons/tool-button-insensitive.png"
     border			= { 5, 5, 5, 5 }
     stretch			= TRUE
    }
    image 
    {
      function			= BOX
      file				= "images/buttons/tool-button.png"		
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
     }	
  }
}

style "toolbuttons" = "murrine-button"
{
    xthickness 		= 1
    ythickness 		= 0

    GtkWidget::focus_padding = 0
   engine "pixmap"
  {
    image
    {
      function			= BOX
      state				= PRELIGHT
      recolorable		= TRUE
      file				= "images/buttons/tool-button-hover.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }
    image
    {
      function			= BOX
      state				= ACTIVE
      file				= "images/buttons/tool-button-active.png"
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
    }	
	image
{
	  function			= BOX
	  shadow			= IN
	  state				= PRELIGHT
	  overlay_file		= "images/buttons/tool-button-active-hover.png"
	  overlay_border	= { 5 ,5 , 5 ,5}
	  overlay_stretch	= TRUE
	}    
    image 
   {
     function			= BOX
     state				= INSENSITIVE
     file					= "images/buttons/tool-button-insensitive.png"
     border			= { 5, 5, 5, 5 }
     stretch			= TRUE
    }
    image 
    {
      function			= BOX
      file				= "images/buttons/tool-button.png"		
      border			= { 5, 5, 5, 5 }
      stretch			= TRUE
     }	
  }
}
class "GtkButton"	style "button"
#widget_class "*GtkToggleButton*"   style "button"
widget_class "*Tool*GtkButton" style "tool-button"
widget_class "*Tool*GtkToggleButton" style "toolbuttons"

style "murrine-treeview-header" = "murrine-button" {
	xthickness = 2
	ythickness = 0
	
	bg[NORMAL]	= "#2c2c2c" # Color for treeview headers.
	bg[PRELIGHT]	= shade (0.86, "#2c2c2c") # Color for treeview header prelight.
	bg[ACTIVE]	= shade (0.76, "#2c2c2c") # Color for pressed-treeview.
  	
	engine "murrine" {
		roundness		= 0  # This makes treeview progressbars square.
		contrast		= .8
		lightborder_shade	= 1.9
		border_shades		= { 1.1, 0.46 }
		gradient_shades		= {1.0,0.96,0.92,0.86}
		glowstyle		= 0			# 0,1,2,3,4
		glow_shade		= 1.08
		textstyle = 1
	}
}

# Treeview header
widget_class "*.<GtkTreeView>.<GtkButton>"	style "murrine-treeview-header"
widget_class "*.<GtkCTree>.<GtkButton>"		style "murrine-treeview-header"
widget_class "*.<GtkList>.<GtkButton>"		style "murrine-treeview-header"
widget_class "*.<GtkCList>.<GtkButton>"		style "murrine-treeview-header"
