#############################
#            ***            #
#     ***  MURRINE  ***     #
#            ***            #
#############################
style "murrine-progressbar"  {
  xthickness   = 1
  ythickness   = 1
  font_name    = "Bold"

  fg[PRELIGHT] = shade(1.30, @selected_fg_color)
  bg[NORMAL] = @base_color
	bg[ACTIVE]	= shade (1.5, "#dbdbdb")
	bg[SELECTED]	= mix (0.84, @selected_bg_color, "#262626")
	bg[INSENSITIVE]	= "#797979"

	engine "murrine" {
		progressbarstyle	= 1			# 0 = nothing, 1 = stripes, 2 = lines
		glazestyle		= 0			# 0 = flat highlight, 1 = curved highlight, 2 = concave style, 3 = top curved highlight, 4 = beryl highlight
		glowstyle		= 0			# 0,1,2,3,4
		glow_shade		= 1.1
		highlight_shade		= 1.0			# set highlight amount for buttons or widgets
		reliefstyle		= 1			# 0 = flat, 1 = inset, 2 = shadow, 3 = shadow with gradient, 4 = stronger shadow with gradient
		rgba			= FALSE			# FALSE = disabled, TRUE = enabled
		shadow_shades		= {0.5, 0.0}		# gradient for shadows.		
		textstyle		= 1			# 0 = normal text, 1 = inset
		contrast		= 1.6
		lightborder_shade	= 1.2
		trough_shades		= {0.1, 0.12}
		gradient_shades		= {1.05, 1.02, 0.99, 0.96}
		border_shades		= { 1.1, 0.8 }
		roundness		= 0
		trough_border_shades = {0.9, 1.2}
	}
}

class "GtkProgressBar"  style "murrine-progressbar"

#############################
#          BUTTONS          #
#############################
style "murrine-button" = "button-label" {
	GtkWidget	:: focus-line-width		=0 #1+ adds selected borders
  xthickness = 3
  ythickness = 3
  bg[NORMAL]   = "#1b1b1b"
  bg[ACTIVE]   = "#101010"
  bg[PRELIGHT] = "#161616"
  bg[SELECTED]      =  @selected_bg_color
	
	engine "equinox" 
	{
	
	}
}

#class "GtkButton"       style "murrine-button"

style "notebook-button" = "button-label" {

  xthickness = 3
  ythickness = 3
  bg[NORMAL]   = "#59708d"
  bg[ACTIVE]   = "#2c3745"
  bg[PRELIGHT] = "#6c84a3"
  bg[SELECTED]      =  @selected_bg_color
	
	engine "equinox" 
	{
	
	}
}

#widget_class "*<GtkNotebook>*<GtkButton>"       style "notebook-button"

style "button-label" {
    fg[NORMAL]       	=  "#dbdbdb"
  fg[ACTIVE]       	=  "#ffffff" # inactive tab text
  fg[PRELIGHT]     	=  shade(1.05, "#dbdbdb")
  fg[SELECTED]     	=  @selected_fg_color

  }
  
style "button-label-n" {
    fg[NORMAL]       	=  "#dbdbdb"
  fg[ACTIVE]       	=  "#dbdbdb" # inactive tab text
  fg[PRELIGHT]     	=  shade(1.05, "#dbdbdb")
  fg[SELECTED]     	=  @selected_fg_color

  }

widget_class "*<GtkButton>*<GtkLabel>"       style "button-label"
widget_class "*<GtkNotebook>*<GtkLabel>"       style "button-label-n"

#################
style "ekiga-treeview" {
 
  text[NORMAL]       	=  "#006AA8"
	GtkTreeView::odd_row_color	= "#F2E7CB"
	GtkTreeView::even_row_color	= "#F2E7CB"

  	engine "murrine" { roundness = 0 } # This makes treeview progressbars square.
}

widget_class "Ekiga*.<GtkTreeView>*"			style "ekiga-treeview"
