style "murrine-scrollbar" 
{
	GtkScrollbar	::has-backward-stepper		= 1 
	GtkScrollbar	::has-forward-stepper		= 1
	GtkScrollbar	::min-slider-length		= 42
# v was 11 V
  	GtkRange::stepper_size = 13
	GtkScrollbar	::slider-width			= 13  
	GtkScrollbar	::trough-border			= 1
	GtkScrollbar	::activate-slider		= 1
	GtkRange::stepper_spacing = 1
	
#	bg[NORMAL]                      = shade (0.01, @bg_color)
#	bg[SELECTED]                    = shade (0.6, @base_color)
#	bg[ACTIVE]                      = shade (0.8, @bg_color)
#	bg[PRELIGHT]                    = shade (0.8, @bg_color)
	
	bg[NORMAL]                      = shade (0.90, @bg_color)
	bg[SELECTED]                    = shade (1.0, @base_color)
	bg[ACTIVE]                      = shade (1.3, @bg_color)
	bg[PRELIGHT]                    = shade (1.3, @bg_color)
	
	engine "pixmap"
{

	image
	{
		function	= BOX
		recolorable	= TRUE
		detail		= "trough"
		file		= "/images/trough-h.svg"
		border		= { 6 , 6 , 5 , 5 }
		stretch		= TRUE
		orientation	= HORIZONTAL
	}

	image
	{
		function	= BOX
		recolorable	= TRUE
		detail		= "trough"
		file		= "/images/trough.svg"
		border		= { 5 , 5 , 6 , 6 }
		stretch		= TRUE
		orientation	= VERTICAL
	}


	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/slider-h.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		#overlay_file	= "/images/scroll-handle-h.svg"
		#overlay_stretch	= FALSE
		#orientation	= HORIZONTAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/slider-h-hover.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		#overlay_file	= "/images/scroll-handle-h.svg"
		#overlay_stretch	= FALSE
		#orientation	= HORIZONTAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/slider-h-active.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		#overlay_file	= "/images/scroll-handle-h.svg"
		#overlay_stretch	= FALSE
		#orientation	= HORIZONTAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/slider-h-insensitive.svg"
		border		= {4,4,4,4 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		#overlay_file	= "/images/scroll-handle-h.svg"
		#overlay_stretch	= FALSE
		#orientation	= HORIZONTAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/slider-v.svg"
		border		={ 4,4,4,4 }
		stretch		= TRUE
		orientation	= VERTICAL
		#overlay_file	= "/images/scroll-handle-v.svg"
		#overlay_stretch	= FALSE
		#orientation	= VERTICAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/slider-v-hover.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= VERTICAL
		#overlay_file	= "/images/scroll-handle-v.svg"
		#overlay_stretch	= FALSE
		#orientation	= VERTICAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/slider-v-active.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= VERTICAL
		#overlay_file	= "/images/scroll-handle-v.svg"
		#overlay_stretch	= FALSE
		#orientation	= VERTICAL
		
	}

	image
	{
		function	= SLIDER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/slider-v-insensitive.svg"
		border		= { 4,4,4,4 }
		stretch		= TRUE
		orientation	= VERTICAL
		#overlay_file	= "/images/scroll-handle-v.svg"
		#overlay_stretch	= FALSE
		#orientation	= VERTICAL
		
	}



	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/arrow-up.svg"
		stretch		= TRUE
		arrow_direction	= UP

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/arrow-up-hover.svg"
		stretch		= TRUE
		arrow_direction	= UP

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/arrow-up-active.svg"
		stretch		= TRUE
		arrow_direction	= UP

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/arrow-up-insensitive.svg"
		stretch		= TRUE
		arrow_direction	= UP

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/arrow-down.svg"
		stretch		= TRUE
		arrow_direction	= DOWN

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/arrow-down-hover.svg"
		stretch		= TRUE
		arrow_direction	= DOWN

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/arrow-down-active.svg"
		stretch		= TRUE
		arrow_direction	= DOWN

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/arrow-down-insensitive.svg"
		stretch		= TRUE
		arrow_direction	= DOWN

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/arrow-left.svg"
		stretch		= TRUE
		arrow_direction	= LEFT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/arrow-left-hover.svg"
		stretch		= TRUE
		arrow_direction	= LEFT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/arrow-left-active.svg"
		stretch		= TRUE
		arrow_direction	= LEFT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/arrow-left-insensitive.svg"
		stretch		= TRUE
		arrow_direction	= LEFT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= NORMAL
		file		= "/images/arrow-right.svg"
		stretch		= TRUE
		arrow_direction	= RIGHT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/images/arrow-right-hover.svg"
		stretch		= TRUE
		arrow_direction	= RIGHT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "/images/arrow-right-active.svg"
		stretch		= TRUE
		arrow_direction	= RIGHT

		
	}

	image
	{
		function	= STEPPER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "/images/arrow-right-insensitive.svg"
		stretch		= TRUE
		arrow_direction	= RIGHT

		
	}
	image
{
            function        = BOX
            recolorable     = TRUE
            state           = NORMAL
            file            = "/images/null.png"
            border          = { 0, 0, 0, 0 }
            stretch         = TRUE
        }

        image 
	{
            function        = BOX
            recolorable     = TRUE
            state           = PRELIGHT
            file            = "/images/null.png"
            border          = { 0, 0, 0, 0 }
            stretch         = TRUE
	    orientation     = HORIZONTAL
        }

        image 
	{
            function        = BOX
            recolorable     = TRUE
            state           = ACTIVE
            file            = "/images/null.png"
            border          = { 0, 0, 0, 0 }
            stretch         = TRUE
        }

	image 
	{
            function        = BOX
            recolorable     = TRUE
            state           = INSENSITIVE
            file            = "/images/null.png"
            border          = { 0, 0, 0, 0 }
            stretch         = TRUE
        }

}
}
class "GtkScrollbar" style "murrine-scrollbar"
class "GtkHScrollbar" style "murrine-scrollbar"
class "GtkVScrollbar" style "murrine-scrollbar"
