/* *************************************************************************************************
   GTK NAMED COLORS
   ----------------
   use responsibly! 
************************************************************************************************* */


/* ****************************** A C C E N T   C O L O U R S *********************************** */

@define-color    theme_accent_color                    #0088ff;

@define-color    theme_selected_bg_color               @theme_accent_color;
@define-color    theme_selected_fg_color               #ffffff;
@define-color    theme_unfocused_selected_bg_color     @theme_accent_color;

/* sidebar colours */
@define-color    sidebar_bg                            #384147;
@define-color    sidebar_hovering                      #999999;
@define-color    sidebar_fg                            #ffffff;

@define-color    theme_fg_color_sel                    #0088dd;

/* view */
@define-color    view_fg_sel                           #003361;
@define-color    view_border_sel                       #0062A1;
@define-color    view_bg_acceleditor                   #0066cc;

/* entry */
@define-color    entry_border_act                      #0060ff;
@define-color    entry_border_act_shad                 #009fff;
@define-color    entry_tag_a                           #005Cb9;
@define-color    entry_tag_b                           #0057b6;
@define-color    entry_tag_c                           #0055b3;
@define-color    entry_tag_border                      #003399;

/* buttons */
@define-color    button_fg_sugg_color                  #f7f7f7;
@define-color    button_bg_sugg_a                      #357ac1;
@define-color    button_bg_sugg_b                      #316dac;
@define-color    button_bg_sugg_c                      #2c6197;
@define-color    button_bg_sugg_a_hov                  #4190e4;
@define-color    button_bg_sugg_b_hov                  #3477bd;
@define-color    button_bg_sugg_c_hov                  #316dac;
@define-color    button_bg_sugg_a_act                  #114d8c;
@define-color    button_bg_sugg_b_act                  #14579d;
@define-color    button_bg_sugg_c_act                  #2170c4;
@define-color    button_bg_sugg_flt                    #1072b1;
@define-color    button_border_sugg                    #104371;
@define-color    button_fg_sugg_shadow                 #000000;

/* progress bar */
@define-color    prgbar_bg_a                           #1f82fd;
@define-color    prgbar_bg_b                           #1c7ffa;
@define-color    prgbar_trough                         #969696;
@define-color    prgbar_trough_a                       #eeeeee;
@define-color    prgbar_trough_b                       #ffffff;
@define-color    prgbar_border                         #606060;

/* scale slider */
@define-color    slider_bg_a                           @theme_accent_color;
@define-color    slider_bg_b                           @theme_accent_color;
@define-color    slider_bdr                            @theme_accent_color;
@define-color    slider_fg_shadow                      @shadow_color;
@define-color    slider_bg_a_hov                       #0099FF;
@define-color    slider_bg_b_hov                       #0099FF;
@define-color    slider_bdr_hov                        #0099FF;
@define-color    slider_bg_act                         #0099FF;

/* infobar */
@define-color    infobar_bg_a                          #0069ce;
@define-color    infobar_bg_b                          #00458e;
@define-color    infobar_border                        #004979;
@define-color    infobar_button_fg                     #f7f7f7;
@define-color    infobar_button_fg_dis                 #427aca;
@define-color    infobar_button_bg_a                   #0069ce;
@define-color    infobar_button_bg_b                   #00458e;
@define-color    infobar_button_bg_act_a               #00357e;
@define-color    infobar_button_bg_act_b               #00458e;
@define-color    infobar_button_border                 #003361;

@define-color    terminal_fg                           #729FCF;

/* ****************************** C O M M O N   C O L O U R S *********************************** */

/* text widgets and the like base background color */
@define-color    theme_base_color                      #d5d5d5;

@define-color    box_shadow                            #ffffff;   

/* widget background color */
@define-color    theme_bg_color                        #c5c5c5;
@define-color    theme_bg_color_hov                    #b0b0b0;
@define-color    theme_bg_color_from                   #454c4c;
@define-color    theme_bg_color_to                     #2d3232;
@define-color    popover                               @theme_bg_color;
@define-color    shadow_color                          #cccccc;

/* widget text/foreground color */
@define-color    theme_fg_color                        #212121;
@define-color    theme_text_color                      @theme_fg_color;
@define-color    theme_fg_color_sub                    #909090;
@define-color    theme_fg_color_dis                    #858786;

@define-color    inline_bg                             #dedede;

/* sidebar colours */
@define-color    assistant_sidebar_bg                  #3e4243;
@define-color    assistant_sidebar_bg_lbl              #5fa24a;
@define-color    assistant_sidebar_fg                  #ffffff;

/* view */
@define-color    view_bg                               #f3f3f3;
@define-color    view_bg_hover                         #e0e0e0;
@define-color    view_fg                               #212121;
@define-color    view_fg_dis                           #566164;
@define-color    view_fg_hov                           #212121;
@define-color    view_border                           #969696;
@define-color    view_hdr_border                       #c5c5c5;

@define-color    tooltip_fg                            #f7f7f7;

@define-color    separator                             #969696;
@define-color    header_separator                      #1b1f20;
@define-color    notebook_separator                    #969696;
@define-color    border_box                            #969696;

/* entry */
@define-color    entry_fg_color                        #212121;
@define-color    entry_fg_dis                          #858786;
@define-color    entry_bg_a                            #e0e0e0;
@define-color    entry_bg_b                            #e6e6e6;
@define-color    entry_bg_c                            #f5f5f5;
@define-color    entry_bg_under_a                      #FFFFFF;
@define-color    entry_bg_under_b                      #000000;
@define-color    entry_bg_shadow                       @shadow_color;
@define-color    entry_border                          #a0a0a0;
@define-color    entry_border_dis                      #a0a0a0;

@define-color    titleentry_fg_color                   #ffffff;
@define-color    titleentry_fg_dis                     #858786;
@define-color    titleentry_bg_a                       #505a5f;
@define-color    titleentry_bg_b                       #546063;
@define-color    titleentry_bg_c                       #596269;
@define-color    titleentry_bg_under_a                 #FFFFFF;
@define-color    titleentry_bg_under_b                 #000000;
@define-color    titleentry_bg_shadow                  #000000;
@define-color    titleentry_border                     #0a0a0a;
@define-color    titleentry_border_dis                 #0a0a0a;

@define-color    entry_border_err                      #ff7f7f;
@define-color    entry_bg_err_a                        #ed4848;
@define-color    entry_bg_err_b                        #e84a4a;
@define-color    entry_bg_err_c                        #e44242;
@define-color    entry_fg_err                          #ffffff;


/* header bars */
@define-color    header_fg_color                       #eeeeec;
@define-color    header_fg_color_sub                   #cccccc;
@define-color    header_bg_a                           #414b51;
@define-color    header_bg_b                           #384248;
@define-color    pathbar_bg                            #4c555a;
@define-color    pathbar_bdr                           #222222;

/* buttons */
@define-color    button_fg_color                       #363636;
@define-color    button_fg_osd                         #cccccc;
@define-color    button_fg_osd_dis                     #666666;
@define-color    button_fg_shadow                      @shadow_color;
@define-color    button_fg_dis                         #909090;
@define-color    button_bg_a                           #f7f7f7;
@define-color    button_bg_b                           #e9e9e9;
@define-color    button_bg_c                           #cecece;
@define-color    button_bg_a_hov                       #ffffff;
@define-color    button_bg_b_hov                       #efefef;
@define-color    button_bg_c_hov                       #cecece;
@define-color    button_bg_a_act                       #8f8f8f;
@define-color    button_bg_b_act                       #a1a1a1;
@define-color    button_bg_c_act                       #aaaaaa;
@define-color    button_border                         #a9a9a9;

@define-color    titlebutton_fg_color                  #ffffff;
@define-color    titlebutton_fg_shadow                 #000000;
@define-color    titlebutton_fg_dis                    #566164;
@define-color    titlebutton_flat_bg                   #5b6464;
@define-color    titlebutton_bg_a                      #263036;
@define-color    titlebutton_bg_b                      #262c33;
@define-color    titlebutton_bg_c                      #191f23;
@define-color    titlebutton_bg_a_hov                  #3c464c;
@define-color    titlebutton_bg_b_hov                  #30363c;
@define-color    titlebutton_bg_c_hov                  #191f23;
@define-color    titlebutton_bg_a_act                  #0f1313;
@define-color    titlebutton_bg_b_act                  #151919;
@define-color    titlebutton_bg_c_act                  #191f23;
@define-color    titlebutton_bg_a_dis                  #303639;
@define-color    titlebutton_border                    #0a0a0a;

@define-color    button_fg_dest_color                  #f7f7f7;
@define-color    button_bg_dest_a                      #d43724;
@define-color    button_bg_dest_b                      #c20f0f;
@define-color    button_bg_dest_c                      #b60a0a;
@define-color    button_bg_dest_a_hov                  #ed422c;
@define-color    button_bg_dest_b_hov                  #cc0f0f;
@define-color    button_bg_dest_c_hov                  #b60a0a;
@define-color    button_bg_dest_a_act                  #b90e0e;
@define-color    button_bg_dest_b_act                  #b90e0e;
@define-color    button_bg_dest_c_act                  #b90e0e;
@define-color    button_bg_dest_flt                    #d51010;
@define-color    button_border_dest                    #560000;

@define-color    button_bg_dis_a                       #DCDCDC;
@define-color    button_bg_dis_b                       #e9e9e9;

@define-color    button_bgcirc_a_hov                   #f6f6f6;
@define-color    button_bgcirc_b_hov                   #d8d8d8;
@define-color    button_bgcirc_c_hov                   #cecece;

@define-color    button_fgcirc_shadow                  @shadow_color;
@define-color    button_bgcirc_a                       #ececec;
@define-color    button_bgcirc_b                       #d8d8d8;
@define-color    button_bgcirc_c                       #cecece;
@define-color    button_bgcirc_flt_a                   #969696;
@define-color    button_bgcirc_flt_b                   #969696;

/* menus and menubars */
@define-color    menu_bg                               #384248;
@define-color    menu_bg_hover                         #aab1b3;
@define-color    menu_bdr                              #373b3d;
@define-color    menu_arr                              #373b3d;
@define-color    menu_arr_dis                          #282d2f;
@define-color    menuitem_fg_normal                    #CFCFCF;
@define-color    menuitem_fg_hover                     #FFFFFF;
@define-color    menuitem_bg_hover                     @theme_accent_color;
@define-color    menuitem_fg_dis                       #566164;
@define-color    menuitem_separator                    #1b1f20;

@define-color    panel_bg                              #414747;
@define-color    panel_bg_hov                          #515757;
@define-color    panel_fg                              #f7f7f7;

/* scale */
@define-color    scale_trough_b                        @theme_bg_color;
@define-color    scale_fill_a                          shade(@theme_selected_bg_color, 1.1);
@define-color    scale_fill_b                          shade(@theme_selected_bg_color, 0.94);

/* notebook */
@define-color    notebook_bg                           #c8c9ca;
@define-color    notebook_border                       #818283;
@define-color    notebook_border_sel                   @theme_accent_color;
@define-color    notebook_border_hov                   #000;
@define-color    notebook_bar                          #b1b2b3;
@define-color    section_bg                            #c8c9ca;

/* scrollbar */
@define-color    scroll_bg                             #e0e0e0;
@define-color    scroll_slider_bg                      #a0a0a0;
@define-color    scroll_slider_bg_hover                #a9a9a9;
@define-color    scroll_slider_bkdrp                   #999999;

/* treeview */
@define-color    treeview_bg_a                         #f6f6f6;
@define-color    treeview_bg_b                         #d8d8d8;
@define-color    treeview_fg                           @theme_fg_color;
@define-color    treeview_fg_sel                       #f7f7f7;

/* label */
@define-color    label_bg_active                       @theme_accent_color;
@define-color    label_fg_dis                          #566164;

/* row */
@define-color    row_bg_active                         @theme_accent_color;
@define-color    row_fg_dis                            #566164;

/* hdyview */
@define-color    hdybutton_bg_hov                      #d0d0d0;
@define-color    hdybutton_bg_chk                      #d8d8d8;
@define-color    hdyheadbutton_bg_a                    #535c63;
@define-color    hdyheadbutton_bg_b                    #494f53;
@define-color    hdyheadbutton_bdr                     #63696c;
@define-color    hdyheadbutton_bdr_r                   #42494c;
@define-color    hdyheadbutton_chk_bg_a                #606970;
@define-color    hdyheadbutton_chk_bg_b                #4c5054;
@define-color    hdyheadbutton_chk_bdr                 #6a7073;
@define-color    hdyheadbutton_chk_bdr_r               #42494c;

/* base background color of insensitive widgets */
@define-color    insensitive_bg_color                  #c2c6c6;

/* text foreground color of insensitive widgets */
@define-color    insensitive_fg_color                  #616464;

/* insensitive text widgets and the like base background color */
@define-color    insensitive_base_color                #c5c5c5;

/* text color for entries, views and content in general on backdrop windows */
@define-color    theme_unfocused_text_color            #ffffff;

/* widget base background color on backdrop windows */
@define-color    theme_unfocused_bg_color              #c5c5c5;

/* text widgets and the like base background color on backdrop windows */
@define-color    theme_unfocused_base_color            @theme_base_color;

/* text/foreground color of selections on backdrop windows */
@define-color    theme_unfocused_selected_fg_color     #000000;

/* insensitive color on backdrop windows*/
@define-color    unfocused_insensitive_color           #566164;

/* widgets main borders color */
@define-color    borders                               #000000;

/* widgets main borders color on backdrop windows */
@define-color    border_normal                         #a9a9a9;
@define-color    unfocused_borders                     #a9a9a9;

/* Cinnamon specific colours */
@define-color    nemo_sidebar_fg                       #ffffff;
@define-color    nemo_sidebar_selected_fg              #ffffff;


/* ************************** N O T I F I C A T I O N   C O L O U R S *************************** */

@define-color    error_text_color                      #cc0000;
@define-color    error_border_color                    #cc0000;
@define-color    error_background_color                #cc0000;

@define-color    warning_text_color                    #f57900;
@define-color    warning_border_color                  #f57900;
@define-color    warning_background_color              #f57900;

@define-color    success_text_color                    #73d216;
@define-color    success_border_color                  #73d216;
@define-color    success_background_color              #73d216;



/* ********************************************************************************************** */
/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color    wm_title                              shade(#2e3436, 1.8);
@define-color    wm_unfocused_title                    #8d9091;
@define-color    wm_highlight                          transparent;
@define-color    wm_borders_edge                       rgba(238, 238, 236, 0.07);
@define-color    wm_bg_a                               shade(#2c3133, 1.2);
@define-color    wm_bg_b                               #2c3133;
@define-color    wm_shadow                             alpha(black, 0.35);
@define-color    wm_border                             alpha(black, 0.18);
@define-color    wm_button_hover_color_a               shade(@theme_base_color, 1.3);
@define-color    wm_button_hover_color_b               @theme_base_color;
@define-color    wm_button_active_color_a              shade(@theme_base_color, 0.85);
@define-color    wm_button_active_color_b              shade(@theme_base_color, 0.89);
@define-color    wm_button_active_color_c              shade(@theme_base_color, 0.9);
@define-color    content_view_bg                       @view_bg;

@define-color    success_color                         #00cc66;
@define-color    warning_color                         #F27835;
@define-color    error_color                           #FC4138;

