/* ===================================================================
   ! G-tile
   ===================================================================*/

.grid-panel {
    border-image: url("background-assets/popup.svg") 7;
    width: 220px;
    padding: 4px;
    spacing: 0;
}

.grid-title {
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: $text-primary;
    text-align: center;
}

.table {
    padding: 6px;

    &-element {
        border-image: url("misc-assets/calendar-work-day.svg") 7;
    }

    &-element:hover,
    &-element:activate {
        border-image: url("misc-assets/calendar-today.svg") 7;
    }
}


.top-box {
    border-image: url("background-assets/sub.svg") 7;
    padding: 8px;
    padding-bottom: 12px;
}

.bottom-box {
    padding: 0 8px;

    &:last-child {
        padding: 8px;
        padding-top: 2px;
    }
}

.very-bottom-box {
    padding: 0;
}


.settings-label {}

.grid-preview {
     background-color: rgba(0, 0, 0, 0);
     border-color: rgba(0, 0, 0, 0);

    &:activate {
        background-color: rgba($accent-primary, .5);
        border: 1px solid rgba(#000, .45);
        border-radius: 2px;
    }
}


/* buttons */
.settings-button {
    border-image: url("button-assets//button.svg") 7;
    padding: 3px;
    width: 46px;
    height: 34px;
    color: $text-primary;

    &:activate {
        border-image: url("button-assets//button-focused-pressed.svg") 7;
        color: $text-primary;
    }

    &:activate:hover {
        border-image: url("button-assets//button-focused-pressed.svg") 7;
        color: $text-primary;
    }

    &:hover {
        border-image: url("button-assets//button-hover.svg") 7;
        color: $text-primary;
    }
}

.close-button {
    background-image: url("misc-assets/auto-close.svg");
    width: 24px;
    height: 24px;

    &:hover { background-image: url("misc-assets/auto-close.svg"); }
}


/* button-icons */
.tiling-icon {
    width: 24px;
    height: 24px;
}

.animation-icon {
    background-image: url("misc-assets/animation.svg");
    width: 24px;
    height: 24px;
}

.auto-close-icon {
    background-image: url("misc-assets/auto-close.svg");
    width: 24px;
    height: 24px;
}

.action-main-list {
    background-image: url("misc-assets/auto-tile-1.svg");
    width: 24px;
    height: 24px;
}

.action-two-list {
    background-image: url("misc-assets/auto-tile-2.svg");
    width: 24px;
    height: 24px;
}

.action-scale {
    width: 24px;
    height: 24px;
}
