stage {
  color: white; }

#panel {
  background-color: rgba(60,60,60,0.7); 
  box-shadow: 0 2px 4px 2px rgba(55,55,55,0.5); }

.applet-box {
  padding: 0 6px 0 6px;
  margin: 3px;
  border-radius: 5px; }

#panelLeft .applet-box {
  margin: 0px; }

#panelRight .applet-box:hover, #panelRight .applet-box:checked, 
#panelCenter .applet-box:hover, #panelCenter .applet-box:checked, 
#panelLeft .applet-box:hover {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.25); }

.applet-cornerbar {
  padding: 6px;
  margin: 3px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.25); }

.applet-cornerbar-box:hover > .applet-cornerbar {
  border-radius: 3px;
  background-color: rgba(255,255,255,0.5); }

.grouped-window-list-item-box {
  border-radius: 5px;
  border: 1px solid transparent; }

.grouped-window-list-item-box:hover {
  background-color: rgba(255,255,255,0.2); }

.grouped-window-list-item-box:active, .grouped-window-list-item-box:checked {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3); }

.grouped-window-list-item-box:focus {
  background-color: rgba(255,255,255,0.4); }

.grouped-window-list-item-box:active:hover, .grouped-window-list-item-box:checked:hover {
  background-color: rgba(255,255,255,0.2); }

.grouped-window-list-item-box:hover:focus {
  background-color: rgba(255,255,255,0.5); }

.grouped-window-list-thumbnail-menu {
  margin: 4px;
  border-radius: 5px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5); }

.grouped-window-list-thumbnail-menu .item-box {
  background-color: transparent; }

.grouped-window-list-thumbnail-menu .item-box:selected {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2); }

.grouped-window-list-item-box .progress {
  border-radius: 5px;
  background-color: #58db6e; }

.grouped-window-list-item-demands-attention {
  background-color: #58db6e; }

.grouped-window-list-item-attention:hover {
  background-color: #75eb89; }

.window-close {
  background-image: url('assets/close.svg'); }

#Tooltip, .window-caption {
  padding: 6px 12px;
  margin: 5px;
  border-radius: 7px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5); }

.popup-menu-content {
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5); }

.popup-menu-item {
  padding: 7px; 
  spacing: 7px; }

.popup-menu-item:hover {
  padding: 7px;
  spacing: 7px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.25); }

.popup-sub-menu {
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.1); }

.calendar-day-base {
  padding: 7px 7px; }

.calendar-day-base:hover {
  padding: 7px 7px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.15); }

.calendar-today {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3); }

.calendar-today:hover {
  background-color: rgba(255,255,255,0.45); }

.calendar-change-month-back {
  padding: 10px;
  background-image: url("assets/calendar-arrow-left.svg"); }

.calendar-change-month-forward {
  padding: 10px;
  background-image: url("assets/calendar-arrow-right.svg"); }

.calendar-change-month-back:hover, .calendar-change-month-forward:hover {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3); }

.appmenu-background {
  border-radius: 5px;
  background-color: rgba(60,60,60,0.6); }

.appmenu-application-button, .appmenu-category-button, .menu-application-button, .menu-category-button {
  padding: 7px;
  spacing: 7px; }

.appmenu-application-button-selected, .appmenu-category-button-selected, .menu-application-button-selected, .menu-category-button-selected {
  padding: 7px;
  spacing: 7px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.25); }

.appmenu-application-button-description {
  font-size: 9pt;
  color: rgba(255,255,255,0.65); }

.run-dialog-entry, .prompt-dialog-password-entry {
  min-width: 250px; }

#appmenu-search-entry, #appmenu-search-entry:focus, #menu-search-entry, #menu-search-entry:focus, .run-dialog-entry, .prompt-dialog-password-entry {
  padding: 7px 7px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.2); }

#appmenu-search-entry:hover, #menu-search-entry:hover {
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.3); }

StScrollBar StButton {
  border-radius: 3px;
  background-color: rgba(255,255,255,0.45); }

StScrollBar StButton:hover {
  background-color: rgba(255,255,255,0.75); }

.appmenu-sidebar {
  padding: 10px 0 10px 0;
  border-radius: 5px;
  background-color: rgba(150,150,150,0.15); }

.appmenu-sidebar-button {
  padding: 5px;
  spacing: 5px;
  margin: 0 10px 0 10px; }

.appmenu-sidebar-button:hover {
  padding: 5px;
  spacing: 5px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.25); }

.appmenu-system-button-lock, .appmenu-system-button-logout {
  padding: 8px;
  margin: 1px;
  border-radius: 5px;
  background-color: rgb(90,90,90); }

.appmenu-system-button-lock:hover, .appmenu-system-button-logout:hover {
  background-color: rgb(135,135,135); }

.appmenu-system-button-shutdown {
  padding: 8px;
  margin: 1px;
  border-radius: 5px;
  background-color: rgb(215,30,30); }

.appmenu-system-button-shutdown:hover {
  background-color: rgb(235,65,65); }

.menu-favorites-box {
  padding: 5px;
  border-radius: 5px;   
  background-color: rgba(255,255,255,0.15); }

.menu-favorites-button {
  spacing: 7px; /* Stark Menu favorites spacing */
  padding: 10px; }

.menu-favorites-button:hover {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3); }

/* Cinnamenu category hover */
.menu-category-button:hover {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.15); }

.popup-separator-menu-item {
  border: 1px solid rgba(140,140,140,0.1); }

.switcher-list {
  padding: 7px 7px; 
  border-radius: 5px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5); }

.switcher-list .item-box {
  padding: 10px; }

.switcher-list .item-box:selected {
  padding: 10px;    
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2); }

.run-dialog, .prompt-dialog, #LookingGlassDialog, .modal-dialog, .dialog {
  padding: 1em 2em;
  border-radius: 7px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5); }

.dialog-button {
  padding: 1em 3em 1em 3em; 
  margin: 2px 2px;
  border-radius: 7px;
  font-weight: bold;
  background-color: rgba(100,100,100,0.7); }

.dialog-button:focus {
  background-color: rgba(135,135,135,0.7); }

.dialog-button:hover, .dialog-button:active {
  background-color: rgba(170,170,170,0.7); }

.dialog-button:last-child:insensitive{
  color: grey; }

.dialog-button:destructive-action {
  background-color: rgb(215,30,30); }

.dialog-button:destructive-action:focus {
  background-color: rgb(235,65,65); }

.dialog-button:destructive-action:hover, .dialog-button:destructive-action:active {
  background-color: rgb(255,100,100); }

.polkit-dialog-user-combo {
  margin-top: 3px;
  font-size: 11pt;
  font-weight: bold; 
  background-color: none; }

.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain; }

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("assets/switch-off.svg"); }

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("assets/switch-on.svg"); }

.user-icon {
  border-radius: 7px; }

.window-border {
  border-radius: 7px; 
  border: 5px solid rgb(150,150,150); }

.expo-background {
  background-color: rgba(200,200,200,0.2); }

.expo-workspaces-name-entry {
  padding: 6px 12px;
  border-radius: 7px;
  background-color: rgba(60,60,60,0.8); 
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
  height: 1.5em; }

.expo-workspaces-name-entry#selected {
  padding: 6px 12px;
  border-radius: 7px;
  background-color: rgba(120,120,120,0.8); 
  box-shadow: 0 2px 4px 2px rgba(100,100,100,0.5); }

.workspace-thumbnails {
  spacing: 26px; }

.workspace-add-button {
  background-image: url("assets/add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 150; }

.workspace-close-button {
  background-image: url("assets/close.svg");
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 13px; }

.window-close-area {
  background-image: url("assets/trash-icon.svg");
  height: 120px;
  width: 400px; }
