/* ===================================================================
 * Shared button properties 
 * ===================================================================*/
.notification-button, .notification-icon-button,
.modal-dialog-button,
.sound-player-overlay StButton
	color: white
	border: 1px solid #6b6b6b
	background-gradient-direction: vertical
	background-gradient-start: rgba(34, 34, 34, 0.6)
	background-gradient-end: rgba(34, 34, 34, 1)

	&:hover
		background-gradient-start: rgba(107, 107, 107, 1)
		background-gradient-end: rgba(107, 107, 107, 1)

	&:active, /.modal-dialog-button:pressed
		border-color: rgba(0, 0, 0, 0)
		box-shadow: 0 0 2px 0 $light inset
