$dark = #222
$light = #444
$lighter = #666

$text = #e0e0e0

$accent = #02738e
$accent-dark = darken($accent, 15%)
$accent-light = lighten($accent, 15%)

// corrects the luminance by taking into account how the human eye sees it
$red = rgb((1 - luminosity(red)) * 255, 0, 0)
$green = rgb(0, (1 - luminosity(green)) * 255, 0)
$blue = rgb(0, 0, (1 - luminosity(blue)) * 255)
