@require "colors.styl"

.run-dialog-label
	font-size: 9pt
	color: white

.run-dialog-error-label
	font-size: 9pt
	color: white

.run-dialog-error-box
	padding-top: 15px
	spacing: 15px

.run-dialog-completion-box
	padding-left: 15px
	font-size: 10px

.run-dialog-entry
	background: $light
	font-size: 10.5pt
	font-weight: bold
	width: 23em
	height: 1.35em
	color: white
	selection-background-color: white
	selected-color: black
	border-radius: 2px

.run-dialog
	border-radius: 3px
	padding-right: 21px
	padding-left: 21px
	padding-bottom: 15px
	padding-top: 15px

.lightbox
	background-color: rgba(0, 0, 0, 0.4)


/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon
	icon-size: 48px

.mount-password-reask
	color: red

.show-processes-dialog, .mount-question-dialog
	spacing: 24px

.show-processes-dialog-subject, .mount-question-dialog-subject
	font-size: 12pt
	font-weight: bold
	color: #666666
	padding-top: 10px
	padding-left: 17px
	padding-bottom: 6px

	&:rtl
		padding-left: 0px
		padding-right: 17px

.show-processes-dialog-description, .mount-question-dialog-description
	font-size: 10pt
	color: white
	padding-left: 17px
	width: 28em

	&:rtl
		padding-left: 0px
		padding-right: 17px

.show-processes-dialog-app-list
	font-size: 10pt
	max-height: 200px
	padding-top: 24px
	padding-left: 49px
	padding-right: 32px

	&:rtl
		padding-right: 49px
		padding-left: 32px

.show-processes-dialog-app-list-item
	color: #ccc

	&:hover
		color: white

	&:ltr
		padding-right: 1em

	&:rtl
		padding-left: 1em

.show-processes-dialog-app-list-item-icon
	&:ltr
		padding-right: 17px

	&:rtl
		padding-left: 17px

.show-processes-dialog-app-list-item-name
	font-size: 10pt
