@require "colors.styl"

.workspace-osd
	color: #ffffff
	text-shadow: black 5px 5px 5px
	font-weight: bold
	font-size: 48pt	


.expo-workspaces-name-entry
	padding: 5px
	border-radius: 3px
	color: #ddd
	border: 1px solid #ddd
	background-color: $dark
	selected-color: white
	caret-color: rgb(128, 128, 128)
	caret-size: 1px
	width: 250px
	height: 15px
	box-shadow: 0 0 2px black inset
	text-align: center


	#selected
		border: none
		background-color: white
		font-weight: bold
		color: black
		box-shadow: none


	&:focus
		font-weight: bold
		font-style: italic
		transition-duration: 300
