# ==============================================================================
# GNOME TERMINAL SPECIFIC SETTINGS
# ==============================================================================

style "terminal_screen"
{
	TerminalScreen::background-darkness = 0.90
}

widget "*TerminalWindow.*.TerminalScreen*"              style "terminal_screen"





