/* epiphany */

EphyToolbar.toolbar {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (@toolbar_gradient_base),
		to (@toolbar_gradient_final));
	border-color: shade (@toolbar_border, 1.0);
	border-style: solid;
	border-width: 0 0 1px 0;

	color: @theme_fg_color;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

EphyToolbar .entry,
EphyToolbar .entry:focus,
EphyToolbar .entry:backdrop {
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

EphyToolbar .entry:focus {

}

EphyToolbar .location-entry .button {
	color: @theme_text_color;
	-GtkButton-child-displacement-y: 0;
}

/* EphyToolbar .location-entry .button:last-child {
	background-image: none;
	background-color: @transparent;
	border-width: 0px;
	padding-left: 4px;
	padding-right: 2px;
	-unico-inner-stroke-width: 0px;
	-unico-outer-stroke-width: 0px;
}

EphyToolbar .location-entry .button,
EphyToolbar .location-entry .button:hover,
EphyToolbar .location-entry .button:focus {
	background-image: none;
	background-color: @transparent;
	icon-shadow: none;
	color: shade (@theme_text_color, 1.4);
	border-width: 0px;
	-unico-inner-stroke-width: 0px;
	-unico-outer-stroke-width: 0px;
}

EphyToolbar .location-entry .button:active,
EphyToolbar .location-entry .button:active:hover {
	background-image: none;
	background-color: @transparent;
	color: shade (@theme_text_color, 1.4);
	border-width: 0px;
	-unico-inner-stroke-width: 0px;
	-unico-outer-stroke-width: 0px;
} */

/* EphyToolbar .location-entry .button:hover,
EphyToolbar .location-entry .button:focus,
EphyToolbar .location-entry .button:active,
EphyToolbar .location-entry .button *:active {
	background-image: none;
	background-color: @transparent;
	color: shade (@theme_text_color, 1.4);
	border-width: 0px;
	-unico-inner-stroke-width: 0px;
	-unico-outer-stroke-width: 0px;
} */

EphyNotebook.notebook {
	border-width: 1px 0 1px 0;
}

EphyNotebook.notebook tab {
	border-width: 1px;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.89)),
		to (shade (@theme_bg_color, 0.80)));
	-unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.15), 0.34);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 1px;
}

EphyToolbar.toolbar .button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));
	padding-left: 4px;
	padding-right: 4px;
	border-width: 1px;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.7)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-glow-color: shade (@button_bg_color, 1.14);
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@theme_bg_color, 1.9);
	-unico-inner-stroke-width: 1px 1px 0 1px;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.05), 0.05)),
		to (alpha (shade (@theme_bg_color, 0.05), 0.09)));
	-unico-outer-stroke-width: 1px;
	color: @theme_text_color;
}

EphyToolbar.toolbar .button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

EphyToolbar.toolbar .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.9)),
		to (shade (@theme_bg_color, 0.85)));

	-unico-focus-outer-stroke-color: @transparent;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.6)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.8);
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

EphyToolbar.toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.98)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.7)),
		to (shade (@button_insensitive_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.1)),
		to (shade (@button_insensitive_bg_color, 1.1)));
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

#ephy-page-menu-button.active-menu {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.9)),
		to (shade (@theme_bg_color, 0.85)));

	-unico-focus-outer-stroke-color: @transparent;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.6)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.8);
	-unico-inner-stroke-width: 1px 1px 0 1px;
}
