/* gnome-terminal */
/* TerminalScreen {
	-TerminalScreen-background-darkness: 0.95;
	background-color: shade (@dark_bg_color, 0.8);
	color: #fff;
} */

TerminalWindow GtkNotebook.notebook {
	border-bottom-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-radius: 0;
}

TerminalWindow GtkNotebook.notebook tab {
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-radius: 2px 2px 0 0;
}
