@define-color cluebar_color shade (@theme_base_color, 0.9);

NautilusWindow * {
	-GtkPaned-handle-size: 1;
}

/* FIXME - Something I don't understand. Why this theme gets a gray bg without this, and Ambiance which it's based on does not. */
NautilusWindow .view {
	background-color: @theme_base_color;
}

NautilusWindow .view:selected {
	background-color: @theme_selected_bg_color;
}

NautilusWindow .view:selected:backdrop {
	background-color: @backdrop_selected_bg_color;
}

NautilusWindow .view.rubberband {
	background-color: alpha (@theme_selected_bg_color, 0.35);
}
/* FIXME end */

.nautilus-inactive-pane .view {
	background-color: shade (@theme_base_color, 0.96);
}

.nautilus-inactive-pane .view:selected,
.nautilus-inactive-pane .nautilus-canvas-item:selected {
	background-color: @backdrop_selected_bg_color;
	color: @backdrop_selected_fg_color;
}

.nautilus-inactive-pane .expander.view:selected {
	background-color: @backdrop_selected_bg_color;
}

.nautilus-canvas-item {
	border-radius: 2px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1 1 alpha (#000000, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
	background-image: none;
	background-color: alpha (@theme_bg_color, 0.84);

	color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
	background-image: none;
	background-color: alpha (@theme_selected_bg_color, 0.84);

	color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@cluebar_color, 1.0)),
		to (shade (@cluebar_color, 1.0)));
	background-color: @cluebar_color;
	border-bottom-color: shade (@cluebar_color, 0.92);
	border-radius: 0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-inner-stroke-gradient: none;
	color: @theme_fg_color;
}

NautilusSearchBar .entry {
}

.nautilus-cluebar-label {
	font: normal;
	text-shadow: 0 1 shade (@cluebar_color, 1.06);
}

.nautilus-cluebar-label:backdrop {
	color: mix (@theme_fg_color, @cluebar_color, 0.2);
	text-shadow: 0 1 shade (@cluebar_color, 1.02);
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
	color: @theme_fg_color;
}

NautilusFloatingBar {
	background-color: @info_bg_color;
	border-radius: 2px 2px 0 0;
	border-style: solid;
	border-width: 1px;
	border-color: darker (@info_bg_color);

	-unico-border-gradient: none;
}

NautilusFloatingBar .button {
	-GtkButton-image-spacing: 0;
	-GtkButton-inner-border: 0;
}

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
	background-color: @theme_bg_color;

	color: @theme_fg_color;
	text-shadow: 0 1 shade (shade (@theme_bg_color, 0.95), 1.04);  
}

NautilusWindow .sidebar row:selected {
	color: @theme_selected_fg_color;
	text-shadow: 0 -1 shade (@theme_selected_bg_color, 0.8); 
}

NautilusWindow .sidebar row:backdrop:selected {
	color: @backdrop_selected_fg_color;
	text-shadow: none; 
}

NautilusWindow .sidebar .frame {
}

NautilusWindow .pane-separator {
	background-color: shade (shade (@theme_bg_color, 0.95), 0.94);
	border-color: @dark_bg_color;
	border-style: solid;
	border-width: 0;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
}

NautilusWindow .pane-separator:backdrop {
	background-color: shade (shade (@theme_bg_color, 0.95), 0.96);
}

/* FIXME - Just a workaround atm. */
NautilusWindow .primary-toolbar .button {
	-unico-border-gradient: none;
}

NautilusWindow .primary-toolbar .button:hover {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.7)),
		to (shade (@theme_bg_color, 0.6)));
}

