
.Leader { stroke-width: 0.5 !important; stroke: #9e9e9e !important; fill: none !important; }

.Button { stroke-width: 0.25; stroke: #9e9e9e; fill: rgba(158, 158, 158, 0.12); }

.Ring { stroke-width: 0.5 !important; stroke: #9e9e9e !important; fill: none !important; }

.Label { stroke-width: 0.1 !important; stroke: none !important; fill: transparent !important; font-size: 0.1 !important; }

.TouchStrip, .TouchRing { stroke-width: 0.1 !important; stroke: #9e9e9e !important; fill: rgba(158, 158, 158, 0.25) !important; }
